<mat-card>
    <mat-card-header class="flex-end">
        <div>
            <span class="v-align-middle">{{pDeliveryName}}</span>
        </div>
        <span class="spacer"></span>
        <button id="exit_user_button" mat-stroked-button color="primary"
            [routerLink]="['/programme-management/programme-delivery']">Exit</button>
    </mat-card-header>
    <mat-card-content *ngIf="isHidden">
        <h3 class="header-center">Programme delivery has not yet started</h3>
    </mat-card-content>

    <mat-card-content *ngIf="!isHidden">
        <p>
            Below is a list of any learners who have been withdrawn from this Programme Delivery Cohort, and details of
            any
            course completed and qualifications attempted or achieved before they were withdrawn.
        </p>
        <p>
            No details can be changed from this screen, but you can edit a learners course and qualification completion
            details by navigating to an individuals learner profile.
        </p>

        <div class="label-hr">
            <span>Learners</span>
        </div>

        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel class="mat-elevation-z0" disabled>
                <mat-expansion-panel-header>
                    <mat-panel-title class="header-width">
                        Learner name
                    </mat-panel-title>
                    <mat-panel-title class="header-width">
                        Withdrawal reason
                    </mat-panel-title>
                    <mat-panel-title class="header-color">
                        Withdrawal date
                    </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
            <mat-expansion-panel *ngFor="let learner of withdrawalLearnersData">
                <mat-expansion-panel-header>
                    <mat-panel-title class="width-30">
                        <app-list-label id="learnerName" [list]="allLearners" [value]="learner.learnerId">
                        </app-list-label>
                    </mat-panel-title>
                    <mat-panel-title class="width-30">
                        <div *ngIf="!learner.withdrawalReasonId">
                            N/A
                        </div>
                        <app-list-label class="adjust-label" *ngIf="learner.withdrawalReasonId" id="withdrawalReasonId" [list]="refData?.withdrawlReason" [value]="learner.withdrawalReasonId">
                        </app-list-label>
                    </mat-panel-title>
                    <mat-panel-title>
                        {{learner.withdrawalDate | date:'dd MMM yyyy'}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-card *ngIf="learner.coursesAndQualifications.length > 0">
                    <mat-card-content>
                        <mat-table [dataSource]="learner.coursesAndQualifications" multiTemplateDataRows>
                            <ng-container matColumnDef="courseName">
                                <mat-header-cell *matHeaderCellDef id="workerName_button"> Course name
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    {{element.courseName}}
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="isCourseCompleted">
                                <mat-header-cell *matHeaderCellDef id="workerName_button"> Course completed?
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    {{element.isCourseCompleted ? 'Yes' : 'No' }}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="qualificationName">
                                <mat-header-cell *matHeaderCellDef id="workerName_button"> Qualification name 
                                </mat-header-cell>
                                <mat-cell *matCellDef="let courseDetail" [attr.colspan]="qualificationColumn.length">
                                  <span> {{courseDetail?.qualificationName || "N/A"}}</span>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="qualificationStatus">
                                <mat-header-cell *matHeaderCellDef id="workerName_button"> Status 
                                </mat-header-cell>
                                <mat-cell *matCellDef="let courseDetail">
                                    <span> {{courseDetail?.qualificationStatus || "N/A"}}</span>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="coursesColumns"></mat-header-row>
                            <mat-row *matRowDef="let element; columns: coursesColumns;" class="example-element-row">
                            </mat-row>

                        </mat-table>
                    </mat-card-content>
                </mat-card>

            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>