.vertical-radio-group {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .example-radio-button {
      margin: 5px;;
  }
  .circle {
      width: 100px;
      height: 100px;
      background-color: red;
      border-radius: 50%;
  }
  .notes {
      margin-top: 10px;
  }
.mat-form-field-wrapper {
    padding-bottom: 0px !important;
}
.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }

  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  .details-container {
    display: flex;
    align-items: center; 
  }
  

.radio-text {
    display: inline-block;
    margin-right: 10px; 
    width: 50px;
  }
  
  .color-circle {
    width: 20px; 
    height: 20px; 
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-left: 5px;
  }

  .mat-hint{
      font-size: 12px !important;
      display: block;
  }

.mat-error {
  font-size: 10.5px !important;
}
.textnote {
  display: block;
}

  

  