<h1 mat-dialog-title>{{isNew ? 'Job Readiness' : 'Job Readiness'}}</h1>

<form [formGroup]="jobreadynessForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <label id="example-radio-group-label">
        How would you rate the Person Supported readiness for a job?*
    </label>
    <mat-radio-group formControlName="colourId" class="example-radio-group" >
        <mat-radio-button class="example-radio-button" *ngFor="let season of colours" [value]="season.id" required>
            <span class="radio-text">{{ season.name }}</span>
            <div class="color-circle" [style.background-color]="season.colourCode"></div>
        </mat-radio-button>
    </mat-radio-group>
    <mat-form-field appearance="outline" >
        <mat-label>Notes</mat-label>
        <input matInput type="text" formControlName="notes" rows="3" style="width: 97%;" id="notes" value=""  minlength="1">
        <mat-hint class="mat-hint" *ngIf="!jobreadynessForm.get('notes').hasError('maxlength')">Maximum 300 characters are allowed</mat-hint>
        <mat-error *ngIf="jobreadynessForm.get('notes').hasError('maxlength')">Character limit exceeded</mat-error>
      </mat-form-field>    

      <div style="display: flex; justify-content: flex-end;">
    <mat-dialog-actions>
        <button mat-button type="button" (click)="dialogClose()">Cancel</button>
        <button type="submit" mat-flat-button color="primary" [disabled]="!jobreadynessForm.valid">
            {{ readiness && readiness.id ? 'Update' : 'Save' }}
        </button>
    </mat-dialog-actions>
</div>
    
</form>