<div class="header">
    <div class="tabWrapper">
        <ul>
            <li class="tabHead active" routerLink="/rws-participant/profile" queryParamsHandling="merge">
                <a class="tab-item" id="profile-tab" attr.aria-label="tab Profile">Profile</a>
            </li>
        </ul>
    </div>
</div>
<mat-card id="view-captr-learner" *ngIf="refData">

    <mat-card-header>

        <div class="learnerName">
            {{ user?.primaryLearnerDetails.firstName }} {{user?.primaryLearnerDetails.lastName}}
        </div>

        <div>
            <button *ngIf="isAuthorized" id="edit_view_buttodn" mat-stroked-button color="primary"
                [routerLink]="['/rws-participant/edit-participant']" [queryParams]="{ id: user?.primaryLearnerDetails.id }">
                Edit
            </button>

            <button id="exit_view_button" mat-stroked-button color="primary"
                [routerLink]="['/rws-participant/participant-professional-view']" queryParamsHandling="merge">
                Exit
            </button>
        </div>
    </mat-card-header>

    <mat-card-content>

        <div *ngIf="isLoaded">
            <div class="label-hr no-top-margin"></div>
            <div class="card-row">
                <div class="card-column">
                    <dt class="details-label">Participant Name</dt>
                    <dd>{{ user?.primaryLearnerDetails.firstName }} {{user?.primaryLearnerDetails.lastName}}</dd>

                    <dt class="details-label">Date Of Birth</dt>
                    <dd>{{ user?.primaryLearnerDetails.dateOfBirth | customMonthFormat}}</dd>

                    <dt class="details-label">Gender</dt>
                    <dd>  
                      <ng-container>
                      <div *ngIf="user?.primaryLearnerDetails.gender !== null">    
                        <app-list-label id="genders" [list]="refData.genders" [type]="'readValue'"
                        [value]="user?.primaryLearnerDetails.gender">
                      </app-list-label>
                    </div>                   
                      <div *ngIf="user?.primaryLearnerDetails.gender == null">N/A</div>
                      </ng-container>
                    </dd>

                    <dt class="details-label">Email Address</dt>
                    <dd>{{ user?.primaryLearnerDetails.emailAddress || "N/A"}}</dd>

                    <dt class="details-label">Contact Number</dt>
                    <dd>{{ user?.primaryLearnerDetails.phoneNo || "N/A"}}</dd>
                </div>
                <div class ="card-column">
                    <dt class="details-label">Allocated Programme</dt>
                    <dd> 
                        <app-list-label id="users"*ngIf="user?.primaryLearnerDetails.allocatedProgramme != null" [list]="allocatedRefData" [value]="user?.primaryLearnerDetails.allocatedProgramme"  [type]="'readValue'">
                        </app-list-label> 
                        <div *ngIf="user?.primaryLearnerDetails.allocatedProgramme == null">N/A
                        </div>
                      </dd> 
                

                      <dt class="details-label">Membership number</dt>
                      <dd>{{ user?.primaryLearnerDetails.memberShipNumber || "N/A"}}</dd>

                      <dt class="details-label">Allocated programme contact number</dt>
                      <dd>{{ user?.primaryLearnerDetails.allocatedPhoneNo || "N/A"}}</dd>

                    <dt class="details-label">Allocated coach</dt>
                    <dd> 
                        <app-list-label id="users" [list]="userList" [value]="user?.primaryLearnerDetails.workerId">
                        </app-list-label> 
                        <div *ngIf="user?.primaryLearnerDetails.workerId == null">N/A
                        </div>
                      </dd> 
                
                </div>
            </div>


            <div class="label-hr">
                <span>Emergency Contact Details</span>
              </div>
          
                        <h4>Primary contact</h4>
                        
                        <div class="card-row" >
                          
                          <div class="card-column">
                            <dt class="details-label">Name</dt>
                            <dd>{{ user?.emergencyContact[0]?.firstName || 'N/A' }}</dd>
                
                            <dt class="details-label">Emergency contact number</dt>
                            <dd>{{ user?.emergencyContact[0]?.contactNo || 'N/A'}}</dd> 
                          </div>
                
                          <div class="card-column">
                            <dt class="details-label">Relationship with participant</dt>
                            <dd>{{ user?.emergencyContact[0]?.relationshipWithUser || 'N/A'}}</dd>                    
                
                          </div>
                        </div>
          
                        <h4>Secondary contact</h4>
                        <div class="card-row" >
                          <div class="card-column">
                            <dt class="details-label">Name</dt>
                            <dd>{{ user?.emergencyContact.length > 1 && user?.emergencyContact[1].firstName ? user?.emergencyContact[1].firstName : 'N/A' }}</dd>
                
                            <dt class="details-label">Emergency contact number</dt>
                            <dd>{{ user?.emergencyContact.length > 1 && user?.emergencyContact[1].contactNo  ? user?.emergencyContact[1].contactNo : 'N/A'}}</dd>
                                 </div>
                
                          <div class="card-column">
                            <dt class="details-label">Relationship with participant</dt>
                            <dd>{{ user?.emergencyContact.length > 1 && user?.emergencyContact[1].relationshipWithUser ? user?.emergencyContact[1].relationshipWithUser : 'N/A'}}</dd>       
                          </div>
          
                    
                        </div>
          

        </div>

    </mat-card-content>

</mat-card>