.info {
    word-break: break-word;
}

.infoSection {
    width: 78%;
}

.profileImg {
    width: 8.3em;
}

.alert {
    color: orange;
    position: absolute;
}

.learnerInfo .info p {
    position: relative;
}

.info span.lldname {
    margin-left: 30px;
}

.textIndent {
    text-indent: 7%;
}

.label-hr {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 16px 0;
    flex: 1;
}

.iconAlignment {
    margin: 2px 10px 0 0;
}

@media screen and (max-width: 767px) {
    .infoSection {
        width: 100%;
    }

    .imgSection {
        position: absolute;
        top: 5em;
    }

}

.line-break {
    display: block;
}

.assessments_container {
    padding: 0 10px;
}

.gds-button {
    margin-top: 10px;
}