.info {
  word-break: break-word;
}

// .infoSection {
//   width: 78%;
// }

.profileImg {
  width: 8.3em;
}

.alert {
  color: orange;
  position: absolute;
}

.learnerInfo .info p {
  position: relative;
}

.info span.lldname {
  margin-left: 30px;
}

.textIndent {
  text-indent: 7%;
}

.label-hr {
  display: flex;
  align-items: center;
  text-align: left;
  margin: 16px 0;
  flex: 1;
}

.iconAlignment {
  margin: 2px 10px 0 0;
}

@media screen and (max-width: 767px) {
  .infoSection {
    width: 100%;
  }

  .imgSection {
    position: absolute;
    top: 5em;
  }

}

.line-break {
  display: block;
}

.history-date:last-of-type {
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 12px;
  border-bottom: none;
}


.status {
padding-top: 4px;
padding-bottom: 4px;
padding-left: 12px;
padding-right: 12px;
background-color:#1b2040;
font-size: 12px;
color: white;
border-radius: 4px;
}

.date-agreed-container {
display: flex;
align-items: center;
margin-bottom: 12px;

.date-label {
  padding-right: 10px;
}
}
.spider-graph{
clear: both;
margin-bottom: 20px;
margin-right: 20px;
.chart-container{
    display: block;
    width: auto;
    background-color: #fff;
    border: 1px solid #d8dde0;
    padding: 22px 22px 0 22px;
    height: auto;
    position: relative;
    padding-top: 112px;
    margin-bottom: 25px;
    .score-div{
        position: absolute;
        top: 80px;
        left: 40px;
        font-size: 14px;
        color: #666;
        display: none;
        li{
            margin-right: 10px;
        }
    }
}
.role-container{
  width: 100%;
  margin-bottom: 20px;
  .role-inner {
    display: block;
    position: absolute;
    width: 100%;
    top: 10px;
    left: 34px;
    .width50{
      width: 45%;
      float: left;
      border-left: 8px solid#f08030;
      padding-left: 20px;
    }
    label{
      font-size: 19px;
      font-family: 'Frutiger_bold';
    }
    p{
        font-size: 19px;
        font-family: 'Frutiger';
        margin: 0;
    }
    tr{
      td{
        border: none!important;
        &:first-child{
          width: 200px;
        }
      }
      &:nth-child(3){
        display: none;
      }
    }
  }
}
}

.chart {
margin-bottom: 20px;
border: 1px solid black;
}
.version-container {
text-align: center !important;
justify-content: center !important;

}
::ng-deep .mat-form-field {
width: 30% !important;
}

.header {
  .tabWrapper {
    margin-top: 10px;
    position: relative;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      height: 44px;
      border-bottom: 1px solid grey;

      li.tabHead {
        position: relative;
        margin: 0 33px 0 0;
        padding: 10px 1px 1px;
        float: left;
        background-color: none;
        text-align: center;
        cursor: pointer;

        a {
          margin-right: 3px;
          float: left;
          color: #666;
          text-align: center;
          text-decoration: none;
        }

        &:focus a {
          color: black;
          background-color: focus-colour;
          -webkit-box-shadow: 0 -2px focus-colour, 0 4px black;
          box-shadow: 0 -2px focus-colour, 0 4px black;
          text-decoration: none;
        }
      }

      li.tabHead.active {
        border-bottom: 3px solid var(--primary-color);
      }
    }

  }

  li.active {
    margin-top: -5px;
    margin-bottom: -1px;
    padding: 14px 19px 11px 19px;
    border-bottom: 3px solid var(--primary-color);
    background-color: none;

  }

  .tabHead:active {
    margin-top: -5px;
    margin-bottom: -1px;
    padding: 14px 19px 11px 19px;
    border-bottom: 3px solid var(--primary-color);
    background-color: none;
  }

  .tabHead:focus {
    border-bottom: 3px solid var(--primary-color);

  }

  :tabHead {
    border-bottom: 3px solid var(--primary-color);

  }
}