<mat-card id='workshop'>
    <div class="card-row">
        <div class="info-text">
            <p class="mt0">The table below shows information about all of the sessions
                that have been scheduled for the selected date. </p>
            <p class="mt0">The ‘Attended’ column updates from 0 for each session once Attendance information is submitted.
                The
                ‘Occurred’ column populates with a tick or cross, depending on whether the session took place.</p>
            <p class="mt0">Information for future sessions can be viewed, but attendance cannot be marked for dates that
                have not
                yet occurred.</p>
            <p class="mb25">Attendance data may be updated at any time, however please bear in mind that this may affect
                reporting.</p>
        </div>
    </div>
    <mat-card-header>
        <div class="card-column-33 pr-10">
            <mat-form-field id="search_workshop_by_date" class="type-dropdown" appearance="fill">
                <mat-label class="hide-at">Search by</mat-label>
                <input id="search_programme_input" matInput (keydown.enter)="onFilter(search_programme_input.value)" matInput
                    placeholder="Search by Programme/Course name" #search_programme_input>
                <button id="do_search_button" mat-button matSuffix mat-icon-button aria-label="Clear"
                    (click)="onFilter(search_programme_input.value)">
                    <mat-icon>search</mat-icon>
                </button>
                <button id="clear_search_button" *ngIf="search_programme_input.value !==''" mat-button matSuffix
                    mat-icon-button aria-label="Clear" (click)="onFilter(''); search_programme_input.value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <span class="spacer"></span>
        <span class="clear-button">
            <button id="create_content_button" mat-stroked-button class="right" color="primary"
                [routerLink]="['/attendance']">Exit</button>
        </span>
    </mat-card-header>
   <span class="spacer"></span>
        <mat-card-content class="workshop_container">

            <mat-table id="workshop_list_by_date" #table [dataSource]="dataSource" class="isMobile" >

                <ng-container matColumnDef="courseName">
                    <mat-header-cell *matHeaderCellDef id="workshop_name_button" class="width-15">
                        Course name
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="width-15"> <span class="mobile-label">Course Name:
                        </span>{{element.courseName}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="programmeName">
                    <mat-header-cell *matHeaderCellDef id="workshop_name_button" class="width-15">
                        Programme
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="width-15"> <span class="mobile-label">Course Name:
                        </span>{{element.programmeName}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="cohortNumber">
                    <mat-header-cell *matHeaderCellDef id="capacity_button">
                        Cohort number
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"> <span class="mobile-label">Cohort Number:
                        </span>{{element.cohortNumber}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="session">
                    <mat-header-cell *matHeaderCellDef id="workshop_name_button" class="">
                        Session
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class=""> <span class="mobile-label">session:
                        </span>{{element.sessionTypeName}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="occurred">
                    <mat-header-cell *matHeaderCellDef id="capacity_button">Occurred
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"> <span class="mobile-label">Occurred:
                        </span>
                        <span *ngIf="element.hasOccurred !== null">
                            <mat-icon *ngIf="element.hasOccurred" color="primary" matTooltip="Yes">check</mat-icon>
                            <mat-icon *ngIf="!element.hasOccurred" color="accent" matTooltip="No">close</mat-icon>
                        </span>
                   
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="allocated">
                    <mat-header-cell *matHeaderCellDef id="capacity_button">Allocated
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"> <span class="mobile-label">allocated:
                        </span>{{element.allocated}}
                    </mat-cell>
                </ng-container>


                <ng-container matColumnDef="attended">
                    <mat-header-cell *matHeaderCellDef id="capacity_button">Attended</mat-header-cell>
                    <mat-cell *matCellDef="let element"> <span class="mobile-label">Attended:
                        </span>{{element.attended}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="action">
                    <mat-header-cell class="actions-column" *matHeaderCellDef>Action</mat-header-cell>
                    <mat-cell class="actions-column" *matCellDef="let element"> <span class="mobile-label"></span>
                        <button *auth="[1,2]" id="edit_worker_button_{{element.id}}" mat-icon-button matTooltip="Edit"
                            [matTooltipShowDelay]="800"  [routerLink]="['view-session']"
                            [queryParams]="{sessionTypeId : element.sessionTypeId, name: element.courseName,
                            sessionName: element.sessionTypeName, pcdId: element.programmeCourseDeliveryId}"
                            queryParamsHandling="merge">
                            <mat-icon color="primary">visibility</mat-icon>
                        </button>

                        <button *auth="[1,3]" id="edit_worker_button_{{element.id}}" mat-icon-button matTooltip="Edit"
                            [matTooltipShowDelay]="800"  [routerLink]="['session']"
                            [queryParams]="{sessionTypeId : element.sessionTypeId, name: element.courseName,
                               sessionName: element.sessionTypeName, pcdId: element.programmeCourseDeliveryId}"
                            queryParamsHandling="merge">
                            <mat-icon color="primary" >create</mat-icon>
                        </button>

                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </mat-table>
        </mat-card-content>
    <span class="spacer"></span>
</mat-card>
