<div class="header">
    <div class="tabWrapper">
        <ul>
            <li class="tabHead active" routerLinkActive="active">
                <a class="tab-item" id="localJobs-tab" attr.aria-label="tab Month">Referral</a>
            </li>
        </ul>
    </div>
  </div>
  
  <mat-card id='referral'>
  
    <mat-card-header>
      <span class="spacer"></span>
      <span>
        <button id="exit_page" mat-stroked-button class="right" [routerLink]="['/mentivity-learner/referral']"
          [queryParams]="{ id: userId, name: name }" queryParamsHandling="merge" color="primary">Exit</button>
      </span>
    </mat-card-header>
  
    <mat-card-content class="users_container">
  
      <form [formGroup]="referralForm" (ngSubmit)="onSubmit()">
        <div class="card-row">
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Referral</mat-label>
              <mat-select placeholder="Referral" formControlName="interventionId" required>
                <mat-option *ngFor="let list of referralList" [value]="list.id" id="list">{{list.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="referralForm.get('interventionId').hasError('required')">
                Referral is required
              </mat-error>
            </mat-form-field>
          </div>
  
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Date</mat-label>
              <input matInput [matDatepicker]="referralDatePicker" placeholder="Date" formControlName="referralDate"
                id="recallDate" required>
              <mat-datepicker-toggle matSuffix [for]="referralDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #referralDatePicker></mat-datepicker>
              <mat-error *ngIf="referralForm.get('referralDate').hasError('required') && !referralForm.get('referralDate').errors?.matDatepickerParse">
                Date is required
              </mat-error>
              <mat-error
                  *ngIf="referralForm.get('referralDate').errors?.matDatepickerParse">Invalid
                  date
                </mat-error>
            </mat-form-field>
          </div>
  
          <div class="card-column">
            <div class="card-column-50 otherReferral" *ngIf="isOtherReferral(referralForm.get('interventionId').value)">
              <mat-form-field appearance="outline">
                <mat-label>Other Referral</mat-label>
                <input matInput placeholder="Other Referral" formControlName="otherIntervention" id="otherIntervention_id"
                  rows="3" maxlength="100" required>
                  <mat-error *ngIf="referralForm.get('otherIntervention').hasError('required')">
                    Other Referral is required
                  </mat-error>
                <mat-hint
                  *ngIf="referralForm?.get('otherIntervention')?.value?.length !== 0 && referralForm?.get('otherIntervention')?.value?.length !== null && referralForm?.get('otherIntervention')?.value?.length !=(100-1) && (100) >= referralForm?.get('otherIntervention')?.value?.length">
                  {{100 - referralForm?.get('otherIntervention')?.value?.length}} characters
                  left
                </mat-hint>
                <mat-hint *ngIf="referralForm?.get('otherIntervention')?.value?.length == (100-1)">
                  1 character left
                </mat-hint>
                <mat-error *ngIf="referralForm?.get('otherIntervention')?.errors?.minlength">
                  Minimum 3 characters allowed
                </mat-error>
                <mat-hint
                  *ngIf="referralForm?.get('otherIntervention')?.value?.length === 0 || referralForm?.get('otherIntervention')?.value?.length === null">
                  Minimum 3 and Maximum 100 characters allowed
                </mat-hint>
              </mat-form-field>
            </div>
  
            <mat-form-field appearance="outline">
              <mat-label>Worker</mat-label>
              <mat-select [disabled] ="disableFlag" placeholder="Worker" formControlName="workerId" required >
                <mat-option *ngFor="let worker of workerList" [value]="worker.id" id="worker" >{{worker.userFullName}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="referralForm.get('workerId').hasError('required')">
                Worker is required
              </mat-error>
            </mat-form-field>
          </div>
  
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Note</mat-label>
              <textarea matInput formControlName="notes" rows="4" maxlength="100" required></textarea>
              <mat-hint
                *ngIf="referralForm?.get('notes')?.value?.length !== 0 && referralForm?.get('notes')?.value?.length !== null && referralForm?.get('notes')?.value?.length !=(100-1) && (100) >= referralForm?.get('notes')?.value?.length">
                {{100 - referralForm?.get('notes')?.value?.length}} characters left
              </mat-hint>
              <mat-hint *ngIf="referralForm?.get('notes')?.value?.length == (100-1)">
                1 character left
              </mat-hint>
              <mat-error *ngIf="referralForm?.get('notes')?.errors?.minlength">
                Minimum 3 characters allowed
              </mat-error>
              <mat-error *ngIf="referralForm.get('notes').hasError('required')">
                Note is required
              </mat-error>
              <mat-hint
                *ngIf="referralForm?.get('notes')?.value?.length === 0 || referralForm?.get('notes')?.value?.length === null">
                Minimum 3 and Maximum 100 characters allowed
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Organisation</mat-label>
              <mat-select placeholder="Select Organisation" formControlName="organisationId" id="organisationId" required>
                <mat-option *ngFor="let organisation of organisationList" [value]="organisation.id"
                  id="organisation-{{organisation.identifier}}">
                  {{organisation.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="referralForm?.get('organisationId').hasError('required')">
                Organisation is required
              </mat-error>
  
            </mat-form-field>
            <div class="card-column-50 otherReferral"
              *ngIf="isOtherOrganisation(referralForm.get('organisationId').value)">
              <mat-form-field appearance="outline">
                <mat-label>Other Organisation</mat-label>
                <input matInput placeholder="Other Organisation" formControlName="otherOrganisation"
                  id="otherOrganisation_id" rows="3" maxlength="100" required>
                <mat-hint
                  *ngIf="referralForm?.get('otherOrganisation')?.value?.length !== 0 && referralForm?.get('otherOrganisation')?.value?.length !== null && referralForm?.get('otherOrganisation')?.value?.length !=(100-1) && (100) >= referralForm?.get('otherOrganisation')?.value?.length">
                  {{100 - referralForm?.get('otherOrganisation')?.value?.length}} characters
                  left
                </mat-hint>
                <mat-hint *ngIf="referralForm?.get('otherOrganisation')?.value?.length == (100-1)">
                  1 character left
                </mat-hint>
                <mat-error *ngIf="referralForm?.get('otherOrganisation')?.errors?.minlength">
                  Minimum 3 characters allowed
                </mat-error>
                <mat-hint
                  *ngIf="referralForm?.get('otherOrganisation')?.value?.length === 0 || referralForm?.get('otherOrganisation')?.value?.length === null">
                  Minimum 3 and Maximum 100 characters allowed
                </mat-hint>
                <mat-error *ngIf="referralForm?.get('otherOrganisation').hasError('required')">
                  Other organisation is required
                </mat-error>
                <mat-error *ngIf="referralForm?.get('otherOrganisation').hasError('pattern')">
                  Invalid other organisation format
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Referral Outcome</mat-label>
              <mat-select placeholder="Referral Outcome" formControlName="refOutcomeId" id="refOutcomeId">
                <mat-option *ngFor="let status of outcomeList" [value]="status.id" id="status">
                  {{status.name}}
                </mat-option>
                <mat-option [value]="null" id="status">
                  Clear Selection 
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="card-row add-referral">
          <div class="card-column"></div>
          <div class="card-column">
            <button id="add_referral_button" type="submit" mat-flat-button color="primary"
              [disabled]="referralForm?.invalid || referralForm.get('interventionId')?.invalid">{{isNew? 'Add':
              'Update'}}</button>
          </div>
        </div>
      </form>
    </mat-card-content>
  
  </mat-card>