<div class="header">
    <div class="tabWrapper">
        <ul>
            <li class="tabHead active" routerLinkActive="active">
                <a class="tab-item" id="localJobs-tab" attr.aria-label="tab Month">Job Readiness</a>
            </li>
        </ul>
    </div>
</div>
<mat-card>
    <mat-card-content *ngIf="!readiness">
    <mat-card-header >
        <p class="mat-dialog-title alignment"> Person Supported currently does not have a RAG rating for job readiness. </p>
        
            <span class="spacer"></span>
            <span>
                <button id="create_referral_button" (click)="addReadiness()" mat-stroked-button class="right"
                    color="primary">Create rating
                </button>
            </span>
        </mat-card-header>
    </mat-card-content>
    <mat-card-content id='view_user_profile' class="view_user-plan_container">
        <div class="infoSection" *ngIf="readiness">
            <mat-card-header class="adjpadding" >
                <span class="spacer"></span>
                <span class="action-buttons">
                    <button id="edit_view_button" (click)="editReadiness(readiness.serviceUserId)" mat-stroked-button
                        color="primary"> Edit</button>
                    <button id="exit_view_button" mat-stroked-button color="primary"  (click)="onExitClicked()">
                        Exit
                    </button>
                </span>

            </mat-card-header >

            <div class="versionInfo">
                <p>
                  <span class="versionNumber">Version {{ readiness.version }}</span>
                  <span class="modifiedDate">{{ readiness.lastUpdated | date:'dd MMMM yyyy' }}</span>
                  <span class="modifiedBy">{{ readiness.modifiedByName }}</span>
                </p>
            </div>

            <p> You have rated this Person Supported as a {{ readiness.colour.name  || 'N/A' }} for job readiness.</p>
            <div>
                
                   
                
                <div class="details-container">
                    <div class="info">
                      <div *ngIf="readiness.colour?.name">
                        <span class="details_label">Rating</span>
                        <span id="firstName">{{ readiness.colour.name || 'N/A' }}</span>
                        <span class="color-circle" [style.background-color]="readiness.colour.colourCode || 'transparent'"></span>
                      </div>
                    </div>
                  </div>
                  

                <div class="card-column">
                    <div *ngIf="readiness?.notes">
                        <span class="details_label">Notes</span>
                        <span id="address">{{ readiness.notes || 'N/A' }}</span>
                    </div>
                </div>

                <div class="card-column">
                    <div *ngIf="readiness?.lastUpdated">
                        <span class="details_label">Date job readiness last updated</span>
                        <span id="surname">{{ readiness.lastUpdated | date : 'dd MMMM yyyy' || 'N/A' }}</span>
                    </div>
                </div>

                <div class="card-column">
                    <div *ngIf="readiness?.modifiedByName">
                        <span class="details_label">Updated by</span>
                        <span id="contactNo">{{ readiness.modifiedByName || 'N/A' }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class=cta-buttons *ngIf="versionHistory">
            <span>
                <button id="history_button" mat-stroked-button (click) = "showHistory()"
                color="primary">History</button>         
            </span>
        </div>
    </mat-card-content>
</mat-card>