<mat-card>
  <mat-card-header>

  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="usefulContactForm" validate autocomplete="off">
      <div class="card-row">
        <div class="card-column">

          <mat-form-field appearance="fill">
            <mat-label>Worker name</mat-label>
            <input matInput placeholder="Worker Name" formControlName="workerName" id="workerName" required>
            <mat-hint>Minimum 1 and Maximum 100 characters allowed</mat-hint>
            <mat-error *ngIf="usefulContactForm.controls.workerName.errors?.maxlength">
              Worker name should be less than 100 characters
            </mat-error>
            <mat-error *ngIf="usefulContactForm.controls.workerName.errors?.required">
              Worker name is required</mat-error>
            <mat-error
              *ngIf="usefulContactForm.controls.workerName.errors?.pattern&& !usefulContactForm.controls.workerName.errors?.maxlength">
              Invalid Worker name
            </mat-error>
          </mat-form-field>

        </div>
        <div class="card-column">

          <mat-form-field appearance="fill">
            <mat-label>Organisation</mat-label>
            <input matInput placeholder="Organisation" formControlName="organisation" id="organisation" required>
            <mat-hint>Minimum 1 and Maximum 100 characters allowed</mat-hint>
            <mat-error *ngIf="usefulContactForm.controls.organisation.errors?.maxlength">
              Organisation name should be less than 100 characters
            </mat-error>
            <mat-error *ngIf="usefulContactForm.controls.organisation.errors?.required">
              Organisation name is required</mat-error>
            <mat-error
              *ngIf="usefulContactForm.controls.organisation.errors?.pattern&& !usefulContactForm.controls.organisation.errors?.maxlength">
              Invalid Organisation name
            </mat-error>
          </mat-form-field>

        </div>
      </div>

      <div class="card-row">
        <div class="card-column">

          <mat-form-field appearance="fill">
            <mat-label>Telephone number</mat-label>
            <input matInput placeholder="Telephone number" formControlName="telephoneNumber" id="telephoneNumber">
            <mat-hint>Enter a valid UK phone number using numerical characters only </mat-hint>
            <mat-error *ngIf="usefulContactForm.controls.telephoneNumber.errors?.pattern">
              Telephone number is Invalid
            </mat-error>
          </mat-form-field>

        </div>
        <div class="card-column">

          <mat-form-field appearance="fill">
            <mat-label>Email address</mat-label>
            <input matInput placeholder="Email address" formControlName="email" id="email">
            <mat-hint>Enter a valid email address in e format example@domain.co.uk</mat-hint>
            <mat-error *ngIf="usefulContactForm.controls.email.errors?.maxlength">
              Email address should be less than 100 characters
            </mat-error>
            <mat-error
              *ngIf="usefulContactForm.controls.email.errors?.pattern&& !usefulContactForm.controls.email.errors?.maxlength">
              Invalid Email address
            </mat-error>
          </mat-form-field>

        </div>
      </div>

      <div class="card-row">
        <div class="card-column">

          <mat-form-field appearance="fill">
            <mat-label>Address</mat-label>
            <input matInput placeholder="Address" formControlName="address" id="address">
            <mat-hint>Minimum 1 and Maximum 100 characters allowed</mat-hint>
            <mat-error *ngIf="usefulContactForm.controls.address.errors?.maxlength">
              Address should be less than 100 characters
            </mat-error>
          </mat-form-field>

        </div>
        <div class="card-column">

          <mat-form-field appearance="fill">
            <mat-label>Notes</mat-label>
            <textarea matInput placeholder="Notes" rows="4" formControlName="notes" id="notes"></textarea>
            <mat-hint>Minimum 1 and Maximum 500 characters allowed</mat-hint>
            <mat-error *ngIf="usefulContactForm.controls.notes.errors?.maxlength">
              Address should be less than 500 characters
            </mat-error>
          </mat-form-field>

        </div>
      </div>

      <mat-card-footer>
        <span class="spacer"></span>
        <span>
          <button type="submit" mat-flat-button color="primary" (click)="onSubmit()"
             [disabled]="usefulContactForm.invalid">Save</button>
          <button type="submit" mat-flat-button color="primary" (click)="onExitClicked()">Cancel</button>
        </span>
      </mat-card-footer>
    </form>
  </mat-card-content>
</mat-card>