<!--- HEADER-->
<div class="row">
    <div class="col-md-12">
        <div class="card mb-2 font-20">
            <div class="card-header"><strong>Contact Management > {{pageName}} </strong>
            </div>
        </div>
    </div>
</div>

<form #notificationForm="ngForm" (ngSubmit)="notificationForm.form.valid &&  saveNotification(notificationForm)"
    novalidate autocomplete="off" class="w-100 createlistform">
    <div class="row mt-2">
        <div class="col-md-6 table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <td  class="width-list"> Email Address 
                        <span data-toggle="tooltip"
                        title="Once your campaign is completed, notification mail will be sent on this email address" data-placement="top">
                        <i class="fa fa-info-circle text-info" aria-hidden="true">
                        <i class="required-field text-danger">*</i></i></span>
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder=" Email Address" id="emailId"
                                pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,3}$"  (change)="getUniqueEmailNoti(emailId.value)"
                                [(ngModel)]="notificationData.emailId" name="emailId" #emailId="ngModel" required>
                            <div *ngIf="notificationForm.submitted && emailId.invalid || emailId.touched">
                                <div *ngIf="emailId.touched || notificationForm.submitted">
                                    <p *ngIf="emailId.errors?.required " class="help-box">Please enter
                                        email address!</p>
                                    <p *ngIf="emailId.errors?.pattern" class="help-box">
                                        Please enter valid email address!</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6 table-responsive"> 
            <table class="table mb-0">
                <tbody>
                    <tr>
                        <td class="width-list"> Description </td>
                        <td>
                            <textarea class="form-control" rows="4" id="description"
                                pattern="^[a-zA-Z0-9\x22_ !@#$%^&*()_+\-=\[\]{};':\\|,.<>\/?]*$"
                                placeholder="Enter Description" maxlength="255"
                                [(ngModel)]="notificationData.description" name="description"
                                #description="ngModel"> </textarea>
                            <div *ngIf="notificationForm.submitted && description.invalid || description.touched">
                                    <p style="color:red" *ngIf="notificationData.description?.length > 254">
                                        Description size should be less than 255 characters!
                                    </p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12 text-center mt-2">
            <button type="submit"[disabled]="submitFlg" class="btn btn-info mr-3"><strong>{{btnName}}</strong></button>
            <button type="button" class="btn btn-danger"
               (click)="clearnotificationForm()"><strong> Cancel </strong></button>
        </div>
    </div>
</form>
<hr>


<!---SEARCH-->
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-5 mt-2">
                <strong>Notification Receiver List</strong>
            </div>

            <div class="col-md-3 ">
                <div class="dropdown mt-2-sm">
                    <div class=" d-flex">
                        <label for="exampleFormControlSelect1" class="mt-2 pt-1">
                            <h5>Filter</h5>
                        </label>
                        <select class="form-control ml-2 mt-2" id="exampleFormControlSelect1"
                            [(ngModel)]="activedeactive" (change)="filter()">
                            <option value="1">Active</option>
                            <option value="0">In-active</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="search-button float-right w-100">
                    <input class="form-control  mt-2" type="text" name="search"  [(ngModel)]="search"  
                    placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome">
                </div>
            </div>
        </div>
    </div>
</div>


<!----TABLE-->
<div class="table-responsive mt-2">
    <table class="table table-hover table-bordered mt-2 tacho-table">
        <thead class="bg-dark thead">
            <tr>
                <th class="th" [class.active]="order === 'custEmailExceptionId'"
                    (click)="setOrder('custEmailExceptionId')">ID<span class="pl-1 point span" [hidden]="reverse">▼</span>
                    <span class="pl-1 point span" [hidden]="!reverse">▲</span></th>
                <th style="width: 30%;max-width: 25%;" class="th" [class.active]="order === 'emailId'"
                    (click)="setOrder('emailId')">Email <span class="pl-1 point span" [hidden]="reverse">▼</span>
                    <span class="pl-1 point span" [hidden]="!reverse">▲</span></th>
                <th style="width: 40%;max-width: 30%;">Description</th>

                <th style="width: 18%;" 
                    >Status</th>
                <th style="text-align:center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="OriginalNOtificationList==null || OriginalNOtificationList.length==0 && nodataFlg==false" >
                <td class="noBorder"></td> 
                <td class="noBorder"></td> 
                <div>
                    <td class="noBorder float">
                        <span class="text-danger ">
                            <h5>Please wait.....</h5>
                        </span><br>
                        <div class="d-flex justify-content-center text-danger ">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Please wait</span>
                                <span class="sr-only ">Loading...</span>
                            </div>
                        </div>
                    </td>
                </div>
            </tr>
            <tr *ngIf="nodataFlg==true" >
                <td class="noBorder"></td>
                <td class="noBorder"></td>
                <div class="row">
                    <td class="col-md-12 padding pt-3 noBorder">
                        <span class="text-danger inline">
                            <h5 class="float">No notification list to show</h5>
                        </span><br>

                    </td>
                </div>
            </tr>
            <tr *ngFor="let notification of OriginlistData | orderBy: order :reverse | filter : search | paginate: { itemsPerPage: showData.rowsPerPage, currentPage: p }; let i=index">
                <td>{{notification.custEmailExceptionId}}</td>
                <td>{{notification.emailId}}</td>
                <td class="fixed-width">{{notification.description}}</td>
                <td>
                    <span *ngIf="notification.status=='1'">Active</span>
                    <span *ngIf="notification.status!='1'">In-Active</span>
                </td>
                <td class="text-center">
                        <a >
                            <i class="btn text-danger mr-3 p-0" type="button">
                                <span *ngIf="notification.status=='0'" (click)="activeDeactiveNotification('active',notification)">Active</span>
                                <span *ngIf="notification.status=='1'" (click)="activeDeactiveNotification('Inactive',notification)"><i class="fa fa-trash-o"
                                    title="In-Active"   aria-hidden="true"></i></span>
                            </i>
                            <span class="btn text-success p-0" type="button" (click)="editNotificationInfo(notification);gotoTop()">
                                <i class="fa fa-pencil" title="Edit" aria-hidden="true"></i>
                            </span>
                        </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<!--Pagination-->
<div class="row mt-2 col-xs-2">
    <!--Show Records-->
    <div class="col-md-4 mt-2">              
        <div class="show-rows " >
        <span>Show Records</span><input class="rowsPerPage ml-2" type = "number"  min="1" 
            [(ngModel)]="showData.rowsPerPage" name="rowsPerPage" #rowsPerPage="ngModel" pattern="^[1-9][0-9]*$"  placeholder = "Rows">
        </div>
        <div *ngIf="rowsPerPage.invalid || rowsPerPage.touched">
            <p *ngIf="rowsPerPage.errors?.pattern" class="help-bpx" class="help-bpx" style="color: red;">
                Please enter value greater than 0.</p>
        </div>
    </div>
    <div class="col-md-8 "> 
        <div class="float-right mt-2">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>