.unenroll {
    position: absolute;
    top: 7px;
    left: 1px;
    width: 20px;
    overflow: hidden;
}

@media only screen and (max-width: 736px) and (orientation:portrait) {
    mat-header-row {
        display: none;
    }
 
    mat-header-cell,
    mat-row {
        width: 100%; //you can also set it in px,em, etc...
        display: block;
    }
}

.width{
    width: 35%;
}