<h1 mat-dialog-title>{{isNew ? 'Add provider' : 'Edit provider'}}</h1>


<mat-card-content>
    <form [formGroup]="providerForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="card-row">
            <mat-form-field appearance="fill">
                <mat-label>Provider name</mat-label>
                <input matInput formControlName="providerName" id="providerName" required placeholder="Provider name">
                <mat-error *ngIf="providerForm.controls.providerName.errors?.required"> 
                    Provider name is required.
                </mat-error>
                <mat-error *ngIf="providerForm.controls.providerName.errors?.minlength && !providerForm.controls.providerName.errors?.pattern">
                    Provider name must be greater than 3 characters.
                </mat-error>
                <mat-error *ngIf="providerForm.controls.providerName.errors?.maxlength && !providerForm.controls.providerName.errors?.pattern">
                    Provider name must be less than 50 characters.
                </mat-error>
                <mat-error *ngIf="providerForm.controls.providerName.errors?.pattern ">
                    Provider name is invalid.
                </mat-error>
            </mat-form-field>
        </div>
        <div class="card-row">
            <mat-form-field appearance="fill">
                <mat-label for="code">Code</mat-label>
                <input matInput formControlName="code" id="code" placeholder="Code">
                <mat-error *ngIf="providerForm.controls.code.errors?.minlength && !providerForm.controls.code.errors?.pattern">
                    Code must be greater than 3 characters.
                </mat-error>
                <mat-error *ngIf="providerForm.controls.code.errors?.maxlength && !providerForm.controls.code.errors?.pattern ">
                    Code must be less than 20 characters.
                </mat-error>
                <mat-error *ngIf="providerForm.controls.code.errors?.pattern ">
                    Code is invalid.
                </mat-error>
            </mat-form-field>
        </div>
        <mat-dialog-actions align="end">
            <button mat-button type="button" (click)="dialogClose()">Cancel</button>
            <button type="submit" id="save_resourse_button" [disabled]="providerForm.invalid" mat-flat-button
                color="primary">{{isNew ? 'Add' : 'Update'}}</button>
            </mat-dialog-actions>
    </form>
</mat-card-content>