<div class="grid-row nomargin">
  <div class="main-tab-container">
    <div class="tabWrapper">
      <ul>
        <li class="tabHead" [ngClass]="{'activeTab': activeTab === 'plan'}">
          <a class="tab-item" id="plan-tab" attr.aria-label="tab Plan Content Card">{{tabName}}</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Plan tab -->
  <ng-container *ngIf="activeTab === 'plan'">
    <mat-card *ngIf="goalsData !== undefined">
      <ng-container>
        <div class="goals-alert-container" id="goals-container" *ngIf="goalsData">
          <div class="goals-container" id="goals-container">
            <h2 class="goals-alert-heading" id="goals-heading">Goals</h2>
            <p *ngFor="let goal of goalsData; let i = index" class="goals-alert-body" id="goal-{{i+1}}">{{goal}}</p>
          </div>
        </div> 
      
        <div id="tabWrapper" class="tabWrapper">
          <ul>
            <li
              tabindex='0'
              (click)="setActivePlanSubTab('myGoals')"
              (keyup.enter)="setActivePlanSubTab('myGoals')"
              [class.active]="activePlanSubTab === 'myGoals'"
              class="tabHead"
            ><a class="tab-item" id="my-goals-tab" attr.aria-label="tab My todos">{{tabName}}</a>
            </li>
            <li
              tabindex='0'
              (click)="setActivePlanSubTab('participantToDo')"
              (keyup.enter)="setActivePlanSubTab('participantToDo')"
              [class.active]="activePlanSubTab === 'participantToDo'"
              class="tabHead"
            ><a class="tab-item" id="my-goals-tab" attr.aria-label="tab My todos">{{sutodoTabName}}</a>
            </li>
            <li *ngIf="showTab"
              tabindex='0'
              (click)="setActivePlanSubTab('schedule')"
              (keyup.enter)="setActivePlanSubTab('schedule')"
              [class.active]="activePlanSubTab === 'schedule'"
              class="tabHead"
            ><a class="tab-item" id="schedule-tab" attr.aria-label="tab Schedule">Schedule</a>
            </li>
            <li *ngIf="showTab"
              tabindex='0'
              (click)="setActivePlanSubTab('track')"
              (keyup.enter)="setActivePlanSubTab('track')"
              [class.active]="activePlanSubTab === 'track'"
              class="tabHead"
            ><a class="tab-item" id="track-tab" attr.aria-label="tab Track">Timeline</a>
            </li>
          </ul>
        </div>
        <div class="planWrapper" [ngSwitch]="activePlanSubTab">
          <app-my-goals-tab 
            *ngSwitchCase="'myGoals'" 
          ></app-my-goals-tab>
          <app-participant-to-do 
            *ngSwitchCase="'participantToDo'" 
          ></app-participant-to-do>
          <ng-container *ngSwitchCase="'schedule'">
            <app-schedule-tab
            *ngIf="pathwayList?.length > 0 && dataList?.length !== 0 " 
            [pathwayList]="pathwayList"
            ></app-schedule-tab>
            <div *ngIf="dataList?.length == 0" class="tab-empty">
              <p>Graduate currently has no interventions scheduled.</p>
            </div>
          </ng-container>
      
          <app-track-tab 
            *ngSwitchCase="'track'" 
            [fStructureData]="fStructureData" 
            [loadMoreVisible]="loadMoreVisible"
            (loadMore)="onLoadMoreClicked($event)"
            (refreshFStructureData)="onNewEntryAdded($event)"
            (emitUpdateInterventionEvent)="updateFStructureDataAfterEntryChange($event)"
          ></app-track-tab>
        </div>
      </ng-container>
    </mat-card>
  </ng-container>
</div>
  