<mat-card id="view-learner" *ngIf="refData">

  <mat-card-header>
    <!-- <span *ngIf="learnersForm.controls.id.value!=null">  -->
      <samp>
      <app-stepper-navigation></app-stepper-navigation>
      <!-- </span> -->
    </samp>
    <div>
      <button id="edit_view_button" mat-stroked-button color="primary"
        [routerLink]="['/learners/edit-learner']" [queryParams]="{ id: user?.id }" *ngIf="loggedInUserRole !== 3">
        Edit
      </button>
      <button id="exit_view_button" mat-stroked-button color="primary" [routerLink]="['/learners']">
        Exit
      </button>
    </div>

    
  </mat-card-header>
  <div class="learnerName">
    {{ user?.firstName }} {{user?.lastName}}
  </div>

  <mat-card-content>

    <div *ngIf="isLoaded">
      <div class="label-hr no-top-margin"></div>

      <dl>
        <div class="card-row">
          <div class="card-column">
            <dt class="details-label">Learner Name</dt>
            <dd>{{ user?.firstName }} {{user?.lastName}}</dd>

            <dt class="details-label">Date Of Birth</dt>
            <dd>{{ user?.dateOfBirth | date:'dd MMM yyyy'}}</dd>

            <dt class="details-label">Gender</dt>
            <dd>
              <app-list-label id="genders" [list]="refData.genders" [value]="user?.gender">
              </app-list-label>
              <div
                *ngIf="!user?.gender">
                N/A
              </div>
            </dd>

            <dt class="details-label">NI Number</dt>
            <dd>{{ user?.niNumber || 'N/A' }}</dd>

            <dt class="details-label">ULN</dt>
            <dd>{{ user?.uln || 'N/A'}}</dd>

            <dt class="details-label">Highest Level Qualification</dt>
            <dd>
              <app-list-label id="highestLevelQualifications" [list]="refData.highestLevelQualifications"
                [value]="user?.highestLevelQualification">
              </app-list-label>
              <div
                *ngIf="!user?.highestLevelQualification">
                N/A
              </div>
            </dd>

            <dt class="details-label">Shoe Size</dt>
            <dd>
              <app-list-label id="shoeSizes" [list]="refData.shoeSizes" [value]="user?.shoeSize">
              </app-list-label>
              <div
                *ngIf="!user?.shoeSize">
                N/A
              </div>
            </dd>
          </div>

          <div class="card-column">
            <dt class="details-label">British National?</dt>
            <dd>
              <div *ngIf="user?.isBritishNational==1">
                Yes
              </div>
              <div *ngIf="user?.isBritishNational==2">
                No
              </div>
              <div *ngIf="!user?.isBritishNational">
                N/A
              </div>
            </dd>

            <dt class="details-label">Resident Of UK or EEA?</dt>
            <dd>
              <div *ngIf="user?.isResidentOfUKorEEA==1">
                Yes
              </div>
              <div *ngIf="user?.isResidentOfUKorEEA==2">
                No
              </div>
              <div *ngIf="!user?.isResidentOfUKorEEA">
                N/A
              </div>
            </dd>

            <dt class="details-label">Valid Driving Licence?</dt>
            <dd>
              <div *ngIf="user?.isValidDrivingLicence==1">
                Yes
              </div>
              <div *ngIf="user?.isValidDrivingLicence==2">
                No
              </div>
              <div *ngIf="!user?.isValidDrivingLicence">
                N/A
              </div>
            </dd>

            <dt class="details-label">Drives own car?</dt>
            <dd>
              <div *ngIf="user?.isOwnCarDriver==1">
                Yes
              </div>
              <div *ngIf="user?.isOwnCarDriver==2">
                No
              </div>
              <div *ngIf="!user?.isOwnCarDriver">
                N/A
              </div>
            </dd>

            <dt class="details-label">Hi-Vis Size</dt>
            <dd>
              <app-list-label id="hivisSizes" [list]="refData.hivisSizes" [value]="user?.hiVisSize">
              </app-list-label>
              <div
                *ngIf="!user?.hiVisSize">
                N/A
              </div>
            </dd>

            <dt class="details-label">Trouser Waist Size</dt>
            <dd>
              <app-list-label id="trouserWaistSizes" [list]="refData.trouserWaistSizes"
                [value]="user?.trouserWaistSize">
              </app-list-label>
              <div
                *ngIf="!user?.trouserWaistSize">
                N/A
              </div>
            </dd>
          </div>
        </div>

        <div class="label-hr">
          <span>Contact Details</span>
        </div>

        <div class="card-row">
          <div class="card-column">
            <dt class="details-label">Address Line 1</dt>
            <dd>{{ user?.contactDetails.addressLine1 || 'N/A' }}</dd>

            <dt class="details-label">Address Line 2</dt>
            <dd>{{ user?.contactDetails.addressLine2 || 'N/A'}}</dd>

            <dt class="details-label">Town</dt>
            <dd>{{ user?.contactDetails.townOrCity || 'N/A'}}</dd>

            <dt class="details-label">County</dt>
            <dd>{{ user?.contactDetails.county || 'N/A'}}</dd>

            <dt class="details-label">Postcode</dt>
            <dd>{{ user?.contactDetails.postCode || 'N/A'}}</dd>
          </div>

          <div class="card-column">
            <dt class="details-label">Email Address</dt>
            <dd>{{ user?.contactDetails.emailAddress || 'N/A'}}</dd>

            <dt class="details-label">Contact Number</dt>
            <dd>{{ user?.contactDetails.contactNo || 'N/A'}}</dd>

            <dt class="details-label">Address Tenure in years</dt>
            <dd>{{ user?.contactDetails.addressTenureInyear || 'N/A'}}</dd>

            <dt class="details-label">Address Tenure in Months</dt>
            <dd>{{ user?.contactDetails.addressTenureInMonth || 'N/A'}}</dd>
          </div>
        </div>

        <div class="label-hr">
          <span>Emergency Contact Details</span>
        </div>

        <div class="card-row">
          <div class="card-column">
            <dt class="details-label">Name</dt>
            <dd>{{ user?.emergencyContact.firstName || 'N/A' }}</dd>

            <dt class="details-label">Emergency Contact Number</dt>
            <dd>{{ user?.emergencyContact.contactNo || 'N/A'}}</dd>
          </div>

          <div class="card-column">
            <dt class="details-label">Relationship with Learner</dt>
            <dd>{{ user?.emergencyContact.relationshipWithUser || 'N/A'}}</dd>
          </div>
        </div>

        <div class="label-hr">
          <span>Unemployment Status</span>
        </div>

        <div class="card-row">
          <div class="card-column">
            <dt class="details-label">Looking for work?</dt>
            <dd>
              <div *ngIf="user?.unEmploymentStatus.isLookingForWork==1">
                Yes
              </div>
              <div *ngIf="user?.unEmploymentStatus.isLookingForWork==2">
                No
              </div>
              <div *ngIf="user?.unEmploymentStatus.isLookingForWork==null">
                N/A
              </div>
            </dd>

            <div *ngIf="user?.unEmploymentStatus.isLookingForWork==1">
              <dt class="details-label">Length of Unemployment</dt>
              <dd>
                <app-list-label *ngIf="user?.unEmploymentStatus.lengthOfUnemployment!=null" id="lengthOfUnemployments"
                  [list]="refData.lengthOfUnemployments" [value]="user?.unEmploymentStatus.lengthOfUnemployment">
                </app-list-label>
                <div *ngIf="user?.unEmploymentStatus.lengthOfUnemployment==null">
                  N/A
                </div>
              </dd>

              <dt class="details-label">Job Centre Location</dt>
              <dd>{{ user?.unEmploymentStatus.jobCentreLocation || 'N/A'}}</dd>


              <div class="card-column">
                <dt class="details-label">Work Coach</dt>
                <dd>{{ user?.unEmploymentStatus.workCoach || 'N/A'}}</dd>

                <dt class="details-label">Benifit Type</dt>
                <dd>
                  <app-list-label *ngIf="user?.unEmploymentStatus.benefitType!=null" id="benefits"
                    [list]="refData.benefits" [value]="user?.unEmploymentStatus.benefitType ">
                  </app-list-label>
                  <div *ngIf="user?.unEmploymentStatus.benefitType==null">
                    N/A
                  </div>
                </dd>
              </div>
            </div>

          </div>
        </div>

        <div class="label-hr">
          <span>Equal Opportunities Monitoring</span>
        </div>

        <div class="card-row">
          <div class="card-column">
            <dt class="details-label">Disability or Learning Difficulty</dt>
            <dd>
              <div
                *ngIf="user?.equalOpportunitiesMonitoring?.disabilityOrLearningDifficultyId==1 && user?.equalOpportunitiesMonitoring?.disabilityOrLearningDifficultyIds!=null">
                <div *ngFor="let id of user?.equalOpportunitiesMonitoring?.disabilityOrLearningDifficultyIds">
                  <app-list-label id="disabiltyOrLearningDifficulties" [list]="refData.disabiltyOrLearningDifficulties"
                    [value]="id">
                  </app-list-label>
                </div>
              </div>
              <div *ngIf="user?.equalOpportunitiesMonitoring?.disabilityOrLearningDifficultyId==2">
                No
              </div>
              <div *ngIf="user?.equalOpportunitiesMonitoring?.disabilityOrLearningDifficultyId==null">
                N/A
              </div>
            </dd>

            <dt class="details-label">Medical Condition</dt>
            <dd>
              <div *ngIf="user?.equalOpportunitiesMonitoring.isMedicalCondition==1">
                Yes
              </div>
              <div *ngIf="user?.equalOpportunitiesMonitoring.isMedicalCondition==2">
                No
              </div>
              <div *ngIf="user?.equalOpportunitiesMonitoring.isMedicalCondition==null">
                N/A
              </div>
            </dd>

            <dt class="details-label">Support in relation to Literacy</dt>
            <dd>
                <div *ngIf="user?.equalOpportunitiesMonitoring.isSupportToLiteracy==1">
                  Yes
                </div>
                <div *ngIf="user?.equalOpportunitiesMonitoring.isSupportToLiteracy==2">
                  No
                </div>
                <div *ngIf="user?.equalOpportunitiesMonitoring.isSupportToLiteracy==null">
                  N/A
                </div>
            </dd>
          </div>

          <div class="card-column">
            <dt class="details-label">Career Requirements</dt>
            <dd>
              <div *ngIf="user?.equalOpportunitiesMonitoring.isCareerRequirements==1">
                Yes
              </div>
              <div *ngIf="user?.equalOpportunitiesMonitoring.isCareerRequirements==2">
                No
              </div>
              <div *ngIf="user?.equalOpportunitiesMonitoring.isCareerRequirements==null">
                N/A
              </div>
            </dd>

            <dt class="details-label">Support with Motivation of Self-Esteem</dt>
            <dd>
              <div *ngIf="user?.equalOpportunitiesMonitoring.isMotivationOfselfEsteem==1">
                Yes
              </div>
              <div *ngIf="user?.equalOpportunitiesMonitoring.isMotivationOfselfEsteem==2">
                No
              </div>
              <div *ngIf="user?.equalOpportunitiesMonitoring.isMotivationOfselfEsteem==null">
                N/A
              </div>
            </dd>

            <dt class="details-label">Criminal convictions which have not been spent under the Rehabilitation of
              Offenders Act
              1974</dt>
            <dd>
              <div *ngIf="user?.equalOpportunitiesMonitoring.isCriminalConvictions==1">
                Yes
              </div>
              <div *ngIf="user?.equalOpportunitiesMonitoring.isCriminalConvictions==2">
                No
              </div>
              <div *ngIf="user?.equalOpportunitiesMonitoring.isCriminalConvictions==null">
                N/A
              </div>
            </dd>
          </div>
        </div>

        <div class="label-hr">
          <span>Equality and Diversity</span>
        </div>

        <div class="card-row">
          <div class="card-column">
            <div *ngIf="user?.equalityAndDiversity.isEqualityAndDiversityInformationId==1">
              <dt class="details-label">Caring Responsibilities</dt>
              <dd>
                <app-list-label id="caringResponsibilities" [list]="refData.caringResponsibilities"
                  [value]="user?.equalityAndDiversity.caringResposibilities">
                </app-list-label>
              </dd>

              <dt class="details-label">Household Situations</dt>
              <dd>
                <app-list-label id="householdSituations" [list]="refData.householdSituations"
                  [value]="user?.equalityAndDiversity.householdSituation">
                </app-list-label>
              </dd>

              <dt class="details-label">Married or Civil Partnership</dt>
              <dd>
                <app-list-label id="marriedOrCivilPartnerships" [list]="refData.marriedOrCivilPartnerships"
                  [value]="user?.equalityAndDiversity.marriedOrCivilParnership">
                </app-list-label>
              </dd>

              <dt class="details-label">Religion or Beliefs</dt>
              <dd>
                <app-list-label id="religionOrBeliefs" [list]="refData.religionOrBeliefs"
                  [value]="user?.equalityAndDiversity.religionOrbeliefs">
                </app-list-label>
              </dd>
            </div>

            <dt class="details-label">Working Pattern</dt>
            <dd>
              <app-list-label id="workingPatterns" [list]="refData.workingPatterns"
                [value]="user?.equalityAndDiversity.workingpattern">
              </app-list-label>
              <div *ngIf="!user?.equalityAndDiversity.workingpattern">
                N/A
              </div>
            </dd>

          </div>

          <div class="card-column">
            <div *ngIf="user?.equalityAndDiversity.isEqualityAndDiversityInformationId==1">

              <dt class="details-label">Sexual Orientation</dt>
              <dd>
                <app-list-label id="sexualOrientations" [list]="refData.sexualOrientations"
                  [value]="user?.equalityAndDiversity.sexualOrientation">
                </app-list-label>
              </dd>

              <div *ngIf="user?.equalityAndDiversity.sexualOrientation==6">
                <dt class="details-label">Other Sexual Orientation</dt>
                <dd>{{ user?.equalityAndDiversity.otherSexualOrientation }}</dd>
              </div>

              <dt class="details-label">Ethinicity</dt>
              <dd>
                <app-list-label id="ethnicities" [list]="refData.ethnicities"
                  [value]="user?.equalityAndDiversity.ethnicity">
                </app-list-label>
              </dd>

              <div *ngIf="user?.equalityAndDiversity.religionOrbeliefs==11">
                <dt class="details-label">Other Religion or Beliefs</dt>
                <dd>{{ user?.equalityAndDiversity.otherReligionOrBeliefs }}</dd>
              </div>

            </div>

            <dt class="details-label">Flexibility</dt>
            <dd>
              <app-list-label id="flexibilities" [list]="refData.flexibilities"
                [value]="user?.equalityAndDiversity.flexibility">
              </app-list-label>
              <div *ngIf="!user?.equalityAndDiversity.flexibility">
                N/A
              </div>
            </dd>


          </div>
        </div>
      </dl>

    </div>
  </mat-card-content>

</mat-card>