.entry-panel {
  display: flex;
  padding: 0px 20px 0px 20px;

  @media (max-width: 900px) {
    flex-direction: column;
    padding: 0px;
  }
}



.left-container {
  flex-grow: 1;

  @media (max-width: 900px) {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f1f1f1;
  margin-bottom: 20px;

  @media (max-width: 900px) {
    margin-top: -50px;
    margin-left: 15px;
    flex-direction: row;
    justify-content: end;
  }
}

.entry-title {
  margin-top: 0px;
  margin-bottom: 0px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  font-weight: 400;
}

.subtitle-container {
  margin-top: 10px;
  margin-bottom: 0px;
  flex-wrap: wrap;
}

.entry-subtitle {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  display: inline-block;
}

.intervention-container {
  display: flex;
  margin-top: 15px;
}

.entry-pathway-bullet-container {
  margin-right: 10px;
  margin-top: 7px;
}

.entry-pathway-bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.entry-intervention-label {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 19px;
  font-weight: bold;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  font-weight: 400;
}

.entry-notes-content {
  font-size: 19px;
  margin-top: 15px;
  margin-bottom: 0px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  line-height: 1.5;
}

.entry-notes-label {
  font-weight: 400;
}

.entry-actions-container {
  visibility: visible;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 12px;

  @media (max-width: 900px) {
    justify-content: flex-end;
  }

  button {
    margin-top: 5px;
    margin-bottom: -6px;
  }
}

.entry-status-tag {
  width: 130px;
  padding: 4px 3px 1px 3px;
  text-align: center;
  line-height: 17px;
  margin: 15px 15px 20px 0px;
}

.status-attended {
  border: 3px solid #cce2d8;
  background-color: #cce2d8;
  color: #005a30;
  font-weight: 400;
  font-size: 16px;
}
.status-behalf_of_Client, .status-Non-attendance_reason_provided, .status-cancelled_Organisation{
  border: 3px solid #fff7bf ; 
  color: #594d00;
  background: #fff7bf;
  font-weight: 400;
  font-size: 16px; 
}
.status-Non-attendance_unexplained{
  border: 3px #eeefef ;
  background-color: #dbd5e9;
  color:#3d2375;
  font-weight: 400;
  font-size: 16px;
}

.status-failed {
  border: 3px solid #d4351c;
  color: #d4351c;
  font-weight: bold;
  font-size: 16px;
}