<mat-card id="view-customer" *ngIf="allFeaturesKw && allFeaturesSu && KwSuFeaturesSubFeatures">

    <mat-card-header class="flex-end">
        <span>
            <mat-icon>groups_2</mat-icon>
        </span>
        <span class="margin10">
            <mat-card-title>
                View customer
            </mat-card-title>
        </span>
        <span class="spacer"></span>
        <span style="display:flex ;">
            <button id="edit_view_button" mat-stroked-button color="primary"
                [routerLink]="['../../edit' + '/' + customer?.clientDetails?.id]">
                Edit
            </button>
            <button id="exit_user_button" mat-stroked-button class="right" color="primary"
                [routerLink]="['/customers']">Exit</button></span>
    </mat-card-header>
    <mat-card-content>
        <div class="infoSection">
            <div class="card-row">
                <div class="card-column">
                    <p class="info">
                        <span class="details_label">Client name</span>
                        <span id="titleId">{{customer?.clientDetails?.clientName}}</span>
                    </p>
                    <p class="info">
                        <span class="details_label">Primary app colour</span>
                        <span id="middleNameId">{{customer?.kwAppDetails?.primaryColour}}</span>
                    </p>
                    <p class="info">
                        <span class="details_label">Customer URL</span>
                        <span id="middleNameId">{{customer?.kwAppDetails.appUrl}}</span>
                    </p>
                    <p class="info">
                        <span class="details_label">Manage user licences</span>
                        <span id="middleNameId">{{customer?.kwAppDetails?.licences || 'NA'}}</span>
                    </p>
                    <p class="info">
                        <span class="details_label">Is moodle required</span>
                        <span id="surNameId" *ngIf="customer?.clientDetails?.isMoodleUser">Yes</span>
                        <span id="surNameId" *ngIf="!customer?.clientDetails?.isMoodleUser">No</span>
                    </p>
                </div>
                <div class="card-column">
                    <p class="info">
                        <span class="details_label">Identifier</span>
                        <span id="firstNameId">{{customer?.clientDetails?.identifier}}</span>
                    </p>
                    <p class="info">
                        <span class="details_label">Secondary app colour</span>
                        <span id="surNameId">{{customer?.kwAppDetails?.secondaryColour}}</span>
                    </p>
                    <p class="info">
                        <span class="details_label">Can service user self register?</span>
                        <span id="surNameId" *ngIf="customer?.isSelfRegisterAllowed">Yes</span>
                        <span id="surNameId" *ngIf="!customer?.isSelfRegisterAllowed">No</span>
                    </p>
                    <p class="info">
                        <span class="details_label">Domain</span>
                        <app-list-label *ngIf="customer" id="domainId" [list]="refDomain" [value]="customer?.clientDetails.domainId">
                        </app-list-label>
                    </p>
                    <p class="info">
                        <span class="details_label">Customer logo</span>
                        <img class="logoImg" src="{{customer?.kwAppDetails?.logoPath}}" alt="">
                    </p>

                </div>
            </div>
            <div *ngIf="customer?.kwAppDetails?.features.length>0" class="label-hr">
                <span>Keyworker features</span>
            </div>
            <div *ngIf="customer?.kwAppDetails?.features.length>0" class="card-row mb20">
                <mat-chip-list #chipList>
                    <mat-chip *ngFor="let feature of customer?.kwAppDetails?.features; let i=index" class="input_chip"
                        (click)="selectKwSubFeatures(feature,i)"
                        [selected]="selectedKwMainFeatureId==feature.featureId?true:false">
                        <span matLine>
                            {{ getFeatureNameByIdKw(feature.featureId) }}
                        </span>
                    </mat-chip>
                </mat-chip-list>
                <div *ngIf="kwSubFeaturesList.length>0">
                    <div class="label-hr">
                        <span>Keyworker sub features</span>
                    </div>
                    <div class="keyword-container">
                        <mat-chip-list #chipList1>
                            <mat-chip *ngFor="let subFeature of kwSubFeaturesList" class="input_chip">
                                <span matLine>
                                    {{ getSubFeatureNameByIdKw(subFeature)}}
                                </span>
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <div *ngIf="customer?.clientDetails?.noOfCourseGenerated !=null && customer?.clientDetails?.noOfCourseApproved !=null" class="label-hr"> <span> Genaie licences</span> </div>
        <div *ngIf="customer?.clientDetails?.noOfCourseGenerated !=null && customer?.clientDetails?.noOfCourseApproved !=null" class="infoSection">
            <div class="card-row">
                <div class="card-column">
                    <p class="info">
                        <span class="details_label">Number of Courses to Generate</span>
                        <span id="middleNameId">{{customer?.clientDetails?.noOfCourseGenerated}}</span>
                    </p>
                </div>
                <div class="card-column">
                    <p class="info">
                        <span class="details_label">Number of Courses to Publish</span>
                        <span id="middleNameId">{{customer?.clientDetails?.noOfCourseApproved}}</span>
                    </p>
                </div>
            </div>
        </div>
        <div *ngIf="customer?.suAppDetails" class="label-hr"> <span> Service user application details </span> </div>
        <div *ngIf="customer?.suAppDetails" class="infoSection">
            <div class="card-row">
                <div class="card-column">

                    <p class="info">
                        <span class="details_label">SU app primary colour</span>
                        <span id="middleNameId">{{customer?.suAppDetails?.primaryColour}}</span>
                    </p>
                    <p class="info">
                        <span class="details_label">SU app URL</span>
                        <span id="middleNameId">{{customer?.suAppDetails?.appUrl}}</span>
                    </p>
                    <p class="info">
                        <span class="details_label">Service user licences</span>
                        <span id="middleNameId">{{customer?.suAppDetails?.licences || 'NA'}}</span>
                    </p>
                </div>
                <div class="card-column">
                    <p class="info">
                        <span class="details_label">SU app Secondary colour</span>
                        <span id="surNameId">{{customer?.suAppDetails?.secondaryColour}}</span>
                    </p>
                    <p class="info">
                        <span class="details_label">SU app logo</span>
                        <img class="logoImg" src="{{customer?.suAppDetails?.logoPath}}" alt="">
                    </p>
                </div>
            </div>

            <div *ngIf="customer?.suAppDetails?.features.length>0" class="label-hr">
                <span>Service user features</span>
            </div>
            <div *ngIf="customer?.suAppDetails?.features.length>0" class="card-row mb20">
                <mat-chip-list #chipList>
                    <mat-chip *ngFor="let feature of customer?.suAppDetails?.features; let i=index" class="input_chip"
                        (click)="selectSuSubFeatures(feature,i)"
                        [selected]="selectedSuMainFeatureId==feature.featureId?true:false">
                        <span matLine>
                            {{ getFeatureNameByIdSu(feature.featureId) }}
                        </span>
                    </mat-chip>
                </mat-chip-list>
                <div *ngIf="suSubFeaturesList?.length>0">
                    <div class="label-hr">
                        <span>Service user sub features</span>
                    </div>
                    <div class="keyword-container">
                        <mat-chip-list #chipList1>
                            <mat-chip *ngFor="let subFeature of suSubFeaturesList" class="input_chip">
                                <span matLine>
                                    {{ getSubFeatureNameByIdSu(subFeature)}}
                                </span>
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                    <br>
                </div>
            </div>

        </div>
    </mat-card-content>
</mat-card>