<div class="header">
  <div class="tabWrapper">
    <ul>
      <li class="tabHead active" routerLink="/captr-learner/performance-review" queryParamsHandling="merge">
        <a class="tab-item" id="profile-tab" attr.aria-label="tab Profile">My Performance Review</a>
      </li>
    </ul>
  </div>
</div>
<mat-card id='assessment'>
    <mat-card-header>
      <!-- <span>Performance Review </span> -->
      <span class="spacer"></span>
      <span>
        <button id="edit_view_button" mat-stroked-button color="primary" (click)="onExitClicked(this)">Exit</button>
      </span>
    </mat-card-header>
   
    <mat-card-content class="assessments_container">
        <!-- <div id='assessment_container'>
            <mat-card [ngClass]='"fade"' id="surveyElement"></mat-card>
        </div> -->
        <div class="survey-container contentcontainer codecontainer">
          <survey [model]="surveyModel"></survey>
        </div>
    </mat-card-content>

    <mat-card-footer>
      <span class="spacer"></span>
      <span>
        <button type="submit" id="save_user_button"  mat-flat-button color="primary" (click)="saveSurveyResponse(this)">Save as draft</button>
        <button *ngIf="surveyModel?.isLastPage" type="submit" id="save_user_button"  mat-flat-button color="primary" (click)="completeSurveyResponse(this)">Save and Submit
        </button>
        <div class="text_msg">
          <span *ngIf="surveyModel?.isLastPage">(Click here only  <br>when the form is completed)</span>
        </div>
      </span>
    </mat-card-footer>
         
</mat-card>
