<div class="header">
    <div class="tabWrapper">
      <ul>
          <li class="tabHead" routerLink="/mentivity-learner/profile" queryParamsHandling="merge" >
            <a class="tab-item" id="profile-tab" attr.aria-label="tab Profile">Profile</a>
          </li>
          <li *ngIf="isAuthorize(100)" class="tabHead" routerLink="/mentivity-learner/profile/view-further-info" queryParamsHandling="merge">
            <a class="tab-item" id="view-further-information-tab" attr.aria-label="tab Further Information">Further
                Information</a>
        </li>
        <li *ngIf="isAuthorize(30)"  class="tabHead active" (click)="navigateRoute()" queryParamsHandling="merge">
          <a class="tab-item" id="action-plan-tab" attr.aria-label="tab action Plan">Action plan</a>
        </li>
      </ul>
    </div>
  
  <mat-card id='view_user-plan-induction'>
    <mat-card-header>
      <div class="page-title-icon">
        <mat-icon class="iconAlignment">star_border</mat-icon>
        <span class="headingAP">Action Plans</span>
        <div class="govuk-warning-text" *ngIf="!noInductionMessage">
          <span class="govuk-warning-icon">!</span>
          <strong class="govuk-warning-text">
            <span class="govuk-warning-text-warning">When selecting yes to a priority area, you must have at least 1 goal
              and 1 action</span>
          </strong>
        </div>
        <span></span>
        <span class="action-buttons" *ngIf="noInductionMessage">
          <button *ngIf="Authorized(30,1)" class="gds-button button-secondary" id="create-action-plan_button" (click)="questionDisplay()">Create
            action plan</button>
            <button class="gds-button button-secondary"  id="create-action-plan_button" (click)="showAnswer()" *ngIf="answerData" >Show {{firstName | titlecase}} answers</button>
        </span>
      </div>
  
    </mat-card-header>
  
    <mat-card-content>
      <div id="action-plan-questionnaire" *ngIf="loadDom" class="care-plan-questions-list mb30">
        <vc-notification></vc-notification>
        <vc-all-errors [groups]="[ActionPlanForm]" [fromContext]="true"></vc-all-errors>
        <form [formGroup]="ActionPlanForm" (submit)="saveActionPlan()" autocomplete="off" class="relative">
          <div class="date-agreed-container" *ngIf="noInductionMessage">
            <span class="date-label" *ngIf="noInductionMessage">{{noInductionMessage}}</span>
          </div>
          <!-- <app-check-answer></app-check-answer> -->
          <div class="role-aspire" *ngIf="!noInductionMessage">
            <div class="question-container">
              <div *ngFor="let question of currentPageData">
                <div *ngIf="question.componentType == 'rating'">
                  <vc-form-control [ngClass]=" question.answersLabels[0] =='1' ? 'number-radio' : ''" [control]="ActionPlanForm.get(question.qId)" [controlName]="question.qId"
                    [fromContext]="true" [label]="question?.question" id="id-{{question.id}}">
                    <div class="ten-radio-container" *ngIf="question">
                      <ng-container *ngFor="let answerLabel of question.answersLabels; let i = index">
                        <div class="radio-wrapper mr20 radiobg">
                          <input type="radio" [value]="question.answersValues[i]" id="id-{{question.id}}-{{i}}"
                            name="{{question.id}}" formControlName="{{question.id}}"
                            [formControl]="ActionPlanForm.get(question.qId)">
                          <label class="radio-label" for="id-{{question.id}}-{{i}}">{{question?.answersLabels[i]}}</label>
                          <ng-container *ngIf="ActionPlanForm.get(question.qId).value === question?.answersValues[i]">
                            <span class="extra-radio-label" for="id-skillRate">{{question?.answersLabels[i]}}</span>
                          </ng-container>
                        </div>
                      </ng-container>
                    </div>
                  </vc-form-control>
                </div>
  
                <div *ngIf="question.componentType == 'priority'">
                  <vc-form-control [control]="ActionPlanForm.get(question.qId)" [controlName]="question.qId"
                    [label]="question?.question" [fromContext]="true" id="id-{{question.id}}">
                    <div class="radioContainer">
                      <div class="gds-radio-wrapper mr20"
                        *ngFor="let answerLabel of question?.answersLabels; let i=index">
                        <input type="radio" [formControl]="ActionPlanForm.get(question.qId)"
                          [value]="question?.answersValues[i]" id="id-{{question.id}}-{{i}}" name="{{question.id}}"
                          formControlName="{{question.id}}"
                          (change)="radioChangeHandler(question.id, question?.answersValues[i],$event)">
                        <label class="radio-label" for="id-{{question.id}}-{{i}}">{{question.answersLabels[i]}}</label>
                      </div>
                    </div>
                  </vc-form-control>
                  <ng-container *ngIf="ActionPlanForm.get(question.qId)?.value === '1'">
                    <app-priority-area (formDirtyEvent)="childFormData($event)" [addQuestionName]="question?.groupDescription"
                      [questionId]="question.id">
                    </app-priority-area>
                  </ng-container>
                </div>
              </div>
            </div>
  
            <div class="update-button">
              <button *ngIf="Authorized(30,1)" class="gds-button button-primary" type="submit"
                id="update-action-plan_button">{{actionPlanCreatedFlag === true ? 'Update' : 'Create'}}</button>
            </div>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
  <vc-confirm-box></vc-confirm-box>