h3 {
    margin: 0 0 10px;
}

pre {
    background-color: #f5f5f5;
    padding: 15px;
}

.cust-btn-primary {
    background-color: var(--primary-color);
    color: #fff !important;
}

.cust-btn-basic.active {
    background-color: var(--primary-color);
    color: #fff !important;
}

.col-md-4 {
    text-align: center;
    max-width: 30% !important;
}

.add-event {
    margin-top: 20px;
    h3{
        display: block;
        overflow: auto;
        margin-bottom: 15px;
    }
    button {
        float: right!important;
    }
}

.cust-table {
    width: 100%;

    td {
        border-bottom: 1px solid #ddd;
        padding: 10px;
    }

    th {
        text-align: left;
    }
}
.mr10 {
    margin-right: 10px;
}