<div class="header">
    <div class="tabWrapper">
      <ul>
        <li class="tabHead" routerLink="/clink-learners/profile" queryParamsHandling="merge" >
          <a class="tab-item" id="profile-tab" attr.aria-label="tab Profile">Profile</a>
        </li>
        <li *ngIf="isAuthorize(117)" class="tabHead active" routerLink="/clink-learners/profile/view-further-info" queryParamsHandling="merge">
          <a class="tab-item" id="view-further-information-tab" attr.aria-label="tab Further Information">Further
              Information</a>
      </li>
      <li *ngIf="isAuthorize(30)" class="tabHead" routerLink="/clink-learners/profile/action-plan" queryParamsHandling="merge">
        <a class="tab-item" id="action-plan-tab" attr.aria-label="tab Plan induction">Action plan</a>
      </li>
      </ul>
    </div>
    </div>
    
    <mat-card id="view-captr-learner" *ngIf="refData">
    
      <mat-card-header>
    
        <div class="learnerName">
          {{ user?.primaryLearnerDetails.firstName }} {{user?.primaryLearnerDetails.lastName}}
        </div>
    
        <div>
          <button *ngIf="Authorized(117,3)" id="edit_view_button" mat-stroked-button color="primary" [routerLink]="['/clink-learners/further-information']"
            [queryParams]="{ id: user?.primaryLearnerDetails.id }">
            Edit
          </button>
          <button id="exit_view_button" mat-stroked-button color="primary" [routerLink]="['/clink-learners/participant-professional-view']" queryParamsHandling="merge">
            Exit
          </button>
        </div>
      </mat-card-header>
    
      <mat-card-content>
    
        <div *ngIf="isLoaded">
     
          <dl>
            <div class="label-hr">
              <span>Prison information</span>
            </div>
    
            <div class="card-row">
              <div class="card-column">

                <dt class="details-label">Current prison location</dt>
                <dd>
                  <div *ngIf="furtherInfo?.prisonInformation === null || furtherInfo?.prisonInformation.prisonLocation === null">N/A
                  </div>
                  <div *ngIf="furtherInfo?.prisonInformation !== null && furtherInfo?.prisonInformation.prisonLocation !== null">
                    <app-list-label id="prisonLocation" [list]="allData.refDataMap.Site_Qualification_Completed" 
                    [value]="furtherInfo?.prisonInformation.prisonLocation" [type]="'readDescription'">
                    </app-list-label>
                  </div>       
                </dd>

                <dt class="details-label">Release from prison in the last two years?</dt>
                <dd>
                  <div *ngIf="furtherInfo?.prisonInformation.isReleasedFromPrisonInLastTwoYears ==878">Yes</div>
                  <div *ngIf="furtherInfo?.prisonInformation.isReleasedFromPrisonInLastTwoYears ==879">No</div>
                  <div *ngIf="furtherInfo?.prisonInformation.isReleasedFromPrisonInLastTwoYears ==880">In custody</div>
                  <div *ngIf="furtherInfo?.prisonInformation.isReleasedFromPrisonInLastTwoYears == null">N/A</div>
               </dd>

                  <dt class="details-label">Has the graduate been recalled?</dt>
                  <dd>
                      <div *ngIf="furtherInfo?.prisonInformation.hasGraduateBeenRecalled ==1">Yes</div>
                      <div *ngIf="furtherInfo?.prisonInformation.hasGraduateBeenRecalled ==2">No</div>
                      <div *ngIf="furtherInfo?.prisonInformation.hasGraduateBeenRecalled ==null">N/A</div>
                  </dd>

                  <dt class="details-label">Location of prison recall</dt>
                  <!-- <div *ngIf="dateOfReleasePassed()"> -->
                  <dd>
                    <div *ngIf="furtherInfo?.prisonInformation !== null && furtherInfo?.prisonInformation.locationOfPrisonRecall !== null">
                      <app-list-label id="locationOfPrisonRecall" [list]="allData.refDataMap.Site_Qualification_Completed" [value]="furtherInfo?.prisonInformation.locationOfPrisonRecall"
                      [type]="'readDescription'">
                      </app-list-label>
                    </div>
                    <div  *ngIf="furtherInfo?.prisonInformation.locationOfPrisonRecall == null">N/A</div>
                  </dd>
                </div>

            <div class="card-column">
                <dt class="details-label">Date of release</dt>
                <dd>
                  <div *ngIf="furtherInfo?.prisonInformation?.dateOfRelease !== null">{{ furtherInfo?.prisonInformation?.dateOfRelease | date:'dd MMM yyyy'}}</div>
                  <div *ngIf="furtherInfo?.prisonInformation?.dateOfRelease == null">N/A</div>
                </dd>

                <dt class="details-label">Are licence/ bail conditions to the documents?</dt>
                  <dd>
                      <div *ngIf="furtherInfo?.prisonInformation.licenceBailCondition ==1">Yes</div>
                      <div *ngIf="furtherInfo?.prisonInformation.licenceBailCondition ==2">No</div>
                      <div *ngIf="furtherInfo?.prisonInformation.licenceBailCondition ==null">N/A</div>
                  </dd>

                <dt class="details-label">Recalled date</dt>
                <dd>
                  <div *ngIf="furtherInfo?.prisonInformation.recalledDate !== null">{{ furtherInfo?.prisonInformation.recalledDate | date:'dd MMM yyyy' }}</div>
                  <div *ngIf="furtherInfo?.prisonInformation.recalledDate === null">N/A</div>    
                </dd>

                <dt class="details-label">Recall reason?</dt>
                  <dd>
                  <div *ngIf="furtherInfo?.prisonInformation.recallReason !== null && furtherInfo?.prisonInformation.recallReason !== 877">
                    <app-list-label id="recallReason" [list]="allData.refDataMap?.Recall_Reason" [value]="furtherInfo?.prisonInformation.recallReason"
                    [type]="'readDescription'">
                    </app-list-label>
                  </div>
                  <div *ngIf="furtherInfo?.prisonInformation.recallReason == 877">{{furtherInfo?.prisonInformation.otherRecallReason}}
                  </div>
                  <div *ngIf="furtherInfo?.prisonInformation.recallReason == null">N/A</div>
                  </dd>

              </div>
            </div>

            <div class="label-hr">
              <span>Probation information</span>
            </div>

            <div class="card-row">
              <div class="card-column">
                <dt  class="details-label">Probation officer's first and last name</dt>
                <dd>
                  <div *ngIf = "furtherInfo?.probationInformation?.probationOfficerName != null">{{furtherInfo?.probationInformation.probationOfficerName}}</div>
                  <div *ngIf = "furtherInfo?.probationInformation?.probationOfficerName == null">N/A</div>
                </dd>
                </div>
                <div class="card-column">
                  <dt  class="details-label">Probation office</dt>
                  <dd>
                    <div *ngIf = "furtherInfo?.probationInformation?.probationOffice != null">{{furtherInfo?.probationInformation.probationOffice}}</div>
                    <div *ngIf = "furtherInfo?.probationInformation?.probationOffice == null">N/A</div>
                  </dd>
                </div>
              

            </div>
    
            <div class="card-row">
              <div class="card-column">
                <dt  class="details-label">Contact number</dt>
                <dd>
                  <div *ngIf = "furtherInfo?.probationInformation?.contactNumber != null">{{furtherInfo?.probationInformation.contactNumber}}</div>
                  <div *ngIf = "furtherInfo?.probationInformation?.contactNumber == null">N/A</div>
                </dd>
              </div>
              <div class="card-column">
                <dt  class="details-label">Contact email address</dt>
                <dd>
                  <div *ngIf = "furtherInfo?.probationInformation?.contactEmail != null">{{furtherInfo?.probationInformation.contactEmail}}</div>
                  <div *ngIf = "furtherInfo?.probationInformation?.contactEmail == null ">N/A</div>
                </dd>
              </div>

            </div>

            <div class="label-hr">
              <span>External support</span>
            </div>
    
            <div class="card-row">
              <div class="card-column-custom">
                <dt class="details-label">Support areas</dt>
                <dd>
                  <div *ngIf="furtherInfo?.externalSupports?.externalSupportList!=null">
                    <div *ngFor="let id of supportIdList">{{id}}</div>
                  </div>
                  <div *ngIf="furtherInfo?.externalSupports?.externalSupportList==null">N/A
                  </div>
                </dd>
              </div>
              <div class="card-column-custom">
                <dt class="details-label">Who is providing support?</dt>
                <dd>
                  <div *ngIf="furtherInfo?.externalSupports?.externalSupportList!=null">
                    <div *ngFor="let id of furtherInfo?.externalSupports?.externalSupportList">{{id.providingSupport}}
                    </div>
                  </div>
                  <div *ngIf="furtherInfo?.externalSupports?.externalSupportList==null">N/A
                  </div>
                </dd>
              </div>
              <div class="card-column-custom">
                <dt class="details-label">Support details</dt>
                <dd>
                  <div *ngIf="furtherInfo?.externalSupports?.externalSupportList!=null">
                    <div *ngFor="let id of furtherInfo?.externalSupports?.externalSupportList">{{id.supportDetails}}
                    </div>
                  </div>
                  <div *ngIf="furtherInfo?.externalSupports?.externalSupportList==null">N/A
                  </div>
                </dd>
              </div>
            </div>
    
            <div class="label-hr">
              <span>ID and Documents</span>
            </div>
    
            <div class="card-row">
              <div class="card-column-custom">
                <dt class="details-label">ID and Documents</dt>
                <dd>
                  <div *ngIf="furtherInfo?.idAndDocuments?.idAndDocumentList!=null">
                    <div *ngFor="let id of documentIdList">{{id}}</div>
                  </div>
                   <div *ngIf="furtherInfo?.idAndDocuments?.idAndDocumentList==null">N/A
                  </div>
                </dd>
              </div>
              <div class="card-column-custom">
                <dt class="details-label">Is this current?</dt>
                <dd>
                  <div *ngIf="furtherInfo?.idAndDocuments?.idAndDocumentList!=null">
                    <div *ngFor="let id of furtherInfo?.idAndDocuments?.idAndDocumentList">{{id.documentDescription}}</div>
                  </div>
                  <div *ngIf="furtherInfo?.idAndDocuments?.idAndDocumentList==null">N/A</div>
                </dd>
              </div>
              <div class="card-column-custom">
                <dt class="details-label">Where is it held?</dt>
                <dd>
                  <div *ngIf="furtherInfo?.idAndDocuments?.idAndDocumentList!=null">
                    <div *ngFor="let id of furtherInfo?.idAndDocuments?.idAndDocumentList">{{id.documentLocation}}
                     </div>
                  </div>
                  <div *ngIf="furtherInfo?.idAndDocuments?.idAndDocumentList==null">N/A                    
                  </div>
                </dd>
              </div>
            </div>
    
            <div class="label-hr">
              <span>Self employment</span>
            </div>
    
            <div class="card-row">
              <div class="card-column">
                <dt class="details-label">UTR Number</dt>
                <dd>
                  <div *ngIf="furtherInfo?.selfEmployment?.utrNumber!=null">{{furtherInfo?.selfEmployment?.utrNumber}}
                  </div>
                  <div *ngIf="furtherInfo?.selfEmployment?.utrNumber==null || furtherInfo?.selfEmployment?.utrNumber==''">N/A
                  </div>
                </dd>
              </div>
              <div class="card-column">
                <dt class="details-label">Has the business plan been added to the graduates' documents?</dt>
                <dd>
                  <div *ngIf="furtherInfo?.selfEmployment?.hasBusinessPlan===1">Yes
                  </div>
                  <div *ngIf="furtherInfo?.selfEmployment?.hasBusinessPlan===2">No
                  </div>
                  <div *ngIf="furtherInfo?.selfEmployment?.hasBusinessPlan===null">N/A
                  </div>
                </dd>
              </div>
              </div>
          </dl>
    
        </div>
      </mat-card-content>
    
    </mat-card>