<div class="row">
    <div class="col-md-12">
        <div class="card mb-2 font-20">
            <div class="card-header" data-toggle="collapse" data-target="#demo"><strong>Email Management
                    <i class="fa fa-angle-double-down float-right mt-1" aria-hidden="true"></i>
                </strong></div>
        </div>
    </div>
</div>
<!---DASHBOARD HEADER-->
<div id="demo" class="collapse show">
    <div class="row">
        <div class="col-sm-6 col-md-4 width-lg-20 mt-3">
            <a (click)="redirectToAllContacts('allcount')" class="cursor">
                <div class="bg-primary text-center text-light p-3 font-20 box-shadow">
                    <strong>{{allcount}}</strong> <br>
                    <strong>All Contacts </strong><br> <span>
                       &nbsp;
                    </span>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 width-lg-20 mt-3">
            <a (click)="redirectToAllContacts('opencount')" class="cursor">
                <div class="bg-success text-center text-light p-3 font-20 box-shadow">
                    <strong>{{opencount}}</strong> <br>
                    <strong *ngIf="allcount!=0">Open <br>  <span>
                            {{opencount/allcount*100 | number: '1.2-2'}}%</span></strong>
                    <strong *ngIf="allcount==0">Open <br> <span> 0.00%</span></strong>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 width-lg-20 mt-3">
            <a (click)="redirectToAllContacts('clickCount')" class="cursor">
                <div class="bg-warning text-center text-light p-3 font-20 box-shadow">
                    <strong>{{clickCount}}</strong> <br>
                    <strong *ngIf="allcount!=0">Click
                        <br><span>{{clickCount/allcount*100 | number: '1.2-2'}}%</span></strong>
                    <strong *ngIf="allcount==0">Click <br> <span> 0.00%</span></strong>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 width-lg-20 mt-3">
            <a (click)="redirectToAllContacts('blackcount')" class="cursor">
                <div class="bg-dark text-center text-light p-3 font-20 box-shadow">
                    <strong>{{blackcount}}</strong> <br>
                    <strong *ngIf="allcount!=0">Blacklist <br>
                        <span>{{blackcount/allcount*100 | number: '1.2-2'}}%</span></strong>
                    <strong *ngIf="allcount==0">Blacklist <br> <span> 0.00%</span></strong>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 width-lg-20 mt-3">
            <a (click)="redirectToAllContacts('hardbounce')" class="cursor">
                <div class="bg-danger text-center text-light p-3 font-20 box-shadow">
                    <strong>{{hardbounce}}</strong> <br>
                    <strong *ngIf="allcount!=0">Hard Bounce <br>
                        <span>{{hardbounce/allcount*100 | number: '1.2-2'}}%</span></strong>
                    <strong *ngIf="allcount==0">Hard Bounce <br> <span> 0.00%</span></strong>
                </div>
            </a>
        </div>
    </div>
    <br>
    <hr>
</div>

<!---DASHBOARD HEADER END-->

<h1 class="font-20 mt-3"><strong>Campaign Details</strong> </h1>

<div class="row">
    <div class="col-md-10">
        <!--FILTERS-->
        <form #dashboardFilter="ngForm" (ngSubmit)="dashboardFilter.form.valid" novalidate autocomplete="off"
            class="w-100">
            <div class="row">
                <!---SELECT PROCESS-->
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="dropdown  mt-4">
                        <span><strong>Select Process</strong></span>
                        <select id="processName" name="processName" class="btn btn-light custom-select border mt-2"
                            [(ngModel)]="dashboarddata.processName" #processName="ngModel" (change)="GetCampName()"
                            required>
                            <option hidden value="" disabled selected>Select Process</option>
                            <option *ngFor="let selectProcess of processData" [value]="selectProcess.processId">
                                {{selectProcess.processName}}</option>
                        </select>
                        <div *ngIf="dashboardFilter.submitted && processName.invalid || processName.touched">
                            <div *ngIf="processName.touched || dashboardFilter.submitted">
                                <p *ngIf="processName.errors?.required " class="help-box">Please select process!</p>
                            </div>
                        </div>
                    </div> 
                </div>
                <!---SELECT PROCESS-->
                <div class="col-md-6 col-lg-4 col-xl-4 mt-4">
                    <span><strong>Select Campaign</strong> </span>
                    <div class="dropdown d-flex">

                        <select (change)="setDataUser(dashboardFilter)" id="campaignName" name="campaignName"
                            class="btn btn-light custom-select border mt-2" [(ngModel)]="dashboarddata.campaignName"
                            #campaignName="ngModel" required>
                            <option *ngIf="dashboadCampList==null || dashboadCampList.length==0" value="undefined"
                                hidden>No Campaign </option>
                            <option *ngIf="dashboadCampList!=null && dashboadCampList.length!=0" value="undefined"
                                hidden>Select Campaign Name</option>
                            <option *ngFor="let selectCampaign of dashboadCampList | orderBy: order : reverse"
                                [value]="selectCampaign.campaignId" [class.active]="order === 'campaignId'">
                                {{selectCampaign.campaignName}}</option>
                        </select>

                        <!-- <div class="pr-1">
                            <button (click)="setDataUser(dashboardFilter)" type="submit"
                                class="btn btn-info  ml-2 mt-2"><strong>Apply </strong></button>
                        </div> -->
                    </div>
                    <div *ngIf="dashboardFilter.submitted && campaignName.invalid || campaignName.touched">
                        <div *ngIf="campaignName.touched || dashboardFilter.submitted">
                            <p *ngIf="campaignName.errors?.required " class="help-box">Please select campaign!</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2">
        <!---DOWNLOAD REPORT-->
        <div class="font-20 mt-3 pt-2 mt-4 text-primary">
            <a (click)="redirectToViewCampaign()" *ngIf="viewReportbtn">
                <button type="submit" style="float: right;" class="btn btn-info  ml-2 mt-2 size"> <strong>View
                        Report</strong>
                </button>
            </a>
        </div>
    </div>
</div>
<!---CAMPAIGN DETAILS-->
<div class="row mt-4">
    <div class="col-md-12 bg-light">
        <div class="card mb-2 font-20">
            <div class="card-header"><strong>Latest Campaign
                </strong></div>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-md-4 mt-4">
        <div class="bg-light p-4 border">
            <div class="font-20  mt-1 mb-3">
                <strong> Total Mail Sent - <span
                        class="badge badge-primary font-20">{{dashboardCountdata.mailsentCount}}</span></strong>
            </div>
            <div class="row mt-3">
                <div class="col-sm-6 col-md-4 w-50 pr-0">
                    <strong>Sent From</strong>
                </div>
                <div class="col-sm-6 col-md-8 w-50">
                    {{dashboardCountdata.senderEmailAddress}}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-6 col-md-4 w-50 pr-0">
                    <strong>List Name</strong>
                </div>
                <div class="col-sm-6 col-md-8 w-50">
                    {{dashboardCountdata.Listname}}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-6 col-md-4 w-50 pr-0">
                    <strong>Start Date</strong>
                </div>
                <div class="col-sm-6 col-md-8 w-50">
                    <div class="" *ngIf="dashboardCountdata.campaignStartDate!=null">
                        {{dashboardCountdata.campaignStartDate | date:"dd-MMM-yyyy 'at' h:mm a"}}</div>
                    <div class="" *ngIf="dashboardCountdata.campaignStartDate==null">NA</div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-6 col-md-4 w-50 pr-0">
                    <strong>End Date</strong>
                </div>
                <div class="col-sm-6 col-md-8 w-50">
                    <div class="" *ngIf="dashboardCountdata.campaignEndDate!=null">
                        {{dashboardCountdata.campaignEndDate | date:"dd-MMM-yyyy 'at' h:mm a"}}</div>
                    <div class="" *ngIf="dashboardCountdata.campaignEndDate==null">NA</div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-sm-6 col-md-4 w-50 pr-0">
                    <strong>Time Interval</strong>
                </div>
                <div class="col-sm-6 col-md-8 w-50">
                    <div class="" *ngIf="dashboardCountdata.pushSec!=null">
                        {{dashboardCountdata.pushSec}} Sec</div>
                    <div class="" *ngIf="dashboardCountdata.pushSec==null">NA</div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-8 mt-4">
        <div class="bg-light p-4 text-center border">
            <div class="row font-20">
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="mb-3"><strong>Deliver</strong></div>
                    <div><span class="badge badge-info font-20">{{dashboardCountdata.deliveredcont}}</span></div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="mb-3"><strong>Open</strong></div>
                    <div><span class="badge badge-info font-20">{{dashboardCountdata.openCount}}</span></div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="mb-3"><strong>Click</strong></div>
                    <div><span class="badge badge-info font-20">{{dashboardCountdata.clickCount}}</span></div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="mb-3"><strong>Unsubscribe</strong></div>
                    <div><span class="badge badge-info font-20">{{dashboardCountdata.unsubscribedcount}}</span></div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="mb-3"><strong>Soft Bounce</strong></div>
                    <div><span class="badge badge-info font-20">{{dashboardCountdata.softBouncecount}}</span></div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="mb-3"><strong>Hard Bounce</strong></div>
                    <div><span class="badge badge-info font-20">{{dashboardCountdata.hardBouncecount}}</span></div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="mb-3"><strong>Blacklist</strong></div>
                    <div><span class="badge badge-info font-20">{{dashboardCountdata.blacklistedCount}}</span></div>
                </div>

                <!-- <div class="col-lg-4 col-md-6 mt-5">
                    <div class="mb-3"><strong>Complaint </strong></div>
                    <div><span class="badge badge-info font-20">{{dashboardCountdata.complaintcount}}</span></div>
                </div> -->
            </div>
        </div>
    </div>
</div>

