<mat-card class="mat-elevation-z0">
    <mat-card-header>
        <app-stepper-navigation></app-stepper-navigation>
            <span class="spacer"></span>
            <span>
                <button mat-stroked-button color="primary" [routerLink]="['/application-setup/role-creation']">Exit
                </button>
            </span>
    </mat-card-header>

    <mat-card-content>
        <form [formGroup]="roleForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="card-row">
                <div class="card-column">
                    <mat-form-field appearance="fill">
                        <mat-label>Role name</mat-label>
                        <mat-hint>Minimum 5 Maximum 30 characters</mat-hint>
                        <input matInput formControlName="roleName" required>
                        <mat-error *ngIf="roleForm.controls.roleName.errors?.required">
                            Role name is required.
                        </mat-error>
                        <mat-error
                            *ngIf="roleForm.controls.roleName.errors?.maxlength && !roleForm.controls.roleName.errors?.pattern ">
                            Role name must be less than 30 characters.
                        </mat-error>
                        <mat-error
                            *ngIf="roleForm.controls.roleName.errors?.minlength && !roleForm.controls.roleName.errors?.pattern">
                            Role name must be greater than 5 characters.
                        </mat-error>
                        <mat-error *ngIf="roleForm.controls.roleName.errors?.pattern ">
                            Role name is invalid.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="card-column">
                    <mat-form-field appearance="fill">
                        <mat-label>Role description</mat-label>
                        <mat-hint>Minimum 1 Maximum 100 characters</mat-hint>
                        <input matInput formControlName="rolesDescription" >
                        <mat-error
                            *ngIf="roleForm.controls.rolesDescription.errors?.maxlength && !roleForm.controls.rolesDescription.errors?.pattern ">
                            Role description must be less than 100 characters.
                        </mat-error>
                        <mat-error
                            *ngIf="roleForm.controls.rolesDescription.errors?.minlength && !roleForm.controls.rolesDescription.errors?.pattern">
                            Role description must be greater than 1 characters.
                        </mat-error>
                        <mat-error *ngIf="roleForm.controls.rolesDescription.errors?.pattern ">
                            Role description is invalid.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <mat-card-footer>
                <span class="spacer"></span>
                <span>
                    <button type="submit" id="save_user_button" mat-flat-button color="primary"
                        [disabled]="!roleForm.valid || disableNextButton">Next</button>
                </span>
            </mat-card-footer>
        </form>
    </mat-card-content>
</mat-card>