<!---Billing HEADER-->
<div class="row">
    <div class="col-md-12">
        <div class="card mb-2 font-20">
            <div class="card-header"><strong> Billing Details</strong>
            </div>
        </div>
    </div>
</div>
<form #billingDetail="ngForm" (ngSubmit)="billingDetail.form.valid && saveDetail(billingDetail)"  novalidate
            autocomplete="off" class="">
    <div class="row">
        <div class="col-sm-12 col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <h4>{{selectedProduct.productName}}</h4>
                            <span>With {{selectedProduct.uploadContact | number}} contacts & {{selectedProduct.sendMail | number}} email sends</span>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="width-label" >Email Address <span class="required-field text-danger">*</span></td>
                                    <td class="pb-0 pl-2">
                                    <input class="style w-100"  type="email" placeholder="Enter email address"  id="emailAddress" name="emailAddress" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,5}$" 
                                        [(ngModel)]="billingInfo.emailAddress" #emailAddress="ngModel" 
                                        [disabled]="disableFlag" required>
                                        <div *ngIf="billingDetail.submitted && emailAddress.invalid || emailAddress.touched">
                                                <div *ngIf="emailAddress.touched || billingDetail.submitted">
                                                    <p *ngIf="emailAddress.errors?.required " class="help-box">Please enter email address!</p>
                                                    <p *ngIf="emailAddress.errors?.pattern"  class="help-box" >
                                                    Please enter valid email address!</p>
                                                </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="width-label" >First Name <span class="required-field text-danger">*</span></td>
                                    <td class="text-field">
                                    <input class="style width-text" type="text" placeholder="Enter first name" id="firstname" name="firstname"  pattern="[a-zA-Z][a-zA-Z ]+"
                                    [(ngModel)]="billingInfo.firstName" #firstName="ngModel" required>
                                    <div *ngIf="billingDetail.submitted && firstName.invalid || firstName.touched">
                                                <div *ngIf="firstName.touched || billingDetail.submitted">
                                                    <p *ngIf="firstName.errors?.required " class="help-box">Please enter first name!</p>
                                                    <p *ngIf="firstName.errors?.pattern"  class="help-box" >
                                                    Please enter valid first name!</p>
                                                </div>
                                    </div>
                                    </td>
                                
                                    <td class="max-width">Last Name <span class="required-field text-danger">*</span></td>
                                    <td class="text-field1">
                                    <input class="style  w-100"  type="text" placeholder="Enter last name"  id="lastname" name="lastname" pattern="[a-zA-Z][a-zA-Z ]+"
                                    [(ngModel)]="billingInfo.lastName" #lastName="ngModel" required>
                                    <div *ngIf="billingDetail.submitted && lastName.invalid || lastName.touched">
                                                <div *ngIf="lastName.touched || billingDetail.submitted">
                                                    <p *ngIf="lastName.errors?.required " class="help-box">Please enter name!</p>
                                                    <p *ngIf="lastName.errors?.pattern"  class="help-box" >
                                                    Please enter valid name!</p>
                                                </div>
                                    </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="width-label">Contact Number<span class="required-field text-danger">*</span></td>
                                    <td class="text-field">
                                    <!--<input class="style" type="text" placeholder="Enter contact number" id="mobileNumber" name="mobileNumber" pattern="[1-9]{1}[0-9]{9}"
                                    [(ngModel)]="billingInfo.mobileNumber" #mobileNumber="ngModel"required>
                                    <div *ngIf="billingDetail.submitted && mobileNumber.invalid || mobileNumber.touched">
                                                <div *ngIf="mobileNumber.touched || billingDetail.submitted">
                                                    <p *ngIf="mobileNumber.errors?.required " class="help-box">Please enter contact number!</p>
                                                    <p *ngIf="mobileNumber.errors?.pattern"  class="help-box" >
                                                    Please enter valid contact number!</p>
                                                </div>
                                        </div>-->
                                        <div class="form-group">
                                        <div class="d-flex">
                                            <select class="form-control col-sm-3 p-0" name="mobileCountryCode"
                                                id="mobileCountryCode" [(ngModel)]="billingInfo.mobileCountryCode"
                                                #mobileCountryCode="ngModel" required>
                                                <option value="">Code </option>
                                                <option *ngFor="let p of mobilecodeList" [value]="p.mobileCountryCode">
                                                    {{p.mobileCountryCode}} {{p.countryName}}</option>
                                            </select>
                                            <input type="text" class="form-control mb-2 form-width " placeholder="Enter Mobile"
                                                pattern="[1-9]{1}[0-9]{9}" [(ngModel)]="billingInfo.mobileNumber"
                                                name="mobileNumber" #mobileNumber="ngModel" required>
                                        </div>
                                        <div class ="row" *ngIf="billingDetail.submitted">
                                            <div *ngIf= "billingDetail.submitted && mobileCountryCode.invalid ||mobileCountryCode.touched" class="col-sm-2  ">
                                                    <p *ngIf="mobileCountryCode.errors?.required " class="help-bpx" class="help-bpx"
                                                        style="color: red;text-align:center;"><i class="fa fa-warning" style="font-size:20px;color:red"></i>
                                                        </p> 
                                            </div>
                                            <div *ngIf="billingDetail.submitted && mobileNumber.invalid  || mobileNumber.touched" class="col-sm-10 pr-0">
                                                <div *ngIf="mobileNumber.touched || billingDetail.submitted">
                                                        <p *ngIf="mobileNumber.errors?.required " class="help-bpx" class="help-bpx"
                                                            style="color: red;text-align:center;">Please enter mobile number!</p>
                                                        <p *ngIf="mobileNumber.errors?.pattern" class="help-bpx"
                                                            style="color: red;text-align:center;">Please enter valid  mobile number!</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div *ngIf="billingDetail.submitted && mobileNumber.invalid || mobileNumber.touched">
                                            <div *ngIf="mobileNumber.touched || billingDetail.submitted">
                                                <p *ngIf="mobileNumber.errors?.pattern" class="help-box">Please enter valid
                                                    mobile number!</p>
                                            </div>
                                        </div>-->
                                    </div>
                                    </td>
                                    <td class="">Country <span class="required-field text-danger">*</span></td>
                                    <td class="text-field1">
                                        <!--<input class="style w-100"  type="text" placeholder="Enter Country"  id="country" name="country" pattern="[a-zA-Z][a-zA-Z ]+"
                                        [(ngModel)]="billingInfo.country" #country="ngModel" required>
                                        <div *ngIf="billingDetail.submitted && country.invalid || country.touched">
                                                    <div *ngIf="country.touched || billingDetail.submitted">
                                                        <p *ngIf="country.errors?.required " class="help-box">Please enter country!</p>
                                                        <p *ngIf="country.errors?.pattern"  class="help-box" >
                                                        Please enter valid country!</p>
                                                    </div>
                                        </div>-->
                                        <select class="form-control style w-100" id="countryCode" [(ngModel)]="billingInfo.countryCode"
                                            [disabled]="disableFlag" name="countryCode" #countryCode="ngModel" required placeholder="d.ff">
                                            <option hidden value="" disabled selected>Select country </option>
                                            <option *ngFor="let p of mobilecodeList" [value]="p.countryCode">
                                                {{p.countryName}}</option>
                                        </select>
                                        <div *ngIf="billingDetail.submitted && countryCode.invalid || countryCode.touched">
                                            <div *ngIf="countryCode.touched || billingDetail.submitted">
                                                <p *ngIf="countryCode.errors?.required " class="help-bpx"
                                                    style="color: red;">Please select country!</p>
                                            </div>
                                        </div>
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <td class="width-label">State<span class="required-field text-danger">*</span></td>
                                    <td class="text-field">
                                    <input class="style width-text" type="text" placeholder="Enter state"  id="state" name="state"  pattern="[a-zA-Z][a-zA-Z ]+"
                                    [(ngModel)]="billingInfo.state" #state="ngModel" required>
                                    <div *ngIf="billingDetail.submitted && state.invalid || state.touched">
                                                <div *ngIf="state.touched || billingDetail.submitted">
                                                    <p *ngIf="state.errors?.required " class="help-box">Please enter state!</p>
                                                    <p *ngIf="state.errors?.pattern"  class="help-box" >
                                                    Please enter valid state!</p>
                                                </div>
                                    </div>
                                    </td>
                                    <td class="">City <span class="required-field text-danger">*</span></td>
                                    <td class="text-field1">
                                        <input class="style w-100"  type="text" placeholder="Enter city" id="city" name="city" pattern="[a-zA-Z][a-zA-Z ]+"
                                        [(ngModel)]="billingInfo.city" #city="ngModel" required>
                                        <div *ngIf="billingDetail.submitted && city.invalid || city.touched">
                                            <div *ngIf="city.touched || billingDetail.submitted">
                                                <p *ngIf="city.errors?.required " class="help-box">Please enter city!</p>
                                                <p *ngIf="city.errors?.pattern"  class="help-box" >
                                                    Please enter valid city!</p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="width-label">Zip Code <span class="required-field text-danger">*</span></td>
                                    <td class="text-field">
                                    <input class="style width-text" type="text" placeholder="Enter ZIP code" id="zipCode" name="zipCode"
                                    [(ngModel)]="billingInfo.zipCode" #zipCode="ngModel" required>
                                    <div *ngIf="billingDetail.submitted && zipCode.invalid || zipCode.touched">
                                        <div *ngIf="zipCode.touched || billingDetail.submitted">
                                            <p *ngIf="zipCode.errors?.required " class="help-box">Please enter zip code!</p>
                                        </div>
                                    </div>
                                    </td>
                                    <td class="">Address<span class="required-field text-danger">*</span></td>
                                    <td class="text-field1">
                                        <textarea class="form-control  w-100" rows="4" id="address" ng-maxlength="250"
                                                 placeholder="Enter Address" maxlength="250" [(ngModel)]="billingInfo.address" name="address"
                                                      #address="ngModel" required> </textarea>                                    
                                        <div *ngIf="billingDetail.submitted && address.invalid || address.touched">
                                                <div *ngIf="address.touched || billingDetail.submitted">
                                                    <p *ngIf="address.errors?.required " class="help-box">Please enter address!</p>
                                                    <p *ngIf="address.errors?.pattern"  class="help-box" >
                                                    Please enter valid address!</p>
                                                    <p style="color:red" *ngIf="billingInfo.address?.length > 250">
                                                        Message size should be less than 250 characters.
                                                    </p>
                                                </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table" *ngIf="this.billingInfo.countryCode=='IND'">
                            <tbody>
                                <tr>
                                    <td width="135px">Do you have GSTIN ?<span class="required-field text-danger">*</span>
                                            <span class=" ml-4 mr-1">No</span>                
                                                <label class="switch">
                                                    <input type="checkbox" >
                                                    <span class="slider round" (click)="toggleSwitch()"></span> 
                                                </label>
                                            <span class="pl-3" >Yes</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table" *ngIf="this.billingInfo.countryCode=='IND'">
                            <tbody>
                                <tr *ngIf="show">
                                    <td class="width-label">GSTIN<span class="required-field text-danger">*</span></td>
                                    <td class="pb-0 pl-3 text-width">
                                        <input class="style w-100" type="text"  id="gstinNo" name="gstinNo" pattern="^[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[1-9A-Z]{1}Z[0-9A-Z]{1}$"
                                        [(ngModel)]="billingInfo.gstinNo" #gstinNo="ngModel" required>
                                        <div *ngIf="billingDetail.submitted && gstinNo.invalid || gstinNo.touched">
                                            <div *ngIf="gstinNo.touched || billingDetail.submitted">
                                                <p *ngIf="gstinNo.errors?.required " class="help-box">Please enter GSTIN!</p>
                                                <p *ngIf="gstinNo.errors?.pattern"  class="help-box" >
                                                    Please enter valid GSTIN!</p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="width-label" >Company / Firm's Name</td>
                                
                                    <td class="text-field px-3">
                                        <input class="style w-100 w" type="text"  id="companyName" name="companyName" 
                                        [(ngModel)]="billingInfo.companyName" #companyName="ngModel"  pattern="[ a-zA-Z0-9][a-zA-Z0-9 ]+">
                                        <div *ngIf="billingDetail.submitted && companyName.invalid || companyName.touched">
                                                    <div *ngIf="companyName.touched || billingDetail.submitted">
                                                        <p *ngIf="companyName.errors?.pattern"  class="help-box" >
                                                        Please enter valid Company/firm name!</p>
                                                    </div>
                                            </div>
                                    </td>
                                
                                    <td class="width-label" >Company / Firm Address</td>
                                
                                    <td class="text-field pl-3">
                                    <input class="style w-100" type="text"  id="companyAddress" name="companyAddress" maxlength="250"
                                    [(ngModel)]="billingInfo.companyAddress" #companyAddress="ngModel" >
                                    <div *ngIf="billingDetail.submitted && companyAddress.invalid || companyAddress.touched">
                                                <div *ngIf="companyAddress.touched || billingDetail.submitted">
                                                    <p *ngIf="companyAddress.errors?.pattern"  class="help-box" >
                                                    Please enter valid Company/firm address!</p>
                                                    <p style="color:red" *ngIf="billingInfo.companyAddress?.length > 250">
                                                        Address size should be less than 250 characters.
                                                    </p>
                                                </div>
                                        </div>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
        <div class="col-sm-12 col-lg-4">
            <div class="card ml-4 height-color">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="pl-3">
                                Plan Details
                            </td>
                        </tr>
                        <tr>
                            <td class="pl-3">
                                Plan Amount
                            </td>
                            <td>
                               {{currency}} {{planAmount |currency:'':''}}
                            </td>
                        </tr>
                        <tr *ngIf="tryAgainPay==false">
                            <td class="pl-3">
                                Previous Paid Amount
                            </td>
                            <td>
                              {{currency}}  {{currentPlanPayAmount |currency:'':''}}
                            </td>
                        </tr>
                        <tr *ngIf="this.billingInfo.countryCode=='IND'">
                            <td class="pl-3">
                                GST @ 18%
                            </td>
                            <td>
                               {{currency}} {{tax |currency:'':''}}
                            </td>
                        </tr>
                        <tr>
                            <td class="pl-3">
                                Amount Payable
                            </td>
                            <td>
                               {{currency}} {{payAbleAmount |currency:'':''}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center pb-3">
                    <button type="submit" class="btn btn-info mr-3" [disabled]="proceedFlag">
                            Proceed to Payment</button>
                            
                </div>
                <!--
                    test
                -->
                
            </div>
        </div>
    </div>
</form>

<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Open modal
  </button> -->
  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal body -->
        <div class="modal-body">
            <iframe src="" id="auth" height="200" width="300" title="Iframe Example"></iframe>
        </div>
      </div>
    </div>
  </div>
  