<mat-card id="add-edit-organisation">
    <mat-card-header class="flex-end">
        <!-- <div>
            <span class="v-align-middle">Programme setup </span>
        </div> -->
      <button id="exit_organisation_button" mat-stroked-button color="primary" [routerLink]="['../']">Exit</button>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="programmeSetupForm" validate autocomplete="off">
            <div class="label-hr">
                <span>Programme setup</span>
              </div>
              <div class="card-row">
                <div class="card-column">
                  <mat-form-field appearance="fill">
                    <mat-label>Contract</mat-label>
                    <input matInput formControlName="contract" id="contract" required>
                    <mat-error *ngIf="programmeSetupForm.controls.contract.invalid && !programmeSetupForm.controls.contract.errors?.maxlength && !programmeSetupForm.controls.contract.errors?.minlength && !programmeSetupForm.controls.contract.errors?.maxlength">
                      Contract is required
                    </mat-error>
                    <mat-error *ngIf="programmeSetupForm.controls.contract.errors?.minlength">
                      Minimum 3 characters
                    </mat-error>
                    <mat-error *ngIf="programmeSetupForm.controls.contract.errors?.maxlength">
                      Maximum 50 characters
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="card-column">
                    <mat-form-field appearance="fill">
                      <mat-label>Useful links tab</mat-label>
                      <mat-select matInput formControlName="usefulLinksTab" id="usefulLinksTab" required>
                        <!-- <mat-option *ngFor="let item of refAnswer" [value]="item?.id" id="item">{{item.answerName}}</mat-option> -->
                      </mat-select>
                      <mat-error *ngIf="programmeSetupForm.controls.usefulLinksTab.invalid">
                        Useful links tab is required
                      </mat-error>
                    </mat-form-field>
                  </div>
              </div>
              <div class="card-row">
                <div class="card-column">
                  <mat-form-field appearance="fill">
                    <mat-label>Programme name</mat-label>
                    <input matInput formControlName="programmeName" id="programmeName" required>
                    <mat-error *ngIf="programmeSetupForm.controls.programmeName.invalid && !programmeSetupForm.controls.programmeName.errors?.maxlength && !programmeSetupForm.controls.programmeName.errors?.minlength && !programmeSetupForm.controls.programmeName.errors?.maxlength">
                      Programme name is required
                    </mat-error>
                    <mat-error *ngIf="programmeSetupForm.controls.programmeName.errors?.minlength">
                      Minimum 3 characters
                    </mat-error>
                    <mat-error *ngIf="programmeSetupForm.controls.programmeName.errors?.maxlength">
                      Maximum 50 characters
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="card-column">
                    <mat-form-field appearance="fill">
                      <mat-label>National content</mat-label>
                      <mat-select matInput formControlName="nationalContent" id="nationalContent" required>
                        <mat-option *ngFor="let item of refAnswer" [value]="item?.id" id="item">{{item.answerName}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="programmeSetupForm.controls.nationalContent.invalid">
                        National content is required
                      </mat-error>
                    </mat-form-field>
                  </div>
              </div>
              <div class="card-row">
                <div class="card-column">
                  <mat-form-field appearance="fill">
                    <mat-label>Primary colour</mat-label>
                    <input matInput formControlName="primaryColor" id="primaryColor" required>
                    <mat-error *ngIf="programmeSetupForm.controls.primaryColor.invalid && !programmeSetupForm.controls.primaryColor.errors?.maxlength && !programmeSetupForm.get('primaryColor').errors?.pattern">
                      Primary colour is required
                    </mat-error>
                    <mat-error *ngIf="programmeSetupForm.get('primaryColor').errors?.pattern">
                      Invalid color code
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="card-column">
                    <mat-form-field appearance="fill">
                      <mat-label>National assessments</mat-label>
                      <mat-select matInput formControlName="nationalAssessments" id="nationalAssessments" required>
                        <mat-option *ngFor="let item of refAnswer" [value]="item?.id" id="item">{{item.answerName}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="programmeSetupForm.controls.nationalAssessments.invalid">
                        National assessments is required
                      </mat-error>
                    </mat-form-field>
                  </div>
              </div>
              <div class="card-row">
                <div class="card-column">
                  <mat-form-field appearance="fill">
                    <mat-label>Secondary colour</mat-label>
                    <input matInput formControlName="secondaryColor" id="secondaryColor" required>
                    <mat-error *ngIf="programmeSetupForm.controls.secondaryColor.invalid && !programmeSetupForm.controls.secondaryColor.errors?.maxlength && !programmeSetupForm.get('secondaryColor').errors?.pattern && !programmeSetupForm.get('secondaryColor').hasError('colorsMatch')">
                      Secondary colour is required
                    </mat-error>
                    <mat-error *ngIf="programmeSetupForm.get('secondaryColor').errors?.pattern">
                      Invalid color code
                    </mat-error>
                    <mat-error *ngIf="programmeSetupForm.get('secondaryColor').hasError('colorsMatch')">
                      Primary and secondary colors cannot be the same
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="card-column">
                    <button type="button" id="browse_button" style="margin-top: 12px; width: 22%; padding: 6px"  mat-stroked-button color="primary" (click)="fileInput.click()">
                        Add Logo
                    </button>
                    <input type="file" #fileInput formControlName="addLogo" style="display: none;" (change)="onSelectFile($event)" required>
                    <div class="mt30" *ngIf="url" style="display: flex;">
                        <img  [src]="url" height="100" >
                        <mat-icon (click)="removeLogo()" style="cursor: pointer;">cancel</mat-icon>
                    </div>
                </div>
              </div>
              <div class="mt50">
                <p class="mt30 ml">
                  Add the programmes privacy notice
                </p>
                <!-- <ckeditor [config]="editorConfig" [editor]="Editor" required formControlName="editorControl"></ckeditor> -->
                <mat-error *ngIf="programmeSetupForm.get('editorControl').invalid && programmeSetupForm.get('editorControl').hasError('characterLimitExceeded')" class="error-style">Maximum 1000 characters</mat-error>
                
              </div>
              <div class="card-row">
                <div class="flex-end mt30">
                  <button type="submit" id="save_user_button" mat-flat-button color="primary" [disabled]="!programmeSetupForm.valid">{{routeIntent === 'newProgrammeSetup' ? 'Save' : 'Update'}}</button>
                </div>
              </div>
        </form>
    </mat-card-content>
</mat-card>