<mat-card id='upload_csv'>

    <mat-card-header>
      <span>Upload</span>
    </mat-card-header>
    <form [formGroup]="csvUploadForm" validate autocomplete="off">
      <div class="uploadImg">
        <span class="fileName">
          <input *auth="[47,13]" type="file" id="image_uploads" (change)="selectFile($event)" value="" formControlName="file" #file
            required accept=".csv" aria-label="upload file">
            <span class="clearFileName" *ngIf="csvUploadForm.get('file').value" (click)="reset()">
              <mat-icon>close</mat-icon>
            </span>
          </span>
          <span class="preview"><p></p>
  
          </span>
        <span *ngIf="hideUploadBtn">
        <button  *auth="[47,13]" type="submit" id="save_button" mat-stroked-button color="primary" (click)="uploadDocument()">Upload</button>
        </span>
        <div class="label-hr">
          <span>Upload History</span>
        </div>
      </div>
    </form>
    <mat-card-content>
      <mat-table id="user_table" #table [dataSource]="dataSource" matSort>
  
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef id="filename_button" class="name width-30"> File Name</mat-header-cell>
          <mat-cell class="width-30" *matCellDef="let element"> <span class="mobile-label">File Name: </span>
            {{element.fileName}}
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="createdDate">
          <mat-header-cell class="width-20" *matHeaderCellDef id="prn_button"> Upload Date
          </mat-header-cell>
          <mat-cell class="width-20" *matCellDef="let element"> <span class="mobile-label">Upload Date:
            </span>{{(element.createdDate | date : 'dd MMM yyyy h:mm a').replace('Sep', 'Sept')}}
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="status">
          <mat-header-cell class="width-20" *matHeaderCellDef id="desc_button"> Status </mat-header-cell>
          <mat-cell class="width-20" *matCellDef="let element"> 
            <span class="mobile-label">Status:</span>
            <span  class="status">{{element.uploStatus}}</span>
  
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="errors">
          <mat-header-cell class="width-20" *matHeaderCellDef id="desc_button"> Errors? </mat-header-cell>
          <mat-cell class="width-20" *matCellDef="let element"> <span class="mobile-label">Errors:
            </span>{{element.errors !== null ? 'Yes' : 'No'  }}
          </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="actions">
  
          <mat-header-cell *matHeaderCellDef class="actions-column">Action</mat-header-cell>
          <mat-cell *matCellDef="let element" class="actions-column"> <span class="mobile-label"></span>
            <span *ngIf="element.errors != null">
            <button *auth="[9,2]" id="view_csv_{{element.id}}" mat-icon-button color="primary" queryParamsHandling="merge"
            matTooltip="View" [matTooltipShowDelay]="800" attr.aria-label="View" (click)="openDialog(element.errors)">
              <mat-icon>visibility</mat-icon>
            </button>
          </span>
            <span *ngIf="element.uploStatus !='Completed'">
            <button  *auth="[9,2]" id="refresh_csv_{{element.id}}" mat-icon-button color="primary" queryParamsHandling="merge" 
             attr.aria-label="refresh" (click)="refreshCSV(element)" matTooltip="refresh" [matTooltipShowDelay]="800">
              <mat-icon>refresh</mat-icon>
            </button>
          </span>
  
          </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;"></mat-row>
      </mat-table>
  
      <mat-paginator  id="csv_pagination" [pageSize]="pageSize" (page)='onPaginatorChange()' [showFirstLastButtons]='true' [hidePageSize]="true">
      </mat-paginator>
    </mat-card-content>
  
            
  </mat-card>
