<div class="card">
    <div class="card-header">
        <strong>Configuration</strong>
    </div>
    <div class="card-body">
        <h5 class="text-info"><strong><i class="fa fa-check-square-o" aria-hidden="true"></i> Setup</strong></h5>
        <div class="dropdown  m-2 d-flex">
            <div class="mr-3 mt-3"><strong>Sent From :</strong>{{ConfigShowData.senderEmail}}</div>
            <!-- <select id="sent" name="sent" class="btn btn-light custom-select border mt-2 w-300" data-toggle="dropdown">
                <option value="" [disabled]="selectSent !== 'Select'">Select</option>
                <option *ngFor="let selectSent of sent" [value]="selectSent">{{selectSent}}</option>
            </select>     -->
        </div>

        <hr>
        <div>
            <h5 class="text-info"><strong><i class="fa fa-check-square-o" aria-hidden="true"></i> Receipient</strong></h5>
            <div class="m-2"><strong>Mailing List : </strong> {{ConfigShowData.configList}} </div>
        </div>
        <hr>

        <div>
            <div class="m-2"><strong>Subject : </strong> <span>{{ConfigShowData.configSubject}} </span></div>
        </div>
        <hr>

        <div>
            <h5 class="text-info"><strong><i class="fa fa-check-square-o" aria-hidden="true"></i> Design</strong></h5>
            <div class="m-2"><strong>Template Name : </strong> <span>{{ConfigShowData.templateName}} </span></div>
        </div>
        <hr>

        <div>
            <form #testMailForm="ngForm" (ngSubmit)="testMailForm.form.valid  &&  sendTestMail(testMailForm)"  novalidate  autocomplete="off" class="w-100">
            <h5 class="text-info"><strong><i class="fa fa-check-square-o" aria-hidden="true"></i> Add Test Mails</strong></h5>
            <div class="m-4">
                <textarea class="form-control w-50" rows="4" id="testMail" 
                    placeholder="Enter Email Id" ng-maxlength="255"  name="testMail"  [(ngModel)]="userInfo.testMail"  #testMail="ngModel"
                         required > </textarea>

                         <div *ngIf="testMailForm.submitted && testMail.invalid || testMail.touched">
                            <div *ngIf="testMail.touched || testMailForm.submitted">
                                <p *ngIf="testMail.errors?.required " class="help-box">Please enter email id</p>
                            </div>
                        </div> 
                        <div>
                            <p *ngIf="invalidIdFlg==true" class="help-box">Invalid id: {{invalidId}}</p>
                        </div>
                
                <button type="submit" class="btn btn-info mr-3 mt-3 text-center"><strong>Send Test Mail </strong></button> 
            </div>
            </form>
        <hr>
        <div>
            <button  type="submit" class="btn btn-warning" (click)="redirectToCreateCampign()"><strong> <a  class="cursor  text-light">Back </a> </strong></button>

            <button  type="submit" class="btn btn-info float-right" (click)="sendCampaign()"><strong> <a  class="cursor  text-light">Send </a> </strong></button>

            <button  type="submit" class="btn btn-danger float-right mr-2" (click)="redirectToCampignmanagement()"><strong> <a  class="cursor  text-light">Save As Draft</a> </strong></button>
        </div>
        <br>
    </div>
