.v-align-middle {
    vertical-align: middle;
    margin-right: 8px;
}
.width{
    width: 400px;
    @media (max-width: 450px) {
        width: 100%;
    }
}
.mat-style{
    @media(max-width: 767px) {
        margin: 0px 5px 0px 0px !important;
    }
}
@media all and (min-width: 667px) {
    .mobile-label {
        display: none !important;
    }
} 
.mat-table {
    width: 100%;
    table-layout: fixed;
}
 
.mat-header-cell,
.mat-cell {
    // white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
 
// .mat-column-programmeProvider,
// .mat-column-providerCode,
// .mat-column-numberOfCourses,
// .mat-column-numberOfQualifications,
// .mat-column-timesDelivered {
//     min-width: 50px;
//     max-width: 65px;
// }
.mat-column-numberOfQualifications {
    margin-right: 12px !important;
}

@media screen and (max-width: 760px) {
    .mat-header-cell {
        padding-right: 12px !important;
    }
}