<div class="header">
    <div class="tabWrapper">
        <ul>
            <li class="tabHead active" routerLinkActive="active">
                <a class="tab-item" id="localJobs-tab" attr.aria-label="tab Month">Referral</a>
            </li>
        </ul>
    </div>
</div>

<mat-card id="view-customer">

    <mat-card-header class="flex-end">
        <span class="spacer"></span>
        <span>
            <button [routerLink]="['/person-supported/referral/edit-referral-v2']" type="button"
                [queryParams]="{ id: userId, name: name, referralId: referralData?.id }" queryParamsHandling="merge"
                id="edit_view_button" mat-stroked-button color="primary">
                Edit
            </button>
            <button id="exit_user_button" [routerLink]="['/person-supported/referral']" mat-stroked-button class="right"
                color="primary" [queryParams]="{ id: userId, name: name }" queryParamsHandling="merge">Exit</button>
        </span>
    </mat-card-header>
    <mat-card-content>
        <div class="infoSection">
            <div class="card-row">
                <div class="card-column">
                    <p class="info">
                        <span class="details_label">Activity</span>
                        <span id="interventionId">{{referralData?.activityId |
                            getLabel:activityList:referralData?.activityId:'description'}}</span>
                    </p>

                    <p class="info">
                        <span class="details_label">Worker</span>
                        <span id="workerId">{{referralData?.workerId |
                            getLabel:workerList:referralData?.workerId:'userFullName'}}</span>
                    </p>

                    <p class="info">
                        <span class="details_label">Organisation</span>
                        <span id="workerId">{{referralData?.otherOrganisation? referralData.otherOrganisation : referralData?.organisationId |
                            getLabel:organisationList:referralData?.organisationId:'name'}}</span>
                    </p>
                </div>
                <div class="card-column">
                    <p class="info">
                        <span class="details_label">Date</span>
                        <span id="date">{{referralData?.referralDate | customMonthFormat }}</span>
                    </p>

                    <p class="info">
                        <span class="details_label">Note</span>
                        <span id="date">{{referralData?.notes }}</span>
                    </p>
                    <p class="info">
                        <span class="details_label">Referral outcome</span>
                        <span id="workerId">{{referralData?.refOutcomeId |
                            getLabel:outcomeList:referralData?.refOutcomeId:'name'}}</span>
                    </p>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>