<mat-card *ngIf="allListOfCourse.length>0 && allLearners.length>0" id="edit-user">
    <mat-card-header class="flex-end">
        <div>
            <span class="v-align-middle">{{programmeName}}</span>
        </div>
        <span class="spacer"></span>
        <button id="exit_user_button" mat-stroked-button color="primary"
            [routerLink]="['/programme-management/programme-delivery']">Exit</button>
    </mat-card-header>

    <mat-card-content *ngIf="progressAndCompletionData.courseCompletionDetails[0].startDate>currentDate">
        <h3 class="header-center">Programme delivery has not yet started</h3>
    </mat-card-content> 
    <mat-card-content *ngIf="progressAndCompletionData.courseCompletionDetails[0].startDate<=currentDate">
        <div class="label-hr">
            <span>Progress & Completion</span>
        </div>
        <p>
            You can update learners' course completion statuses during the programme delivery.
            Please check learners' course attendance records before making them as complete.</p>
        <p>
            At the end of the delivery, you can mark the programme as complete.
            Once the overall programme is marked as complete, you will not be able to make further changes to this page.
        </p>
        <p>Courses may only be marked as complete</p>

        <form [formGroup]="completionForm" class="margin40" autocomplete="off">
            <div class="label-hr">
                <span>Courses completion details</span>
            </div>
            <mat-card>
                <mat-table formArrayName="courseCompletionDetails"
                    [dataSource]="progressAndCompletionData.courseCompletionDetails" multiTemplateDataRows>
                    <ng-container matColumnDef="courseName">
                        <mat-header-cell *matHeaderCellDef id="workerName_button"> Course name
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <app-list-label id="courseName" [list]="allListOfCourse" [value]="element.courseId">
                            </app-list-label>

                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="isCourseCompleted">
                        <mat-header-cell *matHeaderCellDef id="isCourseCompleted">Course completed?
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element;let i = dataIndex" [formGroupName]="i"
                            [attr.colspan]="coursesColumns.length">
                            <mat-form-field appearance="fill" class="width-280">
                                <mat-label>Course completed</mat-label>
                                <mat-select placeholder="Select" formControlName="isCourseCompleted"
                                    (selectionChange)="isCourseCompletedChange(i,element)"
                                    [disabled]="isCourseDisabledArray[i]">
                                    <mat-option [value]=true>Yes</mat-option>
                                    <mat-option [value]=false>No</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="expandedDetail">
                        <mat-header-cell *matHeaderCellDef id="expandedDetail" class="name"></mat-header-cell>
                        <mat-cell *matCellDef="let course; let i = dataIndex" [formGroupName]="i"
                            [attr.colspan]="coursesColumns.length">
                            <div class="example-course-detail"
                                [@detailExpand]="courseCompletionDetailsForm.at(i)?.get('isCourseCompleted')?.value ? 'expanded' : 'collapsed'"
                                *ngIf="course.learnerCourseDetails.length>0">
                                <div class="highlight-expendable-table"
                                    *ngIf="courseCompletionDetailsForm.at(i)?.get('isCourseCompleted')?.value">
                                    <mat-card-content>
                                        <mat-table class="learnerTable" formArrayName="learnerCourseDetails"
                                            [dataSource]="course.learnerCourseDetails" multiTemplateDataRows>
                                            <ng-container matColumnDef="learnerName">
                                                <mat-header-cell *matHeaderCellDef id="learnerName_button">
                                                    Learners name
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let element1">
                                                    <app-list-label id="learnerName" [list]="allLearners"
                                                        [value]="element1.learnerId">
                                                    </app-list-label>
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="isCompleted">
                                                <mat-header-cell *matHeaderCellDef id="isCompleted"
                                                    class="width-5 name">Completed?
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let element1;let learnerIndex = dataIndex"
                                                    [formGroupName]="learnerIndex"
                                                    [attr.colspan]="coursesColumns.length" class="width-5 name">
                                                    <mat-form-field appearance="fill" class="width-280">
                                                        <mat-label>Completed?</mat-label>
                                                        <mat-select placeholder="Select"
                                                            (selectionChange)="isLearnerCompletedChange(course.learnerCourseDetails[learnerIndex],learnerIndex,i)"
                                                            formControlName="isCompleted">
                                                            <mat-option [value]=true>Yes</mat-option>
                                                            <mat-option [value]=false>No</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="expandedDetail2">
                                                <mat-header-cell *matHeaderCellDef id="expandedDetail2"
                                                    class="name"></mat-header-cell>
                                                <mat-cell *matCellDef="let element; let lIndex = dataIndex"
                                                    [formGroupName]="lIndex" [attr.colspan]="coursesColumns.length">

                                                    <div class="example-element-detail"
                                                        [@detailExpand]="completionForm.controls['courseCompletionDetails'].at(i).controls['learnerCourseDetails'].at(lIndex).value.isCompleted && completionForm.controls['courseCompletionDetails'].at(i).controls['hasQualification'].value ? 'expanded' : 'collapsed'">

                                                        <div class="highlight-expendable-table">
                                                            <mat-card-content>
                                                                <ng-container formArrayName="qualificationOutcomeDtos"
                                                                    *ngFor="let qOutcome of completionForm.get('courseCompletionDetails').at(i).get('learnerCourseDetails').at(lIndex).get('qualificationOutcomeDtos').controls; let oIndex=index">

                                                                    <div [formGroupName]="oIndex">

                                                                        <div class="card-row">
                                                                            <div class="card-column-48">
                                                                                <mat-form-field appearance="fill">
                                                                                    <mat-label>Qualification
                                                                                        outcome</mat-label>
                                                                                    <mat-select
                                                                                        placeholder="Please select a reason"
                                                                                        formControlName="outcomeId"
                                                                                        required
                                                                                        (selectionChange)="isQualificationOutcome(i,lIndex,oIndex,$event.value)">
                                                                                        <mat-option
                                                                                            *ngFor="let item of refData?.qualificationStatus"
                                                                                            [value]="item?.id">{{item.value}}
                                                                                        </mat-option>
                                                                                    </mat-select>
                                                                                    <mat-error
                                                                                        *ngIf="getqualificationOutcomeDetails(i,lIndex).at(oIndex).get('outcomeId')?.getError('required')">
                                                                                        Qualification outcome is
                                                                                        required
                                                                                    </mat-error>
                                                                                    <mat-error
                                                                                        *ngIf="getqualificationOutcomeDetails(i,lIndex)?.at(oIndex).get('outcomeId')?.getError('incorrect')">
                                                                                        Qualification outcome is
                                                                                        invalid.Cannot have failed
                                                                                        attempts after a pass
                                                                                    </mat-error>
                                                                                </mat-form-field>
                                                                            </div>
                                                                            <div class="card-column-48">
                                                                                <mat-form-field appearance="fill">
                                                                                    <mat-label>Date</mat-label>
                                                                                    <input matInput
                                                                                        [matDatepicker]="datePiker"
                                                                                        formControlName="attemptDate"
                                                                                        [max]="deliveryEndDate"
                                                                                        [min]="deliveryStartDate"
                                                                                        placeholder="Attempt date"
                                                                                        (dateChange)="onattemptDateChange($event,lIndex,oIndex)"
                                                                                        id="attemptDate" required
                                                                                        *ngIf="oIndex===0">
                                                                                    <input matInput
                                                                                        [matDatepicker]="datePiker"
                                                                                        [max]="deliveryEndDate"
                                                                                        [min]="getqualificationOutcomeDetails(i,lIndex)?.at(oIndex-1).get('attemptDate').value"
                                                                                        formControlName="attemptDate"
                                                                                        placeholder="Attempt date"
                                                                                        (dateChange)="onattemptDateChange($event,lIndex,oIndex)"
                                                                                        id="attemptDate" required
                                                                                        *ngIf="oIndex>0">
                                                                                    <mat-datepicker-toggle matSuffix
                                                                                        [for]="datePiker">
                                                                                    </mat-datepicker-toggle>
                                                                                    <mat-datepicker
                                                                                        #datePiker></mat-datepicker>
                                                                                    <mat-error
                                                                                        *ngIf="getqualificationOutcomeDetails(i,lIndex)?.at(oIndex).get('attemptDate')?.getError('required')">
                                                                                        Attempt date is required
                                                                                    </mat-error>
                                                                                    <mat-error
                                                                                        *ngIf="getqualificationOutcomeDetails(i,lIndex)?.at(oIndex).get('attemptDate')?.getError('matDatepickerMax')">
                                                                                        Attempt date cannot be after
                                                                                        programme delivery
                                                                                        end date
                                                                                    </mat-error>
                                                                                    <mat-error
                                                                                        *ngIf="getqualificationOutcomeDetails(i,lIndex)?.at(oIndex).get('attemptDate')?.getError('matDatepickerMin')">
                                                                                        Attempt date cannot be before
                                                                                        delivery start date and previous
                                                                                        attempt date
                                                                                    </mat-error>
                                                                                </mat-form-field>
                                                                            </div>

                                                                            <div class="btn-column"
                                                                                *ngIf="getqualificationOutcomeDetails(i,lIndex).controls.length>1">
                                                                                <button type="button" mat-icon-button
                                                                                    (click)="onDelete(i, lIndex, oIndex)">
                                                                                    <mat-icon>
                                                                                        delete
                                                                                    </mat-icon>
                                                                                </button>
                                                                            </div>
                                                                        </div>

                                                                        <div class="highlight-expendable-table1"
                                                                            *ngIf="getlearnerCourseDetails(i).at(lIndex)?.get('isCompleted')?.value && getqualificationOutcomeDetails(i,lIndex)?.at(oIndex).get('outcomeId').value===1">
                                                                            <mat-card-content>
                                                                                <div class="card-row">
                                                                                </div>
                                                                            </mat-card-content>
                                                                            <mat-card-content>
                                                                                <div class="card-row">
                                                                                    <div class="card-column-48">
                                                                                        <mat-form-field
                                                                                            appearance="fill">
                                                                                            <mat-label>Qualification
                                                                                                expiry date</mat-label>
                                                                                            <input matInput
                                                                                                [matDatepicker]="dateOfBirthPicker2"
                                                                                                [min]="getqualificationOutcomeDetails(i,lIndex)?.at(oIndex).get('attemptDate').value"
                                                                                                formControlName="qualificationExpiryDate"
                                                                                                placeholder="Qualification expiry Date"
                                                                                                id="qualificationExpiryDate">
                                                                                            <mat-datepicker-toggle
                                                                                                matSuffix
                                                                                                [for]="dateOfBirthPicker2">
                                                                                            </mat-datepicker-toggle>
                                                                                            <mat-datepicker
                                                                                                #dateOfBirthPicker2></mat-datepicker>
                                                                                            <mat-error
                                                                                                *ngIf=" getqualificationOutcomeDetails(i,lIndex)?.at(oIndex).get('qualificationExpiryDate').getError('matDatepickerMin')">
                                                                                                Qualification expiry
                                                                                                date cannot be before
                                                                                                attempt date
                                                                                            </mat-error>
                                                                                        </mat-form-field>
                                                                                    </div>

                                                                                    <div class="card-column-48">
                                                                                        <mat-form-field
                                                                                            appearance="fill">
                                                                                            <mat-label>Qualification
                                                                                                reference id</mat-label>
                                                                                            <input matInput
                                                                                                placeholder="Qualification reference id"
                                                                                                formControlName="qualificationReferenceNumber"
                                                                                                id="qualificationReferenceNumber">
                                                                                            <mat-error
                                                                                                *ngIf="getqualificationOutcomeDetails(i,lIndex)?.at(oIndex).get('qualificationReferenceNumber').hasError('pattern')">
                                                                                                Invalid Qualification
                                                                                                reference id</mat-error>
                                                                                            <mat-error
                                                                                                *ngIf="getqualificationOutcomeDetails(i,lIndex)?.at(oIndex).get('qualificationReferenceNumber').hasError('maxlength')">
                                                                                                Qualification reference
                                                                                                id should be less than
                                                                                                20
                                                                                                characters</mat-error>
                                                                                        </mat-form-field>
                                                                                    </div>
                                                                                    <div class="btn-column"
                                                                                        *ngIf="getqualificationOutcomeDetails(i,lIndex).controls.length>1">
                                                                                    </div>
                                                                                </div>
                                                                            </mat-card-content>
                                                                        </div>
                                                                    </div>
                                                                    <div class="icon-align-right"
                                                                        *ngIf="(oIndex==getqualificationOutcomeDetails(i,lIndex).controls.length-1 && getqualificationOutcomeDetails(i,lIndex).controls.length<3) && this.getqualificationOutcomeDetails(i,lIndex).controls[oIndex].get('outcomeId').value!=1">
                                                                        <button mat-icon-button
                                                                            (click)="addAttempt(i,lIndex)"
                                                                            color="primary" type="button">
                                                                            <mat-icon class="add-btn-size">
                                                                                add_circle_outline
                                                                            </mat-icon>
                                                                        </button>
                                                                    </div>
                                                                </ng-container>
                                                            </mat-card-content>
                                                        </div>
                                                    </div>
                                                </mat-cell>
                                            </ng-container>

                                            <mat-header-row *matHeaderRowDef="learnersColumn"></mat-header-row>
                                            <mat-row *matRowDef="let element1; columns: learnersColumn;"
                                                class="example-element-row"></mat-row>
                                            <mat-row *matRowDef="let row; columns: ['expandedDetail2']"
                                                class="example-detail-row"></mat-row>
                                        </mat-table>
                                    </mat-card-content>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="coursesColumns"></mat-header-row>
                    <mat-row *matRowDef="let course; columns: coursesColumns;" class="example-course-row">

                    </mat-row>
                    <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></mat-row>
                </mat-table>
            </mat-card>

            <div class="label-hr">
                <span>Programme completion details</span>
            </div>

            <div formGroupName="programmeCompletionDetails">
                Programme completed?
                <mat-radio-group class="radioAlignment" formControlName="programmeCompletionStatus"
                    name="programmeCompletionStatus" (change)="isProgrammeCompletedChange($event.value)"
                    [disabled]="isDisabled">
                    <mat-radio-button [value]=true>Yes</mat-radio-button>
                    <mat-radio-button [value]=false>No</mat-radio-button>
                </mat-radio-group>
                <mat-card
                    *ngIf="completionForm.get('programmeCompletionDetails').get('programmeCompletionStatus').value===true">
                    <mat-table formArrayName="learnerProgrammeDetails" #outerSort="matSort"
                        [dataSource]="progressAndCompletionData.programmeCompletionDetails.learnerProgrammeDetails"
                        multiTemplateDataRows matSort>
                        <ng-container matColumnDef="learnerName">
                            <mat-header-cell *matHeaderCellDef> Learner name
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <app-list-label id="learnerName" [list]="allLearners" [value]="element.learnerId">
                                </app-list-label>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="isCompleted">
                            <mat-header-cell *matHeaderCellDef>Complete?
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element;let i = dataIndex" [formGroupName]="i">

                                <mat-form-field appearance="fill" class="width-280">
                                    <mat-label>Select</mat-label>
                                    <mat-select placeholder="Select" formControlName="isCompleted" required
                                        [disabled]="isDisabled">
                                        <mat-option [value]=true>Yes</mat-option>
                                        <mat-option [value]=false>No</mat-option>
                                    </mat-select>
                                    <mat-error
                                        *ngIf="learnerProgrammeDetailsForm.at(i).get('isCompleted').errors?.['required']">
                                        This field is required
                                    </mat-error>
                                </mat-form-field>

                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="learnersColumn"></mat-header-row>
                        <mat-row *matRowDef="let element; columns: learnersColumn;">
                        </mat-row>
                    </mat-table>
                </mat-card>
                <div class="card-row"
                    *ngIf="completionForm.get('programmeCompletionDetails').get('programmeCompletionStatus').value===true">
                    <div class="card-column" class="width-280">
                        <mat-form-field appearance="fill">
                            <mat-label>Programme actual end date</mat-label>
                            <input matInput [matDatepicker]="dateOfBirthPicker" [min]="deliveryEndDate"
                                formControlName="programmeActualEndDate" placeholder="Programme actual end date"
                                id="programmeActualEndDate" required [disabled]="isDisabled">
                            <mat-datepicker-toggle matSuffix [for]="dateOfBirthPicker"></mat-datepicker-toggle>
                            <mat-datepicker #dateOfBirthPicker></mat-datepicker>
                            <mat-error
                                *ngIf="completionForm.get('programmeCompletionDetails').get('programmeActualEndDate').getError('required')">
                                Programme actual end date is required
                            </mat-error>
                            <mat-error
                                *ngIf="completionForm.get('programmeCompletionDetails').get('programmeActualEndDate').getError('matDatepickerMin')">
                                Programme actual end date is invalid
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <mat-card-footer>
                <span class="spacer"></span>
                <span [hidden]="isHidden">
                    <button type="submit" id="save_user_button" mat-flat-button color="primary" (click)="onSubmit()"
                        [disabled]="!completionForm.valid">Save</button>
                </span>
            </mat-card-footer>
        </form>
    </mat-card-content>
</mat-card>