<div class="header">
<div class="tabWrapper">
  <ul>
    <li class="tabHead active" routerLink="/captr-learner/profile" queryParamsHandling="merge" >
      <a class="tab-item" id="profile-tab" attr.aria-label="tab Profile">Profile</a>
    </li>
    <li *ngIf="isAuthorize(60)" class="tabHead" routerLink="/captr-learner/profile/view-further-information" queryParamsHandling="merge">
      <a class="tab-item" id="view-further-information-tab" attr.aria-label="tab Further Information">Further
          Information</a>
  </li>
  <li *ngIf="isAuthorize(30)"  class="tabHead" routerLink="/captr-learner/profile/action-plan" queryParamsHandling="merge">
    <a class="tab-item" id="action-plan-tab" attr.aria-label="tab Plan induction">Action plan</a>
  </li>
  </ul>
</div>
</div>
<mat-card id="view-captr-learner" *ngIf="refData">

    <mat-card-header>
  
      <div class="learnerName">
        {{ user?.primaryLearnerDetails.firstName }} {{user?.primaryLearnerDetails.lastName}}
      </div>
      
      <div>
          <button *ngIf="isAuthorized" id="edit_view_buttodn" mat-stroked-button color="primary" [routerLink]="['/captr-learner/edit-learner']"
            [queryParams]="{ id: user?.primaryLearnerDetails.id }">
            Edit
          </button>
      
        <button id="exit_view_button" mat-stroked-button color="primary" [routerLink]="['/captr-learner/participant-professional-view']" queryParamsHandling="merge">
          Exit
        </button>
      </div>
    </mat-card-header>
  
    <mat-card-content>
  
      <div *ngIf="isLoaded">
        <div class="label-hr no-top-margin"></div>
  
        <dl>
          <div class="card-row">
            <div class="card-column">
              <dt class="details-label">Participant Name</dt>
              <dd>{{ user?.primaryLearnerDetails.firstName }} {{user?.primaryLearnerDetails.lastName}}</dd>
  
              <dt class="details-label">Date Of Birth</dt>
              <dd>{{ user?.primaryLearnerDetails.dateOfBirth | customMonthFormat}}</dd>
  
              <dt class="details-label">Gender</dt>
              <dd>
                <ng-container>
                  <div *ngIf="user?.primaryLearnerDetails.gender !== null">          
                    <app-list-label *ngIf="user?.primaryLearnerDetails.gender !== 12 && user?.primaryLearnerDetails.gender !== 13"
                     id="genders" [list]="refData.genders" [value]="user?.primaryLearnerDetails.gender">
                  </app-list-label>
                </div>                  
                  <div *ngIf=" (user?.primaryLearnerDetails.gender === 12) || (user?.primaryLearnerDetails.gender === 13) ">          
                    <span>{{ user?.primaryLearnerDetails.otherGender }}</span>
                  </div>
                  <div *ngIf="user?.primaryLearnerDetails.gender==null">N/A
                  </div>
                  </ng-container>
              </dd>
              <dt class="details-label">Preferred pronouns</dt>
              <dd>
                <app-list-label id="preferredPronouns" [list]="refData.preferredPronouns" [value]="user?.primaryLearnerDetails.preferredPronouns">
                </app-list-label>
                <div *ngIf="user?.primaryLearnerDetails.preferredPronouns==null">
                  N/A
                </div>
              </dd>
  
              <dt class="details-label">NI Number</dt>
              <dd>{{ user?.primaryLearnerDetails.niNumber || "N/A"}}</dd>
  
              
            </div>
  
            <div class="card-column">
              <dt class="details-label">British National?</dt>
              <dd>
                <div *ngIf="user?.primaryLearnerDetails.isBritishNational==1">
                  Yes
                </div>
                <div *ngIf="user?.primaryLearnerDetails.isBritishNational==2">
                  No
                </div>
                <div *ngIf="user?.primaryLearnerDetails.isBritishNational==null">
                  N/A
                </div>
              </dd>
  
              <dt class="details-label">Resident Of UK or EEA?</dt>
              <dd>
                <div *ngIf="user?.primaryLearnerDetails.isResidentOfUKorEEA==1">
                  Yes
                </div>
                <div *ngIf="user?.primaryLearnerDetails.isResidentOfUKorEEA==2">
                  No
                </div>
                <div *ngIf="user?.primaryLearnerDetails.isResidentOfUKorEEA==null">
                  N/A
                </div>
              </dd>
              <dt class="details-label">ULN</dt>
              <dd>{{ user?.primaryLearnerDetails.uln || "N/A"}}</dd>
              <dt class="details-label">Allocated worker</dt>
              <dd>
                {{workerDetail?.fullName || 'N/A'}} 
              
              </dd>
              
            </div>
          </div>
  
          <div class="label-hr">
            <span>Contact Details</span>
          </div>
  
          <div class="card-row">
            <div class="card-column">
              <dt class="details-label">Address Line 1</dt>
              <dd>{{ user?.contactDetails.addressLine1 || "N/A" }}</dd>
  
              <dt class="details-label">Address Line 2</dt>
              <dd>{{ user?.contactDetails.addressLine2 || "N/A"}}</dd>
  
              <dt class="details-label">Town</dt>
              <dd>{{ user?.contactDetails.townOrCity || "N/A"}}</dd>
  
              <dt class="details-label">County</dt>
              <dd>{{ user?.contactDetails.county || "N/A" }}</dd>
  
              <dt class="details-label">Postcode</dt>
              <dd>{{ user?.contactDetails.postCode || "N/A"}}</dd>
            </div>
  
            <div class="card-column">
              <dt class="details-label">Email Address</dt>
              <dd>{{ user?.contactDetails.emailAddress || "N/A"}}</dd>
  
              <dt class="details-label">Contact Number</dt>
              <dd>{{ user?.contactDetails.contactNo || "N/A"}}</dd>
  
              <dt class="details-label">Address Tenure in years</dt>
              <dd>{{ user?.contactDetails.addressTenureInyear || "N/A"}}</dd>
  
              <dt class="details-label">Address Tenure in Months</dt>
              <dd>{{ user?.contactDetails.addressTenureInMonth || "N/A"}}</dd>
            </div>
          </div>
  
          <div class="label-hr">
            <span>Emergency Contact Details</span>
          </div>
  
          <div class="card-row">
            <div class="card-column">
              <dt class="details-label">Name</dt>
              <dd>{{ user?.emergencyContact.firstName || 'N/A' }}</dd>
  
              <dt class="details-label">Emergency Contact Number</dt>
              <dd>{{ user?.emergencyContact.contactNo || 'N/A'}}</dd>
            </div>
  
            <div class="card-column">
              <dt class="details-label">Relationship with Participant</dt>
              <dd>{{ user?.emergencyContact.relationshipWithUser || 'N/A'}}</dd>
            </div>
          </div>
  
          <div class="label-hr">
            <span>Unemployment Status</span>
          </div>
  
          <div class="card-row">
            <div class="card-column">
              <dt class="details-label">Looking for work?</dt>
              <dd>
                <div *ngIf="user?.unEmploymentStatus.isLookingForWork==1">
                  Yes
                </div>
                <div *ngIf="user?.unEmploymentStatus.isLookingForWork==2">
                  No
                </div>
                <div *ngIf="user?.unEmploymentStatus.isLookingForWork==null">
                  N/A
                </div>
              </dd>
  
              <div *ngIf="user?.unEmploymentStatus.isLookingForWork==1">
                <dt class="details-label">Length of Unemployment</dt>
                <dd>
                  <app-list-label *ngIf="user?.unEmploymentStatus.lengthOfUnemployment!=null" id="lengthOfUnemployments"
                    [list]="refData.lengthOfUnemployments" [value]="user?.unEmploymentStatus.lengthOfUnemployment">
                  </app-list-label>
                  <div *ngIf="user?.unEmploymentStatus.lengthOfUnemployment==null">
                    N/A
                  </div>
                </dd>
  
                <dt class="details-label">Job Centre Location</dt>
                <dd>{{ user?.unEmploymentStatus.jobCentreLocation || 'N/A'}}</dd>
  
  
                <div class="card-column">
                  <dt class="details-label">Work Coach</dt>
                  <dd>{{ user?.unEmploymentStatus.workCoach || 'N/A'}}</dd>
  
                  <dt class="details-label">Benefit  Type</dt>
                  <dd>
                    <app-list-label *ngIf="user?.unEmploymentStatus.benefitType!=null" id="benefits"
                      [list]="refData.benefits" [value]="user?.unEmploymentStatus.benefitType ">
                    </app-list-label>
                    <div *ngIf="user?.unEmploymentStatus.benefitType==null">
                      N/A
                    </div>
                  </dd>
                </div>
              </div>
  
            </div>
          </div>
  
          <div class="label-hr">
            <span>Equal Opportunities Monitoring</span>
          </div>
  
          <div class="card-row">
            <div class="card-column">
              <dt class="details-label">Disability or Learning Difficulty</dt>
              <dd>
                <div
                  *ngIf="user?.equalOpportunitiesMonitoring?.disabilityOrLearningDifficultyId==1 && user?.equalOpportunitiesMonitoring?.disabilityOrLearningDifficultyIds!=null">
                  <div *ngFor="let id of user?.equalOpportunitiesMonitoring?.disabilityOrLearningDifficultyIds">
                    <app-list-label id="disabiltyOrLearningDifficulties" [list]="refData.disabiltyOrLearningDifficulties"
                      [value]="id">
                    </app-list-label>
                  </div>
                </div>
                <div
                  *ngIf="user?.equalOpportunitiesMonitoring?.disabilityOrLearningDifficultyId==2 || user?.equalOpportunitiesMonitoring?.disabilityOrLearningDifficultyIds==null">
                  No
                </div>
                <div *ngIf="user?.equalOpportunitiesMonitoring?.disabilityOrLearningDifficultyId==null">
                  N/A 
                </div>
              </dd>
  
              <dt class="details-label">Medical Condition</dt>
              <dd>
              <div
                  *ngIf="user?.equalOpportunitiesMonitoring?.isMedicalCondition==1 && user?.equalOpportunitiesMonitoring?.isMedicalCondition!=null">
                  {{ user?.equalOpportunitiesMonitoring.medicalCondition}}
              </div>
              <div
                *ngIf="user?.equalOpportunitiesMonitoring?.isMedicalCondition==2 ">
                No
              </div>
              <div *ngIf="user?.equalOpportunitiesMonitoring?.isMedicalCondition==null">
                N/A
              </div>
            </dd>
  
              <dt class="details-label">Support in relation to Literacy</dt>
             <dd>
                <div
                    *ngIf="user?.equalOpportunitiesMonitoring?.isSupportToLiteracy==1 && user?.equalOpportunitiesMonitoring?.isSupportToLiteracy!=null">
                    {{ user?.equalOpportunitiesMonitoring.literacySupport }}
                </div>
                <div
                *ngIf="user?.equalOpportunitiesMonitoring?.isSupportToLiteracy==2 ">
                No
              </div>
              <div *ngIf="user?.equalOpportunitiesMonitoring?.isSupportToLiteracy==null">
                N/A
              </div>
            </div>
           
  
  
            <div class="card-column">
              <dt class="details-label">Career Requirements</dt>     
                <div
                    *ngIf="user?.equalOpportunitiesMonitoring?.isCareerRequirements==1 && user?.equalOpportunitiesMonitoring?.isCareerRequirements!=null">
                    {{ user?.equalOpportunitiesMonitoring.careerRequirements }}
                </div>
              <div
                *ngIf="user?.equalOpportunitiesMonitoring?.isCareerRequirements==2 ">
                No
              </div>
              <div *ngIf="user?.equalOpportunitiesMonitoring?.isCareerRequirements==null">
                N/A
              </div>
  
  
              <dt class="details-label">Support with Motivation of Self-Esteem</dt>
              
                <div
                    *ngIf="user?.equalOpportunitiesMonitoring?.isMotivationOfselfEsteem==1 && user?.equalOpportunitiesMonitoring?.isMotivationOfselfEsteem!=null">
                    {{ user?.equalOpportunitiesMonitoring.motivationOfselfEsteem }}
                </div>
              
              <div
                *ngIf="user?.equalOpportunitiesMonitoring?.isMotivationOfselfEsteem==2 ">
                No
              </div>
              <div *ngIf="user?.equalOpportunitiesMonitoring?.isMotivationOfselfEsteem==null">
                N/A
              </div>
              
              <dt class="details-label">Criminal convictions which have not been spent under the Rehabilitation of
                Offenders Act
                1974</dt>
                  <div
                      *ngIf="user?.equalOpportunitiesMonitoring?.isCriminalConvictions==1 && user?.equalOpportunitiesMonitoring?.isCriminalConvictions!=null">
                      {{ user?.equalOpportunitiesMonitoring.criminalConvictions}}
                  </div>
             
              <div
                *ngIf="user?.equalOpportunitiesMonitoring?.isCriminalConvictions==2 ">
                No
              </div>
              <div *ngIf="user?.equalOpportunitiesMonitoring?.isCriminalConvictions==null">
                N/A
              </div>
  
            </div>
          </div>
  
          <div class="label-hr">
            <span>Equality and Diversity</span>
          </div>
  
          <div class="card-row">
            <div class="card-column">
              <div *ngIf="user?.equalityAndDiversity.isEqualityAndDiversityInformationId==1">
                <dt class="details-label">Caring Responsibilities</dt>
                <dd>
                  <app-list-label id="caringResponsibilities" [list]="refData.caringResponsibilities"
                    [value]="user?.equalityAndDiversity.caringResposibilities">
                  </app-list-label>
                </dd>
  
                <dt class="details-label">Household Situations</dt>
                <dd>
                  <app-list-label id="householdSituations" [list]="refData.householdSituations"
                    [value]="user?.equalityAndDiversity.householdSituation">
                  </app-list-label>
                </dd>
  
                <dt class="details-label">Married or Civil Partnership</dt>
                <dd>
                  <app-list-label id="marriedOrCivilPartnerships" [list]="refData.marriedOrCivilPartnerships"
                    [value]="user?.equalityAndDiversity.marriedOrCivilParnership">
                  </app-list-label>
                </dd>
  
                <dt class="details-label">Religion or Beliefs</dt>
                <dd>
                  <app-list-label id="religionOrBeliefs" [list]="refData.religionOrBeliefs"
                    [value]="user?.equalityAndDiversity.religionOrbeliefs">
                  </app-list-label>
                </dd>
              </div>
  
              <dt class="details-label">Working Pattern</dt>
              <dd>
                <app-list-label id="workingPatterns" [list]="refData.workingPatterns"
                  [value]="user?.equalityAndDiversity.workingpattern">
                </app-list-label>
              <div *ngIf="user?.equalityAndDiversity.workingpattern==null">
                N/A
              </div>
            </dd>
  
            </div>
  
            <div class="card-column">
              <div *ngIf="user?.equalityAndDiversity.isEqualityAndDiversityInformationId==1">
  
                <dt class="details-label">Sexual Orientation</dt>
                <dd>
                  <app-list-label id="sexualOrientations" [list]="refData.sexualOrientations"
                    [value]="user?.equalityAndDiversity.sexualOrientation">
                  </app-list-label>
                </dd>
  
                <div *ngIf="user?.equalityAndDiversity.sexualOrientation==6">
                  <dt class="details-label">Other Sexual Orientation</dt>
                  <dd>{{ user?.equalityAndDiversity.otherSexualOrientation }}</dd>
                </div>
  
                <dt class="details-label">Ethinicity</dt>
                <dd>
                  <app-list-label id="ethnicities" [list]="refData.ethnicities"
                    [value]="user?.equalityAndDiversity.ethnicity">
                  </app-list-label>
                </dd>
  
                <div *ngIf="user?.equalityAndDiversity.religionOrbeliefs==11">
                  <dt class="details-label">Other Religion or Beliefs</dt>
                  <dd>{{ user?.equalityAndDiversity.otherReligionOrBeliefs }}</dd>
                </div>
  
              </div>
  
              <dt class="details-label">Flexibility</dt>
              <dd>
                <app-list-label id="flexibilities" [list]="refData.flexibilities"
                  [value]="user?.equalityAndDiversity.flexibility">
                </app-list-label>
              <div *ngIf="user?.equalityAndDiversity.flexibility==null">
                N/A
              </div>
            </dd>
            </div>
          </div>
        </dl>
  
      </div>
    </mat-card-content>
  
  </mat-card>