.radioAlignment{
    mat-radio-button{
      margin: 0 5px!important;
    }
  }
  .v-align-middle { 
    vertical-align: middle;
    margin-right: 8px;
}
@import "~src/styles/helpers/mixins/grid";
@import "~src/styles/helpers/variables/palette";

.tabWrapper {
  margin-top: 10px;
  position: relative;
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 44px;
    border-bottom: 1px solid $grey-2;
  
    @include media(mobile) {
        height: 45px;
    }
    
    li {
      position: relative;
      margin: 0 5px 0 0;
      padding: 10px 20px 1px;
      float: left;
      background-color: none;
      text-align: center;
      cursor: pointer;
      
      @include media(mobile) {
          cursor: pointer;
          display: inline-block;
      }
      a {
          margin-right: 3px;
          float: left;
          color: #666;
          text-align: center;
          text-decoration: none;
        }
    }
  
    li:focus {
      outline: none;
    }
    
    li.active {
      margin-top: -5px;
      margin-bottom: -1px;
      padding: 14px 19px 11px 19px;
      border-bottom: 3px solid var(--primary-color);
      background-color: none;
      
      @include media(mobile) {
          background-color: transparent;
      }
    }
  }
  }


.margin-tb1 {
  margin-top: 44px;
  // samsung galaxy
  @media only screen and (min-width: 360px) and (max-width: 835px) {
    margin-top: 0px;
  }

  @media only screen and (min-width: 1024px) and (max-width: 1336px) {
    margin-top: 44px;
  }
  

}

.margin-tb2 {
  margin-top: 42px;
  // samsung galaxy
  @media only screen and (min-width: 360px) and (max-width: 835px){
    margin-top: 0px;
  }

  @media (min-width: 1336px){
    margin-top: 42px;
  }

  @media only screen and (min-width: 1024px) and (max-width: 1335px) {
    margin-top: 64px;
  }

  

  

}

.margin-top {
  margin-top: 21px;
  // samsung galaxy
  @media only screen and (min-width: 360px) and (max-width: 835px){
    margin-top: 0px;
  }

  @media (min-width: 1336px){
    margin-top: 21px;
  }
  @media only screen and (min-width: 1024px) and (max-width: 1335px) {
    margin-top: 44px;
  }
}
@media screen and (min-width: 667px) and (max-width: 667px) {
  .mat-card .mat-card-header button {
    margin-left: -50px;
    margin-top: 40px;
    left: -15px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1024px) {
  .mat-card .mat-card-header button {
    margin-left: -50px;
    margin-top: 40px;
    left: -45px;
  }
}

@media screen and (min-width: 1112px) and (max-width: 1112px) {
  .mat-card .mat-card-header button {
    margin-left: -10px;
  }
}
  .hidden{
    visibility: hidden;
  }
