<mat-card id="view-learner">

    <mat-card-header>

        
            
            <app-stepper-navigation></app-stepper-navigation>
       
        <span class="spacer"></span>
        <div>
            <button id="exit_view_button" mat-stroked-button color="primary" [routerLink]="['../']">
                Exit
            </button>
        </div>
    </mat-card-header>
    <div class="learnerName">
        {{ fullName }}
    </div>
    <br>
    <mat-card-content class="learners">
        The table shows a summary of contact attempts and outcomes recorded for the Learner, against the relevant Delivery <br><br>
        
        <mat-table id="learners_table" #table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="programmeName">
                <mat-header-cell *matHeaderCellDef id="programmeName" mat-sort-header>
                    Programme name
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                     {{ element.programmeName }} 
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="cohort">
                <mat-header-cell *matHeaderCellDef id="cohort">
                    Cohort
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.cohort }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="totalContacts">
                <mat-header-cell *matHeaderCellDef id="totalContacts">
                    Total contacts
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.totalContacts }}
                </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="currentlyEmployed">
                <mat-header-cell *matHeaderCellDef id="currentlyEmployed">
                    Currently employed
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span *ngIf="element.currentlyEmployed == 1">Y</span>
                    <span *ngIf="element.currentlyEmployed == 2">N</span>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="lastContactDate">
                <mat-header-cell *matHeaderCellDef id="lastContactDate">
                    Last contact date
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.lastContactDate | customMonthFormat }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                <mat-cell *matCellDef="let element;index as i;">
                    <button id="edit_user_button_{{element.id}}" mat-icon-button
                        color="primary" (click)="navigateToEditEnrolment(i)" attr.aria-label="Edit"
                        matTooltip="Edit" [matTooltipShowDelay]="800">
                        <mat-icon>visibility</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator id="user_pagination" [pageSize]="pageSize" [showFirstLastButtons]='true' [hidePageSize]="true">
        </mat-paginator>
    </mat-card-content>
</mat-card>
