<div class="card">
    <div class="card-header">
        <strong>Import Contact</strong>
    </div>
    <div class="card-body" [hidden]="isShowDiv">
        <form #importContact="ngForm" (ngSubmit)="onSubmit()" novalidate autocomplete="off"
            class="w-100">

            <div>
                <div class="text-center p-2">
                    <!-- <input type="image" src="assets/images/avatar.jpg" alt="Profile Edit" class="" width="20%" >  -->
                    <div (click)="imageFile()" class="file-icon cursor">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    </div>
                    <label class="cursor" for="customFile">
                        <strong><i class="fa fa-camera" aria-hidden="true"></i> Upload File </strong></label>

                    <div class="custom-file ">
                        <!-- <input type="file" class="custom-file-input " id="customFile" > -->

                        <input type="file" class="custom-file-input1 text-center ml-3" placeholder="Process Name"
                            id="imageUpload" accept=".CSV,.txt,.xlsx,.xlx" [(ngModel)]="uploadFile.imageUpload" name="imageUpload"
                            id="fileUpload" required #imageUpload="ngModel" (change)="fileEvent($event)">
                    </div>
 
                    <div class="text-center mt-2">
                        Select .xlsx or .csv or .txt file to upload from your Computer.
                    </div>

                    <div *ngIf="importContact.submitted && imageUpload.invalid || imageUpload.touched">
                        <div *ngIf="importContact.submitted">

                            <div *ngIf="imageUpload.errors?.required " class="alert alert-danger mt-2 font-20">
                                <strong>Please upload file!</strong>
                            </div>
                            <p *ngIf="imageUpload.errors?.pattern" class="help-box">
                                Please upload valid file!</p>
                        </div>
                    </div> 
                </div>
            </div>




            <div class="copy-paste-table col-12 my-4">
                <button class="btn btn-info float-right" type="submit">
                    <strong> Next <i class="fa fa-angle-right" aria-hidden="true"></i></strong></button>
            </div>
        </form>
    </div>
</div>




<!---- Copy /Pase contact phase -2
<div class="copy-paste-table" [hidden]="isShowDiv">
    <div class="text-center my-4"> 
        <strong>or</strong>
    </div>

    <div class="card">
        <div class="card-header">
            <strong>Copy / Paste Contacts</strong>
        </div>
        <div class="card-body">
            <div class="table-responsive mt-4">
                <table class="table table-hover table-bordered mt-2 tacho-table">
                    <thead class="bg-dark">
                        <tr>
                            <th>Email Address</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Mobile No.</th>
                            <th>Date of Birth</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let data of userData" >
                            <td>{{data.email}}</td>
                            <td>{{data.firstName}}</td>
                            <td>{{data.lastName}}</td>
                            <td>{{data.mobile}}</td>
                            <td>{{data.dob}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            //Table End

            
        </div>
    </div>
</div>
  ---->

<div class="card mt-4 mapping-table" [hidden]="!isShowDiv">

    <div class="p-4">
        <div class="text-info font-20"><strong><i class="fa fa-check-square-o" aria-hidden="true"></i> Upload File</strong></div>
        <div class="m-4"><strong>{{fileName}}</strong></div>
    </div>

    <div class="card-header">
        <strong>Mapping Data</strong>
    </div>
    <div class="card-body">
        <p>Please select attribute that match your data.</p>

        <table class="table mt-5">
            <thead>
                <tr>
                    <th>File Header</th>
                    <th>Data</th>
                    <th>Attribute <span class="text-danger">*</span></th>
                </tr>
            </thead>
            <tbody *ngIf="previewDatList!=null && previewDatList.length > 0">
                <tr *ngFor="let heder of previewDatList[0].reviewFileList ; let i=index">
                    <td *ngIf="heder.columnValue!=null && heder.columnValue!=''">{{heder.columnValue}}</td>
                    <td *ngIf="heder.columnValue!=null && heder.columnValue!=''" >
                        <table>
                             <tr *ngFor="let info of previewDatList ; let i2=index">
                                <span *ngIf="i2!=0">
                                    {{info.reviewFileList[i].columnValue}}
                                </span>
                            </tr>
                        </table>
                    </td>
                    <td *ngIf="heder.columnValue!=null && heder.columnValue!=''" >
                          <select class="form-control width-250" tabindex="1" (change)="checkDuplicationSelection(i)" id="attribute{{i}}"  required placeholder="d.ff">
                            <option value="SKIP" selected>SKIP</option>
                            <option *ngFor="let selectattri of attri" [value]="selectattri">{{selectattri}}</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div>
        <button class="btn btn-warning text-light m-4" type="button" (click)="toggleDisplayDiv()">
            <strong><i class="fa fa-angle-left" aria-hidden="true"></i> Back </strong></button>

        <button class="btn btn-info float-right m-4" type="button" tabindex="2" (click)="redirectTofileUploaded()">
            <strong> Confirm Mapping <i class="fa fa-angle-right" aria-hidden="true"></i></strong></button>
    </div>
</div>