
<div class="header">
    <div class="tabWrapper">
        <ul>
            <li class="tabHead " (click)= "goToDigitalCourse()" routerLinkActive="active">
                <a class="tab-item" id="usefulContacts" attr.aria-label="tab Month">Digital course progress</a>
            </li>
            <li class="tabHead active"  *ngIf="isAuthorized(50,2)" (click)= "goToProgramInfo()" routerLinkActive="active">
                <a class="tab-item" id="usefulContacts" attr.aria-label="tab Month">Programme enrolment</a>
            </li>
            <li class="tabHead"  *ngIf="isAuthorized(50,2)" (click)="goToProgramOutcome()" routerLinkActive="active" >
                <a class="tab-item" id="usefulContacts" attr.aria-label="tab Month">Programme outcomes</a>
            </li>

        </ul>
    </div>
</div>

<mat-card id="view-learner">

    <mat-card-header>
        <div class="learnerName">
            <!-- {{ fullName }} -->
            <br>
            <app-stepper-navigation></app-stepper-navigation>
        </div>
        <div>
            <button id="exit_view_button" mat-stroked-button color="primary" (click)="onExitClicked()">
                Exit
            </button>
        </div>
    </mat-card-header>
    
    <br>
    <mat-card-content class="learners">
        The table shows all Programme Enrolments for the Learner.<br><br>
        You can Withdraw a Learner from a programme that is in progress or has not yet started by Editing the relevant
        enrolment.<br><br>
        Programme Completions MUST be recorded using the relevant Programme Delivery Section.<br><br>

        <mat-table id="learners_table" #table [dataSource]="dataSource" >
            <ng-container matColumnDef="programmeName">
                <mat-header-cell *matHeaderCellDef id="programmeName" >
                    Programme name
                </mat-header-cell>
                <mat-cell *matCellDef="let element"><span class="mobile-label">Programme name:</span>
                    {{ element.programmeName }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="cohort">
                <mat-header-cell *matHeaderCellDef id="cohort">
                    Cohort
                </mat-header-cell>
                <mat-cell *matCellDef="let element"><span class="mobile-label">Cohort:</span>
                    {{ element.cohort }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="startdate">
                <mat-header-cell *matHeaderCellDef id="startdate">
                    Cohort start date
                </mat-header-cell>
                <mat-cell *matCellDef="let element"><span class="mobile-label">Cohort start date:</span>
                    {{ element.startdate | customMonthFormat}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="endDate">
                <mat-header-cell *matHeaderCellDef id="endDate">
                    Cohort planned end date
                </mat-header-cell>
                <mat-cell *matCellDef="let element"><span class="mobile-label">Cohort planned end date:</span>
                    {{ element.endDate | customMonthFormat}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef id="status">
                    Status
                </mat-header-cell>
                <mat-cell *matCellDef="let element"><span class="mobile-label">Status:</span>
                    <div  *ngIf="!element.statusId">{{ element.status}}</div>
                    <app-list-label *ngIf="element.statusId" [list]="refData.programStatus" [value]="element.statusId">
                    </app-list-label>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                <mat-cell *matCellDef="let element;index as i;"><span class="mobile-label">Action:</span>
                    <div >
                        <button  id="view_user_button_{{element.id}}"  mat-icon-button color="primary"
                            attr.aria-label="View" matTooltip="View" [matTooltipShowDelay]="800"
                           (click)="navigateToViewEnrolment(i)" [queryParams]="{ id: element.id}">
                            <mat-icon>visibility</mat-icon>
                        </button>
                       
                        <!-- <button  mat-icon-button color="primary"
                        [routerLink]="['/captr-learner/programme-enrolment/view-programme-enrolment']" title="View" 
                        queryParamsHandling="merge" attr.aria-label="View " [queryParams]="{ id: element.id}">
                        <mat-icon>visibility</mat-icon>
                      </button> -->
                    </div>
                    
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      
    </mat-card-content>
</mat-card>
