<div class="card mb-2 ">
    <div class="card-header"><strong>Contact Management > Add Contact</strong>
        <a (click)="redirectToImportContact()">
            <button type="button" class="btn btn-info float-right"><strong> <i class="fa fa-upload mr-2"
                        aria-hidden="true"></i>Import Contact</strong></button>
        </a>
    </div>

    <div class="card-body">
        <form #addContact="ngForm" (ngSubmit)="addContact.form.valid  &&  saveaddContact(addContact)" novalidate
            autocomplete="off" class="w-100 addContactform">
            <div class="row mt-4">
                <div class="col-md-6 table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="width-left">Email Address<span
                                        class="required-field text-danger">*</span></td>
                                <td>
                                    <input type="email" class="form-control mb-2 mr-sm-2" [disabled]="avilable"
                                        pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,5}$" placeholder="Email Address"
                                        [(ngModel)]="contactInfo.originalEmailId" name="originalEmailId"
                                        (change)="getUniqueCustClient(originalEmailId.value)" required
                                        #originalEmailId="ngModel">

                                    <div
                                        *ngIf="addContact.submitted && originalEmailId.invalid || originalEmailId.touched">
                                        <div *ngIf="originalEmailId.touched || addContact.submitted">
                                            <p *ngIf="originalEmailId.errors?.required " class="help-box">Please enter
                                                email address!</p>
                                            <p *ngIf="originalEmailId.errors?.pattern" class="help-box">
                                                Please enter valid email address!</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="width-left">First Name
                                <td>
                                    <input type="text" class="form-control" placeholder="First Name" id="firstName"
                                        pattern="[a-zA-Z][a-zA-Z ]+" [(ngModel)]="contactInfo.firstName"
                                        name="firstName" #firstName="ngModel">

                                    <div *ngIf="addContact.submitted && firstName.invalid || firstName.touched">
                                        <div *ngIf="firstName.touched || addContact.submitted">
                                            <p *ngIf="firstName.errors?.pattern" class="help-box">
                                                Please enter valid first name!</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="width-left">Last Name</td>
                                <td>
                                    <input type="text" class="form-control" placeholder="Last Name" id="lastName"
                                        pattern="[a-zA-Z][a-zA-Z ]+" [(ngModel)]="contactInfo.lastName" name="lastName"
                                         #lastName="ngModel">

                                    <div *ngIf="addContact.submitted && lastName.invalid || lastName.touched">
                                        <div *ngIf="lastName.touched || addContact.submitted">
                                            <p *ngIf="lastName.errors?.pattern" class="help-box">
                                                Please enter valid last name!</p>
                                        </div>
                                    </div>
                                </td>
                            </tr> 
                            <tr>
                                <td class="width-left">Mobile No.</td>
                                <td>
                                    <div class="form-group">
                                        <div class="d-flex">
                                            <select class="form-control col-sm-4" name="mobileCountryCode"
                                                id="mobileCountryCode" [(ngModel)]="contactInfo.mobileCountryCode"
                                                #mobileCountryCode="ngModel">
                                                <option value="">Code </option>
                                                <option *ngFor="let p of mobilecodeList" [value]="p.mobileCountryCode">
                                                    {{p.mobileCountryCode}} {{p.countryName}}</option>
                                            </select>
                                            <input type="text" class="form-control mb-2 " placeholder="Enter Mobile"
                                                pattern="[1-9]{1}[0-9]{9}" [(ngModel)]="contactInfo.mobileNo"
                                                name="mobileNo" #mobileNo="ngModel">
                                        </div>
                                        <div *ngIf="addContact.submitted && mobileNo.invalid || mobileNo.touched">
                                            <div *ngIf="mobileNo.touched || addContact.submitted">
                                                <p *ngIf="mobileNo.errors?.pattern" class="help-box">Please enter valid
                                                    mobile number!</p>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 table-responsive">
                    <table class="table mb-0">
                        <tbody>
                            <tr>
                                <td class="width-left">Date of Birth</td>
                                <td>
                                    <input class="form-control" name="dob" type="date" value="2011-08-19" id="dob"
                                        [(ngModel)]="contactInfo.dob" (change)="compareAge()" #dob="ngModel">

                                    <div *ngIf="addContact.submitted && dob.invalid || dob.touched">
                                        <div *ngIf="dob.touched || addContact.submitted">
                                            <p *ngIf="dobflag == 1 " class="help-bpx" style="color: red;">Please select
                                                valid date!</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="width-left">City </td>
                                <td>
                                    <input type="text" class="form-control" placeholder="City" id="city"
                                        pattern="[a-zA-Z][a-zA-Z ]+" [(ngModel)]="contactInfo.city" name="city"
                                        #city="ngModel">

                                    <div *ngIf="addContact.submitted && city.invalid || city.touched">
                                        <div *ngIf="city.touched || addContact.submitted">
                                            <p *ngIf="city.errors?.pattern" class="help-box">
                                                Please enter valid city!</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="width-left">Company Name </td>
                                <td>
                                    <input type="text" class="form-control" placeholder=" Company Name" id="companyName"
                                        pattern="[ a-zA-Z0-9][a-zA-Z0-9 ]+" [(ngModel)]="contactInfo.companyName"
                                        name="companyName" #companyName="ngModel">

                                    <div *ngIf="addContact.submitted && companyName.invalid || companyName.touched">
                                        <div *ngIf="companyName.touched || addContact.submitted">
                                            <p *ngIf="companyName.errors?.pattern" class="help-box">
                                                Please enter valid company name!</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="card mt-4">
                <div class="card-header">
                    <strong>Select List to Add Contact</strong>
                    <div class="float-right width-400">
                        <div class="search-button">
                            <input class="form-control" type="text" name="search" [(ngModel)]="search"
                                placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row scroll-y">
                        <div *ngIf="OriginlistData == null || OriginlistData.length==0 && nodataFlg==false"
                            class="align">
                            <div class="noBorder align">
                                <span class="text-danger ">
                                    <h5>Please wait.....</h5>
                                </span><br>
                                <div class="d-flex justify-content-center text-danger align">
                                    <div class="spinner-border " role="status">
                                        <span class="sr-only">Please wait</span>
                                        <span class="sr-only ">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="nodataFlg == true" class="align">
                            <div class="noBorder align">

                                <div class="d-flex justify-content-center text-danger">

                                    <h5 >No list to show</h5>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 column">
                            <div class="checkbox"
                                *ngFor="let data of OriginlistData | filter : search ; let i = index;">
                                <label><input type="checkbox" class="mr-2" (change)="getCount(data)"
                                        id="{{data.listId}}">{{data.listName}}</label>
                            </div>
                        </div>
                    </div>


                    <!-----Add new list Button & Form-->
                    <!-- Button to Open the Modal -->
                    <button type="button" class="btn btn-info mr-3 float-right" data-toggle="modal"
                        data-target="#newList" data-backdrop="false">
                        <i class="fa fa-plus mr-2" aria-hidden="true"></i><strong>Add New List</strong>
                    </button>


                    <!-- The Modal -->
                    <div class="modal" id="newList">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title"><strong>Add New List</strong> </h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <form (keydown.enter)="$event.preventDefault()" #createList="ngForm"
                                        (ngSubmit)="createList.form.valid && saveList(createList)" novalidate
                                        autocomplete="off" class="w-100 createlistform">
                                        <div class="row mt-4">
                                            <div class="col-md-6 table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td> Name <span class="required-field text-danger">*</span>
                                                            </td>
                                                            <td>
                                                                <input type="text" [disabled]="editMode"
                                                                    (change)="checkDuplicateList(listName.value)"
                                                                    class="form-control" placeholder="List Name"
                                                                    id="listName" [(ngModel)]="listInfo.listName"
                                                                    name="listName" required
                                                                    pattern="[A-Za-z][A-Za-z0-9 $&+,:;=?@#|'<>.^*()%!-_]+"
                                                                    #listName="ngModel">
                                                                <div
                                                                    *ngIf="createList.submitted && listName.invalid || listName.touched">
                                                                    <div
                                                                        *ngIf="listName.touched || createList.submitted">
                                                                        <p *ngIf="listName.errors?.pattern"
                                                                            class="help-box">Please enter valid list
                                                                            name!</p>
                                                                        <p *ngIf="listName.errors?.required "
                                                                            class="help-box">Please enter list name!</p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-md-6 table-responsive">
                                                <table class="table mb-0">
                                                    <tbody>
                                                        <tr>
                                                            <td> Description </td>
                                                            <td>
                                                                <textarea class="form-control" rows="4" id="desc"
                                                                    pattern="^[a-zA-Z0-9_ !@#$%^&*()_+\-=\[\]{};':\\|,.<>\/?]*$"
                                                                    placeholder="Enter Description" ng-maxlength="255"
                                                                    [(ngModel)]="listInfo.listDescription"
                                                                    name="listDescription"
                                                                    #listDescription="ngModel"> </textarea>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-md-12 text-center mt-2">
                                                <button type="submit"
                                                    class="btn btn-info mr-3"><strong>Save</strong></button>
                                                <button type="button" [disabled]="submitFlg" class="btn btn-info" class="btn btn-danger"
                                                    (click)="createList.reset" data-dismiss="modal"
                                                    #closenewListModal><strong> Cancel
                                                    </strong></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <!------End------>
                </div>
                <div class="card-footer p-4  text-center">

                    <button type="submit" [disabled]="submitFlg" class="btn btn-info mr-3"><strong>
                            Save</strong></button>
                    <button type="button" class="btn btn-danger mr-3" (click)="redirectTocreateList()"><strong>
                            Cancel</strong></button>
                </div>
            </div>
        </form>
    </div>
</div>