
<div class="row mt-5">
	<div class="auth-width"> 
		<div class="card form-bg box-shadow">
			<div class="card-header  bg-white text-center">
				<a href="https://markzil.com/" target="_blank" tabindex="1">
                    <img src="assets/images/Markzil-1 Cut.png" class="img-rounded logoDesign ml-20"   alt="Emanzo" width="35%">
                </a>
                <a href="https://markzil.com/" target="_blank" tabindex="2">
                    <i class="mt-3 fa fa-home info pull-right font-20 text-danger " aria-hidden="true"></i>
				</a>
				
				<h3 class="formHeading text-center text-secondary mt-4"><strong>Sign Up </strong></h3>

			</div>
			<div class="card-body"> 
				<form  #signupForm="ngForm" (ngSubmit)="signupForm.form.valid  &&  saveUser(signupForm)"  novalidate >
                    <!-----Emali---->
					<div class="input-group form-group px-3">
						<div class="input-group-prepend">
							<span class="input-group-text bg-danger text-light size"><i class="fa fa-envelope"></i></span>
						</div>
                        <input  id="inputEmail" type="email" name="email" (change)="checkEmailDuplication()" (keydown)="onKeydown($event)" required  pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,5}$" 
                        [(ngModel)]="signupInfo.email" #email="ngModel" placeholder="Email Address"  class="form-control"/>   

                        <div *ngIf="signupForm.submitted && email.invalid || email.touched" class="col-md-12">
                            <div *ngIf="email.touched || signupForm.submitted">
                                <p *ngIf="email.errors?.required " class="help-box">Please enter email address!</p>
                                <p *ngIf="email.errors?.pattern"  class="help-box" >
                                    Please enter valid email address!</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="douplicate">
						<div class="input-group-prepend">
							<p>You are already Markzil user, please <a routerLink="" (click)="redirectToSignIn()">Sign
									In</a> or <a routerLink="/forgot-password">Reset</a> your password</p>
						</div>
					</div>
                    <!-----First Name---->
                    <div class="input-group form-group px-3">
						<div class="input-group-prepend">
							<span class="input-group-text bg-danger text-light"><i class="fa fa-user"></i></span>
						</div>
                        <input  id="inputfname" type="text" name="fname" required  placeholder="First name"  pattern="^[A-Za-z][A-Za-z]*$"  
                        [(ngModel)]="signupInfo.fname" #fname="ngModel" class="form-control removeInvalid" />    
                        
                        <div *ngIf="signupForm.submitted && fname.invalid || fname.touched" class="col-md-12">
                            <div *ngIf="fname.touched || signupForm.submitted">
                                <p *ngIf="fname.errors?.required " class="help-box">Please enter first name!</p>
                                <p *ngIf="fname.errors?.pattern"  class="help-box" >
                                    Please enter valid first name!</p>
                            </div>
                        </div>
                    </div>
                    <!-----Last Name---->
                    <div class="input-group form-group px-3">
						<div class="input-group-prepend">
							<span class="input-group-text bg-danger text-light"><i class="fa fa-user"></i></span>
						</div>
                        <input  id="inputlname" type="text" name="lname" required  placeholder="Last name"  pattern="^[A-Za-z][A-Za-z]*$"  
                        [(ngModel)]="signupInfo.lname" #lname="ngModel" class="form-control removeInvalid"  />     
                        
                        <div *ngIf="signupForm.submitted && lname.invalid || lname.touched" class="col-md-12">
                            <div *ngIf="lname.touched || signupForm.submitted">
                                <p *ngIf="lname.errors?.required " class="help-box">Please enter last name!</p>
                                <p *ngIf="lname.errors?.pattern"  class="help-box" >
                                    Please enter valid last name!</p>
                            </div>
                        </div>
                    </div>
                    <!--country-->
                    <div class="input-group form-group px-3">
						<div class="input-group-prepend">
							<span class="input-group-text bg-danger text-light"><i class="fa fa-globe"></i></span>
						</div>
                        <select class="form-control removeInvalid" id="countryCode" [(ngModel)]="signupInfo.countryCode"
                                name="countryCode" #countryCode="ngModel" required >
                                <option hidden value="" disabled selected>Select Country</option>
                                <option *ngFor="let p of countryCodeList"
                                    [value]="p.countryCode">
                                    {{p.countryName}}</option>
                        </select>
                        <div *ngIf="signupForm.submitted && countryCode.invalid || countryCode.touched" class="col-md-12">
                            <div *ngIf="countryCode.touched || signupForm.submitted">
                                <p *ngIf="countryCode.errors?.required " class="help-box">Please select country</p>
                            </div>
                        </div>
                    </div>
                    <!--mobile number-->
                    <div class="input-group form-group px-3">
						
                        <div class="form-group1" >
                            <div class="d-flex w-100">
                                <div class="input-group-prepend" style="height:30px">
                                    <span class="input-group-text bg-danger text-light"><i class="fa fa-phone"></i></span>
                                </div>
                                <select class="form-control" name="mobileCountryCode"  style="width: 20%;"
                                [(ngModel)]="signupInfo.mobileCountryCode" #mobileCountryCode="ngModel" required>
                                <option [value]="''" disabled selected>Code </option>
                                <option *ngFor="let p of mobilecodeList" [value]="p.mobileCountryCode">{{p.mobileCountryCode}}
                                    {{p.countryName}}</option>
                                </select>
                                <input type="text" class="form-control mb-2 mobile-input" placeholder="Mobile Number"
                                pattern="[1-9]{1}[0-9]{9}" [(ngModel)]="signupInfo.mobileNumber" name="mobileNumber"
                                #mobileNumber="ngModel" style="width: 80%;" required>
                            </div>
                            <div class ="row" *ngIf="signupForm.submitted">
                                <div *ngIf= "signupForm.submitted && mobileCountryCode.invalid ||mobileCountryCode.touched" class="col-sm-2  ">
                                    <p *ngIf="mobileCountryCode.errors?.required " class="help-bpx" class="help-bpx"
                                        style="color: red;text-align:center;"><i class="fa fa-warning" style="font-size:20px;color:red"></i>
                                    </p> 
                                </div>
                                <div *ngIf="signupForm.submitted && mobileNumber.invalid  || mobileNumber.touched" class="col-sm-10 pr-0">
                                    <div *ngIf="mobileNumber.touched || signupForm.submitted">
                                        <p *ngIf="mobileNumber.errors?.required " class="help-bpx" class="help-bpx"
                                            style="color: red;text-align:center;">Please enter mobile number!</p>
                                        <p *ngIf="mobileNumber.errors?.pattern" class="help-bpx"
                                            style="color: red;text-align:center;">Please enter valid  mobile number!</p>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="col-sm-12 p-0" *ngIf="signupForm.submitted || mobileNumber.invalid || mobileNumber.touched">
                                <div *ngIf="mobileNumber.touched || mobileNumber.invalid">
                                <p *ngIf="mobileNumber.errors?.required " class="help-box">Please enter mobile number!</p>
                                <p *ngIf="mobileNumber.errors?.pattern" class="help-box">Please enter valid mobile
                                    number!
                                </p>
                                </div>
                            </div>-->
                        </div>
                    </div>
                    <!-----New Password---->
                    <div class="input-group form-group px-3">
                        <div class="input-group ">
                            <span class="input-group-text bg-danger text-light"><i class="fa fa-unlock-alt "></i></span>
                            <input class="form-control" autocomplete="off" type="password" name="password" placeholder="Enter password" [type]="show_button ? 'text' : 'password'"
                            data-toggle="password" [(ngModel)]="signupInfo.newPassword" required #newPassword="ngModel" autocomplete="new-password" oncopy="return false" onpaste="return false"
                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" required> 
                            <div class="input-group-addon" (click)="showPassword()" style="background-color:#d9d9d9">  <span class="form-control-append" [class]="show_eye ? 'fa fa-eye pt-2 px-2' : 'fa fa-eye-slash pt-2 px-2'"></span>
                            </div>
                        </div>
                        <div *ngIf="signupForm.submitted && newPassword.invalid || newPassword.touched">
                            <div *ngIf="newPassword.touched || signupForm.submitted ">
                                <p *ngIf="newPassword.errors?.required " class="help-box" >Please enter password!</p>
                                <p *ngIf="newPassword.errors?.pattern" class="help-box" >
                                Must contain at least one number and one uppercase and lowercase letter and symbol , and at least 8 or more characters.</p>
                            </div>
                        </div>
                    </div>
                    <!-----Confirm Password---->
					<div class="input-group form-group px-3">
						<div class="input-group ">
						  <span class="input-group-text bg-danger text-light"><i class="fa fa-unlock-alt "></i></span>
						   <input class="form-control" type="password" [type]="show_confirmbutton ? 'text' : 'password'" oncopy="return false" onpaste="return false"
							name="password1" id="password1" required placeholder="Confirm password"
							[(ngModel)]="signupInfo.password1" required #password1="ngModel" pattern="{{ newPassword.value }}"> 
                            <div class="input-group-addon" (click)="showconfirmPassword()" style="background-color:#d9d9d9"> 
                              <span class="form-control-append" [class]="show_eye1 ? 'fa fa-eye pt-2 px-2' : 'fa fa-eye-slash pt-2 px-2'"> </span>
                            </div>
						</div>                            
						<div *ngIf="signupForm.submitted && password1.invalid || password1.touched">
							<div *ngIf="password1.touched || signupForm.submitted ">
								<p *ngIf="password1.errors?.required " class="help-box" >Confirm password is required!</p>
								<p *ngIf="password1.errors?.pattern" class="help-box" >Password & Confirm password does not match!</p>
							</div>
						</div>
                    </div>
                    <!------>
                 <p  style="color: red; text-align: left;"> </p>

					<div class="form-group text-center mt-4">
						<input type="submit" value="Sign Up" class="btn btn-info  mg-t-10" [disabled]="douplicate || submitFlg"> 
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="text-center p-2">
					<a (click)="redirectToForgotPassword()" class="cursor"> Forgot your password?</a>
                </div>
                <div class="text-center p-2">
					Already Member? <a (click)="redirectToSignIn()" class="cursor"> Sign In</a>
				</div>
			</div>
		</div>
	</div>
</div>

