<h1 mat-dialog-title>{{isNew ? 'Add tab' : 'Edit tab'}}</h1>

<mat-card-content>
    <form [formGroup]="tabsForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="card-row">
            <mat-form-field appearance="fill">
                <mat-label>Tab name</mat-label>
                <input matInput formControlName="tabsName" id="tabsName" required>
                <mat-hint>Minimum 1 and maximum 100 characters</mat-hint>
                <mat-error *ngIf="tabsForm.controls.tabsName.errors?.required">
                    Tab name is required.
                </mat-error>
                <mat-error
                    *ngIf="tabsForm.controls.tabsName.errors?.maxlength && !tabsForm.controls.tabsName.errors?.pattern">
                    Tab name must be less than 100 characters.
                </mat-error>
                <mat-error *ngIf="tabsForm.controls.tabsName.errors?.pattern ">
                    Tab name is invalid.
                </mat-error>
            </mat-form-field>
        </div>
        <mat-dialog-actions align="end">
            <button mat-button type="button" (click)="dialogClose()">Cancel</button>
            <button type="submit" id="save_resourse_button" [disabled]="tabsForm.invalid" mat-flat-button
                color="primary">{{isNew ? 'Add' : 'Update'}}</button>
        </mat-dialog-actions>
    </form>
</mat-card-content>