<div class="header">
<div class="tabWrapper">
  <ul>
    <li class="tabHead active" routerLinkActive="active">
      <a class="tab-item" id="localJobs-tab" attr.aria-label="tab Month">Risk Assessment</a>
    </li>
    <li class="tabHead " (click)=" onRiskDocument()" routerLinkActive="active">
      <a class="tab-item"  id="localJobs-tab" attr.aria-label="tab Month">Risk Assessment Documents</a>
    </li>
  </ul>
</div>
</div>
<mat-card id='view_user_profile'>
<mat-card-content class="view_user-plan_container">
  <mat-card-header class="header">
    <div class="page-title-icon">
      <span class="action-buttons">
        <span>
          <button id="edit_view_button" mat-stroked-button color="primary"
            (click)="onEditClicked()">Edit</button></span>
        <button type="button" id="exit_page" mat-stroked-button class="right" color="primary"
          (click)="onExitClicked()">Exit</button>
      </span>
    </div>
  </mat-card-header>
  <div class="versionInfo" *ngIf="versionCount == 0 && countFlag">
    <p>
      <span class="versionNumber">Version 1</span>
      <span class="createdDate">{{riskAssessData.createdByDate | customMonthFormat}}</span>
      <span class="createdBy">{{riskAssessData.createdByName}}</span>
    </p>
  </div>
  <div class="versionInfo" *ngIf="versionCount > 0">
    <p>
      <span class="versionNumber">Version {{versionCount+1}}</span>
      <span class="createdDate">{{riskAssessData.createdByDate | customMonthFormat}}</span>
      <span class="createdBy">{{riskAssessData.createdByName}}</span>
    </p>
  </div>

  <div class="risk-container">
    <div class="info">
      <span class="details_label1">What is the graduates level of risk?</span>
      <span id="graduates">{{answerName1 || "N/A"}}</span>
    </div>

    <p>
      <span class="details_label1">Who is at risk from the graduate?</span>
      <li style="list-style: none;" *ngFor="let item of answerName2" id="riskFronGraduates">
        {{item}}
      </li>
      <span *ngIf="riskAssessData == undefined || answerName2.length == 0" id="riskFronGraduates">N/A </span>
    </p>

    <p  *ngIf="answerName3.length>0" class="info">
      <span class="details_label1">Is there a specific group in the public that is at risk?</span>
      <li style="list-style: none;"  *ngFor="let item of answerName3" id="groupPublic">
        {{item}}
      </li>
    </p>
    <p class="info">
      <span class="details_label1">Is the graduate MAPPA?</span>
      <span id="graduatesMappa">{{answerName4 || "N/A"}}</span>
    </p>
    <div  *ngIf ="answerName4 == 'Yes'">
    <p class="info">
      <span class="details_label1">What is the MAPPA category?</span>
      <span id="graduatesMappa">{{answerName5 }}</span>
    </p>


    <p class="info">
      <span class="details_label1">What is the MAPPA level?</span>
      <span id="graduatesMappa">{{answerName6 }}</span>
    </p>
    <p class="info">
      <span class="details_label1">Is there any further information about the MAPPA category?</span>
      <span id="profession_observation">
        <p>{{riskAssessData?.mappaCategoryInfo }} </p>
     
       </span>
    </p>
  </div>
    <p class="info">
      <span class="details_label1">Is there a history of sexual offending?</span>
      <span id="graduatesMappa">{{answerName7 || "N/A"}}</span>

    </p>
    <p  *ngIf ="answerName7 == 'Yes'" class="info">
      <span class="details_label1">Is there any further information about the sexual offending history?</span>
      <span>
        <p>{{riskAssessData?.sexualOffendingHistory}} </p>
      </span>
     
    </p>
    <p class="info">
      <span class="details_label1">What information has been used to determine the risk of the graduate?</span>
      <span id="profession_observation">
        <p>{{riskAssessData?.determineRiskGraduateInfo || "N/A"}} </p>
      </span>
    </p>
    <p class="info">
      <span class="details_label1">File name</span>
      <span>
        <p>{{riskAssessData?.fileName || "N/A"}}
        <button *ngIf="countFlag"  id="download_d
          ocument" mat-icon-button color="primary"
        (click)="download(riskAssessData.path)"  title="Download" attr.aria-label="Download {{name}}">
        <mat-icon>get_app</mat-icon>
        </button>
      </p> 
        </span>
      </p>
    
    <p class="info">
      <span class="details_label1">Date of risk assessment</span>
      <span id="profession_observation">
        <p *ngIf = "riskAssessData?.dataOfRiskAssessment != null">{{riskAssessData?.dataOfRiskAssessment | customMonthFormat }} </p>
        <p *ngIf = "riskAssessData?.dataOfRiskAssessment == null">N/A</p>
      </span>
    </p>
    <p class="info">
      <span class="details_label1">Date of risk assessment review</span>
      <span id="profession_observation">
        <p *ngIf = "riskAssessData?.reviewDate != null">{{riskAssessData?.reviewDate | customMonthFormat }} </p>
        <p *ngIf = "riskAssessData?.reviewDate == null"> N/A</p>
      </span>
    </p>
  </div>
</mat-card-content>
<div class="cta-buttons">
  <button mat-stroked-button color="primary" id="id-history" *ngIf="versionCount > 0" type="button" name="show-history"
    (click)="openDialog()">History</button>
</div>
</mat-card>