<h2 mat-dialog-title>Risk Assessment History</h2>
<mat-dialog-content class="mat-typography">
  <div class="card-row" *ngFor="let hlist of reversedObjectList; let i=index">
    <p class="info">
      <span class="details_label">Version {{hlist.versionNumber}} - {{hlist.versionDate | date:'dd MMMM yyyy'}}
        {{hlist.createdByName}}</span>
    </p>
<p class="info">
        <span class="details_label1">What is the graduates level of risk?</span>
        <span class="ans">{{getans1(hlist.graduatesLevelRiskId )}}</span>                    
</p>

   <p>
    <span class="details_label1">Who is at risk from the graduate?</span>
    <li style="list-style: none;" *ngFor="let item of hlist.answer2" id="riskFronGraduates" class="ans">
      {{item}}
    </li>
    </p>
   <div *ngIf ="hlist.answer3?.length>0"> <p >
    <span class="details_label1">Is there a specific group in the public that is at risk?</span>
    <li style="list-style: none;"  *ngFor="let item of hlist.answer3" class="ans" id="groupPublic">
      {{item}}
    </li>
  </p></div>
    

      <p class="info">
        <span class="details_label1">Is the graduate MAPPA?</span>
        <span class="ans" id="graduatesMappa">{{answerName4 }}</span>
      </p>
      <div  *ngIf ="answerName4 == 'Yes'">
      <p class="info">
        <span class="details_label1">What is the MAPPA category?</span>
        <span class="ans" id="graduatesMappa">{{answerName5 }}</span>
      </p>
      <p class="info">
        <span class="details_label1">What is the MAPPA level?</span>
        <span id="graduatesMappa">{{answerName6}}</span>
      </p>
      <p class="info">
        <span class="details_label1">Is there any further information about the MAPPA category?</span>
          <span id="profession_observation">
            <p>{{hlist?.mappaCategoryInfo}} </p>
        </span>
      </p>
      </div>
      <p class="info">
        <span class="details_label1">Is there a history of sexual offending?</span>
        <span id="graduatesMappa">{{answerName7 }}</span>

      </p>
      <p *ngIf ="answerName7 == 'Yes'" class="info">
        <span class="details_label1">Is there any further information about the sexual offending history?</span>
        <p>{{hlist?.sexualOffendingHistory}} </p>
     <p class="info">
        <span class="details_label1">What information has been used to determine the risk of the graduate?</span>
        <span id="profession_observation">
          <p>{{hlist?.determineRiskGraduateInfo }} </p>
        </span>
      </p>
      <p class="info">
        <span class="details_label1">File name</span>
        <span id="profession_observation">
          <p>{{hlist?.fileName}} </p>
        </span>
      </p>
      <p class="info">
        <span class="details_label1">Date of risk assessment</span>
        <span id="profession_observation">
          <p>{{hlist?.dataOfRiskAssessment | customMonthFormat }} </p>
        </span>
      </p>
      <p class="info">
        <span class="details_label1">Date of risk assessment review</span>
        <span id="profession_observation">
          <p>{{hlist?.reviewDate | customMonthFormat }} </p>
        </span>
      </p>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
