
<div class="grid-row nomargin">
  <div class="main-tab-container">
    <div class="tabWrapper">
      <ul>
        <li class="tabHead active" routerLinkActive="active"  [ngClass]="{'activeTab': activeTab === 'plan'}">
          <a class="tab-item" id="usefulContacts" attr.aria-label="tab Month">System interaction</a>
      </li>
      </ul>
    </div>
  </div>

  <ng-container >
    <mat-card >
      <ng-container>
      
        <div class="planWrapper" [ngSwitch]="activePlanSubTab">
          <app-timeline-system-interaction
            *ngSwitchCase="'track'" 
            [fStructureData]="fStructureData" 
            [loadMoreVisible]="loadMoreVisible"
            (loadMore)="onLoadMoreClicked($event)"
            (refreshFStructureData)="onNewEntryAdded($event)"
            (emitUpdateInterventionEvent)="updateFStructureDataAfterEntryChange($event)"
          ></app-timeline-system-interaction>
        </div>
      </ng-container>
    </mat-card>
  </ng-container>
</div>
  