.flex-end {
    display: flex;
    justify-content: flex-end;
  }

  .selected {
    background-color: #e0f2f1; /* Change this color to match your theme */
    color: #00796b; /* Change this color to match your theme */
  }
  