<mat-card id="edit-user">

  <mat-card-header class="flex-end">
    <button id="exit_user_button" mat-stroked-button color="primary" [routerLink]="['/v3/manage-users']">Exit</button>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)" validate autocomplete="off">
      <div class="label-hr">
        <span>Account details</span>
      </div>

      <div class="card-column" *ngIf="routeIntent === 'newUser'">
        <!-- <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput formControlName="userName" id="userName" required>
          <mat-error *ngIf="userForm.controls.userName.invalid && !userForm.controls.userName.errors?.maxlength && !userForm.controls.userName.errors?.pattern">
            Username is required
          </mat-error>
          <mat-error *ngIf="userForm.controls.userName.errors?.maxlength">
            Username should be less than 21 characters
          </mat-error>
          <mat-error *ngIf="userForm.controls.userName.errors?.pattern && !userForm.controls.userName.errors?.maxlength">
            Use only alphanumeric characters for your Username. A single dot (.) is also accepted
          </mat-error>
        </mat-form-field> -->

        <mat-form-field appearance="fill">
          <mat-label>Email address / Username</mat-label>
          <input matInput formControlName="emailAddress" id="emailAddress" required>
          <mat-error *ngIf="userForm.controls.emailAddress.invalid && !userForm.controls.emailAddress.errors?.maxlength && !userForm.controls.emailAddress.errors?.pattern">
            Email address is required
          </mat-error>
          <mat-error *ngIf="userForm.controls.emailAddress.errors?.pattern && !userForm.controls.emailAddress.errors?.maxlength">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="userForm.controls.emailAddress.errors?.maxlength">
            Email address should be less than 100 characters
          </mat-error>
        </mat-form-field>

      </div>
      <div class="card-column" *ngIf="routeIntent === 'editUser'">
        <mat-form-field appearance="fill">
          <mat-label>Email address / Username(disabled)</mat-label>
          <input matInput disabled value="{{formData?.emailAddress}}" id="userName">
        </mat-form-field>
      </div>

      <div class="card-row">
        <div class="card-column" *ngIf="routeIntent === 'editUser'">
          <mat-form-field appearance="fill">
            <mat-label>Account type (disabled)</mat-label>
            <ng-container>
              <mat-select disabled placeholder="Account Type" formControlName="accountType" required>
                <mat-option *ngFor="let role of roles" [value]="role.roleId" id="accountType-{{role.id}}" >{{role.roleName}}</mat-option>
              </mat-select>
            </ng-container>
          </mat-form-field>
        </div>
        <div class="card-column" *ngIf="routeIntent === 'newUser'">
          <mat-form-field appearance="fill">
            <mat-label>Account type</mat-label>
            <ng-container>
              <mat-select  placeholder="Account Type" formControlName="accountType" required>
                <mat-option *ngFor="let role of roles" [value]="role" id="accountType-{{role.id}}" >{{role.roleName}}</mat-option>
              </mat-select>
            </ng-container>
            <mat-error *ngIf="userForm.controls.accountType.invalid">
              Account Type is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="card-column">
          <mat-form-field appearance="fill">
            <mat-label>Account state</mat-label>
            <mat-select placeholder="Account State" formControlName="accountState">
              <mat-option [value]="true" id="account_state_enabled">Enabled</mat-option>
              <mat-option [value]="false" id="account_state_disabled">Disabled</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="label-hr">
        <span>User details</span>
      </div>

      <div class="card-row">
        <div class="card-column">
          <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <mat-select placeholder="Title" [value]="" formControlName="title" id="title">
              <mat-option *ngFor="let option of titles" [value]="option" id="title-{{option}}">
                {{option}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="card-column">
          <mat-form-field appearance="fill">
            <mat-label>Telephone</mat-label>
            <input matInput formControlName="phoneNumber" id="telephone">
            <mat-error *ngIf="userForm.controls.phoneNumber.errors?.maxlength && !userForm.controls.phoneNumber.errors?.pattern">
              Telephone should be less than 18 characters
            </mat-error>
            <mat-error *ngIf="userForm.controls.phoneNumber.errors?.pattern">
              Telephone not valid. Please use only numbers
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="card-row">
        <div class="card-column">
          <mat-form-field appearance="fill">
            <mat-label>First name</mat-label>
            <input matInput formControlName="firstName" id="firstName" required>
            <mat-error *ngIf="userForm.controls.firstName.invalid && !userForm.controls.firstName.errors?.maxlength && !userForm.controls.firstName.errors?.pattern">
              First name is required
            </mat-error>
            <mat-error *ngIf="userForm.controls.firstName.errors?.pattern && !userForm.controls.firstName.errors?.maxlength">
              First name is invalid
            </mat-error>
            <mat-error *ngIf="userForm.controls.firstName.errors?.maxlength">
              First name should be less than 100 characters
            </mat-error>
          </mat-form-field>
        </div>
        <div class="card-column">
            <mat-form-field appearance="fill">
            <mat-label>Family name</mat-label>
            <input matInput formControlName="lastName" id="lastName" required>
            <mat-error *ngIf="userForm.controls.lastName.invalid && !userForm.controls.lastName.errors?.maxlength && !userForm.controls.lastName.errors?.pattern">
              Family name is required
            </mat-error>
            <mat-error *ngIf="userForm.controls.lastName.errors?.pattern && !userForm.controls.lastName.errors?.maxlength">
              Family name is invalid
            </mat-error>
            <mat-error *ngIf="userForm.controls.lastName.errors?.maxlength">
              Family name should be less than 100 characters
            </mat-error>
          </mat-form-field>
        </div> 
      </div>
      <div class="card-row">
        <!-- <div class="card-column">
          <mat-form-field appearance="fill">
            <mat-label>Family name</mat-label>
            <input matInput formControlName="lastName" id="lastName" required>
            <mat-error *ngIf="userForm.controls.lastName.invalid && !userForm.controls.lastName.errors?.maxlength && !userForm.controls.lastName.errors?.pattern">
              Family name is required
            </mat-error>
            <mat-error *ngIf="userForm.controls.lastName.errors?.pattern && !userForm.controls.lastName.errors?.maxlength">
              Family name is invalid
            </mat-error>
            <mat-error *ngIf="userForm.controls.lastName.errors?.maxlength">
             Family name should be less than 100 characters
            </mat-error>
          </mat-form-field>
        </div> -->
        <div class="card-column">
          <mat-form-field appearance="fill">
            <mat-label>Which contracts does the staff member work on?</mat-label>
            <mat-select placeholder="Contracts" formControlName="contracts" id="contracts" multiple>
              <mat-select-trigger>
                {{selectedContracts.length ? selectedContracts.join(', ') : 'Choose contracts'}}
              </mat-select-trigger>
              <mat-option *ngFor="let option of refcontract" [value]="option.id" id="contracts-{{option.id}}">
                {{option.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="userForm.controls.contracts.invalid">
              Contracts are required
            </mat-error>
          </mat-form-field>
          
        </div>

        
        
      </div>

      <mat-card-footer>
        <span class="spacer"></span>
        <span>
          <button type="submit" id="save_user_button" mat-flat-button color="primary" [disabled]="!userForm.valid">Save</button>
        </span>
      </mat-card-footer>

    </form>
  </mat-card-content>

</mat-card>
