<div class="header">
    <div class="tabWrapper">
        <ul>
            <li class="tabHead " (click)="goToPlan()" routerLinkActive="active">
                <a class="tab-item" id="usefulContacts" attr.aria-label="tab Month">Plan</a>
            </li>
            <li class="tabHead active" (click)="goToGoalsAndActions()"
                [routerLink]="['/person-supported/plan-v2/add-goals']" routerLinkActive="active"
                queryParamsHandling="merge">
                <a class="tab-item" id="usefulContacts" attr.aria-label="tab Month">Goals and Actions</a>
            </li>
        </ul>
    </div>
</div>
<div class="grid-row nomargin">
    <mat-card id='assessments'>
        <mat-card-header class="main_header">
            <span class="spacer"></span>
            <div *ngIf="goalsList?.length >= 0">
                <span class="action-buttons">
                    <button id="exit_user_button" mat-stroked-button color="primary" (click)="showAddGoalsForm()">Add
                        Goals</button>
                </span>
            </div>

        </mat-card-header>
    
        <mat-card-content>
            <p *ngIf="goalsList?.length === 0" class="mat-dialog-title alignment">Person supported currently has no goals and actions.</p>
            <div *ngIf="showForm">
            <form [formGroup]="addGoalForm" (ngSubmit)="onSubmit()" autocomplete="off">
                <div class="card-column">
                    <div>
                        <span class="details_label">What is your goal?</span>
                        <mat-form-field appearance="fill">
                            <mat-label>Goal name</mat-label>
                            <input matInput placeholder="Goal Name" formControlName="goalDescription" id="goalName">
                            <mat-error *ngIf="addGoalForm.get('goalDescription').hasError('required')">
                                Goal name is required
                            </mat-error>
                            <mat-error *ngIf="addGoalForm.get('goalDescription').hasError('maxlength')">
                                Goal name should be 100 characters or less
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <span class="details_label">Where am I now?</span>
                    <div class="rating-container">
                        <div class="rating-box" *ngFor="let number of RatingData"
                        [ngClass]="{'selected': isEdit ? selectedRating === number.id : selectedRating === number}"
                        (click)="setRating(number)" [class.selected]="selectedRating === number">
                            {{ number.id }}
                        </div>
                        <input type="hidden" formControlName="ratingScaleId"/>
                    </div>
                    <div>
                        <span class="details_label">Which plan does your goal relate to?</span>
                        <mat-form-field id="type" appearance="outline">
                            <mat-label>Select an option</mat-label>
                            <mat-select formControlName="assessmentTemplateId" matInput placeholder="Select a plan" >
                                <mat-option *ngFor="let assessment of assessmentData"
                                    [value]="assessment.assessmentTemplateId"
                                    (onSelectionChange)="selectAssessment(assessment)">
                                    {{ assessment.assessmentName }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="addGoalForm.get('assessmentTemplateId').hasError('required')">
                                Plan is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <span class="details_label">What is the goal type?</span>
                        <mat-form-field id="type" appearance="outline">
                            <mat-label>Select an option</mat-label>
                            <mat-select formControlName="goalActivityTypeId" matInput placeholder="Select a goal">
                              <mat-option *ngFor="let goal of goalActivity" [value]="goal.id">
                                {{ goal.description }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="addGoalForm.get('goalActivityTypeId').hasError('required')">
                              Goal activity type is required</mat-error>
                          </mat-form-field>
                    </div>
                    
                    <div *ngIf="goaldata && goaldata.isEditable === true && !isNew" class="status_radio">
                        <mat-radio-group formControlName="markAsComplete" class="radio-group">
                            <mat-radio-button class="radio-complete" type="radio" name="status" [value]="true"
                                (click)="onMarkAsCompletedClick(true)"> Mark as
                                complete</mat-radio-button>
                        </mat-radio-group>
                        <mat-radio-group formControlName="markAsInComplete" class="radio-group">
                            <mat-radio-button type="radio" name="status" [value]="true" (click)="onMarkAsInCompletedClick(true)"> Mark as
                                incomplete</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <br>
                    <div class="final-rating" *ngIf="addGoalForm.get('markAsComplete').value || addGoalForm.get('markAsInComplete').value ">
                        <span class="details_label rating-label">Where do I feel I am at with this goal now?</span>
                        <div class="rating-container">
                            <div class="rating-box" *ngFor="let number of RatingData"
                                [ngClass]="{'selected': isEdit ? selectedFinalRating === number.id : selectedFinalRating === number}"
                                (click)="setFinalRating(number)" [class.selected]="selectedFinalRating === number">
                                {{ number.id }}
                            </div>
                            <input type="hidden" formControlName="finalratingScaleId" required />
                        </div>
                    </div>

                    <div align="end">
                        <button  mat-button type="button" type="button" (click)="cancelForm()">
                            Cancel
                          </button>
                        <button class="add-btn" type="submit" mat-flat-button color="primary" [disabled]="!addGoalForm.valid">{{ isNew ?
                            'Add' : 'Update' }}</button>     
                    </div>
                </div>
            </form>
            </div>
            <div class="list-table" *ngIf="goalsList?.length > 0">
                <div>
                    <span class="details_label">My goals and achievements</span>
                </div>
                <div class="accordion-section">
                    <div class="table-container">
                        <mat-accordion class="example-headers-align" multi>
                            <mat-expansion-panel disabled>
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="header-width width-30">
                                        The goals I want to achieve
                                    </mat-panel-title>
                                    <mat-panel-title class="header-width width-30 ml">
                                        Ratings
                                    </mat-panel-title>
                                    <mat-panel-title class="header-width width-30 ml">
                                        Plan type
                                    </mat-panel-title>
                                    <mat-panel-title class="header-width width-30 ml">
                                        Type of goal
                                    </mat-panel-title>
                                    <mat-panel-title class="header-width width-30">
                                        What do I need to do?
                                    </mat-panel-title> <mat-panel-title class="header-width width-30">
                                        Action
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                            </mat-expansion-panel>
                            <mat-expansion-panel *ngFor="let goal of goalsList; let i = index">
                                <mat-expansion-panel-header [expanded]="isPanelExpanded">
                                    <mat-panel-title class="width-30">
                                        {{goal.goal}}
                                    </mat-panel-title>
                                    <mat-panel-title class="width-30">
                                        {{goal.ratingScale}}
                                    </mat-panel-title>
                                    <mat-panel-title class="width-30">
                                        {{goal.assessmentName}}
                                    </mat-panel-title>
                                    <mat-panel-title class="width-30">
                                        {{goal.goalActivity}}
                                    </mat-panel-title>
                                    <mat-panel-title class="width-30">
                                    
                                        <button class="action-btn" type="submit" mat-flat-button mat-button-base mat-primary mat-flat-button color="primary"
                                            [disabled]="goal.isEditable == false || goal.actionList.length >= 2 || goal.isGoalEditable == false"
                                            (click)="$event.stopPropagation(); addAction(goal)">Add
                                            action</button>
                                        </mat-panel-title>
                                        <mat-panel-title class="width-30">
                                        <button mat-icon-button color="primary" matTooltip="Edit" [matTooltipShowDelay]="800"
                                            [disabled]="goal.isGoalEditable == false" (click)="$event.stopPropagation(); editGoal(goal?.id)">
                                            <mat-icon>create</mat-icon>
                                        </button>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-card *ngIf="goal.actionList.length > 0">
                                    <mat-card-content>
                                        <mat-table [dataSource]="goal.actionList" multiTemplateDataRows>
                                            <ng-container matColumnDef="action">
                                                <mat-header-cell *matHeaderCellDef id="workerName_button"> Actions to achieve these goals
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let element"><span
                                                    class="mobile-label">Actions to achieve these goals:
                                                </span>
                                                    {{element.action}}
                                                </mat-cell>
                                            </ng-container>
                                            <ng-container matColumnDef="comment">
                                                <mat-header-cell *matHeaderCellDef id="workerName_button"> How do I feel about this goal or action?
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let element"><span
                                                    class="mobile-label">How do I feel about this goal or action?:
                                                </span>
                                                    {{element.comment}}
                                                </mat-cell>
                                            </ng-container>
                                            <ng-container matColumnDef="personResponsible">
                                                <mat-header-cell *matHeaderCellDef id="workerName_button"> Person
                                                    Responsible
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let element"><span
                                                    class="mobile-label">Person
                                                    Responsible:
                                                </span>
                                                    {{element.byWho}}
                                                </mat-cell>
                                            </ng-container>
                                            <ng-container matColumnDef="goalActivityType">
                                                <mat-header-cell *matHeaderCellDef id="workerName_button"> Type of goal
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let element"><span
                                                    class="mobile-label">Goal activity
                                                    type:
                                                </span>
                                                    {{element.goalActivity}}
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="completionDate">
                                                <mat-header-cell *matHeaderCellDef id="workerName_button"> Completion date
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let element"><span
                                                    class="mobile-label">Completion date:
                                                </span>
                                                    {{element.action}}
                                                </mat-cell>
                                            </ng-container>
                                            <ng-container matColumnDef="status">
                                                <mat-header-cell *matHeaderCellDef id="workerName_button"> Status
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let element"><span
                                                    class="mobile-label">Status:
                                                </span>
                                                    {{element.status}}
                                                </mat-cell>
                                            </ng-container>
                                            <ng-container matColumnDef="actions">
                                                <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                                                <mat-cell *matCellDef="let element"><span
                                                    class="mobile-label">
                                                </span>
                                                    <button id="edit_user_button_{{element.id}}" mat-icon-button
                                                        color="primary" [matTooltipShowDelay]="800"
                                                        [disabled]="element.isEditable == false"
                                                        (click)="editAction(element.id)">
                                                        <mat-icon>create</mat-icon>
                                                    </button>
                                                </mat-cell>
                                            </ng-container>

                                            <mat-header-row *matHeaderRowDef="coursesColumns"></mat-header-row>
                                            <mat-row *matRowDef="let element; columns: coursesColumns;"
                                                class="example-element-row">
                                            </mat-row>
                                        </mat-table>
                                    </mat-card-content>
                                </mat-card>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <div align="end" class="align">
                            <div align="end" class="align">
                                <button mat-stroked-button color="primary" *ngIf="assessmentTemplateId" (click)="finish()">Finish</button>
                            </div>            
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>