<div class="header">
    <div class="tabWrapper">
        <ul>
            <li class="tabHead active" routerLinkActive="active">
                <a class="tab-item" id="localJobs-tab" attr.aria-label="tab Month">Referrals</a>
            </li>
        </ul>
    </div>
</div>

<mat-card id='referral'>

    <mat-card-header>
        <span class="spacer"></span>
        <span *ngIf="!isReferralsEmpty">
            <button id="create_referral_button" (click)="openPrintDialog()" mat-stroked-button class="right"
                color="primary">Print Referrals
            </button>
            <div id="form_holder" style="display: none;"></div>
        </span>
        <span>
            <button  id="create_referral_button" (click)="addReferral()" mat-stroked-button class="right"
                color="primary">Add
            </button>
        </span>
        <span>
            <button id="exit_page" (click)="onExitClicked()" mat-stroked-button class="right" color="primary">Exit</button>
        </span>
    </mat-card-header>

    <mat-card-content *ngIf="isReferralsEmpty">
        <h3 class="mat-dialog-title"> No current referrals </h3>
    </mat-card-content>
    <mat-card-content class="users_container" *ngIf="!isReferralsEmpty">

        <mat-table id="user_table" #table [dataSource]="dataSource" class="isMobile" matSort>
            <ng-container matColumnDef="otherIntervention">
                <mat-header-cell *matHeaderCellDef id="user_name_button" class="name width-30">
                    Referral
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="name width-30"> <span class="mobile-label">Referral: </span>
                    {{element.interventionName}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="referralDate">
                <mat-header-cell class="width-20" *matHeaderCellDef id="prn_button"> Referral Date
                </mat-header-cell>
                <mat-cell class="width-20" *matCellDef="let element"> <span class="mobile-label">Referral Date:
                    </span>{{element.referralDate | date: 'dd MMM yyyy'}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="workerName">
                <mat-header-cell class="width-20" *matHeaderCellDef id="prn_button"> Worker
                </mat-header-cell>
                <mat-cell class="width-20" *matCellDef="let element"> <span class="mobile-label">Worker
                    </span>{{element.workerName}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="notes">
                <mat-header-cell class="width-20" *matHeaderCellDef id="dateOfBirth_button"> Notes
                </mat-header-cell>
                <mat-cell class="width-20" *matCellDef="let element"> <span class="mobile-label">Notes:
                    </span>{{element.notes}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="otherOrganisation">
                <mat-header-cell class="width-20" *matHeaderCellDef id="dateOfBirth_button">Organisation
                </mat-header-cell>
                <mat-cell class="width-20" *matCellDef="let element"> <span class="mobile-label">Organisation:
                    </span>{{element.organisationName}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="outcome">
                <mat-header-cell class="width-20" *matHeaderCellDef id="dateOfBirth_button">Referral outcome
                </mat-header-cell>
                <mat-cell class="width-20" *matCellDef="let element"> <span class="mobile-label">Referral outcome:
                    </span>{{element.outcomeName}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="symbol">
                <mat-header-cell class="width-20" *matHeaderCellDef id="dateOfBirth_button"> Actions
                </mat-header-cell>
                <mat-cell class="width-20" *matCellDef="let element">
                    <button *ngIf="isAuthorized(81,2)"  id="view_user_button_{{element.id}}" mat-icon-button color="primary" matTooltip="View"
                        [matTooltipShowDelay]="800" [routerLink]="['./view-referral']"
                        [queryParams]="{ id: userId, name:name, referralId:element.id}" queryParamsHandling="merge">
                        <mat-icon>visibility</mat-icon>
                    </button>
                    <button *ngIf="isAuthorized(81,3)"  [routerLink]="['./edit-referral/']" type="button"
                        [queryParams]="{ id: userId, name: name, referralId:element.id }" queryParamsHandling="merge"
                        id="edit_service_user_button_{{element.id}}" mat-icon-button color="primary" matTooltip="Edit">
                        <mat-icon>create</mat-icon>
                    </button>
                    <button *ngIf="isAuthorized(81,4)" id="delete_contents_button_{{element.id}}" mat-icon-button
                        (click)="onDeleteReffClicked(element.id)" type="button" attr.aria-label="Delete {{element.id}}"
                        matTooltip="Delete">
                        <mat-icon color="accent">delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator id="documents_pagination" [pageSize]="pageSize" [showFirstLastButtons]='true'
            [hidePageSize]="true" (page)="onPageChange($event)">
        </mat-paginator>

    </mat-card-content>

</mat-card>