<mat-card id='view-course-setup'>
    <mat-card-header>

        <div>
            <mat-icon class="v-align-middle"> format_list_numbered </mat-icon>
            <span class="v-align-middle">Course setup </span>
        </div>
        <span class="spacer"></span>
        <span>
            <button *auth="[59,1]" id="add_course_setup_button" mat-stroked-button color="primary" (click)="addCourseDialog()">Add
                course</button>
        </span>
    </mat-card-header>
    <mat-card-content class="course-setup">
        <mat-form-field id="search_users_form" appearance="fill" class="width">
            <mat-label>Search by course</mat-label>

            <input id="search_user_input" autocomplete="off" matInput #search_user_input aria-label="Search for a course"
                (keyup.enter)="onFilter(search_user_input.value)">

            <button id="on_search_button" mat-button matSuffix mat-icon-button aria-label="Search"
                (click)="onFilter(search_user_input.value)">
                <mat-icon>search</mat-icon>
            </button>
            <button id="clear_search_button" *ngIf="search_user_input.value !==''" mat-button matSuffix mat-icon-button
                aria-label="Clear" (click)="onFilter(''); search_user_input.value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        
            <mat-table id="course_setup_table" #table class="isMobile" [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="courseName">
                    <mat-header-cell *matHeaderCellDef id="courseName" mat-sort-header>
                        Course
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"><span class="mobile-label">Course:
                    </span>
                        {{ element.courseName }}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="courseCode">
                    <mat-header-cell *matHeaderCellDef id="courseCode" mat-sort-header>
                        Course code
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"><span class="mobile-label">Course code:
                    </span>
                        {{ element.courseCode }}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="courseType">
                    <mat-header-cell *matHeaderCellDef id="courseType">
                        Type
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"><span class="mobile-label">Type:
                    </span>
                        {{ element.courseType }}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="glh">
                    <mat-header-cell *matHeaderCellDef id="glh">
                        GLH
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"><span class="mobile-label">GLH:
                    </span>
                        {{ element.glh }}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button *auth="[59,3]" id="edit_user_button_{{element.id}}" mat-icon-button color="primary"
                            attr.aria-label="Edit" (click)="editCourseDialog(element.id)" matTooltip="Edit" class="mat-style"
                            [matTooltipShowDelay]="800">
                            <mat-icon>create</mat-icon>
                        </button>
                        <button *auth="[59,4]" id="delete_user_button" mat-icon-button attr.aria-label="Delete" matTooltip="Delete"
                            [matTooltipShowDelay]="800" (click)="onDelete(element.id)">
                            <mat-icon color="accent">delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        <mat-paginator id="user_pagination" [pageSize]="pageSize" [showFirstLastButtons]='true' [hidePageSize]="true">
        </mat-paginator>
    </mat-card-content>
</mat-card>