<mat-card id='search-programmes'>
    <mat-card-header>
        <div>
            <span class="v-align-middle">Programme set up </span>
        </div>

        <span class="spacer"></span>
        <span>
            <button *ngIf="isAuthorized(153,1)" mat-stroked-button color="primary" [routerLink]="['./add-edit-programme-setup']">Add programme
            </button>
        </span>
    </mat-card-header>

    <mat-card-header>
        <span class="example-form">
            <mat-form-field id="search_programme_form" appearance="fill" class="example-full-width">
            <mat-label>Search programmes</mat-label>
              <input id="search_programme_input" autocomplete="off" (keydown.enter)="onFilter(search_programme_input.value)" matInput
             #search_programme_input aria-label="Search a user">
              <button id="do_search_button" mat-button matSuffix mat-icon-button aria-label="Search"
                (click)="onFilter(search_programme_input.value)">
                <mat-icon>search</mat-icon>
              </button>
              <button id="clear_search_button" *ngIf="search_programme_input.value !==''" mat-button matSuffix
                mat-icon-button aria-label="Clear" (click)="onFilter(''); search_programme_input.value=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </span>
    
    </mat-card-header>

    <mat-card-content class="learners">
        <span class="spacer"></span>
        <div >
        <mat-table id="learners_table" #table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="ou.organizationName">
                <mat-header-cell *matHeaderCellDef id="orgName" mat-sort-header>
                    Programme
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.orgName }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="contract">
                <mat-header-cell *matHeaderCellDef id="contract" >
                    Contract
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.contract  }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="participantLicence">
                <mat-header-cell *matHeaderCellDef id="participantLicence">
                    Participant licences
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.partipantLicences }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="coachLicence">
                <mat-header-cell *matHeaderCellDef id="coachLicence">
                    Coach licences
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.coachLicences }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="dateCreated">
                <mat-header-cell *matHeaderCellDef id="date">
                    Date created
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.createdDate | customMonthFormat}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="createdby">
                <mat-header-cell *matHeaderCellDef id="createdby">
                     Created by
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.createdByName }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                <mat-cell *matCellDef="let element">

                        <button *ngIf="isAuthorized(153,2)" id="view_user_button_{{element.id}}" mat-icon-button color="primary" matTooltip="View"
                            [matTooltipShowDelay]="800" (click)="onViewClick(element.roleId)" >
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button *ngIf="isAuthorized(153,3)" id="edit_user_button_{{element.id}}" mat-icon-button color="primary"
                            (click)="onEditClick(element.roleId)" matTooltip="Edit"
                            [matTooltipShowDelay]="800">
                            <mat-icon>create</mat-icon>
                        </button>
                        <button id="delete_user_button" mat-icon-button attr.aria-label="Delete" (click)="onDelete(element.roleId)" matTooltip="Delete"
                            [matTooltipShowDelay]="800">
                            <mat-icon color="accent">delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
        <mat-paginator id="user_pagination" [pageSize]="pageSize" [showFirstLastButtons]='true' [hidePageSize]="true">
        </mat-paginator>
    </mat-card-content>
</mat-card>