<mat-card id='view-qualification-setup'>
    <mat-card-header>

        <div>
            <mat-icon class="v-align-middle">cast_for_education</mat-icon>
            <span class="v-align-middle">Qualification setup </span>
        </div>
        <span class="spacer"></span>
        <span>
            <button *auth="[59,1]" id="add_qualification_setup_button" mat-stroked-button color="primary"
                (click)="addQualificationDialog()">Add
                qualification</button>
        </span>
    </mat-card-header>
    <mat-card-content class="qualification-setup">
        <mat-form-field id="search_users_form" appearance="fill" class="width">
            <mat-label>Search by qualification</mat-label>

            <input id="search_user_input" matInput autocomplete="off" #search_user_input aria-label="Search for a user"
                (keyup.enter)="onFilter(search_user_input.value)">

            <button id="on_search_button" mat-button matSuffix mat-icon-button aria-label="Search"
                (click)="onFilter(search_user_input.value)">
                <mat-icon>search</mat-icon>
            </button>
            <button id="clear_search_button" *ngIf="search_user_input.value !==''" mat-button matSuffix mat-icon-button
                aria-label="Clear" (click)="onFilter(''); search_user_input.value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
            <mat-table id="qualification_setup_table" #table class="isMobile" [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="qualificationName">
                    <mat-header-cell *matHeaderCellDef id="qualificationName" mat-sort-header>
                        Qualification
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"><span class="mobile-label">Qualification:
                    </span>
                        {{ element.qualificationName }}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="qualificationCode">
                    <mat-header-cell *matHeaderCellDef id="qualificationCode" mat-sort-header>
                        Qualification code
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"><span class="mobile-label">Qualification code:
                    </span>
                        {{ element.qualificationCode }}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button *auth="[59,3]"  id="edit_user_button_{{element.id}}" mat-icon-button color="primary"
                            attr.aria-label="Edit" (click)="editQualificationDialog(element.id)" matTooltip="Edit" class="mat-style"
                            [matTooltipShowDelay]="800">
                            <mat-icon>create</mat-icon>
                        </button>
                        <button *auth="[59,4]"  id="delete_user_button" mat-icon-button attr.aria-label="Delete" matTooltip="Delete"
                            [matTooltipShowDelay]="800" (click)="onDelete(element.id)">
                            <mat-icon color="accent">delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        <mat-paginator id="user_pagination" [pageSize]="pageSize" [showFirstLastButtons]='true' [hidePageSize]="true">
        </mat-paginator>
    </mat-card-content>
</mat-card>