<mat-card id='view-resorce-setup'>
    <mat-card-header>
        <div>
            <mat-icon class="v-align-middle"> directions_car </mat-icon>
            <span class="v-align-middle"> Resource setup </span>
        </div>

        <span class="spacer"></span>
        <span>
            <button *auth="[59,1]" id="add_resource_setup_button" mat-stroked-button color="primary" (click)="addResourceDialog()">Add
                resource</button>
        </span>
    </mat-card-header>
    <mat-card-content class="resource-setup">
            <mat-table id="resourcesetup_table" #table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="resource">
                    <mat-header-cell *matHeaderCellDef id="resource" mat-sort-header>
                        Resource
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{ element.resource }}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="createdDate">
                    <mat-header-cell *matHeaderCellDef id="createdDate" mat-sort-header>
                        Created date
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{ element.createdDate |date:'dd MMM yyyy'}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button *auth="[59,3]" id="edit_user_button_{{element.id}}" mat-icon-button color="primary"
                            attr.aria-label="Edit" attr.aria-label="Edit" (click)="editResourceDialog(element.id)"
                            matTooltip="Edit" [matTooltipShowDelay]="800">
                            <mat-icon>create</mat-icon>
                        </button>
                        <button  *auth="[59,4]" id="delete_user_button" mat-icon-button attr.aria-label="Delete" matTooltip="Delete"
                            [matTooltipShowDelay]="800" (click)="onDelete(element.id)">
                            <mat-icon color="accent">delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        <mat-paginator id="user_pagination" [pageSize]="pageSize" [showFirstLastButtons]='true' [hidePageSize]="true">
        </mat-paginator>
    </mat-card-content>
</mat-card>