.chip {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  padding: 7px 12px;
  border-radius: 4px;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid rgba(0, 0, 0, 0.164);
  color: rgba(0, 0, 0, 0.87);
  width: 40px;
  margin: 5px ,0px ,0px ,20px;
}

.select-box{
  width: 80px;
}

.highlight-expendable-table {
  background-color:#f3f2f1;
  padding: 0px 22px 0px 0px;
  width: 100%;
  .card-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
}
}
.highlight-expendable-table1 {
  background-color:#f3f2f1;
  width: 100%;
  .card-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
}
}
.capacity{
width: 120px;
box-sizing: border-box;
text-align: center;
border-radius: 0px;
font-size: 16px;
background-color: white;
padding: 12px 40px 12px 30px;
transition: width 0.4s ease-in-out;
}

table {
  width: 100%;
}



mat-row.example-detail-row.mat-row {
  min-height: 0;
  .mat-cell {
    margin: 0;
  }
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row{
  border-bottom-width: 0;
}

  .example-element-detail {
    overflow: hidden;
    margin: 0 -24px;
    display: contents;
  }

.example-element-diagram {
  min-width: 80px;
  border: 2px solid #2b769b;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.padding-top{
  margin-top: 15px;
}

.margin40 {
    margin: 40px 0;
  }
  .positive {
    color: black;
}

.negative {
    color: red;
}

.center {
  text-align: center;
}

.width-70 {
  .mat-form-field {
    width: 100%;
  }
}
.custom-label{
  padding: 0 12px;
}


.worksho_plan{
  .width-10{
    width: 80px;
    flex: none;
    margin-right: 20px;
    display: inline-block;
    .mat-form-field{
      width: 100%;
    }
  }
  .width-200{
    width: 200px;
    flex: none;
    margin-right: 20px;
    display: inline-block;
    .mat-form-field{
      width: 100%;
    }
  }
}
.nopadleft{
padding-left: 0!important;
}

.mat-cell{
  display:block;
}

.btn-column {
  width: 30px;
  margin-top: 22px;
}

.add-btn-size {
  font-size: 40px;
  margin-right: 10px;
}

.icon-align-right {
  text-align: right;
  size: 50px;
}

.card-column-48 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: calc(48% - 12px);
  @media screen and (max-width: 1365px) {
    width: calc(100% - 0px);
    margin-bottom: 15px;
  }
}
