.width-left{
  
    width: 146px;
}
.table td{
  border: 0;
}

.table-counter {
    /* Set "my-sec-counter" to 0 */
    counter-reset: my-sec-counter;
  }
  
  .counter::before {
    /* Increment "my-sec-counter" by 1 */
    counter-increment: my-sec-counter;
    content: counter(my-sec-counter) ".  ";
  }

.width{
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
}