

<!---PROCESS HEADER-->
<div class="row">
    <div class="col-md-12">
        <div class="card mb-2 font-20">
            <div class="card-header"><strong>Update Contact Details</strong>
            </div>
            <div class="card-body">
                <form #editContact="ngForm" (ngSubmit)="editContact.form.valid  &&  saveUser(editContact)"  novalidate  autocomplete="off" class="w-100">
                    <br>
                    <div class="row ">
                        <div class="col-md-5 ">
                            <div class="p-2">
                                <div class="row"> 
                                    <div class="col-lg-12">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;
                                        <label><strong style="color: darkgrey; font-size: large;">{{contactInfo.originalEmailId}}</strong></label>
                                    </div>                                    
                                </div> 
                           </div>
                            <div class="table-responsive mt-3">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="width-left">
                                               First Name 
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" placeholder="Firstname" id="firstName"  
                                                [(ngModel)]="contactInfo.firstName" pattern="[a-zA-Z][a-zA-Z ]+"
                                                name="firstName"  #firstName="ngModel">
                                                <div *ngIf="editContact.submitted && firstName.invalid || firstName.touched">
                                                    <div *ngIf="firstName.touched || editContact.submitted">
                                                        <p *ngIf="firstName.errors?.pattern " class="help-box">Please enter valid first name!</p>
                                                    </div>
                                                </div> 
                                            </td>
                                        </tr>
                                      <tr>
                                        <td class="width-left">
                                           Last Name 
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Lastname" id="lastName"  
                                            [(ngModel)]="contactInfo.lastName" pattern="[a-zA-Z][a-zA-Z ]+"
                                            name="lastName"   #lastName="ngModel">
                
                                            <div *ngIf="editContact.submitted && lastName.invalid || lastName.touched">
                                                <div *ngIf="lastName.touched || editContact.submitted">
                                                    <p *ngIf="lastName.errors?.pattern " class="help-box">Please enter valid last name!</p>
                                                </div>
                                            </div> 
                                        </td>
                                      </tr>

                                      <tr>
                                        <td class="width-left">Mobile No.</td>
                                        <td>
                                        <div class="form-grou"  >
                                            <div class="d-flex">
                                                <select class ="form-control col-sm-3 p-1" name="mobileCountryCode" id="mobileCountryCode" 
                                                                    [(ngModel)]="contactInfo.mobileCountryCode"  
                                                                    #mobileCountryCode="ngModel"  >
                                                                    <option value="">Code </option>
                                                                    <option *ngFor="let p of mobilecodeList"
                                                                        [value]="p.mobileCountryCode">{{p.mobileCountryCode}} {{p.countryName}}</option>
                                                                </select>
                                                <input type="text" class="form-control " placeholder="Enter Mobile"
                                                    pattern="[1-9]{1}[0-9]{9}" [(ngModel)]="contactInfo.mobileNo" name="mobileNo" 
                                                    #mobileNo="ngModel">
                                            </div>
                                            <div *ngIf="editContact.submitted && mobileNo.invalid || mobileNo.touched">
                                                <div *ngIf="mobileNo.touched || editContact.submitted">
                                                    <p *ngIf="mobileNo.errors?.pattern" class="help-box">Please enter valid mobile
                                                        number!</p>
                                                </div>
                                            </div>
                                        </div>
                                        </td>
                                       </tr>

                                      <tr>
                                        <td class="width-left">Date of Birth</td>
                                        <td>
                                            <input class="form-control" name="dob" type="date" id="dob"
                                            [(ngModel)]="contactInfo.dob" #dob="ngModel">
            
                                            <!-- <div *ngIf="editContact.submitted && dob.invalid || dob.touched">
                                                <div *ngIf="dob.touched || editContact.submitted">
                                                    <p *ngIf="dobflag == 1 " class="help-bpx"
                                                        style="color: red;">Please select valid date</p>
                                                    <p *ngIf="dob.errors?.required " class="help-bpx"
                                                        style="color: red;">Please select date</p>
                                                </div>
                                            </div> -->
                                        </td>
                                      </tr>
                                      
                                      <tr>
                                        <td class="width-left">City </td>
                                        <td>
                                            <input type="text" class="form-control" placeholder="City" id="city"  
                                                    [(ngModel)]="contactInfo.city" name="city" pattern="[a-zA-Z][a-zA-Z ]+"
                                                      #city="ngModel">
                        
                                                <div *ngIf="editContact.submitted && city.invalid || city.touched">
                                                    <div *ngIf="city.touched || editContact.submitted">
                                                        <p *ngIf="city.errors?.pattern " class="help-box">Please enter valid city!</p>
                                                    </div>
                                                </div>  
                                        </td>
                                      </tr>
                                      <tr>
                                        <td class="width-left">Company Name </td>
                                        <td>
                                            <input type="text" class="form-control" placeholder=" Company Name" id="companyName"  
                                                    [(ngModel)]="contactInfo.companyName" pattern="[ a-zA-Z0-9][a-zA-Z0-9 ]+"
                                                    name="companyName"  #companyName="ngModel">
                        
                                                <div *ngIf="editContact.submitted && companyName.invalid || companyName.touched">
                                                    <div *ngIf="companyName.touched || editContact.submitted">
                                                        <p *ngIf="companyName.errors?.pattern " class="help-box">Please enter valid company name!</p>
                                                    </div>
                                                </div> 
                                        </td>
                                      </tr>
                
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12">
                                <div class=" text-center mt-5">
                                    <button type="submit" class="btn btn-info mr-3"><strong>Update </strong></button> 
                                    <button  type="button" class="btn btn-danger" (click)="redirectToAllContacts()"><strong>  Cancel</strong></button>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-7 ">

                            <!--Accordion-->
                            <div id="accordion">
                                <div class="card">
                                  <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                        <div><strong><i class="fa fa-list" aria-hidden="true"></i>&nbsp;Registred on Selected List <i class="fa fa-angle-double-down float-right" aria-hidden="true"></i></strong></div>
                                    </a>
                                  </div>
                                  <div id="collapseOne" class="collapse show sizing" data-parent="#accordion">
                                    <div class="card-body width">
                                        <table class="table table-borderless table-counter width">
                                        <thead class="bg-light">
                                            <tr>
                                                <th *ngIf="listFlag==false" style="width: 15%;">S. No.</th>
                                                <th *ngIf="listFlag==false" style="width: 25%;max-width: 25%;">Created Date</th>
                                                <th *ngIf="listFlag==false" style="width: 25%;max-width: 25%;">List Name</th>
                                                <th *ngIf="listFlag==false" style="width: 40%;max-width: 40%;">Description</th>
                                            </tr>
                                        </thead>
                                            <tbody>
                                            <a *ngIf="listFlag==true">{{message}}</a>
                                            <tr *ngFor="let data of contactListDetail">
                                                <td class="counter"></td> 
                                                <td *ngIf="listFlag==false" >{{data.createdDate | date:"dd-MMM-yyyy 'at' h:mm a"}}</td>
                                                <td *ngIf="listFlag==false">{{data.listName}}</td>
                                                <td style="word-break: break-word;" *ngIf="listFlag==false">{{data.listDescription}}</td>
                                            </tr>
                                          </tbody> 
                                          </table>
                                    </div>
                                  </div>
                                </div>
                                <div class="card">
                                  <div class="card-header">
                                    <a class="collapsed card-link " data-toggle="collapse" href="#collapseTwo">
                                        <div><strong><i class="fa fa-bullhorn" aria-hidden="true"></i>&nbsp;Campaign History <i class="fa fa-angle-double-down float-right" aria-hidden="true"></i></strong></div>
                                    </a>
                                  </div>
                                  <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                    <div class="card-body width">
                                        <table class="table table-borderless table-counter width">
                                        <thead class="bg-light">
                                            <tr>
                                                <th *ngIf="campaignFlag==false" style="width: 15%;">S. No.</th>
                                                <th *ngIf="campaignFlag==false" style="width: 25%;max-width: 25%;">Created Date</th>
                                                <th *ngIf="campaignFlag==false" style="width: 25%;max-width: 25%;">Campaign Name</th>
                                                <th *ngIf="campaignFlag==false" style="width: 40%;max-width: 40%;">Description</th>
                                            </tr>
                                            
                                        </thead>
                                            <tbody>
                                            <a *ngIf="campaignFlag==true">{{message}}</a>
                                            <tr *ngFor="let data of campaignList">
                                                <td class="counter"></td> 
                                                <td *ngIf="campaignFlag==false" >{{data.createdOn | date:"dd-MMM-yyyy 'at' h:mm a"}}
                                                <a  data-toggle="tooltip" title={{data.campaignStatus}} data-placement="top">
                                                        <i class="fa fa-info-circle text-info" aria-hidden="true"></i></a></td>
                                                <td *ngIf="campaignFlag==false">{{data.campaignName}}</td>
                                                <td style="word-break: break-word;" *ngIf="campaignFlag==false">{{data.campaignDescription}}</td>
                                                
                                            </tr>
                                          </tbody> 
                                          </table>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            <!----End-->


                        </div>
                       
                    </div> <!--Row end-->
                </form>

            </div>
        </div>
    </div>
</div>

