<div class="care-plan-questions-list">
  <div class="radio-conditional">
    <vc-all-errors [groups]="[userAcionInfoForm]" [fromContext]="true"></vc-all-errors>
    <form [formGroup]="userAcionInfoForm" (submit)="onClickAdd()">
      <div class="tableWrapper" *ngIf="goalList?.length !== 0">
        <table class="mb10">
          <tbody *ngFor="let s of goalList, let i= index" style="border: 5px solid #b1b4b6;">
            <tr class="goal-list">
              <td colspan="3"
                style="width: 70%;font-size: 24px;">
                <span style="min-width:300px;word-break: break-word;font-family: helvetica_bold;">{{i+1}}. &nbsp;{{s.goal}}</span>
              </td>
              <td class="editGoal">
                <span>
                  <button id="id-editAction-{{s.id}}" class="edit-button gds-button button-secondary" type="button"
                    name="edit-action" (click)="onEditClicked(s.id)">Edit goal
                  </button>
                </span>
              </td>
              <td class="addGoal">
                <span>
                  <button *ngIf="s.id !== goalId || !hideAction ||!isEditable" id="id-addAction-{{s.id}}" class="add-action gds-button button-primary" type="button"
                    name="create-plan" (click)="addAction(s.id)">Add action
                  </button>
                </span>
              </td>
            </tr>
            <tr>
              <td colspan="5" style="border-bottom: transparent;padding-right:0px;"
                *ngIf="s.actionList.length > 0">
                <table style="margin-bottom:30px ;">
                  <th scope="colgroup" style="border-bottom: 1px solid #b1b4b6;">
                    <span>Action</span>
                  </th>
                  <th scope="colgroup" style="border-bottom: 1px solid #b1b4b6;">
                    <span>Comment</span>
                  </th>
                  <th scope="colgroup" style="border-bottom: 1px solid #b1b4b6;">
                    <span>Person responsible</span>
                  </th>
                  <th scope="colgroup" style="border-bottom: 1px solid #b1b4b6;">
                    <span>By when</span>
                  </th>
                  <th scope="colgroup" style="border-bottom: 1px solid #b1b4b6;">
                    <span>Status</span>
                  </th>
                  <tr class="last" *ngFor="let a of s.actionList, let i= index">
                    <td style="max-width:175px; word-wrap:break-word;" [class.isDisabledLink] = "a.status !== 'In progress' === true">
                      <span>
                        <a href="javascript: void(0)" class="delLink link" (click)="editAction(a.id)">{{a.action}}</a>
                      </span>
                    </td>
                    <td style="max-width:175px; word-wrap:break-word;" scope="colgroup">{{a.comment}}</td>
                    <td scope="colgroup" style="width:15px">{{a.byWho}}</td>
                    <td scope="colgroup" style="width:16%">{{a.byWhen | date: 'dd MMMM yyyy'}}</td>
                    <td scope="colgroup"><p [ngClass]="{'gray': a.status === 'Incomplete', 'green' : a.status === 'In progress', 'blue' : a.status === 'Completed' }" class="govuk-tag">{{a.status}}</p></td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="govuk-form-group" *ngIf="goalList.length !== 2 || !hideAddGoal">
        <vc-form-control [control]="userAcionInfoForm.get(goalControl)" [controlName]="goalControl" [fromContext]="true">
          <textarea (keyup)="isFormDirty(userAcionInfoForm.get(goalControl).value)" #input formControlName="{{goalControl}}" rows="3" class="form-control gds-textarea" type="text"
             name="{{goalControl}}"
            [ngClass]="{'errorfocus': userAcionInfoForm.get(goalControl)?.errors }" maxlength="300" id="id-{{goalControl}}" placeholder="Add Goal."></textarea>
          <div *ngIf="userAcionInfoForm.get(goalControl)?.value?.length <= 300" class="form-label form-label-count">
            You have {{ 300 - userAcionInfoForm.get(goalControl)?.value.length }}
            {{userAcionInfoForm.get(goalControl)?.value.length - 300 === -1 ? 'character' : 'characters'}} remaining
          </div>
        </vc-form-control>
      </div>
      <div class="grid-row">
        <div class="row" *ngIf="isEditable && !hideAddGoal">
          <div class="column">
            <vc-form-control [control]="userAcionInfoForm.get(markAsCompleteControl)"
              [controlName]="markAsCompleteControl" [fromContext]="true">
              <div class="checkbox-wrapper mr20">
                <input type="checkbox" #checkboxes id="id-{{markAsCompleteControl}}" name="checkbox"
                  [checked]="currentlyChecked === check.completed" (change)="checkboxHandler($event, currentlyChecked)">
                <label class="checkbox-label" for="id-{{markAsCompleteControl}}">Mark as complete</label>
              </div>
            </vc-form-control>
          </div>
          <div class="column">
            <vc-form-control [control]="userAcionInfoForm.get(markAsInCompleteControl)"
              [controlName]="markAsInCompleteControl" [fromContext]="true">
              <div class="checkbox-wrapper mr20">
                <input type="checkbox" #checkboxes id="id-{{markAsInCompleteControl}}" name="checkbox"
                  [checked]="currentlyChecked === check.inCompleted"
                  (change)="checkboxHandler($event, currentlyChecked)">
                <label class="checkbox-label" for="id-{{markAsInCompleteControl}}">Mark as incomplete</label>
              </div>
            </vc-form-control>
          </div>
        </div>
        <div class="grid-row alignLeft" *ngIf="goalList.length !== 2 || !hideAddGoal">
          <button *ngIf="hideAddGoal && goalList.length > 0" id="create-plan" class="gds-button button-secondary"
            type="submit" name="create-plan">Add another {{addQuestionName}} goal
          </button>
          <button *ngIf="hideAddGoal && goalList.length===0" id="create-plan" class="gds-button button-secondary"
            type="submit" name="create-plan">Add {{addQuestionName}} goal
          </button>
          <button *ngIf="!hideAddGoal" (click)="updateGoal()" id="create-plan" class="gds-button button-secondary"
            type="button" name="create-plan">Update {{addQuestionName}} goal
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div>
</div>
<app-add-action-goal-modal (closeDialogEvent)="closePopUpEvent()" [questionId]="questionId" #addActionModal></app-add-action-goal-modal>