.govuk-warning-text {
    display: block;
    padding: 0px;
    margin-bottom: 0px;
    strong.govuk-warning-text{
        padding:0px 0px 0px 45px;
    }
    .govuk-warning-icon {
        left: 2px;
    }
}