<mat-card id="edit-user" *ngIf="isLoaded">
  <mat-card-header class="flex-end">
    <button id="exit_user_button" mat-stroked-button color="primary" [routerLink]="['/programme-management']">Exit</button>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="programmeForm" (ngSubmit)="onSubmit()" (keydown.enter)="handleEnterKeyPress($event)" validate
      autocomplete="off">
      <div class="label-hr">
        <span>Programme details</span>
      </div>

      <div class="card-row">
        <div class="card-column">
          <mat-form-field appearance="fill">
            <mat-label>Programme name</mat-label>
            <input matInput formControlName="programmeName" id="programmeName" required>
            <mat-error *ngIf="programmeForm.controls.programmeName.errors?.required ">
              Programme name is required
            </mat-error>
            <mat-error
              *ngIf="programmeForm.controls.programmeName.errors?.minlength && !programmeForm.controls.programmeName.errors?.pattern">
              Programme name should be greater than 3 characters
            </mat-error>
            <mat-error
              *ngIf="programmeForm.controls.programmeName.errors?.maxlength && !programmeForm.controls.programmeName.errors?.pattern">
              Programme name should be less than 50 characters
            </mat-error>
            <mat-error *ngIf="programmeForm.controls.programmeName.errors?.pattern">
              Programme name is invalid
            </mat-error>
          </mat-form-field>
        </div>

        <div class="card-column">
          <mat-form-field appearance="fill">
            <mat-label>Provider</mat-label>
            <ng-container>
              <mat-select placeholder="Provider" formControlName="providerId" required>
                <mat-option *ngFor="let provider of providers" [value]="provider.id">
                  {{provider.providerName}} <span *ngIf="provider.code">({{provider.code}})</span>
                </mat-option>
              </mat-select>
            </ng-container>
            <mat-error *ngIf="programmeForm.controls.providerId.errors?.required">
              Provider is required
            </mat-error>

          </mat-form-field>
        </div>

        <div class="card-column">
          <mat-form-field appearance="fill">
            <mat-label>Capacity</mat-label>
            <input matInput type="text" (change)="onChangeCapacity($event)" formControlName="capacity" id="capacity">
            <mat-error *ngIf="programmeForm.controls.capacity.errors?.['incorrect']">
              Capacity should be less than 100.
            </mat-error>
            <mat-error *ngIf="programmeForm.controls.capacity.errors?.pattern && !programmeForm.controls.capacity.errors?.['incorrect']" >
              Capacity is invalid
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="label-hr">
        <span>Course and Qualification details</span>
      </div>
      <ng-container formArrayName="coursesAndQualifications">
        <ng-container *ngFor="let cAndQForm of coursesAndQualificationsFormArray.controls; let i=index">

          <div class="card-row" [formGroup]="cAndQForm">
            <div class="card-column">
              <mat-form-field appearance="fill">
                <mat-label *ngIf="!cAndQForm.controls.courseName.value">Search course</mat-label>
                <mat-label *ngIf="cAndQForm.controls.courseName.value">Course name</mat-label>
                <input matInput formControlName="courseName"
                 (keyup.enter)="onFilter(search_course.value,i)" (keyup)="onFilterKeyupCourse(search_course.value, i)"
                  required #search_course>
                <a id="do_search_button" class="search-button" mat-button matSuffix mat-icon-button aria-label="Clear"
                  (click)="onFilter(cAndQForm.controls.courseName.value,i)">
                  <mat-icon class="search-icon">search</mat-icon>
                </a>
                <mat-error *ngIf="coursesAndQualificationsFormArray.at(i).get('courseName').errors?.['dublicate']" >
                  Course already selected
                </mat-error>
                <mat-error *ngIf="coursesAndQualificationsFormArray.at(i).get('courseName').errors?.['required']" >
                  Course name required
                </mat-error>

              </mat-form-field>
            </div>

            <div class="card-column-40">
              <mat-form-field appearance="fill">
                <mat-label *ngIf="!cAndQForm.controls.qualificationName.value">Search qualification</mat-label>
                <mat-label *ngIf="cAndQForm.controls.qualificationName.value">Qualification name</mat-label>
                <input matInput formControlName="qualificationName"
                  (keyup.enter)="onFilterQualification(cAndQForm.controls.qualificationName.value,i) "
                  (keyup)="onFilterKeyupQualification(cAndQForm.controls.qualificationName.value,i)">
                <a *ngIf="!cAndQForm.controls.qualificationName.disabled" id="do_search_button" class="search-button"
                  mat-button matSuffix mat-icon-button aria-label="Clear"
                  (click)="onFilterQualification(cAndQForm.controls.qualificationName.value,i)">
                  <mat-icon class="search-icon">search</mat-icon>
                </a>
                <mat-error *ngIf="coursesAndQualificationsFormArray.at(i).get('qualificationName').errors?.['incorrect']">
                  Invalid qualification
                </mat-error>
                <mat-error *ngIf="coursesAndQualificationsFormArray.at(i).get('qualificationName').errors?.['duplicateQualification']">
                  Qualification already selected
                </mat-error>

              </mat-form-field>

              <div class="icon-align-right">
                <button mat-icon-button [disabled]="isDisable"
                  *ngIf="i===coursesAndQualificationsFormArray.controls.length-1 &&
                   (coursesAndQualificationsFormArray.controls.length < 19 || coursesAndQualificationsFormArray.controls.length == 19 )" color="primary"
                  (click)="addCoursesAndQualifications()" type="button">
                  <mat-icon class="add-btn-size">
                    add_circle_outline
                  </mat-icon>
                </button>
              </div>
            </div>
            <div class="btn-column">
              <button mat-icon-button (click)="onDelete(i)" *ngIf="coursesAndQualificationsFormArray.controls.length>1">
                <mat-icon>
                  delete
                </mat-icon>
              </button>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <div>
        <div class="search-results" [ngClass]="{'no-search-results' : filteredCourses.length === 0}">
          <mat-list>
            <mat-list-item *ngFor="let course of filteredCourses" (click)="onSelectedCourse(course)">
              <mat-icon mat-list-icon>notes</mat-icon>
              <span matLine> Course Name: {{course?.courseName}} </span>
              <span matLine class="small"> Course Code: {{course?.courseCode}} </span>
              <span matLine class="small"> Type: {{course?.courseType}} </span>
            </mat-list-item>
          </mat-list>
          <div *ngIf="showPagination">
            <mat-paginator id="pagination" [pageSize]="pageSize" (page)='onPaginateChange()'
              [showFirstLastButtons]='true' [hidePageSize]='true'>
            </mat-paginator>
          </div>
        </div>

        <div class="search-results" [ngClass]="{'no-search-results' : filterQualification.length === 0}">
          <mat-list>
            <mat-list-item *ngFor="let qualification of filterQualification"
              (click)="onSelectedQualification(qualification)">
              <mat-icon mat-list-icon>notes</mat-icon>
              <span matLine> Qualification Name: {{qualification.qualificationName}} </span>
              <span matLine class="small"> Qualification Code: {{qualification.qualificationCode}} </span>
            </mat-list-item>
          </mat-list>

          <mat-paginator id="pagination" [pageSize]="pageSize" (page)='onPaginateChange()' [showFirstLastButtons]='true'
            [hidePageSize]='true'>
          </mat-paginator>
        </div>

      </div>
      <mat-card-footer>
        <span class="spacer"></span>
        <span>
          <button type="submit" id="save_user_button" mat-flat-button color="primary"
            [disabled]="!programmeForm.valid && isDisable">Save</button>
        </span>
      </mat-card-footer>
    </form>
  </mat-card-content>
</mat-card>