<mat-card id="view-learner">
    <mat-card-header>   
        <br>
            <app-stepper-navigation></app-stepper-navigation>    
        <span class="spacer"></span>
        <span>
            <button id="add_learner_button" mat-stroked-button class="right" color="primary"
                [routerLink]="['./add-outcome']" queryParamsHandling="merge">Add Contact/Outcome</button>
        </span>
        <div>
            <button id="exit_view_button" mat-stroked-button color="primary" [routerLink]="['../']"
                queryParamsHandling="merge">
                Exit
            </button>
        </div>
    </mat-card-header>
    <div class="learnerName">
        {{ fullName }}
    </div>
    <mat-card-content class="learners">
        The table shows a summary of contact attempts and outcomes recorded for the Learner, and the dates on which
        contact was attempted <br><br>

        <mat-table id="learners_table" #table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="ContactDate">
                <mat-header-cell *matHeaderCellDef id="ContactDate" mat-sort-header>
                    Contact date
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.contactDate | date:'dd MMM yyyy' }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Successful">
                <mat-header-cell *matHeaderCellDef id="Successful">
                    Successful?
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div *ngIf="element.contactStatusId==1">Y</div>
                    <div *ngIf="element.contactStatusId==2">N</div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Employed">
                <mat-header-cell *matHeaderCellDef id="Employed">
                    Employed?
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div *ngIf="element.employmentStatusId==1">Y</div>
                    <div *ngIf="element.employmentStatusId==2">N</div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Outcome">
                <mat-header-cell *matHeaderCellDef id="Outcome">
                    Outcome
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <app-list-label id="outcomeTypeId" [list]="refData?.outcomeType" [value]="element?.outcomeTypeId">
                    </app-list-label>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                <mat-cell *matCellDef="let element;index as i;">
                    <div *ngIf="actionOperation == 'view'">
                    <button id="view_user_button_{{element.id}}" mat-icon-button color="primary" attr.aria-label="View"
                        matTooltip="View" (click)="navigateToViewoutcome(i)" [matTooltipShowDelay]="800" [routerLink]="['./view-learner']"
                        [queryParams]="{ id: element.id}">
                        <mat-icon>visibility</mat-icon>
                    </button>
                </div>
                <div *ngIf="actionOperation == 'edit'">
                    <button id="edit_user_button_{{element.id}}" mat-icon-button color="primary"
                        (click)="navigateToEditOutcome(i)" attr.aria-label="Edit" matTooltip="Edit"
                        [matTooltipShowDelay]="800">
                        <mat-icon>create</mat-icon>
                    </button>
                </div>
                <div *ngIf="actionOperation == 'edit'">
                    <button id="delete_user_button" mat-icon-button attr.aria-label="Delete" matTooltip="Delete"
                        (click)="deleteOutcome(i)" [matTooltipShowDelay]="800">
                        <mat-icon color="accent">delete</mat-icon>
                    </button>
                </div>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator id="user_pagination" [pageSize]="pageSize" [showFirstLastButtons]='true' [hidePageSize]="true">
        </mat-paginator>
    </mat-card-content>
</mat-card>