<div [style.display]="visible ? 'block' : 'none'" #historyQuestionModal class="fade-in">
  <div class="gds-modal show" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="gds-modal-dialog" role="document">
      <div class="gds-modal-content">
        <form [formGroup]="addActionForm">
          <div class="gds-modal-header">
            <h1 tabindex="0" class="govuk-heading-l mt0" id="myModalLabel" autofocus="autofocus">
              {{hideAddGoal === false ? 'Update' : 'Add'}} your action</h1>
          </div>

          <div class="gds-modal-body" id="gds_innerModal">
            <vc-all-errors [groups]="[addActionForm]" [fromContext]="true"></vc-all-errors>
            <div class="govuk-form-group">
              <vc-form-control [control]="addActionForm.get(addActionControl)" [controlName]="addActionControl"
                [fromContext]="true" [label]="'Action'">
                <textarea formControlName="{{addActionControl}}" rows="2" class="form-control gds-textarea" type="text"
                  id="id-{{addActionControl}}" name="{{addActionControl}}"
                  [ngClass]="{'errorfocus': addActionForm.get(addActionControl)?.errors }" maxlength="100"></textarea>
                <div *ngIf="addActionForm.get(addActionControl).value?.length <= 100"
                  class="form-label form-label-count">
                  You have {{ 100 - addActionForm.get(addActionControl).value?.length }}
                  {{addActionForm.get(addActionControl).value?.length - 100 === -1 ? 'character' :
                  'characters'}} remaining
                </div>
              </vc-form-control>
            </div>
            <div class="govuk-form-group">
              <vc-form-control [control]="addActionForm.get(addCommentControl)" [controlName]="addCommentControl"
                [fromContext]="true" [label]="'Comment'">
                <textarea formControlName="{{addCommentControl}}" rows="2" class="form-control gds-textarea" type="text"
                  id="id-{{addCommentControl}}" name="{{addCommentControl}}"
                  [ngClass]="{'errorfocus': addActionForm.get(addCommentControl)?.errors }" maxlength="200"></textarea>
                <div *ngIf="addActionForm.get(addCommentControl).value?.length <= 200"
                  class="form-label form-label-count">
                  You have {{ 200 - addActionForm.get(addCommentControl).value?.length }}
                  {{addActionForm.get(addCommentControl).value?.length - 200 === -1 ? 'character' :
                  'characters'}} remaining
                </div>
              </vc-form-control>
            </div>
            <div class="column-full">
              <ng-container *ngIf="refActionChoiceList">
                <vc-form-control [control]="addActionForm.get(addByWhoChoiceIdControl)"
                  [controlName]="addByWhoChoiceIdControl" [fromContext]="true"
                  [label]="'Is this action for the learner only?'">
                  <div class="radio-wrapper" role="radio" *ngFor="let action of refActionChoiceList; let i=index">
                    <input type="radio" formControlName="{{addByWhoChoiceIdControl}}" #radioCheck
                      id="id-{{addByWhoChoiceIdControl}}" [value]="action.id"  [name]="addByWhoChoiceIdControl"
                      (change)="radioChangeHandler(action.id, action.name)">
                    <label [for]="action.id" class="radio-label">{{action.name}}</label>
                  </div>
                </vc-form-control>
                <ng-container
                  *ngIf="showDropdown">
                  <div class="gds-select-wrapper">
                    <vc-form-control [control]="addActionForm.get(addByWhoIdControl)" [controlName]="addByWhoIdControl"
                      [fromContext]="true" [label]="actionLabel">
                      <select formControlName="{{addByWhoIdControl}}" class="gds-select" id="id-{{addByWhoIdControl}}"
                        name="{{addByWhoIdControl}}" placeholder="Worker">
                        <option *ngFor="let option of userList" [value]="option.id">
                          {{option.userFullName}}
                        </option>
                      </select>
                    </vc-form-control>
                  </div>
                </ng-container>
              </ng-container>
            </div>


            <div class="date-column">
              <vc-form-control class="govuk-form-group">
                <vc-date-form-control [fromContext]="true" [control]="addActionForm.get(addByWhenControl)"
                  [controlName]="addByWhenControl" [label]="'By When'" [hint]="'For example, 12 11 2021'"
                  id="id-{{addByWhenControl}}">
                </vc-date-form-control>
              </vc-form-control>
            </div>
            <div class="row">
              <div class="column">
                <vc-form-control [control]="addActionForm.get(markAsCompleteActionControl)"
                  [controlName]="markAsCompleteActionControl" [fromContext]="true">
                  <div *ngIf="isEditable && !hideAddGoal" class="checkbox-wrapper mr20">
                    <input type="checkbox" #checkboxes id="id-{{markAsCompleteActionControl}}" name="checkbox"
                      [checked]="currentlyChecked === check?.completed"
                      (change)="checkboxHandler($event, currentlyChecked)">
                    <label class="checkbox-label" for="id-{{markAsCompleteActionControl}}">Mark as complete</label>
                  </div>
                </vc-form-control>
              </div>
              <div class="column">
                <vc-form-control [control]="addActionForm.get(markAsInCompleteActionControl)"
                  [controlName]="markAsInCompleteActionControl" [fromContext]="true">
                  <div *ngIf="isEditable && !hideAddGoal" class="checkbox-wrapper mr20">
                    <input type="checkbox" #checkboxes id="id-{{markAsInCompleteActionControl}}" name="checkbox"
                      [checked]="currentlyChecked === check?.inCompleted"
                      (change)="checkboxHandler($event, currentlyChecked)">
                    <label class="checkbox-label" for="id-{{markAsInCompleteActionControl}}">Mark as incomplete</label>
                  </div>
                </vc-form-control>
              </div>
            </div>
          </div>
          <div class="gds-modal-footer">
            <button *ngIf="hideAddGoal" (click)="addAction()" id="id-close" class="gds-button button-primary"
              type="button" name="close-modal">Save</button>
            <button *ngIf="!hideAddGoal" (click)="updateAction()" id="id-close" class="gds-button button-primary"
              type="button" name="close-modal" >Save

            </button>
            <button id="id-close" class="gds-button button-secondary" type="button" name="close-modal"
              (click)="close()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>