  <h2 mat-dialog-title>Risk Assessment History</h2>
  <mat-dialog-content class="mat-typography">
    <div class="card-row" *ngFor="let hlist of riskAssessmentHistoryData; let i=index">
      <p class="info">
        <span class="details_label">Version {{hlist.versionNumber}} - {{hlist.versionDate | date:'dd MMMM yyyy'}}
          {{hlist.createdByName}}</span>
      </p>
      <p class="info">
        <span class="details_label1">Do you assess there to be any risks with the restart participant?</span>
        <li class="ans" *ngFor="let item of newArray1[i];let i=index" id="restart_participant">
          {{item || "No current risk assessment"}}
        </li>
      </p>
      <p>
        <span class="details_label1"> Have you received the oasys report from probation?</span>
        <span class="ans" id="probation">{{hlist.oasysReportName || "N/A"}}</span>
      </p>
      <p class="info">
        <span class="details_label1">Has a risk assessment been completed?</span>
        <span class="ans" id="risk_complete">{{hlist.riskAssessmentStatusName || "N/A"}}</span>
      </p>
      <p class="info">
        <span class="details_label1">Professional observations</span>
        <span id="profession_observation">
          <p class="ans">{{hlist.professionalObservation || "No current risk assessment"}} </p>
        </span>
      </p>
    </div>
  
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
