<div class="header">
    <div class="tabWrapper">
      <ul>
        <li class="tabHead active" routerLink="/clink-learners/profile" queryParamsHandling="merge" >
          <a class="tab-item" id="profile-tab" attr.aria-label="tab Profile">Profile</a>
        </li>
        <li *ngIf="isAuthorize(117)" class="tabHead" routerLink="/clink-learners/profile/view-further-info" queryParamsHandling="merge">
          <a class="tab-item" id="view-further-information-tab" attr.aria-label="tab Further Information">Further
              Information</a>
      </li>
      <li *ngIf="isAuthorize(30)"  class="tabHead" routerLink="/clink-learners/profile/action-plan" queryParamsHandling="merge">
        <a class="tab-item" id="action-plan-tab" attr.aria-label="tab Plan induction">Action plan</a>
      </li>
      </ul>
    </div>
    </div>
    <mat-card id="view-clink-learners" *ngIf="refData">
    
        <mat-card-header>
      
          <div class="learnerName">
            {{ user?.primaryLearnerDetails.firstName }} {{user?.primaryLearnerDetails.lastName}}
          </div>
          
          <div>
              <button *ngIf="isAuthorized" id="edit_view_buttodn" mat-stroked-button color="primary" [routerLink]="['/clink-learners/edit-learner']"
                [queryParams]="{ id: user?.primaryLearnerDetails.id }">
                Edit
              </button>
          
            <button id="exit_view_button" mat-stroked-button color="primary" [routerLink]="['/clink-learners/participant-professional-view']" queryParamsHandling="merge">
              Exit
            </button>
          </div>
        </mat-card-header>
      
        <mat-card-content>
          <div class="label-hr no-top-margin">
            <span>Graduate Details</span>
          </div>

          <div *ngIf="isLoaded">
            <dl>
              <div class="card-row">
                <div class="card-column">
                  <dt class="details-label">Graduate name</dt>
                  <dd>{{ user?.primaryLearnerDetails.firstName }} {{user?.primaryLearnerDetails.lastName}}</dd>
      
                  <dt class="details-label">Date of birth</dt>
                  <dd>{{ user?.primaryLearnerDetails.dateOfBirth | customMonthFormat}}</dd>
      
                  <dt class="details-label">Gender</dt>
                  <dd>  
                    <ng-container>
                    <div *ngIf="user?.primaryLearnerDetails.gender !== null">           
                      <app-list-label *ngIf="user?.primaryLearnerDetails.gender !== 13"
                       id="genders" [list]="refData.genders" [value]="user?.primaryLearnerDetails.gender">
                    </app-list-label>
                  </div>                   
                    <div *ngIf=" (user?.primaryLearnerDetails.gender === 13)">{{ user?.primaryLearnerDetails.otherGender }}</div>
                    <div *ngIf="user?.primaryLearnerDetails.gender == null">N/A</div>
                    </ng-container>
                  </dd>
      
                  <dt class="details-label">NI number</dt>
                  <dd>{{ user?.primaryLearnerDetails.niNumber || "N/A"}}</dd>

                  
                  <dt class="details-label">Allocated worker</dt> 
                  <dd> 
                    <app-list-label id="users" [list]="userList" [value]="user?.primaryLearnerDetails.workerId">
                    </app-list-label> 
                    <div *ngIf="user?.primaryLearnerDetails.workerId == null">N/A
                    </div>
                  </dd> 
                </div>
      
                <div class="card-column">
                   
                  <dt class="details-label">Unique identifier</dt>
                  <dd>{{userId}}</dd>

                  <dt class="details-label">NOMIS number</dt>
                    <dd>{{ user?.primaryLearnerDetails.nomisNo || "N/A" }}</dd>

                  <dt class="details-label">British national?</dt>
                  <dd>
                    <div *ngIf="user?.primaryLearnerDetails.isBritishNational==1">Yes</div>
                    <div *ngIf="user?.primaryLearnerDetails.isBritishNational==2">No</div>
                    <div *ngIf="user?.primaryLearnerDetails.isBritishNational==null">N/A</div>
                  </dd>
      
                  <dt class="details-label">Resident of UK or EEA?</dt>
                  <dd>
                    <div *ngIf="user?.primaryLearnerDetails.isResidentOfUKorEEA==1">Yes</div>
                    <div *ngIf="user?.primaryLearnerDetails.isResidentOfUKorEEA==2">No</div>
                    <div *ngIf="user?.primaryLearnerDetails.isResidentOfUKorEEA==null">N/A</div>
                  </dd>
                </div>
              </div>
      
              <div class="label-hr">
                <span>Contact Details</span>
              </div>
      
              <div class="card-row">
                <div class="card-column">
                  <dt class="details-label">Address line 1</dt>
                  <dd>{{ user?.contactDetails.addressLine1 || "N/A" }}</dd>
      
                  <dt class="details-label">Address line 2</dt>
                  <dd>{{ user?.contactDetails.addressLine2 || "N/A"}}</dd>
      
                  <dt class="details-label">Town</dt>
                  <dd>{{ user?.contactDetails.townOrCity || "N/A"}}</dd>
      
                  <dt class="details-label">County</dt>
                  <dd>{{ user?.contactDetails.county || "N/A" }}</dd>
      
                  <dt class="details-label">Postcode</dt>
                  <dd>{{ user?.contactDetails.postCode || "N/A"}}</dd>
                </div>
      
                <div class="card-column">
                  <dt class="details-label">Email address</dt>
                  <dd>{{ user?.contactDetails.emailAddress || "N/A"}}</dd>
      
                  <dt class="details-label">Contact number</dt>
                  <dd>{{ user?.contactDetails.contactNo || "N/A"}}</dd>
      
                  <dt class="details-label">Risk of no fixed abode (NFA) upon release?</dt>
                  <dd>
                    <div *ngIf="user?.contactDetails.isNFA==1">Yes</div>
                    <div *ngIf="user?.contactDetails.isNFA==2">No</div>
                    <div *ngIf="user?.contactDetails.isNFA==null">N/A</div>
                  </dd>
      
                  <dt class="details-label">Is the address an Approved Premises</dt>
                  <dd>
                    <div *ngIf="user?.contactDetails.isAddressApproved==1">Yes</div>
                    <div *ngIf="user?.contactDetails.isAddressApproved==2">No</div>
                    <div *ngIf="user?.contactDetails.isAddressApproved==null">N/A</div>
                  </dd>
                </div>
              </div>
      
              <div class="label-hr">
                <span>Emergency Contact Details</span>
              </div>
      
              <div class="card-row">
                <div class="card-column">
                  <dt class="details-label">Name</dt>
                  <dd>{{ user?.emergencyContact.firstName || 'N/A' }}</dd>
      
                  <dt class="details-label">Emergency contact number</dt>
                  <dd>{{ user?.emergencyContact.contactNo || 'N/A'}}</dd>
                </div>
      
                <div class="card-column">
                  <dt class="details-label">Relationship with graduate</dt>
                  <dd>{{ user?.emergencyContact.relationshipWithUser || 'N/A'}}</dd>
                </div>
              </div>
      
              <div class="label-hr">
                <span>Unemployment Status</span>
              </div>
      
              <div class="card-row">
                <div class="card-column">
                  <dt class="details-label">Looking for work?</dt>
                  <dd>
                    <div *ngIf="user?.unEmploymentStatus.isLookingForWork==1">Yes
                    </div>
                    <div *ngIf="user?.unEmploymentStatus.isLookingForWork==2">No
                    </div>
                    <div *ngIf="user?.unEmploymentStatus.isLookingForWork==null">N/A
                    </div>
                  </dd>
      
                  <div *ngIf="user?.unEmploymentStatus.isLookingForWork==1">
                    <dt class="details-label">Length of unemployment</dt>
                    <dd>
                      <app-list-label *ngIf="user?.unEmploymentStatus.lengthOfUnemployment!=null" id="lengthOfUnemployments"
                        [list]="refData.lengthOfUnemployments" [value]="user?.unEmploymentStatus.lengthOfUnemployment">
                      </app-list-label>
                      <div *ngIf="user?.unEmploymentStatus.lengthOfUnemployment==null">N/A
                      </div>
                    </dd>
      
                    <dt class="details-label">Job centre location</dt>
                    <dd>{{ user?.unEmploymentStatus.jobCentreLocation || 'N/A'}}</dd>
      
      
                    <div class="card-column">
                      <dt class="details-label">Work coach</dt>
                      <dd>{{ user?.unEmploymentStatus.workCoach || 'N/A'}}</dd>
      
                      <dt class="details-label">Benefit  type</dt>
                      <dd>
                        <app-list-label *ngIf="user?.unEmploymentStatus.benefitType!=null" id="benefits"
                          [list]="refData.benefits" [value]="user?.unEmploymentStatus.benefitType ">
                        </app-list-label>
                        <div *ngIf="user?.unEmploymentStatus.benefitType==null">N/A
                        </div>
                      </dd>
                    </div>
                  </div>
      
                </div>
              </div>
      
              <div class="label-hr">
                <span>Equal Opportunities Monitoring</span>
              </div>
      
              <div class="card-row">
                <div class="card-column">
                  <dt class="details-label">Disability or learning difficulty</dt>
                  <dd>
                    <div
                      *ngIf="user?.equalOpportunitiesMonitoring?.disabilityOrLearningDifficultyId==1 && user?.equalOpportunitiesMonitoring?.disabilityOrLearningDifficultyIds!=null">
                      <div *ngFor="let id of user?.equalOpportunitiesMonitoring?.disabilityOrLearningDifficultyIds">
                        <app-list-label id="disabiltyOrLearningDifficulties" [list]="refData.disabiltyOrLearningDifficulties"
                          [value]="id">
                        </app-list-label>
                      </div>
                    </div>
                    <div
                      *ngIf="user?.equalOpportunitiesMonitoring?.disabilityOrLearningDifficultyId==2 || user?.equalOpportunitiesMonitoring?.disabilityOrLearningDifficultyIds==null">No
                    </div>
                    <div *ngIf="user?.equalOpportunitiesMonitoring?.disabilityOrLearningDifficultyId==null">
                      N/A 
                    </div>
                  </dd>
      
                  <dt class="details-label">Medical condition</dt>
                  <dd>
                  <div
                 *ngIf="user?.equalOpportunitiesMonitoring?.isMedicalCondition==1 && user?.equalOpportunitiesMonitoring?.isMedicalCondition!=null">{{ user?.equalOpportunitiesMonitoring.medicalCondition}}
                  </div>
                  <div *ngIf="user?.equalOpportunitiesMonitoring?.isMedicalCondition==2 ">No</div>
                  <div *ngIf="user?.equalOpportunitiesMonitoring?.isMedicalCondition==null">N/A
                  </div>
                </dd>
      
                  <dt class="details-label">Support in relation to literacy</dt>
                 <dd>
                    <div
                        *ngIf="user?.equalOpportunitiesMonitoring?.isSupportToLiteracy==1 && user?.equalOpportunitiesMonitoring?.isSupportToLiteracy!=null">{{ user?.equalOpportunitiesMonitoring.literacySupport }}
                    </div>
                    <div
                    *ngIf="user?.equalOpportunitiesMonitoring?.isSupportToLiteracy==2 ">No
                  </div>
                  <div *ngIf="user?.equalOpportunitiesMonitoring?.isSupportToLiteracy==null">N/A
                  </div>
                  </dd>
                </div>
               
      
      
                <div class="card-column">
                  <dt class="details-label">Career requirements</dt>  
                  <dd>  
                    <div
                        *ngIf="user?.equalOpportunitiesMonitoring?.isCareerRequirements==1 && user?.equalOpportunitiesMonitoring?.isCareerRequirements!=null">{{ user?.equalOpportunitiesMonitoring.careerRequirements }}
                    </div>
                  <div
                    *ngIf="user?.equalOpportunitiesMonitoring?.isCareerRequirements==2 ">No
                  </div>
                  <div *ngIf="user?.equalOpportunitiesMonitoring?.isCareerRequirements==null">N/A
                  </div>
                </dd> 
      
                  <dt class="details-label">Support with motivation of self-esteem</dt>
                  <dd>
                    <div
                        *ngIf="user?.equalOpportunitiesMonitoring?.isMotivationOfselfEsteem==1 && user?.equalOpportunitiesMonitoring?.isMotivationOfselfEsteem!=null">{{ user?.equalOpportunitiesMonitoring.motivationOfselfEsteem }}
                    </div>
                  
                  <div
                    *ngIf="user?.equalOpportunitiesMonitoring?.isMotivationOfselfEsteem==2 ">No
                  </div>
                  <div *ngIf="user?.equalOpportunitiesMonitoring?.isMotivationOfselfEsteem==null">N/A
                  </div>
                </dd>
                  <dt class="details-label">Criminal convictions which have not been spent under the rehabilitation of
                    offenders act
                    1974</dt>
                    <dd>
                      <div
                          *ngIf="user?.equalOpportunitiesMonitoring?.isCriminalConvictions==1 && user?.equalOpportunitiesMonitoring?.isCriminalConvictions!=null">{{ user?.equalOpportunitiesMonitoring.criminalConvictions}}
                      </div>
                  <div
                    *ngIf="user?.equalOpportunitiesMonitoring?.isCriminalConvictions==2 && user?.equalOpportunitiesMonitoring?.isCriminalConvictions==null">No
                  </div>
                  <div *ngIf="user?.equalOpportunitiesMonitoring?.isCriminalConvictions==null">N/A
                  </div>
                </dd>
                </div>
              </div>
      
              <div class="label-hr">
                <span>Equality and Diversity</span>
              </div>
      
              <div class="card-row">
                <div class="card-column">
                  <div *ngIf="user?.equalityAndDiversity.isEqualityAndDiversityInformationId==1">
                    <dt class="details-label">Caring responsibilities</dt>
                    <dd>
                      <app-list-label id="caringResponsibilities" [list]="refData.caringResponsibilities"
                        [value]="user?.equalityAndDiversity.caringResposibilities">
                      </app-list-label>
                    </dd>
                 
                    <dt class="details-label">Household situations</dt>
                    <dd>  
                      <ng-container>
                      <div *ngIf="user?.equalityAndDiversity.householdSituation !== null">           
                        <app-list-label *ngIf="user?.equalityAndDiversity.householdSituation !== 17"
                         id="householdSituations" [list]="refData.householdSituations" [value]="user?.equalityAndDiversity.householdSituation">
                      </app-list-label>
                    </div>                   
                      <div *ngIf=" (user?.equalityAndDiversity.householdSituation === 17)">{{ user?.equalityAndDiversity.otherHouseholdSituation }}    </div>
                      <div *ngIf="user?.equalityAndDiversity.householdSituation == null">N/A</div>
                      </ng-container>
                    </dd>
      
                    <dt class="details-label">Married or Civil partnership</dt>
                    <dd>
                      <app-list-label id="marriedOrCivilPartnerships" [list]="refData.marriedOrCivilPartnerships"
                        [value]="user?.equalityAndDiversity.marriedOrCivilParnership">
                      </app-list-label>
                    </dd>
      
                    <dt class="details-label">Religion or beliefs</dt>
                    <dd>
                      <app-list-label id="religionOrBeliefs" [list]="refData.religionOrBeliefs"
                        [value]="user?.equalityAndDiversity.religionOrbeliefs">
                      </app-list-label>
                    </dd>
                  </div>
      
                  <dt class="details-label">Working pattern</dt>
                  <dd>
                    <div *ngIf="user?.equalityAndDiversity.workingpattern!=null">
                    <app-list-label  id="workingPatterns" [list]="refData.workingPatterns"
                      [value]="user?.equalityAndDiversity.workingpattern">
                    </app-list-label>
                  </div>
                  <div *ngIf="user?.equalityAndDiversity.workingpattern==null">N/A
                  </div>
                </dd>
                </div>
      
                <div class="card-column">
                  <div *ngIf="user?.equalityAndDiversity.isEqualityAndDiversityInformationId==1">
      
                    <dt class="details-label">Sexual orientation</dt>
                    <dd>
                      <app-list-label id="sexualOrientations" [list]="refData.sexualOrientations"
                        [value]="user?.equalityAndDiversity.sexualOrientation">
                      </app-list-label>
                    </dd>
      
                    <div *ngIf="user?.equalityAndDiversity.sexualOrientation==6">
                      <dt class="details-label">Other sexual orientation</dt>
                      <dd>{{ user?.equalityAndDiversity.otherSexualOrientation }}</dd>
                    </div>
      
                    <dt class="details-label">Ethinicity</dt>
                    <dd>
                      <app-list-label id="ethnicities" [list]="refData.ethnicities"
                        [value]="user?.equalityAndDiversity.ethnicity">
                      </app-list-label>
                    </dd>
      
                    <div *ngIf="user?.equalityAndDiversity.religionOrbeliefs==11">
                      <dt class="details-label">Other religion or beliefs</dt>
                      <dd>{{ user?.equalityAndDiversity.otherReligionOrBeliefs }}</dd>
                    </div>
      
                  </div>
      
                  <dt class="details-label">Flexibility</dt>
                  <dd *ngIf="user?.equalityAndDiversity.flexibility!=null">
                    <app-list-label id="flexibilities" [list]="refData.flexibilities"
                      [value]="user?.equalityAndDiversity.flexibility">
                    </app-list-label>
                  </dd>
                  <div *ngIf="user?.equalityAndDiversity.flexibility==null">N/A
                  </div>
                </div>
              </div>
            </dl>
      
            <div class="label-hr">
              <span>Qualification</span>
            </div>
            <div class="card-row">
              <div class="card-column">
               <dt class="details-label">What Project is the graduate engaging with?</dt>
            <dd>
              <app-list-label *ngIf="user?.qualificationDetails!=null && user?.qualificationDetails.projectGraduate != null" id="projectGraduate" [list]="allData.refDataMap.Project_Graduate"  [type]="'mentivity'"
              [value]="user?.qualificationDetails.projectGraduate">
            </app-list-label>
            <div *ngIf="user?.qualificationDetails == null || user?.qualificationDetails.projectGraduate == null">N/A
            </div>
            </dd>      
           </div>
              <div class="card-column">
               <dt class="details-label">City and guilds enrolment number</dt>
               <dd>  
                <div *ngIf="user?.qualificationDetails!=null && user?.qualificationDetails.cityAndGuildsEnrolmentNumber != null" >{{user.qualificationDetails.cityAndGuildsEnrolmentNumber}}</div>
                <div *ngIf="user?.qualificationDetails == null || user?.qualificationDetails.cityAndGuildsEnrolmentNumber == null">N/A
                </div>
              </dd>
              </div>   
              <div class="card-column">
                <dt class="details-label">Is NVQS achieved?</dt>
                <dd>  
                  <app-list-label *ngIf="user?.qualificationDetails!=null && user?.qualificationDetails.nvqsQualification != null"  [list]="allData.refDataMap.Status_Yes_No"  [type]="'mentivity'"
                  [value]="user?.qualificationDetails.nvqsQualification">
                </app-list-label>
                 <div *ngIf="user?.qualificationDetails == null || user?.qualificationDetails.nvqsQualification == null">N/A
                 </div>
               </dd>
               </div>            
            </div>

           
            <div *ngIf="isQualificationSelected">
              <mat-card-header>
                <!-- <span class="spacer"></span>     -->
              </mat-card-header>  
              <mat-card-content >
                <mat-table id="learners_table" #table [dataSource]=" dataSource ">
      
                  <ng-container matColumnDef="qualification">
                    <mat-header-cell *matHeaderCellDef id="fullName">
                      Qualification
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"><span class="mobile-label">Qualification:</span>
                      {{ element.nvqsQualificationName }}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="siteOfQualificationCompletion">
                    <mat-header-cell *matHeaderCellDef id="DateofBirth">
                      Site the qualification was completed
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"><span class="mobile-label">Site the qualification was completed: </span>
                      {{ element.siteOfQualificationCompletionName}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="fullyPartlyCompleted">
                    <mat-header-cell *matHeaderCellDef id="Username">
                      Fully or partially completed
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"><span class="mobile-label">Fully or partially achieved: </span>
                      {{ element.fullyParticiallyStatusName}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="qualificationDateAchived">
                    <mat-header-cell *matHeaderCellDef id="Number">
                      Date achieved
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"><span class="mobile-label">Date achieved: </span>
                      {{ element.achieveDate | date:'dd MMM yyyy'}}
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></mat-row>
                </mat-table>
              </mat-card-content>
          </div>

          </div>
        </mat-card-content>
      
      </mat-card>