.header-width {
    color: rgba(0, 0, 0, 0.54) !important;
    padding-right: 12px;
    font-size: 13px;
    flex: 1 1 calc(29% - 12px);
    width: calc(30% - 12px);
}

.header {
    font-weight: 600;
}

.header-color {
    color: #000000DE !important;
    font-size: 15px;
}

.width-49 {
    width: 49.85%
}

.expanded-panel-align {
    width: 100%;
    display: flex;
}

.my-class {
    font-weight: bold;
}