<div class="header">
  <div class="tabWrapper">
    <ul>
      <li class="tabHead active" routerLinkActive="active">
        <a class="tab-item" id="localJobs-tab" attr.aria-label="tab Month">Risk Assessment</a>
      </li>
    </ul>
  </div>
</div>
<mat-card id='view_user_profile' *ngIf="isShow">
  <mat-card-header>
    <div class="page-title-icon">
      <span class="action-buttons">

        <button type="button" id="exit_page" mat-stroked-button class="right" color="primary"
          (click)="onExitClicked()">Exit</button>
      </span>
    </div>
  </mat-card-header>
  <mat-card-content class="local-jobs_container">
    <form [formGroup]="riskForm" validate autocomplete="off">
      <div class="lable-question"> <span>Do you assess there to be any risks with the participant?</span> </div>
      <div class="card-column">
        <div class="col-md-12">
          <section class="checkbox-section text-center" formArrayName="restart_participant">
            <p *ngFor="let n of riskAssessmentData; let i = index">
              <mat-checkbox color="primary" [formControlName]="i" class="checkbox-margin" (change)="updateChkbxArray(n, $event, i)"
                value="{{n.id}}">{{n.name}}</mat-checkbox>
            </p>
          </section>
        </div>
      </div>
      <div class="lable-question"> <span>Have you received the oasys report from probation?</span></div>
      <div class="card-column">
        <mat-radio-group class="radioAlignment" formControlName="probation_report" name="probation_report">
          <mat-radio-button color="primary" (change)="radioChangeHandler($event)" *ngFor="let item of riskOasysReport" [value]="item.id"
            >{{item.name}}</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="lable-question"> <span>Has a risk assessment been completed?</span> </div>
      <div class="card-column">
        <mat-radio-group color="primary" class="radioAlignment" formControlName="risk_assess" name="risk_assess">
          <mat-radio-button (change)="radioChangeHandler($event)" *ngFor="let item of refRiskStatus" [value]="item.id"
          >{{item.name}}</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="lable-question"> <span>Professional observations</span> </div>
      <div class="card-column textarea-container">
        <mat-form-field appearance="outline">
          <textarea matInput formControlName="professional_observ" rows="4" maxlength="1000"></textarea>
          <mat-hint
            *ngIf="riskForm.get('professional_observ')?.value?.length !== 0 && riskForm.get('professional_observ')?.value?.length !== null && riskForm.get('professional_observ')?.value?.length !=(1000-1) && (1000) >= riskForm.get('professional_observ')?.value?.length">
            {{1000 - riskForm.get('professional_observ')?.value?.length}} characters left
          </mat-hint>
          <mat-hint *ngIf="riskForm.get('professional_observ')?.value?.length == (1000-1)">
            1 character left
          </mat-hint>
          <mat-hint
            *ngIf="riskForm.get('professional_observ')?.value?.length === 0 || riskForm.get('professional_observ')?.value?.length === null">
            Maximum 1000 characters allowed
          </mat-hint>
        </mat-form-field>
      </div>
      <mat-card-footer>
        <span class="spacer"></span>
        <span>
          <button *ngIf="isNew" id="save_risk_button" mat-flat-button color="primary" (click)="onSubmit(riskForm)"
            type="button" [disabled]="!riskForm.get('professional_observ').value && !radiochange && !checked">Save</button>
          <button *ngIf="!isNew" id="save_risk_button" mat-flat-button color="primary" (click)="onSubmit(riskForm)"
            type="button" [disabled]="!riskForm.get('professional_observ').value && !riskForm.get('risk_assess').valid && !radiochange && !checked">Update</button>
        </span>
      </mat-card-footer>
    </form>
  </mat-card-content>
</mat-card>