mat-card-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    white-space: pre-wrap;
    word-break:break-all;
    }
    .mat-column-endDate {
        word-wrap: break-word;
        flex: 0 0 20% !important;
        width: 20%;
    }
