.report-card {
    padding: 0;
    height: 75vh;
  }
  
  ::ng-deep .report-container {
    height: 75vh;
    margin: 5;
  }
  
  
  @import "~src/styles/helpers/mixins/grid";
  @import "~src/styles/helpers/variables/palette";
  
  .table {
      width: 100%;
    }
  
    .tabWrapper {
      margin-top: 10px;
      position: relative;
    
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        height: 44px;
        border-bottom: 1px solid $grey-2;
    
        @include media(mobile) {
            height: 45px;
        }
        
        li {
          position: relative;
          margin: 0 5px 0 0;
          padding: 10px 20px 1px;
          float: left;
          background-color: none;
          text-align: center;
          cursor: pointer;
  
          @media screen and (max-width: 419px) {
          
            margin-top: -15px;
          }
          
          @include media(mobile) {
              cursor: pointer;
              display: inline-block;
          }
          a {
              margin-right: 3px;
              float: left;
              color: #666;
              text-align: center;
              text-decoration: none;
            }
        }
    
        li:focus {
          outline: none;
        }
        
        li.active {
          margin-top: -9px;
          margin-bottom: -1px;
          padding: 14px 19px 11px 19px;
          border-bottom: 3px solid #72428e;
          background-color: none;
          
          @include media(mobile) {
              background-color: transparent;
          }
        }
      }
    }
    
    .iconAlignment {
      margin: 2px 10px 0 0;
    }
  
    .page-title-icon{
      width: 100%;
      display: flex;
      justify-content: space-between;
      
      .details{
        display: flex;
        align-items: center;
        gap: 10px;
        flex: content;
        width: fit-content;
      }
    
      .action-buttons{
        width: auto; 
        max-height: 35px;
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        gap: 10px;
    
        button{
          margin-left: 0px;
        }
      }
    }
  
    
  @media screen and (max-width: 960px) {
  
    .width-auto-mobile-view{
        width: auto;
    }
  
    .left-align{
      padding-left: 0px !important;
    }
  }
  
  .tab-details{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
  }