.status {
    padding: 3px 9px;
    background-color:var(--primary-color);
    font-size: 12px;
    color: white;
    border-radius: 4px;

}
#local-jobs{
    .mat-sort-header-button{
        text-align: left;
    }
}
.width-20 {
    flex: none;
    width: calc(20% - 12px) !important
}
.width-15 {
    flex: none;
    width: calc(15% - 12px) !important
}
::ng-deep.search_by .mat-form-field-label-wrapper {
    top: 0.25em !important;
    display: none;
}
.mat-style{
    @media(max-width: 767px) {
        margin: 0px 8px 0px 0px !important;
    }

}
@media all and (min-width: 667px) {
    .mobile-label {
        display: none !important;
    }
}
.width{
    @media screen and (max-width: 375px) {
        width: 125px;
    }
  }


  @media screen and (max-width: 360px) {
    .search_by {
      padding: 0 0.75em; /* 0 padding for top and bottom, 0.75em for left and right */
    }
  }