<div class="header">
  <div class="tabWrapper">
    <ul>
      <li class="tabHead" (click)="navigateProfile()">
        <a class="tab-item" id="profile-tab" attr.aria-label="Profile">Profile</a>
      </li>
      <li class="tabHead" (click)="navigateFurtherInfo()">
        <a class="tab-item" id="view-further-information-tab" attr.aria-label="tab Further Information">Further
          Information</a>
      </li>
      <li class="tabHead active" (click)="navigateToActionPlan()">
        <a class="tab-item" id="action-plan-tab" attr.aria-label="tab Plan induction">Action plan</a>
      </li>
    </ul>
  </div>

<mat-card id='view_user-plan-induction'>
  <mat-card-header>
    <div class="page-title-icon">
      <mat-icon class="iconAlignment">star_border</mat-icon>
      <span class="headingAP">Action Plan</span>
      <span class="action-buttons">
        <button class="gds-button button-secondary"  id="create-action-plan_button" (click)="showAnswer()" *ngIf="answerData">Show {{firstName | titlecase}} answers</button>
        <button id="exit_button_id" (click)="onExitClicked()" class="gds-button button-secondary" type="button" >Exit</button>
      </span>
    </div>
  </mat-card-header>

  <div class="versionInfo" *ngIf="planVersionList?.length > 0">
    <p>
      <span class="versionNumber">Version {{planVersionList?.length}}</span>
      <span class="createdDate">{{planVersionList[0].planCreatedDate | customMonthFormat}}</span>
      <span class="createdBy">{{planVersionList[0].planCreatedByfirstName}}</span>
    </p>
  </div>
  <!-- <div class="status-tags">
    <div><span class="riskTopLable status-tag red">{{"1-2"}}</span><label class="new-bold-font"> Stuck
    </label></div>
    <div>
      <span class="riskTopLable status-tag orange">{{"3-4"}}</span><label class="new-bold-font"> Accepting help
      </label>
    </div>
    <div>
      <span class="riskTopLable status-tag yellow">{{"5-6"}}</span><label class="new-bold-font"> Motivated and
        taking responsibility   </label>
    </div>
    <div>
      <span class="riskTopLable status-tag green">{{"7-8"}}</span><label class="new-bold-font"> Learning what
        works   </label>
    </div>
    <div>
      <span class="riskTopLable status-tag lightBlue">{{"9-10"}}</span><label class="new-bold-font"> Self
        reliance   </label>
    </div>
  </div> -->

  <button *ngIf="Authorized(30,3)" id="create-plan" (click)="goToSection()" class="gds-button button-secondary" type="button" name="create-plan" id="change-question">Update action plan</button>

  <div class="grid-row alignRight">
    <a href="javascript:void(0)" *ngIf="closeAllButton" class="gds-anchor" (click)="closeAll()">Close all</a>
  </div>

  <section class="acc" id="accId" *ngFor="let question of userPlans; let i = index;">
    <button class="accordion govuk-heading-m" (click)="buttonClick($event);checkHistory(question)"
      id="section-{{question.id}}">
      <span class="bold-font" (click)="spanClick($event);checkHistory(question)">{{question.sectionName}}</span>
    </button>
    <span *ngIf="question.isOpen">
      <div class="gds-modal-body">
        <div class="quesWrapper">
          <div class="quesSpace">
            <span>{{userPlans[i].questionList[0].description}}</span>
            <span class="parentQues singleQues">{{userPlans[i].questionList[0].ans}}</span>
            <span>
              <span *ngIf="userPlans[i].questionList[0].ans=='2' || userPlans[i].questionList[0].ans=='1'"
                class="riskLable status-tag red">{{"1-2 Stuck"}}</span>
              <span *ngIf="userPlans[i].questionList[0].ans=='3' || userPlans[i].questionList[0].ans=='4'"
                class="riskLable status-tag orange">{{"3-4 Accepting help"}}</span>
              <span *ngIf="userPlans[i].questionList[0].ans=='5' || userPlans[i].questionList[0].ans=='6'"
                class="riskLable status-tag yellow">{{"5-6 Motivated and taking responsibility"}}</span>
              <span *ngIf="userPlans[i].questionList[0].ans=='7' || userPlans[i].questionList[0].ans=='8'"
                class="riskLable status-tag green">{{"7-8 Learning what works"}}</span>
              <span *ngIf="userPlans[i].questionList[0].ans=='9' || userPlans[i].questionList[0].ans=='10'"
                class="riskLable status-tag lightBlue">{{"9-10 Self reliance"}}</span></span>
          </div>
        </div>
        <div class="quesWrapper">
          <div class="quesSpace">
            <span class="displayBlock">{{userPlans[i].questionList[1].description}}</span>
            <span class="parentQues singleQues">{{userPlans[i].questionList[1].ans}}</span>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="gds-modal-body subTable" *ngFor="let activeList of userPlans[i].activeGoalsList;let i = index;">
        <div class="quesWrapper">
          <div class="quesSpace">
            <span class="displayBlock">Goal {{i+1}}</span>
            <span class="action-goal">{{activeList.goal}}</span>
          </div>
        </div>
        <div class="multiAction-table">
          <table>
            <tr>
              <th>Action</th>
              <th>Comment</th>
              <th>Who is responsible?</th>
              <th>By When?</th>
            </tr>
            <tr *ngFor="let aList of activeList.actionList">
              <td style="max-width:200px; word-wrap:break-word;">{{aList.action}}</td>
              <td style="max-width:200px; word-wrap:break-word;">{{aList.comment}}</td>
              <td>{{aList.byWho}}</td>
              <td>{{aList.byWhen | date:'dd MMMM yyyy'}}</td>
            </tr>
          </table>
        </div>
      </div>
      <span *ngIf="question.isOpen">
        <div class="cta-buttons">
          <button *ngIf="question?.historyGoalsList.length >0" class="gds-button button-secondary" type="button"
            name="show-history" (click)="showHistory(question)">History</button>
        </div>
      </span>
    </span>
  </section>
  <div class="grid-row alignLeft">
    <button id="id-create-plan" class="gds-button" type="submit" name="create-plan" (click)="onClickUpdatePlan()">{{changedAns === true ? 'Update' : 'Confirm changes'}}</button>
  </div>
</mat-card>

<app-action-plan-history #historyQuestionModal></app-action-plan-history>
<vc-confirm-box></vc-confirm-box>