<mat-card id='edit-enrolment'>
    <mat-card-header>
        <div class="learnerName">
            {{ fullName }}
            <br>
        </div>
        <span class="spacer">
        </span>
        <span>
            <button type="button" id="exit_user_button" mat-stroked-button color="primary"
                (click)="navigateToWorkshopAttendance()">Exit</button>
        </span>
    </mat-card-header>

    <form [formGroup]="enrolmentForm" class="margin40" autocomplete="off">
        <div>
            <span class="label-hr system_setup">Programme details</span>
        </div>
        <div class="card-row">
            <div class="card-column">

                <mat-form-field appearance="fill">
                    <mat-label>Programme name</mat-label>
                    <input class="input-color"  matInput formControlName="programmeName" id="programmeName">
                </mat-form-field>
            </div>

            <div class="card-column">
                <mat-form-field appearance="fill">
                    <mat-label>Cohort number</mat-label>
                    <input matInput placeholder="Cohort" formControlName="cohort" id="cohort">
                </mat-form-field>
            </div>
        </div>

        <div class="card-row">
            <div class="card-column">
                <mat-form-field appearance="fill">
                    <mat-label>Completion status</mat-label>
                    <mat-select placeholder="Completion Status" formControlName="programStatus"
                        (selectionChange)="onStatusChange($event)" required>
                        <mat-option *ngIf="programmeStatusValue===1 || programmeStatusValue===3"
                            [value]=programmeStatusValue>{{programmeStatus}}
                        </mat-option>
                        <mat-option *ngIf="programmeStatusValue===1 || programmeStatusValue===3" [value]=2>Withdrawn
                        </mat-option>
                        <mat-option *ngIf="programmeStatusValue===6" [value]=programmeStatusValue>{{programmeStatus}}
                        </mat-option>
                        <mat-option *ngIf="programmeStatusValue===6 || programmeStatusValue===4" [value]=4>Completed
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="card-column"
                *ngIf="enrolmentForm.get('programStatus').value==2 || enrolmentForm.get('programStatus').value==4">
                <mat-form-field *ngIf="enrolmentForm.get('programStatus').value==2" appearance="fill">
                    <mat-label>Actual end date</mat-label>
                    <input matInput [matDatepicker]="dateOfBirthPicker" [max]="deliveryEndDate"
                        [min]="lastAttendanceDate" formControlName="actualEndDate" placeholder="Actual End Date"
                        id="actualEndDate" (dateChange)="onactualDateChange()" required>
                    <mat-datepicker-toggle matSuffix [for]="dateOfBirthPicker"></mat-datepicker-toggle>
                    <mat-datepicker #dateOfBirthPicker></mat-datepicker>
                    <mat-error *ngIf="enrolmentForm.get('actualEndDate').getError('required')"> Actual End Date is
                        required
                    </mat-error>
                    <mat-error *ngIf="enrolmentForm.get('actualEndDate').getError('matDatepickerMin')"> Actual End Date
                        is
                        invalid
                    </mat-error>
                    <mat-error *ngIf="enrolmentForm.get('actualEndDate').getError('matDatepickerMax')"> Actual End Date
                        is
                        invalid
                    </mat-error>
                </mat-form-field>
                <mat-form-field *ngIf="enrolmentForm.get('programStatus').value==4" appearance="fill">
                    <mat-label>Actual end date</mat-label>
                    <input matInput [matDatepicker]="dateOfBirthPicker" [min]="deliveryEndDate"
                        formControlName="actualEndDate" placeholder="Actual end date" id="actualEndDate" required>
                    <mat-datepicker-toggle matSuffix [for]="dateOfBirthPicker"></mat-datepicker-toggle>
                    <mat-datepicker #dateOfBirthPicker></mat-datepicker>
                    <mat-error *ngIf="enrolmentForm.get('actualEndDate').getError('required')"> Actual end date is
                        required
                    </mat-error>
                    <mat-error *ngIf="enrolmentForm.get('actualEndDate').getError('matDatepickerMin')"> Actual end date
                        is
                        invalid
                    </mat-error>
                    <mat-error *ngIf="enrolmentForm.get('actualEndDate').getError('matDatepickerMax')"> Actual end date
                        is
                        invalid
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="card-column" *ngIf="enrolmentForm.get('programStatus').value==2">
            <mat-form-field appearance="fill">
                <mat-label>Withdrawal reason</mat-label>
                <mat-select placeholder="Withdrawal reason" formControlName="withdrawalReasonId" required>
                    <mat-option *ngFor="let withdrawalReasonId of refData?.withdrawlReason" [value]="withdrawalReasonId.id" id="withdrawalReasonId">
                        {{withdrawalReasonId.value}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="enrolmentForm.get('withdrawalReasonId').getError('required')"> Withdrawal reason is
                    required
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <span class="label-hr system_setup">Course details</span>
        </div>

        <mat-table class="isMobile" formArrayName="withdrawLearnerCourseDetails" [dataSource]="enroledCourses" multiTemplateDataRows>
            <ng-container matColumnDef="courseName">
                <mat-header-cell *matHeaderCellDef id="workerName_button"> Course name
                </mat-header-cell>
                <mat-cell *matCellDef="let element"><span class="mobile-label">Course name:
                </span>
                    {{element.courseName}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="qualificationName">
                <mat-header-cell *matHeaderCellDef id="lrn_button" class="name">Qualification
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="name"><span class="mobile-label">Qualification:
                </span>
                    {{element.qualificationName}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="startDate">
                <mat-header-cell *matHeaderCellDef id="lrn_button" class="name">Start date
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="name"><span class="mobile-label">Start date:
                </span>
                    {{element.startDate | date:'dd MMM yyyy'}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="endDate">
                <mat-header-cell *matHeaderCellDef id="lrn_button" class="name">End date
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="name"><span class="mobile-label">End date:
                </span>
                    {{element.endDate | date:'dd MMM yyyy'}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="isCourseCompleted">
                <mat-header-cell *matHeaderCellDef id="isCourseCompleted" class="width-5 name">Course completed?
                </mat-header-cell>
                <mat-cell *matCellDef="let element;let i = dataIndex" [formGroupName]="i"
                    [attr.colspan]="coursesColumns.length" class="width-5 name">
                    <mat-form-field appearance="fill">
                        <mat-select
                            placeholder="Select" (selectionChange)="isCourseCompletedChange(element,i)" formControlName="isCourseCompleted" [disabled]="!(enrolmentForm.get('programStatus').value==2||enrolmentForm.get('programStatus').value==4) || enrolmentForm.get('programStatus').value===3 || withdrawLearnerCourseDetailsForm.at(i)?.get('isInProgress').value===true">
                            <mat-option [value]=true>Yes</mat-option>
                            <mat-option [value]=false>No</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="expandedDetail">
                <mat-header-cell *matHeaderCellDef id="expandedDetail" class="name"></mat-header-cell>
                <mat-cell *matCellDef="let element; let i = dataIndex" [formGroupName]="i"
                    [attr.colspan]="coursesColumns.length">
                    <div class="example-element-detail"
                        [@detailExpand]="noAnswers.includes(element.courseId) ? 'expanded' : 'collapsed'"
                        *ngIf="enroledCourses[i].qualificationId!=null">
                        <div class="highlight-expendable-table"
                            *ngIf="withdrawLearnerCourseDetailsForm.at(i)?.get('isCourseCompleted')?.value && !(!(enrolmentForm.get('programStatus').value==2||enrolmentForm.get('programStatus').value==4) || enrolmentForm.get('programStatus').value===3 || withdrawLearnerCourseDetailsForm.at(i)?.get('isInProgress').value===true)">
                            <mat-card-content>
                                <ng-container formArrayName="qualificationOutcomeDtos">
                                    <ng-container
                                        *ngFor="let attempt of withdrawLearnerCourseDetailsForm.at(i)?.get('qualificationOutcomeDtos').controls; let j=index">
                                        <div class="card-row" [formGroupName]="j">
                                            <div class="card-column-48">
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Qualification outcome</mat-label>
                                                    <mat-select placeholder="Please select a reason"
                                                        formControlName="outcomeId" required
                                                        (selectionChange)="isQualificationOutcome(i,j,$event.value)">
                                                        <mat-option *ngFor="let item of refData?.qualificationStatus"
                                                            [value]="item?.id">{{item.value}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error
                                                        *ngIf="withdrawLearnerCourseDetailsForm.at(i)?.get('qualificationOutcomeDtos')?.at(j).get('outcomeId')?.getError('required')">
                                                        Qualification outcome is
                                                        required
                                                    </mat-error>
                                                    <mat-error
                                                        *ngIf="withdrawLearnerCourseDetailsForm.at(i)?.get('qualificationOutcomeDtos')?.at(j).get('outcomeId')?.getError('incorrect')">
                                                        Qualification outcome is
                                                        invalid.Cannot have failed attempts after a pass
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="card-column-48">
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Date</mat-label>
                                                    <input matInput [matDatepicker]="datePiker" [max]="deliveryEndDate"
                                                        [min]="deliveryStartDate" formControlName="attemptDate"
                                                        placeholder="Attempt date"
                                                        (dateChange)="onattemptDateChange($event,i,j)" id="attemptDate"
                                                        required *ngIf="j===0">
                                                    <input matInput [matDatepicker]="datePiker" [max]="deliveryEndDate"
                                                        [min]="withdrawLearnerCourseDetailsForm.at(i)?.get('qualificationOutcomeDtos')?.at(j-1).get('attemptDate').value"
                                                        formControlName="attemptDate"
                                                        placeholder="Attempt date"
                                                        (dateChange)="onattemptDateChange($event,i,j)" id="attemptDate"
                                                        required *ngIf="j>0">
                                                    <mat-datepicker-toggle matSuffix [for]="datePiker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #datePiker></mat-datepicker>
                                                    <mat-error
                                                        *ngIf="
                                                        withdrawLearnerCourseDetailsForm.at(i)?.get('qualificationOutcomeDtos')?.at(j).get('attemptDate')?.getError('required')">
                                                        Attempt date is required
                                                    </mat-error>
                                                    <mat-error
                                                        *ngIf="
                                                withdrawLearnerCourseDetailsForm.at(i)?.get('qualificationOutcomeDtos')?.at(j).get('attemptDate')?.getError('matDatepickerMax')">
                                                        Attempt date cannot be after programme delivery
                                                        end date
                                                    </mat-error>
                                                    <mat-error
                                                        *ngIf="withdrawLearnerCourseDetailsForm.at(i)?.get('qualificationOutcomeDtos')?.at(j).get('attemptDate')?.getError('matDatepickerMin')">
                                                        Attempt date cannot be before delivery start date and previous 
                                                        attempt date
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="btn-column"
                                                *ngIf=" withdrawLearnerCourseDetailsForm.at(i)?.get('qualificationOutcomeDtos').controls.length>1">
                                                <button type="button" mat-icon-button (click)="onDelete(i,j)">
                                                    <mat-icon>
                                                        delete
                                                    </mat-icon>
                                                </button>
                                            </div>
                                            <div class="highlight-expendable-table1"
                                                *ngIf="withdrawLearnerCourseDetailsForm.at(i)?.get('isCourseCompleted')?.value && withdrawLearnerCourseDetailsForm.at(i).get('isAttempted').value===1 && withdrawLearnerCourseDetailsForm.at(i)?.get('qualificationOutcomeDtos')?.at(j).get('outcomeId').value===1">
                                                <mat-card-content>
                                                    <div class="card-row">
                                                    </div>
                                                </mat-card-content>
                                                <mat-card-content>
                                                    <div class="card-row">
                                                        <div class="card-column-48">
                                                            <mat-form-field appearance="fill">
                                                                <mat-label>Qualification expiry date</mat-label>
                                                                <input matInput [matDatepicker]="dateOfBirthPicker2"
                                                                    [min]="withdrawLearnerCourseDetailsForm.at(i)?.get('qualificationOutcomeDtos')?.at(j).get('attemptDate').value"
                                                                    formControlName="qualificationExpiryDate"
                                                                    placeholder="Qualification expiry Date"
                                                                    id="qualificationExpiryDate">
                                                                <mat-datepicker-toggle matSuffix
                                                                    [for]="dateOfBirthPicker2">
                                                                </mat-datepicker-toggle>
                                                                <mat-datepicker #dateOfBirthPicker2></mat-datepicker>
                                                                <mat-error
                                                                    *ngIf="
                                                                    withdrawLearnerCourseDetailsForm.at(i)?.get('qualificationOutcomeDtos')?.at(j).get('qualificationExpiryDate').getError('matDatepickerMin')">
                                                                    Qualification expiry date cannot be before attempt date
                                                                </mat-error>
                                                            </mat-form-field>
                                                        </div>
                                                    
                                                        <div class="card-column-48">
                                                            <mat-form-field appearance="fill">
                                                                <mat-label>Qualification reference id</mat-label>
                                                                <input matInput placeholder="Qualification reference id"
                                                                    formControlName="qualificationReferenceNumber"
                                                                    id="qualificationReferenceNumber">
                                                                <mat-error
                                                                    *ngIf="withdrawLearnerCourseDetailsForm.at(i)?.get('qualificationOutcomeDtos')?.at(j).get('qualificationReferenceNumber').hasError('pattern')">
                                                                    Invalid Qualification reference id</mat-error>
                                                                <mat-error
                                                                    *ngIf="withdrawLearnerCourseDetailsForm.at(i)?.get('qualificationOutcomeDtos')?.at(j).get('qualificationReferenceNumber').hasError('maxlength')">
                                                                    Qualification reference id should be less than 20
                                                                    characters</mat-error>
                                                            </mat-form-field>
                                                    </div>
                                                    <div class="btn-column" *ngIf="withdrawLearnerCourseDetailsForm.at(i)?.get('qualificationOutcomeDtos').controls.length>1">
                                                     </div>
                                                </div>
                                                </mat-card-content>
                                            </div>
                                        </div>
                                        <div class="icon-align-right"
                                            *ngIf="(j==withdrawLearnerCourseDetailsForm.at(i)?.get('qualificationOutcomeDtos').controls.length-1 && withdrawLearnerCourseDetailsForm.at(i)?.get('qualificationOutcomeDtos').controls.length<3) && !isDisabledArray[i][j]">
                                            <button mat-icon-button (click)="addAttempt(i,j)" color="primary" type="button">
                                                <mat-icon class="add-btn-size">
                                                    add_circle_outline
                                                </mat-icon>
                                            </button>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </mat-card-content>
                        </div>
                    </div>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="coursesColumns"></mat-header-row>
            <mat-row *matRowDef="let element; columns: coursesColumns;" class="example-element-row">

            </mat-row>
            <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></mat-row>
        </mat-table>

        <mat-card-footer>
            <span class="spacer"></span>
            <span>
                <button type="submit" id="save_user_button" mat-flat-button color="primary"
                    [disabled]="!enrolmentForm.valid || disableSave" (click)="onSubmit()">Save</button>
            </span>
        </mat-card-footer>
    </form>
</mat-card>