<!--- HEADER-->
<div class="row">
    <div class="col-md-12">
        <div class="card mb-2 font-20">
            <div class="card-header"><strong>Previous Template</strong>

                <div class="float-right">
                    <a (click)="redirectToCreateTemplate()">
                        <button type="button" class="btn btn-info mr-2"><strong> <i class="fa fa-plus mr-2"
                                    aria-hidden="true"></i>Create Template</strong></button>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>

<!---Date-->
<div class="row mt-1">
    <div class="col-md-12">
        <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
            <div class="row m-1">
                <div class="col-md-4 pr-2">
                    <div class="d-flex">
                        <label for="sel1" class="mr-2 pt-2 mt-1" style="width: 90px;">Start Date:<span class="text-danger">*</span></label>

                        <input formControlName="dateFrom" type="date" max="{{min2}}" (change)="dateValid1()" id="startDate"
                            [(ngModel)]="formData.startDate" useValueAsDate />
                    </div>
                    <p *ngIf="dobflag1" class="help-box text-center"> Please select start date</p>
                </div>
                <div class=" col-md-4 pr-2">
                    <div class="d-flex">
                        <label for="sel1" class="mr-2 pt-2 mt-1" style="width: 90px;">End Date:<span class="text-danger">*</span></label>

                        <input formControlName="dateTo" type="date" max="{{min2}}" (change)="dateValid2()"
                            [(ngModel)]="formData.endDate" useValueAsDate />
                    </div>
                    <p *ngIf="dobflag2" class="help-box text-center"> Please select end date</p>
                    <div *ngIf="form.invalid && formData.endDate ">
                        <p *ngIf="form.errors" class="help-box text-center">{{ form.errors?.dates }}</p>
                    </div>
                </div>
                <div class="col-md-2 pt-1 d-flex">
                    <div class="pr-1">
                        <button type="submit" class="btn btn-info btn-md" (click)="filterDate()"> <strong>Apply</strong></button>
                        <div *ngIf="form.invalid ">
                            <div *ngIf="form.touched"></div>
                        </div>
                    </div>
                    <div class=" pr-1">
                        <button type="submit" class="btn btn-danger btn-md" (click)="reset()"> <strong>Reset</strong></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card mt-2">
    <div class="card-header">
        <div class="row">
            <div class="col-md-5 mt-2">
                <strong>Template Details</strong>
            </div>
            <div class="col-md-3">
                 <div class="dropdown mt-2-sm">
                    <div class=" d-flex">
                        <label for="exampleFormControlSelect1" class="mt-2 ">
                           Filter
                        </label>
                        <select class="form-control ml-2" id="exampleFormControlSelect1" (change)="getDeleted()"
                            [(ngModel)]="activedeactive">
                            <option value="1">Active</option>
                            <option value="0">In-active</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="search-button float-right w-100 mt-2">
                    <input class="form-control" type="text" name="search" [(ngModel)]="search" 
                    placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome">
                </div>
            </div>
        </div>
    </div>
</div>

<!----TABLE-->

<div class="table-responsive mt-4">
    <table class="table table-hover table-bordered mt-2 tacho-table">
        <thead class="bg-dark thead">
            <tr>
                <th class="th" [class.active]="order === 'custEmailTemplateId'"
                    (click)="setOrder('custEmailTemplateId')">ID<span class="pl-1 point span"
                        [hidden]="reverse">▼</span>
                    <span class="pl-1 point span" [hidden]="!reverse">▲</span></th>
                <th style="width: 30%;max-width: 30%;" class="th" [class.active]="order === 'createdDate'"
                    (click)="setOrder('createdDate')">Template Name<span class="pl-1 point span"
                        [hidden]="reverse">▼</span>
                    <span class="pl-1 point span" [hidden]="!reverse">▲</span></th>
                <th style="width: 30%;max-width: 30%;">Description</th>
                <th class="th" [class.active]="order === 'status'" (click)="setOrder('status')">Status<span
                        class="pl-1 point span" [hidden]="reverse">▼</span>
                    <span class="pl-1 point span" [hidden]="!reverse">▲</span></th>
                <th style="text-align: center;">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="duplicateArr==null || duplicateArr.length==0 && nodataFlg==false">
                <td class="noBorder"></td> 
                <div>
                    <td class="noBorder align">
                        <span class="text-danger ">
                            <h5 >Please wait.....</h5>
                        </span><br>
                        <div class="d-flex justify-content-center text-danger ">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Please wait</span>
                                <span class="sr-only ">Loading...</span>
                            </div>
                        </div>
                    </td>
                </div>
            </tr>
            <tr *ngIf="nodataFlg==true">
                <td class="noBorder"></td>
                <div class="row">
                    <td class="col-md-12 padding pt-3 noBorder">
                        <span class="text-danger inline">
                            <h5 style="text-align: center">No template to show</h5>
                        </span><br>

                    </td>
                </div>
            </tr>
            <tr
                *ngFor="let templ of templateDetails | orderBy: order :reverse | filter : search | paginate: { itemsPerPage: showData.rowsPerPage, currentPage: p }; let i=index">
                <td>{{templ.custEmailTemplateId}}</td>
                <td>{{templ.templateName}} <div class="td-date"> Created Date: {{templ.createdDate | date:"dd-MMM-yyyy 'at' h:mm a"}}
                <br>Modified Date: <span *ngIf="templ.lastModifiedDate==null">NA</span>
                <span *ngIf="templ.lastModifiedDate!=null"> {{templ.lastModifiedDate | date:"dd-MMM-yyyy 'at' h:mm a"}}</span> </div> </td>
                <td style="word-break: break-word;">{{templ.emailDescription}}</td>
                <td><span *ngIf="templ.status=='1'">Active</span>
                    <span *ngIf="templ.status!='1'">In-Active</span></td>
                <td class="text-center"><button class="btn text-success" type="button" >
                    <a (click)="deleteTempl(templ)">
                        <button class="btn text-danger mr-2" type="button" >
                          <span *ngIf="templ.status!='1'">Active</span>
                          <span *ngIf="templ.status=='1'"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                        </button>
                    </a>
                    <a (click)="redirectToEdit(templ)"><i class="fa fa-pencil" aria-hidden="true"></i> </a>
                    <a class="pl-3" (click)="CloneTemplate(templ,'TempClone')"><i class="fa fa-clone" aria-hidden="true"></i> </a>
                    </button>
                </td>


            </tr>
        </tbody>
    </table>
</div>
<!--Pagination-->
<div class="row mt-2 col-xs-2">
    <!--Show Records-->
    <div class="col-md-4 mt-2">
        <div class="show-rows ">
            <span>Show Records</span><input class="rowsPerPage ml-2" type="number" min="1"
                [(ngModel)]="showData.rowsPerPage" name="rowsPerPage" #rowsPerPage="ngModel" pattern="^[1-9][0-9]*$"
                placeholder="Rows">
        </div>
        <div *ngIf="rowsPerPage.invalid || rowsPerPage.touched">
            <p *ngIf="rowsPerPage.errors?.pattern" class="help-bpx" class="help-bpx" style="color: red;">
                Please enter value greater than 0.</p>
        </div>
    </div>
    <div class="col-md-8 ">
        <div class="float-md-right mt-2">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>