.v-align-middle { 
    vertical-align: middle;
}
.width{
    width: 400px;
    @media (max-width: 450px) {
        width: 100%;
    }
}
.mat-style{
    @media(max-width: 767px) {
        margin: 0px 8px 0px 0px !important;
    }
}

@media all and (min-width: 667px) {
    .mobile-label {
        display: none !important;
    }
}

