<!---PROFILE EDIT-->
<!--only for pause subs-->
<div *ngIf="pause" class="alert alert-danger text-center" role="alert">
    <h4>Your subscription is in pause mode.</h4>
</div>


<div class="row mt-5">
  <div class="col-xl-10 offset-xl-1 col-lg-12">
    <div class="box-shadow bg-light profile-form px-3 py-4 ">
      <div class="row">
        <div class="col-md-3 col-lg-3">
          <!--UPLOAD IMAGE-->
          <form>


            <div class="text-center p-2">
              <input *ngIf="itrationCount==false" type="image" [src]="ImageSource" src="assets/images/avtar.png"
                alt="Profile Edit" class="image profile-img" (click)="imageFile()">
              <span class="spinner-border p-5 m-5"
                *ngIf="itrationCount==true && itrationCount!=undefined && itrationCount!=null"
                style="height:30px;width:30px;"></span>

              <label *ngIf="itrationCount==false" class="cursor w-100" for="customFile">
                <strong><i class="fa fa-camera" aria-hidden="true"></i> Upload Image </strong></label>

            </div>
            <div class="custom-file hide">
              <input type="file" class="custom-file-input " id="customFile" accept="image/*"
                (change)="showPreview($event)">

            </div>
          </form>
        </div>
        <div class="col-md-9 col-lg-9">
          <!--FORM-->
          <form #editProfileForm="ngForm" (ngSubmit)="editProfileForm.form.valid && saveUser(editProfileForm)"
            novalidate autocomplete="off" class="form-inline">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <td></td>
                  <td> <button class="btn btn-danger float-right btn-update" type="submit">
                      <strong><i class="fa fa-pencil" aria-hidden="true"></i> {{btnName}}</strong></button>
                  </td>
                </tr>
                <!--FIRSTNAME-->
                <tr>
                  <td class="p-12 width-200"><strong>First Name</strong></td>
                  <td>
                    <label for="firstName" [hidden]="isShowDiv">{{userInfo.firstName}}</label>
                    <input type="text" class="form-control input-width" placeholder="Enter First Name"
                      [hidden]="!isShowDiv" pattern="[a-zA-Z][a-zA-Z ]+" [(ngModel)]="userInfo.firstName"
                      name="firstName" required #firstName="ngModel">

                    <div *ngIf="editProfileForm.submitted || firstName.invalid || firstName.touched">
                      <div *ngIf="firstName.touched || firstName.invalid ">
                        <p *ngIf="firstName.errors?.required " class="help-box">Please enter first name!</p>
                        <p *ngIf="firstName.errors?.pattern" class="help-box">
                          Please enter valid first name!</p>
                      </div>
                    </div>

                    <!--EDIT / UPDATE BUTTON-->

                  </td>
                  <td>

                  </td>
                </tr>
                <!--LASTNAME-->
                <tr>
                  <td class="p-12 width-200"><strong>Last Name</strong></td>
                  <td>
                    <label for="lastName" [hidden]="isShowDiv">{{userInfo.lastName}}</label>
                    <input type="text" class="form-control input-width" placeholder="Enter Last Name"
                      [hidden]="!isShowDiv" pattern="[a-zA-Z][a-zA-Z ]+" [(ngModel)]="userInfo.lastName" name="lastName"
                      required #lastName="ngModel">

                    <div *ngIf="editProfileForm.submitted || lastName.invalid  || lastName.touched">
                      <div *ngIf="lastName.touched || lastName.invalid">
                        <p *ngIf="lastName.errors?.required " class="help-box">Please enter last name!</p>
                        <p *ngIf="lastName.errors?.pattern" class="help-box">
                          Please enter valid last name!</p>
                      </div>
                    </div>
                  </td>
                  <td></td>
                </tr>
                <!--MOBILE-->
                <tr>
                  <td class="p-12 width-200"><strong>Mobile No.</strong></td>
                  <td>
                    <label for="mobileCountryCode" [hidden]="isShowDiv">{{userInfo.mobileCountryCode}}</label>
                    <label for="mobile" [hidden]="isShowDiv">{{userInfo.mobileNumber}}</label>
                    <label
                      *ngIf="userInfo.mobileNumber == null && userInfo.mobileCountryCode == null || userInfo.mobileNumber == '' && userInfo.mobileCountryCode == null || userInfo.mobileNumber == null && userInfo.mobileCountryCode == '' || userInfo.mobileNumber == '' && userInfo.mobileCountryCode == ''"
                      [hidden]="isShowDiv">NA</label>
                    <div class="form-group" [hidden]="!isShowDiv">
                      <div class="d-flex">
                        <select class="form-control" name="mobileCountryCode"  style="width: 115px;"
                          [(ngModel)]="userInfo.mobileCountryCode" #mobileCountryCode="ngModel">
                          <option [value]="null" disabled selected>Code </option>
                          <option *ngFor="let p of mobilecodeList" [value]="p.mobileCountryCode">{{p.mobileCountryCode}}
                            {{p.countryName}}</option>
                        </select>
                        <input type="text" class="form-control mb-2 mobile-input" placeholder="Enter Mobile"
                          pattern="[1-9]{1}[0-9]{9}" [(ngModel)]="userInfo.mobileNumber" name="mobileNumber"
                          #mobileNumber="ngModel" style="width: 160px;">
                      </div>
                      <div class="col-sm-12 p-0" *ngIf="editProfileForm.submitted || mobileNumber.invalid || mobileNumber.touched">
                        <div *ngIf="mobileNumber.touched || mobileNumber.invalid">
                          <p *ngIf="mobileNumber.errors?.required " class="help-box">Please enter mobile number!</p>
                          <p *ngIf="mobileNumber.errors?.pattern" class="help-box">Please enter valid mobile
                            number!
                          </p>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td></td>
                </tr>
                <!-- EMAIL-->
                <tr>
                  <td class="p-12 width-200"><strong>Email</strong></td>
                  <td>
                    <label for="emailAddress">{{userInfo.emailAddress}}</label>
                  </td>
                  <td></td>
                </tr>
                <!--COMPANY-->
                <tr>
                  <td class="p-12 width-200"><strong>Company Name</strong></td>
                  <td>
                    <label for="companyName" [hidden]="isShowDiv">{{userInfo.companyName}}</label>
                    <label
                      *ngIf="userInfo.companyName == '' || userInfo.companyName == null || userInfo.companyName == undefined"
                      for="companyName" [hidden]="isShowDiv">NA</label>
                    <input type="text" class="form-control input-width" placeholder="Company Name" id="companyName"
                      [hidden]="!isShowDiv" [(ngModel)]="userInfo.companyName" name="companyName" #companyName="ngModel"
                      pattern="[A-Za-z][A-Za-z0-9 ]+">

                    <div *ngIf="editProfileForm.submitted  || companyName.touched">
                      <div *ngIf="companyName.touched || companyName.invalid ">
                        <p *ngIf="companyName.errors?.pattern " class="help-box">Please enter valid company name!</p>
                      </div>
                    </div>
                  </td>
                  <td></td>
                </tr>
                <!--DESIGNATION-->
                <tr>
                  <td class="p-12 width-200"><strong>Designation</strong></td>
                  <td>
                    <label for="designation" [hidden]="isShowDiv">{{userInfo.designation}}</label>
                    <label
                      *ngIf="userInfo.designation == '' || userInfo.designation == null || userInfo.designation == undefined"
                      for="designation" [hidden]="isShowDiv">NA</label>
                    <input type="text" class="form-control input-width" placeholder="Designation" id="designation"
                      [hidden]="!isShowDiv" pattern="[a-zA-Z][a-zA-Z ]+" [(ngModel)]="userInfo.designation"
                      name="designation" #designation="ngModel">

                    <div *ngIf="editProfileForm.submitted   || designation.touched">
                      <div *ngIf="designation.touched || designation.invalid">
                        <p *ngIf="designation.errors?.required " class="help-box">Please enter designation!</p>
                        <p *ngIf="designation.errors?.pattern" class="help-box">
                          Please enter valid designation!</p>
                      </div>
                    </div>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
      <!--row end-->

    </div>
    <!--box-shadow end-->

  </div>
  <!--lg-8 end-->
</div>
<!--row  end-->
<br>
<br>
<!---IMAGE SLIDER
<div class="row mt-5">
  <div class="col-lg-8 offset-lg-2">
    <div class="slider-cover">
      <ng-image-slider #nav
        [images]="imageObject"
        [infinite]="false"
        [autoSlide]="1.3"
        [imageSize]="{width: '33%', height: 200}"
        slideImage="1"></ng-image-slider>
    </div>
  </div>
</div> -->