.table td, .table th {
    border-top: 0;

}
.table label{
    float:left;
}
.profile-edit{
    height: 250px;
    width: 100%;
}

.table td, .table th {
    padding: .45rem;
}
.p-12{
    padding:12px !important;
}
.btn-update{width: 102px;
}
.slider-cover{
    background-color: #ccc;
    padding: 4px 2px 1px;
}

.width-200{
    width:200px;
}

@media screen and (min-width: 768px){  
    .input-width{
        width: 275px;
    }
}

.profile-img{
   width:100%;
}

.align{
    align-items: center;
}


@media screen and (max-width: 450px){  

    .profile-form .form-control{
            width: auto;
    }
    .mobile-input{
        width: 100px !important;
    }
}