<mat-card id='view-programmes'>
    <mat-card-header>
        <div>
            <span class="v-align-middle">Role creation </span>
        </div>
        <span class="spacer"></span>
        <span>
            <button *ngIf="isAuthorized(80,1)" mat-stroked-button color="primary" [routerLink]="['./add-roles']">Add role
            </button>
        </span>
    </mat-card-header>
    <mat-card-header>
        <span class="spacer"></span>
    </mat-card-header>

    <mat-card-content>
        <div *ngIf="!showDetails">
            There are currently no roles created
        </div>
    </mat-card-content>
    <mat-card-content class="learners">
        <span class="spacer"></span>
        <div >
        <mat-table id="learners_table" #table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="r.roleName">
                <mat-header-cell *matHeaderCellDef id="roleName" mat-sort-header>
                 Name of Role
                </mat-header-cell>
                <mat-cell *matCellDef="let element"><span class="mobile-label">Name of Role:
                </span>
                    {{ element.roleName }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="r.createdDate">
                <mat-header-cell *matHeaderCellDef id="createdDate" mat-sort-header>
                    Date added
                </mat-header-cell>
                <mat-cell *matCellDef="let element"><span class="mobile-label">Date added:
                </span>
                    {{ element.createdDate | customMonthFormat }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="r.createdByName">
                <mat-header-cell *matHeaderCellDef id="createdByName" mat-sort-header>
                    Added by
                </mat-header-cell>
                <mat-cell *matCellDef="let element"><span class="mobile-label">Added by:
                </span>
                    {{ element.createdByName }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="allocatedUsers">
                <mat-header-cell *matHeaderCellDef id="allocatedUsers">
                    Allocated users
                </mat-header-cell>
                <mat-cell *matCellDef="let element"><span class="mobile-label">Allocated users:
                </span>
                    {{ element.allocatedUsers }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                <mat-cell *matCellDef="let element">

                        <button *ngIf="isAuthorized(80,2)" id="view_user_button_{{element.id}}" mat-icon-button color="primary" matTooltip="View"
                            [matTooltipShowDelay]="800" (click)="onViewClick(element.roleId)" class="mat-style" >
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button *ngIf="isAuthorized(80,3)" id="edit_user_button_{{element.id}}" mat-icon-button color="primary"
                            (click)="onEditClick(element.roleId)" matTooltip="Edit"
                            [matTooltipShowDelay]="800" class="mat-style">
                            <mat-icon>create</mat-icon>
                        </button>
                        <button *ngIf="isAuthorized(80,4)" id="delete_user_button" mat-icon-button attr.aria-label="Delete" (click)="onDelete(element.roleId)" matTooltip="Delete"
                            [matTooltipShowDelay]="800">
                            <mat-icon color="accent">delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
        <mat-paginator id="user_pagination" [pageSize]="pageSize" [showFirstLastButtons]='true' [hidePageSize]="true">
        </mat-paginator>
    </mat-card-content>
</mat-card>