<mat-card id='assessments'>
  <mat-card-header>
    <span> CVs </span>
    <span class="spacer"></span>
    <span>
      <button id="edit_view_button" mat-stroked-button color="primary" (click)="onExitClicked()">Exit</button>
    </span>
  </mat-card-header>
  <mat-card-content class="assessments_container">

    <mat-table  #table [dataSource]="dataSource.data" >

      <ng-container matColumnDef="cvName">
        <mat-header-cell *matHeaderCellDef id="cvName_name_button" class="cvName width-40">
          File Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="cvName width-40"><span class="mobile-label">File Name: </span>
          {{element.cvName}}
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="createdDate">
        <mat-header-cell class="width-15" *matHeaderCellDef id="date_created_button"> Uploaded / Generated Date
        </mat-header-cell>
        <mat-cell class="width-15" *matCellDef="let element"><span class="mobile-label">Uploaded / Generated Date: </span>
          {{element.createdDate | date:'dd/MM/yyyy' }} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="description">
        <mat-header-cell class="width-15" *matHeaderCellDef id="date_created_button"> Description
        </mat-header-cell>
        <mat-cell class="width-15" *matCellDef="let element"><span class="mobile-label">Description: </span>
          {{element.cvDescription}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
         
        <mat-header-cell class="width-15" *matHeaderCellDef id="action_button"> Action
        </mat-header-cell>
        <mat-cell class="width-15" *matCellDef="let element"> <span class="mobile-label"></span>
          
          <button id="download_contents_button_{{element.id}}" mat-icon-button color="primary" matTooltip="Download" (click)="download(element.id)" 
            [matTooltipShowDelay]="800">
            <mat-icon>get_app</mat-icon>
          
            <div id="form_holder" style="display: none;"></div>
          </button>
      
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="['cvName','createdDate','description','action' ]"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['cvName','createdDate','description','action'  ]"></mat-row>
    </mat-table>

    
  </mat-card-content>

</mat-card>