<div class="header">
  <div class="tabWrapper">
    <ul>
      <li class="tabHead active" routerLinkActive="active">
        <a class="tab-item" id="localJobs-tab" attr.aria-label="tab Month">Referral</a>
      </li>
    </ul>
  </div>
</div>

<mat-card id='referral'>

  <mat-card-header>
    <span class="spacer"></span>
    <span>
      <button id="exit_page" mat-stroked-button class="right" [routerLink]="['../']" queryParamsHandling="merge"
        [queryParams]="{ id: userId, name: name }" color="primary">Exit</button>
    </span>
  </mat-card-header>

  <mat-card-content class="users_container">
    <form [formGroup]="referralForm" (ngSubmit)="onSubmit()" >
      <div formGroupName="referralDetails">
        <div class="card-row">
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Referral</mat-label>
              <mat-select  placeholder="Referral" formControlName="interventionId"   id="interventionId" required>
                <mat-option *ngFor="let list of referralList" [value]="list.id" id="list">{{list.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="referralForm?.get('referralDetails').get('interventionId').hasError('required')">
                Referral is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Date</mat-label>
              <input matInput [matDatepicker]="referralDatePicker" placeholder="Date" formControlName="referralDate"
                id="recallDate" required>
              <mat-datepicker-toggle matSuffix [for]="referralDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #referralDatePicker></mat-datepicker>
              <mat-error
                *ngIf="referralForm?.get('referralDetails').get('referralDate').hasError('required') && !referralForm.get('referralDetails').get('referralDate').errors?.matDatepickerParse">
                Date is required
              </mat-error>
              <mat-error *ngIf="referralForm.get('referralDetails').get('referralDate').errors?.matDatepickerParse">
                Invalid
                date
              </mat-error>
            </mat-form-field>
          </div>

          <div class="card-column">
            <div class="card-column-50 otherReferral" *ngIf="isOtherReferral(referralForm?.get('referralDetails').get('interventionId').value)">
              <mat-form-field appearance="outline">
                <mat-label>Other Referral</mat-label>
                <input matInput placeholder="Other Referral" formControlName="otherIntervention"
                  id="otherIntervention_id" required>
                 <mat-error *ngIf="referralForm?.get('referralDetails').get('otherIntervention').hasError('required')">
                  Other Referral is required
                </mat-error>
               <mat-hint
                  *ngIf="referralForm?.get('referralDetails').get('otherIntervention')?.value?.length !== 0 && referralForm?.get('referralDetails').get('otherIntervention')?.value?.length !== null && referralForm?.get('referralDetails').get('otherIntervention')?.value?.length !=(100-1) && (100) >= referralForm?.get('referralDetails').get('otherIntervention')?.value?.length">
                  {{100 - referralForm?.get('otherIntervention')?.value?.length}} characters
                  left
                </mat-hint>
                <mat-hint
                  *ngIf="referralForm?.get('referralDetails').get('otherIntervention')?.value?.length == (100-1)">
                  1 character left
                </mat-hint>
                <mat-error *ngIf="referralForm?.get('referralDetails').get('otherIntervention')?.errors?.minlength">
                  Minimum 3 characters allowed
                </mat-error>
                <mat-hint
                  *ngIf="referralForm?.get('referralDetails').get('otherIntervention')?.value?.length === 0 || referralForm?.get('referralDetails').get('otherIntervention')?.value?.length === null">
                  Minimum 3 and Maximum 100 characters allowed
                </mat-hint> 
              </mat-form-field>
            </div>

            <mat-form-field appearance="outline">
              <mat-label>Worker</mat-label>

              <mat-select [disabled]="disableFlag" placeholder="Worker" formControlName="workerId" required>
                <mat-option *ngFor="let worker of workerList" [value]="worker.id" id="worker">{{ worker.userFullName }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="referralForm.get('referralDetails').get('workerId').hasError('required')">
                Worker is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Note</mat-label>
              <textarea matInput formControlName="notes" rows="4" maxlength="100" required></textarea>
              <mat-hint
                *ngIf="referralForm?.get('referralDetails').get('notes')?.value?.length !== 0 && referralForm?.get('referralDetails').get('notes')?.value?.length !== null && referralForm?.get('referralDetails').get('notes')?.value?.length !=(100-1) && (100) >= referralForm?.get('referralDetails').get('notes')?.value?.length">
                {{100 - referralForm?.get('notes')?.value?.length}} characters left
              </mat-hint>
              <mat-hint *ngIf="referralForm?.get('referralDetails').get('notes')?.value?.length == (100-1)">
                1 character left
              </mat-hint>
              <mat-error *ngIf="referralForm?.get('referralDetails').get('notes')?.errors?.minlength">
                Minimum 3 characters allowed
              </mat-error>
              <mat-error *ngIf="referralForm.get('referralDetails').get('notes').hasError('required')">
                Note is required
              </mat-error>
              <mat-hint
                *ngIf="referralForm?.get('referralDetails').get('notes')?.value?.length === 0 || referralForm?.get('referralDetails').get('notes')?.value?.length === null">
                Minimum 3 and Maximum 100 characters allowed
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Organisation</mat-label>
              <mat-select placeholder="Select Organisation" formControlName="organisationId" id="organisationId"
                required>
                <mat-option *ngFor="let organisation of organisationList" [value]="organisation.id"
                  id="organisation-{{organisation.identifier}}">
                  {{organisation.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="referralForm?.get('referralDetails').get('organisationId').hasError('required')">
                Organisation is required
              </mat-error>

            </mat-form-field>
            <div class="card-column-50 otherReferral"
              *ngIf="isOtherOrganisation(referralForm.get('referralDetails').get('organisationId').value)">
              <mat-form-field appearance="outline">
                <mat-label>Other Organisation</mat-label>
                <input matInput placeholder="Other Organisation" formControlName="otherOrganisation"
                  id="otherOrganisation_id"  required>
                <mat-hint
                  *ngIf="referralForm?.get('referralDetails').get('otherOrganisation')?.value?.length !== 0 && referralForm?.get('referralDetails').get('otherOrganisation')?.value?.length !== null && referralForm?.get('referralDetails').get('otherOrganisation')?.value?.length !=(100-1) && (100) >= referralForm?.get('referralDetails').get('otherOrganisation')?.value?.length">
                  {{100 - referralForm?.get('otherOrganisation')?.value?.length}} characters
                  left
                </mat-hint>
                <mat-hint
                  *ngIf="referralForm?.get('referralDetails').get('otherOrganisation')?.value?.length == (100-1)">
                  1 character left
                </mat-hint>
                <mat-error *ngIf="referralForm?.get('referralDetails').get('otherOrganisation')?.errors?.minlength">
                  Minimum 3 characters allowed
                </mat-error>
                <mat-hint
                  *ngIf="referralForm?.get('referralDetails').get('otherOrganisation')?.value?.length === 0 || referralForm?.get('referralDetails').get('otherOrganisation')?.value?.length === null">
                  Minimum 3 and Maximum 100 characters allowed
                </mat-hint>
                <mat-error *ngIf="referralForm?.get('referralDetails').get('otherOrganisation').hasError('required')">
                  Other organisation is required
                </mat-error>
                <mat-error *ngIf="referralForm?.get('referralDetails').get('otherOrganisation').hasError('pattern')">
                  Invalid other organisation format
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Referral Outcome</mat-label>
              <mat-select placeholder="Referral Outcome" formControlName="refOutcomeId">
                <mat-option *ngFor="let outcome of outcomeList" [value]="outcome.id" id="outcome">
                  {{outcome.name}}
                </mat-option>
                <mat-option [value]="null" id="status">Clear Selection
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        
        </div>
      </div>

      <div formGroupName="fundingDetails">
       
       <div class="card-row" >
        <div class="card-column">
          <mat-form-field appearance="outline">
            <mat-label>Funding Type</mat-label>
            <mat-select placeholder="Funding Type" formControlName="fundingType" (selectionChange)="resetValues($event)">
              <mat-option *ngFor="let type of allData?.refDataMap?.Funding_Type" [value]="type.id" id="type">
                {{type.description}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="card-column" *ngIf="fundingTypeSelect() === 1 && otherReset(referralForm.get('fundingDetails').get('fundingType').value)"> 
          <mat-form-field appearance="outline">
            <mat-label>Details</mat-label>
            <input matInput placeholder="Details" formControlName="otherFundingType" id="otherFundingType" 
             required>
            <mat-hint>Minimum 3 and maximum 100 characters allowed</mat-hint>
            <mat-error *ngIf="referralForm.get('fundingDetails').get('otherFundingType').hasError('required')">
             Other funding type is required.</mat-error>
            <mat-error *ngIf="referralForm.get('fundingDetails').get('otherFundingType').hasError('minlength')">
             Minimum 3 characters required</mat-error>
             <mat-error *ngIf="referralForm.get('fundingDetails').get('otherFundingType').hasError('maxlength')">
              Maximum 100 characters required</mat-error>  
          </mat-form-field>     
      </div>      
        <!-- employment  -->
        <div class="card-column" *ngIf="fundingTypeSelect() === 3">
          <mat-form-field appearance="outline">
            <mat-label>Referral By</mat-label>
            <mat-select  placeholder="Referral By" formControlName="empReferralBy" (selectionChange)="addValidationForOther($event.value)" required>
              <mat-option *ngFor="let type of allData?.refDataMap?.Referral_By_Employment" [value]="type.id" id="type">
                {{type.description}}</mat-option>
            </mat-select>
            <mat-error *ngIf="referralForm.get('fundingDetails').get('empReferralBy').hasError('required')">
              Employment referral to is required</mat-error>
          </mat-form-field>
        </div>
        <div class="card-column" *ngIf="fundingTypeSelect() === 3 && otherReset(referralForm.get('fundingDetails').get('empReferralBy').value)">  
          <mat-form-field appearance="outline">
            <mat-label>If Other, Specify</mat-label>
            <input matInput placeholder="If Other, Specify" formControlName="otherEmpReferralBy" id="otherEmpReferralBy" required>
            <mat-hint>Minimum 3 and maximum 100 characters allowed</mat-hint>
             <mat-error *ngIf="referralForm.get('fundingDetails').get('otherEmpReferralBy').hasError('minlength')">
              Minimum 3 characters required</mat-error> 
              <mat-error *ngIf="referralForm.get('fundingDetails').get('otherEmpReferralBy').hasError('maxlength')">
               Maximum 100 characters required</mat-error>
               <mat-error *ngIf="referralForm.get('fundingDetails').get('otherEmpReferralBy').hasError('required')">
                Other employment referral to is required.</mat-error> 
          </mat-form-field>      
      </div>   
      <!-- housing -->
      <div class="card-column" *ngIf="fundingTypeSelect() === 9">
        <mat-form-field appearance="outline">
          <mat-label>Housing Type</mat-label>
          <mat-select placeholder="Housing Type" formControlName="housingType" (selectionChange)="addValidationForHousingOther($event.value)" required>
            <mat-option *ngFor="let type of allData?.refDataMap?.Housing_Type" [value]="type.id" id="type">
              {{type.description}}</mat-option>
          </mat-select>
          <mat-error *ngIf="referralForm.get('fundingDetails').get('housingType').hasError('required')">
            Housing type is required</mat-error>
        </mat-form-field>
      </div>
      <div class="card-column" *ngIf="fundingTypeSelect() === 9 && otherReset(referralForm.get('fundingDetails').get('housingType').value)">
        <mat-form-field appearance="outline">
          <mat-label>If Other, Specify</mat-label>
          <input matInput placeholder="If Other, Specify" formControlName="otherHousingType" id="otherHousingType" 
          required>
          <mat-hint>Minimum 3 and maximum 100 characters allowed</mat-hint>
          <mat-error *ngIf="referralForm.get('fundingDetails').get('otherHousingType').hasError('required')">
            Other housing type is required</mat-error>
           <mat-error *ngIf="referralForm.get('fundingDetails').get('otherHousingType').hasError('minlength')">
            Minimum 3 characters required</mat-error>
            <mat-error *ngIf="referralForm.get('fundingDetails').get('otherHousingType').hasError('maxlength')">
             Maximum 100 characters required</mat-error>
        </mat-form-field>
      </div>
       <!-- finance -->
       <div class="card-column" *ngIf="fundingTypeSelect() === 8">
        <mat-form-field appearance="outline">
          <mat-label>Funding Purpose</mat-label>
          <mat-select placeholder="Funding Purpose" formControlName="fundingPurpose" (selectionChange)="addValidationForFundingPurpose($event.value)" required>
            <mat-option *ngFor="let type of allData?.refDataMap?.Funding_Purpose" [value]="type.id" id="type">
              {{type.description}}</mat-option>
          </mat-select>
          <mat-error *ngIf="referralForm.get('fundingDetails').get('fundingPurpose').hasError('required')">
            Funding purpose is required</mat-error>
        </mat-form-field>
      </div>
      <div class="card-column" *ngIf="fundingTypeSelect() === 8 && otherReset(referralForm.get('fundingDetails').get('fundingPurpose').value)">  
        <mat-form-field appearance="outline">
          <mat-label>If Other, Specify</mat-label>
          <input matInput placeholder="If Other, Specify" formControlName="otherFundingPurpose" id="otherFundingPurpose" 
             required>
          <mat-hint>Minimum 3 and maximum 100 characters allowed</mat-hint>
          <mat-error *ngIf="referralForm.get('fundingDetails').get('otherFundingPurpose').hasError('required')">
            Other funding purpose is required</mat-error>
           <mat-error *ngIf="referralForm.get('fundingDetails').get('otherFundingPurpose').hasError('minlength')">
            Minimum 3 characters required</mat-error>
            <mat-error *ngIf="referralForm.get('fundingDetails').get('otherFundingPurpose').hasError('maxlength')">
             Maximum 100 characters required</mat-error>
        </mat-form-field>      
    </div>
      <div class="card-column" *ngIf="fundingTypeSelect() === 8">
        <mat-form-field appearance="outline">
          <mat-label>Funding Source</mat-label>
          <mat-select placeholder="Funding Source" formControlName="fundingSource" (selectionChange)="addValidationForFundingSource($event.value)" required>
            <mat-option *ngFor="let type of allData?.refDataMap?.Funding_Source" [value]="type.id" id="type">
              {{type.description}}</mat-option>
          </mat-select>
          <mat-error *ngIf="referralForm.get('fundingDetails').get('fundingSource').hasError('required')">
            Funding source is required</mat-error>
        </mat-form-field>
      </div>
      <div class="card-column"  *ngIf="fundingTypeSelect() === 8 && otherReset(referralForm.get('fundingDetails').get('fundingSource').value)">  
          <mat-form-field appearance="outline">
            <mat-label>If Other, Specify</mat-label>
            <input matInput placeholder="If Other, Specify" formControlName="otherFundingSource" id="otherFundingSource" required>
            <mat-hint>Minimum 3 and maximum 100 characters allowed</mat-hint>
            <mat-error *ngIf="referralForm.get('fundingDetails').get('otherFundingSource').hasError('required')">
              Other funding source is required</mat-error>
             <mat-error *ngIf="referralForm.get('fundingDetails').get('otherFundingSource').hasError('minlength')">
              Minimum 3 characters required</mat-error>
              <mat-error *ngIf="referralForm.get('fundingDetails').get('otherFundingSource').hasError('maxlength')">
               Maximum 100 characters required</mat-error>
          </mat-form-field>      
      </div>
       <!-- further Education -->
       <div class="card-column" *ngIf="fundingTypeSelect() === 2">
        <mat-form-field appearance="outline">
          <mat-label>Details</mat-label>
          <input matInput placeholder="Details" formControlName="educationFurtherDetails"
            id="educationFurtherDetails" required>
          <mat-hint>Minimum 3 and maximum 100 characters allowed</mat-hint>
          <mat-error *ngIf="referralForm.get('fundingDetails').get('educationFurtherDetails').hasError('minlength')">
            Minimum 3 characters allowed
          </mat-error>
          <mat-error *ngIf="referralForm.get('fundingDetails').get('educationFurtherDetails').hasError('required')">
            Further details is required
          </mat-error>
          <mat-error *ngIf="referralForm.get('fundingDetails').get('educationFurtherDetails').hasError('maxlength')">
             Maximum 100 characters required</mat-error>
        </mat-form-field>
      </div>
      <!-- Mental health  -->
      <div class="card-column" *ngIf="fundingTypeSelect() === 5">
        <mat-form-field appearance="outline">
          <mat-label>Referral To</mat-label>
          <mat-select placeholder="Referral To" formControlName="mentalHealthRefTo" (selectionChange)="addValidationForMentalHealth($event.value)" required>
            <mat-option *ngFor="let type of allData?.refDataMap?.Referral_To_Mental_Health" [value]="type.id"
              id="type">{{type.description}}</mat-option>
          </mat-select>
          <mat-error *ngIf="referralForm.get('fundingDetails').get('mentalHealthRefTo').hasError('required')">
            Mental health referral to is required</mat-error>
        </mat-form-field>
      </div>
      <div class="card-column"  *ngIf="fundingTypeSelect() === 5 && otherReset(referralForm.get('fundingDetails').get('mentalHealthRefTo').value)">
        <mat-form-field appearance="outline">
          <mat-label>If Other, Specify</mat-label>
          <input matInput placeholder="If Other, Specify" formControlName="otherMentalHealthRefTo" id="otherMentalHealthRefTo"
             required>
          <mat-hint>Minimum 3 and maximum 100 characters allowed</mat-hint>
          <mat-error *ngIf="referralForm.get('fundingDetails').get('otherMentalHealthRefTo').hasError('required')">
            Other mental health referral to is required</mat-error>
           <mat-error *ngIf="referralForm.get('fundingDetails').get('otherMentalHealthRefTo').hasError('minlength')">
            Minimum 3 characters required</mat-error>
            <mat-error *ngIf="referralForm.get('fundingDetails').get('otherMentalHealthRefTo').hasError('maxlength')">
             Maximum 100 characters required</mat-error>
        </mat-form-field>
      </div>
      <div class="card-column" *ngIf="fundingTypeSelect() === 5">
        <mat-form-field appearance="outline">
          <mat-label>Further Details</mat-label>
          <input matInput placeholder="Further Details" formControlName="mentalHealthDetails"
            id="mentalHealthDetails" required>
          <mat-hint>Minimum 3 and maximum 100 characters allowed</mat-hint>
          <mat-error *ngIf="referralForm.get('fundingDetails').get('mentalHealthDetails').hasError('required')">
            Further details is required</mat-error>
           <mat-error *ngIf="referralForm.get('fundingDetails').get('mentalHealthDetails').hasError('minlength')">
            Minimum 3 characters required</mat-error>
            <mat-error *ngIf="referralForm.get('fundingDetails').get('mentalHealthDetails').hasError('maxlength')">
             Maximum 100 characters required</mat-error>
        </mat-form-field>
      </div>
      <!-- misuse -->
      <div class="card-column" *ngIf="fundingTypeSelect() === 7">
        <mat-form-field appearance="outline">
          <mat-label>Referral By</mat-label>
          <mat-select placeholder="Referral By" formControlName="misuseReferralBy" (selectionChange)="addValidationForSMARef($event.value)" required>
            <mat-option *ngFor="let type of allData?.refDataMap?.Referral_By_Substance_Misuse_Addiction"
              [value]="type.id" id="type">{{type.description}}</mat-option>
          </mat-select>
          <mat-error *ngIf="referralForm.get('fundingDetails').get('misuseReferralBy').hasError('required')">
            Substance misuse/addiction referral by is required</mat-error>
        </mat-form-field>
      </div>
      <div class="card-column" *ngIf="fundingTypeSelect() === 7 && otherReset(referralForm.get('fundingDetails').get('misuseReferralBy').value)">
        <mat-form-field appearance="outline">
          <mat-label>If Other, Specify</mat-label>
          <input matInput placeholder="If Other, Specify" formControlName="otherMisuseRefBy" id="otherMisuseRefBy"
            required>
          <mat-hint>Minimum 3 and maximum 100 characters allowed</mat-hint>
          <mat-error *ngIf="referralForm.get('fundingDetails').get('otherMisuseRefBy').hasError('required')">
            Other Substance misuse/addiction referral by is required</mat-error>
           <mat-error *ngIf="referralForm.get('fundingDetails').get('otherMisuseRefBy').hasError('minlength')">
            Minimum 3 characters required</mat-error>
            <mat-error *ngIf="referralForm.get('fundingDetails').get('otherMisuseRefBy').hasError('maxlength')">
             Maximum 100 characters required</mat-error>
        </mat-form-field>
      </div>
      <div class="card-column" *ngIf="fundingTypeSelect() === 7">
        <mat-form-field appearance="outline">
          <mat-label>Referral Type</mat-label>
          <mat-select placeholder="Referral Type" formControlName="misuseRefType" (selectionChange)="addValidationForSMAType($event.value)" required>
            <mat-option *ngFor="let type of allData?.refDataMap?.Referral_Type" [value]="type.id" id="type">
              {{type.description}}</mat-option>
          </mat-select>
          <mat-error *ngIf="referralForm.get('fundingDetails').get('misuseRefType').hasError('required')">
            Substance misuse/addiction referral type is required</mat-error>
        </mat-form-field>
      </div>
      <div class="card-column" *ngIf="fundingTypeSelect() === 7 && otherReset(referralForm.get('fundingDetails').get('misuseRefType').value)">
        <mat-form-field appearance="outline">
          <mat-label>If Other, Specify</mat-label>
          <input matInput placeholder="If Other, Specify" formControlName="otherMisuseRefType" id="otherMisuseRefType" 
           required>
          <mat-hint>Minimum 3 and maximum 100 characters allowed</mat-hint>
          <mat-error *ngIf="referralForm.get('fundingDetails').get('otherMisuseRefType').hasError('required')">
            Other Substance misuse/addiction referral type is required</mat-error>
           <mat-error *ngIf="referralForm.get('fundingDetails').get('otherMisuseRefType').hasError('minlength')">
            Minimum 3 characters required</mat-error>
            <mat-error *ngIf="referralForm.get('fundingDetails').get('otherMisuseRefType').hasError('maxlength')">
             Maximum 100 characters required</mat-error>
        </mat-form-field>
      </div>
       <!-- Medical/Physical health  -->
       <div class="card-column" *ngIf="fundingTypeSelect() === 6">
        <mat-form-field appearance="outline">
          <mat-label>Referral To</mat-label>
          <mat-select placeholder="Referral To" formControlName="mpHealthReferralTo" (selectionChange)="addValidationForMedicalHealth($event.value)" required>
            <mat-option *ngFor="let type of allData?.refDataMap?.Referral_To_Medical_Physical_Health" [value]="type.id"
              id="type">{{type.description}}</mat-option>
          </mat-select>
          <mat-error *ngIf="referralForm.get('fundingDetails').get('mpHealthReferralTo').hasError('required')">
            Medical/physical health referral to is required</mat-error>
        </mat-form-field>
      </div>
      <div class="card-column" *ngIf="fundingTypeSelect() === 6 && otherReset(referralForm.get('fundingDetails').get('mpHealthReferralTo').value)">
        <mat-form-field appearance="outline">
          <mat-label>If Other, Specify</mat-label>
          <input matInput placeholder="If Other, Specify" formControlName="othermpHealthReferralTo" id="othermpHealthReferralTo"
             required>
          <mat-hint>Minimum 3 and maximum 100 characters allowed</mat-hint>
          <mat-error *ngIf="referralForm.get('fundingDetails').get('othermpHealthReferralTo').hasError('required')">
            Other medical/physical health is required</mat-error>
           <mat-error *ngIf="referralForm.get('fundingDetails').get('othermpHealthReferralTo').hasError('minlength')">
            Minimum 3 characters required</mat-error>
            <mat-error *ngIf="referralForm.get('fundingDetails').get('othermpHealthReferralTo').hasError('maxlength')">
             Maximum 100 characters required</mat-error>
        </mat-form-field>
      </div>
      <div class="card-column" *ngIf="fundingTypeSelect() === 6">
        <mat-form-field appearance="outline">
          <mat-label>Further Details</mat-label>
          <input matInput placeholder="Further Details" formControlName="mpHealthFurtherDetails"
            id="mpHealthFurtherDetails" required>
          <mat-hint>Minimum 3 and maximum 100 characters allowed</mat-hint>
          <mat-error *ngIf="referralForm.get('fundingDetails').get('mpHealthFurtherDetails').hasError('minlength')">
            Minimum 3 characters allowed
          </mat-error>
          <mat-error *ngIf="referralForm.get('fundingDetails').get('mpHealthFurtherDetails').hasError('required')">
            Further details is required
          </mat-error>
          <mat-error *ngIf="referralForm.get('fundingDetails').get('mpHealthFurtherDetails').hasError('maxlength')">
             Maximum 100 characters required</mat-error>
        </mat-form-field>
      </div>
      <!-- probation -->
      <div class="card-column" *ngIf="fundingTypeSelect() === 4">
        <mat-form-field appearance="outline">
          <mat-label>Probation Region</mat-label>
          <mat-select placeholder="Probation Region" formControlName="probationRegion" required>
            <mat-option *ngFor="let type of allData?.refDataMap?.Probation_Region" [value]="type.id"
              id="type">{{type.description}}</mat-option>
          </mat-select>
          <mat-error *ngIf="referralForm.get('fundingDetails').get('probationRegion').hasError('required')">
            Probation region is required</mat-error>
        </mat-form-field>
      </div>
      <div class="card-column" *ngIf="fundingTypeSelect() === 4">
        <mat-form-field appearance="outline">
          <mat-label>Probation Office</mat-label>
          <input matInput placeholder="Probation Office" formControlName="probationOffice" id="probationOffice"
            required>
          <mat-hint>Minimum 3 and maximum 100 characters allowed</mat-hint>
          <mat-error *ngIf="referralForm.get('fundingDetails').get('probationOffice').hasError('required')">
            Probation office is required</mat-error>
           <mat-error *ngIf="referralForm.get('fundingDetails').get('probationOffice').hasError('minlength')">
            Minimum 3 characters required</mat-error>
            <mat-error *ngIf="referralForm.get('fundingDetails').get('probationOffice').hasError('maxlength')">
             Maximum 100 characters required</mat-error>
        </mat-form-field>
      </div>
      <div class="card-column" *ngIf="fundingTypeSelect() === 4">
        <mat-form-field appearance="outline">
          <mat-label>Probation Officer</mat-label>
          <input matInput placeholder="Probation Officer" formControlName="probationOfficer" id="probationOfficer"
             required>
          <mat-hint>Minimum 3 and maximum 100 characters allowed</mat-hint>
          <mat-error *ngIf="referralForm.get('fundingDetails').get('probationOfficer').hasError('required')">
            Probation officer is required</mat-error>
           <mat-error *ngIf="referralForm.get('fundingDetails').get('probationOfficer').hasError('minlength')">
            Minimum 3 characters required</mat-error>
            <mat-error *ngIf="referralForm.get('fundingDetails').get('probationOfficer').hasError('maxlength')">
             Maximum 100 characters required</mat-error>
        </mat-form-field>
      </div>
      <div class="card-column" *ngIf="fundingTypeSelect() === 4">
        <mat-form-field appearance="outline">
          <mat-label>Probation Address</mat-label>
          <input matInput placeholder="Probation Address" formControlName="probationAdderss" id="probationAdderss"
             required>
          <mat-hint>Minimum 3 and maximum 100 characters allowed</mat-hint>
          <mat-error *ngIf="referralForm.get('fundingDetails').get('probationAdderss').hasError('required')">
            Probation address is required</mat-error>
           <mat-error *ngIf="referralForm.get('fundingDetails').get('probationAdderss').hasError('minlength')">
            Minimum 3 characters required</mat-error>
            <mat-error *ngIf="referralForm.get('fundingDetails').get('probationAdderss').hasError('maxlength')">
             Maximum 100 characters required</mat-error>
        </mat-form-field>
      </div>
      <div class="card-column" *ngIf="fundingTypeSelect() === 4">
        <mat-form-field appearance="outline">
          <mat-label>Probation email</mat-label>
          <input matInput placeholder="Probation email" formControlName="probationEmail" id="probationEmail" required>
          <mat-hint>Please enter a valid email</mat-hint>
          <mat-error *ngIf="referralForm.get('fundingDetails').get('probationEmail').hasError('required')">
            Probation email is required</mat-error>
            <mat-error *ngIf="referralForm.get('fundingDetails').get('probationEmail').hasError('pattern')">
              Invalid email address
            </mat-error>
        </mat-form-field>
      </div>
      <div class="card-column" *ngIf="fundingTypeSelect() === 4">
        <mat-form-field appearance="outline">
          <mat-label>Contact Number</mat-label>
          <input matInput placeholder="Contact Number" formControlName="contactNo" id="contactNo" required>
          <mat-hint>Please enter a valid telephone number</mat-hint>
          <mat-error *ngIf="referralForm.get('fundingDetails').get('contactNo').hasError('required')">
            Contact number is required</mat-error>
          <mat-error *ngIf="referralForm.get('fundingDetails').get('contactNo').hasError('pattern')">
            Contact number is Invalid
          </mat-error>
        </mat-form-field>
      </div>
    </div>

      </div>

      
      <div class="card-row add-referral">
        <div class="card-column"></div>
        <div class="card-column">
          <button id="add_referral_button" type="submit" mat-flat-button color="primary"
            [disabled]="referralForm?.invalid || referralForm.get('interventionId')?.invalid">{{isNew? 'Add':
            'Update'}}</button>
        </div>
      </div>
    </form>
  </mat-card-content>

</mat-card>