<mat-card id='edit_prison_jobs'>

  <mat-card-header>
    <span *ngIf="prisonJobForm.controls.jobTitle.value" id="job_title">
      {{prisonJobForm.controls.jobTitle.value}}
    </span>
    <span class="spacer"></span>
    <span>
      <button id="exit_user_button" mat-stroked-button color="primary" (click)="onExitClicked()">Exit</button>
    </span>
  </mat-card-header>
  <mat-card-content>

    <form [formGroup]="prisonJobForm" (ngSubmit)="onSubmit()" validate autocomplete="off">

      <div class="card-row">
        <div class="card-column">
          <mat-form-field appearance="outline">
            <mat-label>Job Title</mat-label>
            <input matInput formControlName="jobTitle" id="job_title_id" required >
            <mat-error *ngIf="prisonJobForm.get('jobTitle').hasError('maxlength')"> Value should be less than 100
              chars
            </mat-error>
            <mat-error *ngIf="prisonJobForm.get('jobTitle').hasError('required')"> Job title is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="card-column">
          <mat-form-field appearance="outline">
            <mat-label>Location</mat-label>
            <input matInput formControlName="location" id="location_id" required>
            <mat-error *ngIf="prisonJobForm.get('location').hasError('maxlength')"> Value should be less than 50
              chars
            </mat-error>
            <mat-error *ngIf="prisonJobForm.get('location').hasError('required')"> Location is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="card-row">
        <div class="card-column">
          <mat-form-field appearance="outline">
            <mat-label>Pay</mat-label>
            <input matInput formControlName="pay" id="pay_id" required>
            <mat-error *ngIf="prisonJobForm.get('pay').hasError('maxlength')"> Value should be less than 50
              chars
            </mat-error>
            <mat-error *ngIf="prisonJobForm.get('pay').hasError('required')"> Pay is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="card-row">
        <div class="card-column textarea-container">

          <mat-form-field appearance="outline">
            <mat-label>Job Description</mat-label>
            <textarea matInput id="job_description_id" cols="20" rows="5" minlength="1" maxlength="1000" formControlName="jobDescription"
             required></textarea>
             <mat-hint *ngIf="prisonJobForm.get('jobDescription').value != null && prisonJobForm.get('jobDescription').value.length !=(1000-1) && (1000) >= 
              prisonJobForm.get('jobDescription').value.length && prisonJobForm.get('jobDescription').value.length != 0"> {{1000 - prisonJobForm.get('jobDescription').value.length}} characters left</mat-hint>
              
              <mat-hint *ngIf="prisonJobForm.get('jobDescription').value != null && prisonJobForm.get('jobDescription').value.length == (1000-1)">
                1 character left
              </mat-hint>
              
              <mat-hint *ngIf="prisonJobForm.get('jobDescription').value == null">
                Minimum 1 and maximum 1000 characters allowed
              </mat-hint>
            <mat-error *ngIf="prisonJobForm.get('jobDescription').hasError('maxlength')"> Value should be less than 1000
              characters
            </mat-error>
            <mat-error *ngIf="prisonJobForm.get('jobDescription').hasError('required')"> Mandatory Field
            </mat-error>

          </mat-form-field>
        </div>
      </div>
      <div class="card-row">
        <div class="card-column">

          <mat-form-field appearance="outline">
            <mat-label>Posting Date</mat-label>
            <input matInput [matDatepicker]="postingDate" [min]="minStartDate" formControlName="postingDate"
              placeholder="Posting date" id="postingDate" required>
            <mat-datepicker-toggle matSuffix [for]="postingDate"></mat-datepicker-toggle>
            <mat-datepicker #postingDate></mat-datepicker>
            <mat-error *ngIf="prisonJobForm.get('postingDate').hasError('matDatepickerMin')">
              Date can not be in past </mat-error>

            <mat-error *ngIf="!prisonJobForm.get('postingDate').hasError('matDatepickerParse')
                                && !prisonJobForm.get('postingDate').hasError('matDatepickerMin')
                                && prisonJobForm.get('postingDate').hasError('required')">
              Posting date required</mat-error>
          </mat-form-field>
        </div>
        <div class="card-column">

          <mat-form-field appearance="outline">
            <mat-label>Closing Date</mat-label>
            <input matInput [matDatepicker]="closingDate" [min]="minEndDate" formControlName="closingDate"
              placeholder="Closing date" id="closingDate" required>
            <mat-datepicker-toggle matSuffix [for]="closingDate"></mat-datepicker-toggle>
            <mat-datepicker #closingDate></mat-datepicker>
            <mat-error *ngIf="prisonJobForm.get('closingDate').hasError('matDatepickerMin') &&
            !isAfterPosting">Date should be in the future</mat-error>
            <mat-error *ngIf="prisonJobForm.get('closingDate').hasError('matDatepickerMin') && 
            isAfterPosting">Date should be greater than Posting date</mat-error>
            <mat-error *ngIf="!prisonJobForm.get('closingDate').hasError('matDatepickerParse')
                                && !prisonJobForm.get('closingDate').hasError('matDatepickerMin')
                                && prisonJobForm.get('closingDate').hasError('required')">
              Closing date required</mat-error>
          </mat-form-field>
        </div>
      </div>


      <mat-card-footer>
        <span class="spacer"></span>
        <span>
          <button type="submit" id="save_user_button" mat-flat-button color="primary"
            [disabled]="!prisonJobForm.valid">Save</button>
        </span>
      </mat-card-footer>

    </form>
  </mat-card-content>
</mat-card>

