<div class="row mt-10">
	<div class="col-md-4 offset-md-4"> <!--justify-content-center -->
		<div class="card form-bg box-shadow">
			<div class="card-header bg-white text-center">
				<a href="https://markzil.com/" target="_blank" tabindex="1">
                    <img src="assets/images/Markzil-1 Cut.png" class="img-rounded logoDesign ml-20"   alt="Emanzo" width="40%">
                </a>
                <a href="https://markzil.com/" target="_blank" tabindex="2">
                    <i class="mt-3 fa fa-home info pull-right font-20 text-danger " aria-hidden="true"></i>
				</a>
				
				<h3 class="formHeading text-center text-secondary mt-4"><strong>Forgot Password </strong></h3>

			</div> 
			<div class="card-body">
                <div class="text-center">
                    <h4> Forgot Your Login Information?</h4>
                    <p class="mt-3">If you have an existing Emanzo user, you can access it with your username and password.</p>
                    <p>Mention your email Id and we'll send reset link to your email Id.</p>
                </div>
                
				<form  #forgotpswd="ngForm" (ngSubmit)="forgotpswd.form.valid  && forgotPassword(forgotpswd)"  novalidate >
					<div class="input-group form-group p-3">
						<div class="input-group-prepend">
							<span class="input-group-text bg-danger text-light"><i class="fa fa-user"></i></span>
						</div>
						<input  id="inputEmail" type="email" name="email" required  placeholder="Username"  pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,5}$"
						[(ngModel)]="forgotpswdInfo.email" #email="ngModel" (change)="emailCheckUnique(email.value)" (keydown)="onKeydown($event)"  class="form-control removeInvalid"  />   
						
						<div *ngIf="forgotpswd.submitted && email.invalid || email.touched" class="col-md-12">
                            <div *ngIf="email.touched || forgotpswd.submitted">
                                <p *ngIf="email.errors?.required " class="help-box">Please enter username!</p>
                                <p *ngIf="email.errors?.pattern"  class="help-box" >
                                    Please enter valid username!</p>
                            </div>
                        </div>
                    </div>
                   <p  style="color: red; text-align: left;"> </p>

					<div class="form-group text-center mt-4">
						<input type="submit" value="Submit" [disabled]="!forgotpswd.valid || registerUserFlag || submitFlg" class="btn btn-info  mg-t-10"> 
					</div>

					<br>
					<div class="form-group" *ngIf="email.valid && registerUserFlag">
						<div>
							<p style="color: red; font-size: 9pt;" class="text-center">This
								user is not registered!</p>
						</div>
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="text-center p-3">
					Already Member ?<a (click)="redirectTosignin()" class="cursor"><strong> Sign In </strong></a>
				</div>
			</div>
		</div>
	</div>
</div>
