<div class="row mt-10">
	<div class="col-md-4 offset-md-4"> <!--justify-content-center -->
		<div class="card form-bg box-shadow">
			<div class="card-header  bg-white text-center">
				<a href="https://markzil.com/" target="_blank" tabindex="1">
                    <img src="assets/images/Markzil-1 Cut.png" class="img-rounded logoDesign ml-20"   alt="Emanzo" width="40%">
                </a>
                <a href="https://markzil.com/"  target="_blank" tabindex="2">
                    <i class="mt-3 fa fa-home info pull-right font-20 text-danger " aria-hidden="true"></i>
				</a>
				
				<h3 class="formHeading text-center text-secondary mt-4"><strong>Sign In </strong></h3>

			</div>
			<div class="card-body">
				<form  #signinForm="ngForm" (ngSubmit)="signinForm.form.valid  &&  saveUser(signinForm)"  novalidate >
					<div class="input-group form-group pr-3 pb-3">
						<label class="pr-1 pt-1 font">Email Address</label>
						<div class="input-group-prepend">
							<span class="input-group-text bg-danger text-light"><i class="fa fa-user"></i></span>
						</div>
						<input  id="inputEmail" type="email" name="email" required pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,5}$" 
						[(ngModel)]="signinInfo.email" #email="ngModel" (keydown)="onKeydown($event)"  (change)="restmsg()" class="form-control removeInvalid"  />   
						
						<div *ngIf="signinForm.submitted && email.invalid || email.touched" class="col-md-12 text-center">
                            <div *ngIf="email.touched || signinForm.submitted">
                                <p *ngIf="email.errors?.required " class="help-box">Please enter username/email address</p>
                                <p *ngIf="email.errors?.pattern"  class="help-box" >
                                    Please enter valid username/email address</p>
                            </div>
                        </div>
                    </div>
                    <div class="input-group form-group pr-3">
						<label class="pr-4 mr-2 pt-1 font">Password</label>
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-danger text-light"><i class="fa fa-unlock-alt"></i></span>
                        </div>
							<input id="inputPassword" type="password" name="password" required class="form-control removeInvalid"  
							[(ngModel)]="signinInfo.password" #password="ngModel" (change)="restmsg()" />  

							<div *ngIf="signinForm.submitted && password.invalid || password.touched" class="col-md-12 ml-4 pl-4">
								<div *ngIf="password.touched || signinForm.submitted" class="ml-4 pl-4">
									<p *ngIf="password.errors?.required " class="help-box">Please enter password</p>
								</div>
							</div>                         
                    </div>
                 <p  style="color: red; text-align: left;"> </p>

					<div class="form-group text-center mt-4">
						<input type="submit" value="Sign In" class="btn btn-info bold mg-t-10"> 
						<div *ngIf="signinForm.submitted" class="col-md-12 help-box">
							<br>
							<p *ngIf="login == false" class="col-md-12 help-box">
									Username or Password is incorrect !
							</p>                        
						</div>
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="text-center p-2">
					<a (click)="redirectToForgotPassword()" class="cursor"> Forgot your password?</a>
				</div>
				<div class="text-center p-2">
					Not a member? <a (click)="redirectToSignUp()" class="cursor"> Sign Up</a>
				</div>
				
			</div>
		</div>
	</div>
</div>
