<!---CAMPAIGN HEADER-->
<div class="row">
    <div class="col-md-12">
        <div class="card mb-2 font-20">
            <div class="card-header"><strong>{{pageTitile}}</strong>
                <input class="form-control float-right w-25" type="text" name="search" [(ngModel)]="search"
                    placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome">
            </div>
        </div>
    </div>
</div>

<!---SEARCH-->
<div class="row mt-4">
    <div class="col-md-7 font-20">
        <div class="search-button pl-5 ml-2 d-flex">
            <input type="checkbox" id="allcheck" class="form-check-input " (click)="selectAll()"
                *ngIf="countclkId == 'allcount' && countViewList!=null && countViewList.length!=0" /> <strong
                *ngIf="countclkId == 'allcount' && countViewList!=null && countViewList.length!=0"
                class="p-1 ml-2"> Select
                All</strong>
            <button type=" submit" class="btn btn-info ml-1" (click)="archiveblacklistContact('blacklist')"
                *ngIf="countclkId == 'allcount' && countViewList!=null && countViewList.length!=0 && filterFlg != 'Blacklist'"><strong>
                    Blacklist</strong></button>
            <button type="submit" class="btn btn-info ml-3" (click)="archiveblacklistContact('archive')"
                *ngIf="countclkId == 'allcount'  && countViewList!=null && countViewList.length!=0 && filterFlg != 'Archive'"><strong>
                    Archive</strong></button>
            <button type="submit" class="btn btn-info ml-3 size" (click)="archiveblacklistContact('unsubscribe')"
                *ngIf="countclkId == 'allcount'  && countViewList!=null && countViewList.length!=0 && filterFlg != 'Unsubscribe'"><strong>
                    Unsubscribe</strong></button>
            <button type="submit" class="btn btn-info ml-3 size" (click)="delete()"
            *ngIf="countclkId == 'allcount'  && countViewList!=null && countViewList.length!=0 "><strong>
                    Delete</strong></button>
        </div>
    </div>
    <div class="col-md-2">
        <div class="dropdown float-right"
            *ngIf="countclkId == 'allcount'  && OrigincountViewList!=null && OrigincountViewList.length!=0">
            <div class=" d-flex">
                <label for="exampleFormControlSelect1" class="pt-1">
                    <h5>Filter</h5>
                </label>
                <select (change)="filterData()" [(ngModel)]="filterFlg" class="form-control ml-2 select "
                    id="exampleFormControlSelect1">
                    <option value="">All</option>
                    <option value="Archive">Archive</option>
                    <option value="Blacklist">Blacklist</option>
                    <option value="Unsubscribe">Unsubscribe</option>
                </select>
            </div>
        </div>
    </div>
    <div class=" col-md-3">
        <div class=" dropdown d-flex float-right" *ngIf="countViewList!=null && countViewList.length!=0">
            <select class="form-control ml-2 height select" id="exampleFormControlSelect1" [(ngModel)]="activedeactive">
                <option value="0" disabled>Select file type</option>
                <option value="1">.CSV</option>
                <option value="2">.XLSX</option>
            </select>
            <div class="d-flex">
                <button (click)="loadingMessage()" class="btn btn-info ml-3 btn-md size"
                    *ngIf="countViewList!=null && countViewList.length!=0 && itrationCount!=1 && itrationCount!=undefined && itrationCount!=null">Download
                    <span class="spinner-border" style="height:15px;width:15px;"></span></button></div>
            <button *ngIf="itrationCount==1 || itrationCount==undefined || itrationCount==null"
                class="btn btn-info ml-3 btn-sm" (click)="activeDeactive()"><strong>
                    Download </strong></button>

        </div>
    </div>
</div>

<!----TABLE-->

<div class="table-responsive">
    <table class="table table-hover table-bordered mt-2 tacho-table">
        <thead class="bg-dark">
            <tr>
                <th class="text-center" *ngIf="countclkId == 'allcount'">Select</th>
                <th>Email Address</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Mobile Number</th>
                <th>Blacklist</th>
                <th>Archive</th>
                <th>Unsubscribe</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="OrigincountViewList==null || OrigincountViewList.length==0">
                <td class="noBorder"></td>
                <td class="noBorder"></td>
                <td class="noBorder"></td>
                <div>
                    <td class="noBorder">
                        <span class="text-danger ">
                            <h5>Please wait.....</h5>
                        </span><br>
                        <div class="d-flex justify-content-center text-danger ">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Please wait</span>
                                <span class="sr-only ">Loading...</span>
                            </div>
                        </div>
                    </td>
                </div>
            </tr>
            <tr *ngFor="let contact of countViewList | filter : search | paginate: { itemsPerPage: showData.rowsPerPage, currentPage: p } ; let i=index"
                (click)="setClickedRow(i)" [class.active]="i == selectedRow">
                <td class="text-center" *ngIf="countclkId == 'allcount'"><input type="checkbox" class="form-check-input"
                        id="check_{{contact.customerClientId}}" type="checkbox" (click)="toggleSelection($event, i)">
                </td>
                <td><a (click)="redirectToEditContact(contact.originalEmailId)"
                        class="text-primary cursor">{{contact.originalEmailId}}</a> </td>
                <td>{{contact.firstName}}</td>
                <td>{{contact.lastName}}</td>
                <td>{{contact.mobileNo}}</td>
                <td *ngIf="contact.blacklist == '1'">Y</td>
                <td *ngIf="contact.blacklist == null || contact.blacklist == '0' ">N</td>
                <td *ngIf="contact.archive == '1'">Y</td>
                <td *ngIf="contact.archive == '0' || contact.archive == null ">N</td>
                <td *ngIf="contact.unsubscribed == '1'">Y</td>
                <td *ngIf="contact.unsubscribed == '0' || contact.unsubscribed == null ">N</td>
            </tr>
        </tbody>
    </table>
</div>
<!--Pagination-->
<div class="row mt-2 col-xs-2">
    <!--Show Records-->
    <div class="col-md-4 mt-2">
        <div class="show-rows ">
            <span>Show Records</span><input class="rowsPerPage ml-2" type="number" min="1"
                [(ngModel)]="showData.rowsPerPage" name="rowsPerPage" #rowsPerPage="ngModel" pattern="^[1-9][0-9]*$"
                placeholder="Rows">
        </div>
        <div *ngIf="rowsPerPage.invalid || rowsPerPage.touched">
            <p *ngIf="rowsPerPage.errors?.pattern" class="help-bpx" class="help-bpx" style="color: red;">
                Please enter value greater than 0.</p>
        </div>
    </div>
    <div class="col-md-8 ">
        <div class="float-right mt-2">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>