<!--1st part-->
<div class="text-center my-4" >
    <button *ngFor="let plan of plans"  (click)="setPlanasActive(plan)" 
        [class.active]="plan === activePlan" class="active-tab">
        {{plan}}
    </button>
    <div class="row">
        <div class="offset-4 col-md-6 save-color">
        <strong>Save 10% by paying annually</strong>
        </div>
    </div>
</div>
<div class="card">
    <!--choose plan-->
    <div class="row justify-content-around1 bg-light-grey mx-2 p-5 " >
        <div class="col-md-12">
            <div class="row card-center">
                <div class="col-sm-12 col-md-4 mb-3" *ngFor="let card of cards" 
                    (click)="setStateAsActive(card)">
                    <div class="Basic" *ngIf="noPlan == false">
                    <div class="card" id="profile" 
                        (click)="getSubProductList(card.productType,card.productName)"
                        [class.active]="card === activeState">
                        <div *ngIf="balance.dimProduct.productName == 'Basic'" class="text-center mt-3">
                            <button *ngIf="card.productName=='Standard'" class="btn recommend">
                            Recommended
                            </button>
                            <div *ngIf="card.productName!='Standard'" class="mt-4 pt-2">
                            </div>
                        </div>
                        <div *ngIf="balance.dimProduct.productName=='Standard'" class="text-center mt-3">
                            <button *ngIf="card.productName=='Premium'" class="btn recommend">
                            Recommended
                            </button>
                            <div *ngIf="card.productName!='Premium'" class="mt-4 pt-2">
                            </div>
                        </div>
                        
                        <span class="text-center" >
                            <h3 *ngIf="card.productName=='Basic' " class="font-header mt-4"><strong style="color: indianred;">{{card.productName}}</strong></h3>
                            <h3 *ngIf="card.productName=='Standard'" class="font-header mt-4"><strong style="color: green;">{{card.productName}}</strong></h3>
                            <h3 *ngIf="card.productName=='Premium'" class="font-header mt-4"><strong style="color: goldenrod;">{{card.productName}}</strong></h3>
                        </span>
                        
                        <div class="text-center  center-price"  >
                            <div *ngIf="card.productType=='FREE'" class="text-center d-flex">
                                <h2 id="font" class="py-2">Free</h2>
                            </div>
                            <div *ngIf="card.productType!='FREE'" class="text-center d-flex">
                                <span class="py-2">{{card.dimProductPrice.currencyName}}</span><h2>&nbsp;<strong id="font">{{card.dimProductPrice.productPrice |currency:'':''}}&nbsp;</strong></h2><i  class="py-2">{{card.productType}}</i>
                            </div>
                        </div>
                        
                        <ul  *ngIf="card.productType=='FREE'" class="font card-height1 list-unstyled pl-4 pr-3 pt-3">
                            <li *ngIf='card.productLine1!=null && 
                            card.productLine1!=""'><i class="fa fa-check-circle-o mr-2 text-purple" aria-hidden="true"></i> {{card.productLine1}}</li>
                            <li *ngIf='card.productLine2!=null && 
                            card.productLine2!=""'><i class="fa fa-check-circle-o mr-2 text-purple" aria-hidden="true"></i>{{card.productLine2}}</li>
                            <li *ngIf='card.productLine3!=null && 
                            card.productLine3!=""'><i class="fa fa-check-circle-o mr-2 text-purple" aria-hidden="true"></i>{{card.productLine3}}</li>
                            <li *ngIf='card.productLine4!=null && 
                            card.productLine4!=""'><i class="fa fa-check-circle-o mr-2 text-purple" aria-hidden="true"></i>{{card.productLine4}}</li>
                            <li *ngIf='card.productLine5!=null && 
                            card.productLine5!=""'><i class="fa fa-check-circle-o mr-2 text-purple" aria-hidden="true"></i>{{card.productLine5}}</li>
                        </ul>
                        <ul  *ngIf="card.productType!='FREE'" class="font card-height list-unstyled pl-4 pr-3 pt-3">
                            <li *ngIf='card.productLine1!=null && 
                            card.productLine1!=""'><i class="fa fa-check-circle-o mr-2 text-purple" aria-hidden="true"></i> {{card.productLine1}}</li>
                            <li *ngIf='card.productLine2!=null && 
                            card.productLine2!=""'><i class="fa fa-check-circle-o mr-2 text-purple" aria-hidden="true"></i>{{card.productLine2}}</li>
                            <li *ngIf='card.productLine3!=null && 
                            card.productLine3!=""'><i class="fa fa-check-circle-o mr-2 text-purple" aria-hidden="true"></i>{{card.productLine3}}</li>
                            <li *ngIf='card.productLine4!=null && 
                            card.productLine4!=""'><i class="fa fa-check-circle-o mr-2 text-purple" aria-hidden="true"></i>{{card.productLine4}}</li>
                            <li *ngIf='card.productLine5!=null && 
                            card.productLine5!=""'><i class="fa fa-check-circle-o mr-2 text-purple" aria-hidden="true"></i>{{card.productLine5}}</li>
                        </ul>
                        
                        <div class="text-center pb-2">
                            <button *ngIf="card.productType!='FREE'" type="submit" class="btn btn-primary btn-style mr-3 ml-4 mb-4"
                                (click)="redirectToPay(card)">
                                Pay Now</button>
                        </div>
                    </div>
                </div>
                <div class="noPlan" *ngIf="noPlan">
                    <div class="card" id="profile" 
                        (click)="getSubProductList(card.productType,card.productName)"
                        [class.active]="card === activeState">
                        <div class="text-center mt-3">
                            <button *ngIf="card.productName=='Standard'" class="btn recommend">
                            Recommended
                            </button>
                            <div *ngIf="card.productName!='Standard'" class="mt-4 pt-2">
                            </div>
                        </div>
                        
                        <span class="text-center" >
                            <h3 *ngIf="card.productName=='Basic' " class="font-header mt-4"><strong style="color: indianred;">{{card.productName}}</strong></h3>
                            <h3 *ngIf="card.productName=='Standard'" class="font-header mt-4"><strong style="color: green;">{{card.productName}}</strong></h3>
                            <h3 *ngIf="card.productName=='Premium'" class="font-header mt-4"><strong style="color: goldenrod;">{{card.productName}}</strong></h3>
                        </span>
                        
                        <div class="text-center  center-price"  >
                            <div *ngIf="card.productType=='FREE'" class="text-center d-flex">
                                <h2 id="font" class="py-2">Free</h2>
                            </div>
                            <div *ngIf="card.productType!='FREE'" class="text-center d-flex">
                                <span class="py-2">{{card.dimProductPrice.currencyName}}</span><h2>&nbsp;<strong id="font">{{card.dimProductPrice.productPrice |currency:'':''}}&nbsp;</strong></h2><i  class="py-2">{{card.productType}}</i>
                            </div>
                        </div>
                        
                        <ul  *ngIf="card.productType=='FREE'" class="font card-height1 list-unstyled pl-4 pr-3 pt-3">
                            <li *ngIf='card.productLine1!=null && 
                            card.productLine1!=""'><i class="fa fa-check-circle-o mr-2 text-purple" aria-hidden="true"></i> {{card.productLine1}}</li>
                            <li *ngIf='card.productLine2!=null && 
                            card.productLine2!=""'><i class="fa fa-check-circle-o mr-2 text-purple" aria-hidden="true"></i>{{card.productLine2}}</li>
                            <li *ngIf='card.productLine3!=null && 
                            card.productLine3!=""'><i class="fa fa-check-circle-o mr-2 text-purple" aria-hidden="true"></i>{{card.productLine3}}</li>
                            <li *ngIf='card.productLine4!=null && 
                            card.productLine4!=""'><i class="fa fa-check-circle-o mr-2 text-purple" aria-hidden="true"></i>{{card.productLine4}}</li>
                            <li *ngIf='card.productLine5!=null && 
                            card.productLine5!=""'><i class="fa fa-check-circle-o mr-2 text-purple" aria-hidden="true"></i>{{card.productLine5}}</li>
                        </ul>
                        <ul  *ngIf="card.productType!='FREE'" class="font card-height list-unstyled pl-4 pr-3 pt-3">
                            <li *ngIf='card.productLine1!=null && 
                            card.productLine1!=""'><i class="fa fa-check-circle-o mr-2 text-purple" aria-hidden="true"></i> {{card.productLine1}}</li>
                            <li *ngIf='card.productLine2!=null && 
                            card.productLine2!=""'><i class="fa fa-check-circle-o mr-2 text-purple" aria-hidden="true"></i>{{card.productLine2}}</li>
                            <li *ngIf='card.productLine3!=null && 
                            card.productLine3!=""'><i class="fa fa-check-circle-o mr-2 text-purple" aria-hidden="true"></i>{{card.productLine3}}</li>
                            <li *ngIf='card.productLine4!=null && 
                            card.productLine4!=""'><i class="fa fa-check-circle-o mr-2 text-purple" aria-hidden="true"></i>{{card.productLine4}}</li>
                            <li *ngIf='card.productLine5!=null && 
                            card.productLine5!=""'><i class="fa fa-check-circle-o mr-2 text-purple" aria-hidden="true"></i>{{card.productLine5}}</li>
                        </ul>
                        <div class="text-center pb-2">
                            <button *ngIf="card.productType!='FREE'" type="submit" class="btn btn-primary btn-style mr-3 ml-4 mb-4"
                                (click)="redirectToPay(card)" >
                                Pay Now</button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

<div class="card col-md-12 p-4" *ngIf="openSlider" id="form1">
    <span class="text-center font-header">
        <h3>How many contacts do you have?</h3>
    </span>
    <span class="text-center font-header">
        <h6>With the {{prodName}} plan, you can have upto {{uploadContact | number}} contacts</h6>
    </span>
    <!--bar-o-meter-->
    <span class="text-center">
        <input type="range" (click)="switchProductCart()" class="w-100" min="1" max="{{subProduct.length}}" value="{{planValue}}" id="my-range" list="my-datalist" />
        <datalist  style="--list-length:{{subProduct.length}};" >
            <option class="dataSlider" *ngFor="let prod of subProduct" [value]="prod.productCode">{{prod.uploadContact | number}}</option>
        </datalist>
    </span>
    <span class="text-center font-header">
        Your {{prodType}} plan includes upto {{uploadContact | number}} contacts and {{sendMail | number}} email sends
    </span>
</div>
    <!--compare-->
    <div id="show" class="width1 link pl-4 "><a class="color" ><h6>Compare plan features:</h6></a></div>
        <div id="tr" class="row position justify-content-around pb-2">
            <div class="card background-color1 col-md-5 mx-4"  >
                <span class="text-center pb-2">
                    <h4 class="font-header mt-4"><strong style="color: green;">Standard</strong></h4>
                </span>
                <div class="font mx-4">
                    <h6 class="pt-3">&#10003; &nbsp;Advanced Dashboard with open & click statstics</h6>
                    <h6>&#10003; &nbsp;Advance campaign Scheduling with pause option</h6>
                    <h6>&#10003; &nbsp;Global timezone selection facility</h6>
                    <h6>&#10003; &nbsp;Detailed and realtime Reports download</h6>
                    <h6>&#10003; &nbsp;Mail Blacklist filter</h6>
                    <h6>&#10003; &nbsp;Domain blocker option</h6>
                    <h6>&#10003; &nbsp;Bulk contact import and export</h6>
                    <h6>&#10003; &nbsp;Sender reputation builder (Spam avoider)</h6>
                    <h6>&#10003; &nbsp;Email campaign builder</h6>
                    <h6>&#10003; &nbsp;HTML template creator</h6>
                </div>
                
            </div>
            <div class="card background-color2 col-md-5 ml-4">
                <span class="text-center pb-1">
                    <h4 class="font-header mt-4"><strong style="color: goldenrod;">Premium</strong></h4>
                </span>
                <div class="font mx-4">
                    <h6 class="font pt-3">&#10003; &nbsp;Advanced Dashboard with open & click statstics</h6>
                    <h6 >&#10003; &nbsp;Advance campaign Scheduling with pause option</h6>
                    <h6 >&#10003; &nbsp;Global timezone selection facility</h6>
                    <h6>&#10003; &nbsp;Detailed and realtime Reports download</h6>
                    <h6>&#10003; &nbsp;Mail Blacklist filter</h6>
                    <h6>&#10003; &nbsp;Domain blocker option</h6>
                    <h6>&#10003; &nbsp;Bulk contact import and export</h6>
                    <h6>&#10003; &nbsp;Sender reputation builder (Spam avoider)</h6>
                    <h6>&#10003; &nbsp;Email campaign builder</h6>
                    <h6>&#10003; &nbsp;HTML template creator</h6>
                    <h6>&#10003; &nbsp;Multiple e-mail verification</h6>
                </div>
                
            </div>
        </div>
</div>

<!--or part-->
    <div class="text-center pt-4" *ngIf="balance!=null && balance.dimProduct!=null && balance.dimProduct.productType!=='FREE' && payFlag==false">
        <h3>Or</h3> 
    </div>
<!--2nd part-->
<div class="card" *ngIf="balance!=null && balance.dimProduct!=null && balance.dimProduct.productType!='FREE' && payFlag==false">
    <div class="p-4">
        <span class="font"><h4>Please select number of contact you want to add?</h4></span><br>
        <select name="addOn" id="addOn" (change)="addOnContact()" [(ngModel)]="addOn" >
            <option selected  [value]="selected" hidden >Select Contacts</option>
            <option value="10">10</option>
            <option value="500">500</option>
            <option value="1000">1000</option>
        </select>
    </div>
    <div class="font px-4 pb-4">
        <span *ngIf="addOn==null">
        When you exceed your limit, you incur additional charges as per additional contacts
        </span>
        <span class="" *ngIf="balance.dimProductPrice!=null && addOn!=null"><h6>When you exceed your limit, you incur additional charges of {{balance.dimProductPrice.currencyName}}. {{balance.dimProductPrice.additionalSendMailPrice * addOn  |currency:'':''}} per additional 
                {{addOn | number}} contacts (comes with additional {{ addOn * 10  | number}} email sends)
                </h6> 
        </span>
    </div>
    <div class="text-center mb-2">
        <span *ngIf="addOn==null">
            <button type="submit" class="btn btn-danger btn-style mr-3" (click)="notSelected()">
                Pay now</button>
        </span>
        <span class="" *ngIf="balance.dimProductPrice!=null && addOn!=null">
            <button type="submit" class="btn btn-danger btn-style mr-3" (click)="payAddOn()" [disabled]="proceedFlag">
                {{balance.dimProductPrice.currencyName}}. {{balance.dimProductPrice.additionalSendMailPrice *10 * addOn |currency:'':''}}  Pay now</button>
        </span>      
</div>