.background-color1{
    background-color: #1412b533;
}

.background-color2{
    background-color: #1412b533;
} 

.font-size{
    font-size: 16px;
}


/* range slider */
/* style range */
input[type=range] {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
  }
  
  /* style datalist */
  input[type=range] + datalist {
    display: block;
    margin-top: -4px;
  }
  input[type=range] + datalist option {
    display: inline-block;
    width: calc((100% - 12px) / (var(--list-length) - 1));
    text-align: center;
  }
  input[type=range] + datalist option:first-child {
    width: calc((100% - 12px) / ((var(--list-length) - 1) * 2) + 6px);
    text-align: left;
  }
  input[type=range] + datalist option:last-child {
    width: calc((100% - 12px) / ((var(--list-length) - 1) * 2) + 6px);
    text-align: right;
  }

  .font{
    font-family: math;
  }

  .border-rad{
    border-right: 0;
    border-left: 0;
  }

  .card-height{
    height:172px;
  }
  .bg-light-grey{
    background-color: rgba(0,0,0,.03);
  }

  .font{
    font-family: math;
    font-size: 14px;
  }

  .font-header{
    font-family: math;
  }

  .recommend{
    background: goldenrod;
    border-radius: 30px;
    border-color: white;
    color: white;
  }

  .center-price{
    align-self: center;
  }
  
  .active-tab{
    padding: 15px 20px;
    background-color: rgb(177 181 185);
    border: 1px solid #f8f9fa;
    height: 45px;
    width: 120px;
    color: white;
    padding: 0;
    font-size: 20px;
    font-family: serif;
  }
  .active-tab.active{
    background-color:rgb(95 94 175 / 88%);
    border: 1px solid #f8f9fa;
  }
  .active-tab:hover{
    text-decoration: none;
  }
  .active-tab:focus{
    text-decoration: none;
    outline: none;
  }
  .text-purple{
    color:rgb(95 94 175 / 88%);
  }

  button {
    border-radius: 0px;
  }
  .card-height{
    height:112px;
    overflow-y: auto;
  }
  
  .card-height1{
    height:155px;
    overflow-y: auto;
  }

  #font{
    font-family: ui-serif;
  }

  
#profile{
  cursor: pointer;
  }
  
  #profile:focus{
  background: aliceblue;    
  }
  #profile:active {
  background-color: aliceblue;
  }
  
  #profile.active{
  background-color: aliceblue;
  border: 2px solid #7272b9;
  }
  
  #profile:hover{
    background-color: aliceblue;
    border: 2px solid #7272b9;
    /* padding: 10px; */
    /* margin: 10px; */
    transform: scale(1.1);
    /* -webkit-transition: 0.5s;
    transition: 1s; */
  }

  .btn-style{
    background-color: rgb(95 94 175 / 88%);
      padding: 5px 25px;
      border-color: rgb(95 94 175 / 88%);
      font-weight: bold;
  }

  #addOn{
    width: 200px;
    height: 28px;
    border-radius: 0;
  }

  .card-center{
    place-content: center;
  }

  .save-color{
    color: green;
  }