<mat-card class="mat-elevation-z0" *ngIf="showTable">
  <mat-card-header>
    <app-stepper-navigation></app-stepper-navigation>
    <span class="spacer"></span>
            <span>
                <button mat-stroked-button color="primary" [routerLink]="['/application-setup/role-creation']">Exit
                </button>
            </span>
  </mat-card-header>
  <mat-card-content>
    <span>
    <mat-card-title  id="helpful_text">Role configuration </mat-card-title>
    <mat-card-title  id="helpful_text" style="margin-bottom: 30px">Please select what access you would like this role to have to the features. </mat-card-title>
  </span>
  </mat-card-content>
  <mat-accordion *ngFor="let sourceData of dataSourceArray; let i = index">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title id="helpful_font">
        <p>{{sourceData.title}}</p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card-content class="table-wrapper">
        <span class="spacer"></span>
        <span>
    <button mat-stroked-button color="primary" (click)="selectAllCheckboxes(i)">Select All</button>
    </span>

        <table mat-table [dataSource]="sourceData.dataSource">
          <ng-container matColumnDef="featureName">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <app-list-label [list]="refData.features" [value]="element.featureName">
              </app-list-label>
              <div class="column-space"></div>
            </td>
          </ng-container>
        
          <ng-container *ngFor="let opId of getUniqueOperations()" [matColumnDef]="opId">
            <th mat-header-cell *matHeaderCellDef>{{ opId | getOperationName : refData.operations}}
            </th>
              <td mat-cell *matCellDef="let element">
                <mat-checkbox [disabled]="!(isOperationAvailable(element, opId))"
                (change)="checkChange($event, element, opId, sourceData.title, 'normal')"
                [(ngModel)]="element['fid'+element.featureName+opId]">
                </mat-checkbox>

              </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displyColumns(i)"></tr>
          <tr mat-row *matRowDef="let row; columns: displyColumns(i);"></tr>
        </table>       
      </mat-card-content>
    </mat-expansion-panel>
  </mat-accordion>
  
  <mat-card-footer>
    <span class="spacer"></span>
    <span>
      <button type="submit" id="save_user_button" mat-flat-button color="primary" (click)="onSubmit()" [disabled]="disableSubmitButton">
        Next
      </button>
    </span>
</mat-card-footer>


</mat-card>
