@import "~src/styles/helpers/mixins/grid";
@import "~src/styles/helpers/variables/palette";
@import "~src/styles/helpers/mixins/typography";

.status {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #2e6eb8;
    font-size: 12px;
    color: white;
    border-radius: 4px;
}

.mat-column-noteTimestamp {
    flex: 0 0 12% !important;
}

.mat-column-time {
    flex: 0 0 8% !important;
}

.mat-column-noteText {
    flex: 0 0 25% !important;
}

.search_by {
    width: 33% !important;
}
.alignment {
    min-width: 100px;
    gap: 1px !important;
}