.table td{
    border:0;
}

.modal.show {
    background-color: rgb(72 73 74 / 25%) !important;
    padding-top:13%;
}

input[type="checkbox"]{
    width: 15px;
    height: 15px;
}

.sizing{
    word-wrap: break-word;
    overflow-y: auto;
    max-height: 150px;
    border-bottom: 1px solid #ccc;
}

.drop{
    height: auto;
}

.size{
    max-width: 170px;
}

.max-width{
    width: 100%;
}

.width{
    width: 50%;
    font-size: 1rem;
}

.width1{
    font-size: 1rem;
}

.color{
    color: rgb(39, 138, 219);
}

.fixed-width{
    width: fit-content;
    max-width: fit-content;
}

.multiselect-dropdown .dropdown-btn{
    border-radius: 0px !important;
    padding: 4px 12px !important;
} 

.multiselect-dropdown
 .dropdown-btn
  .dropdown-multiselect__caret{
    padding-bottom: 5px !important;
    text-align-last: right;
}

.multiselect-dropdown .dropdown-btn{
    color: darkslategrey;
}

.ui-datalist-data {
    height:150px;
    overflow:auto;
 }

 .weekDays-selector input {
    display: none!important;
  }
  
  .weekDays-selector input[type=checkbox] + label {
    display: inline-block;
    border-radius: 6px;
    background: #dddddd;
    height: 40px;
    width: 30px;
    margin-right: 3px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
  }
  
  .weekDays-selector input[type=checkbox]:checked + label {
    background: #2AD705;
    color: #ffffff;
  }

  .icon-size{
      font-size: 18px;
  }

  .sub-font-size{
    font-size: 12px;
  }

  .color{
      color: blue;
  }

  .modal-size{
      width: 60%;
  }

  .modal-center{
    text-align: -webkit-right;
  }

  .timezone-list .dropdown-list{
    background-color: #fff;
    position: absolute;
    z-index: 999;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box; 
    padding: 15px;
    min-width:270px;
 max-height: 300px; 
    overflow: hidden; /* or scroll */ 
  }

  .fixed-select{
    word-break: break-all;
  }