<mat-card-content>
  <h1 mat-dialog-title>Change User Role</h1>
  <p class="note">
    Note : Where a field contains an asterisk (*), this means the field is mandatory.
  </p>
  <form [formGroup]="userForm">
    <div class="card-row">
      <mat-form-field appearance="outline">
        <mat-label>Role</mat-label>
        <mat-select placeholder="Role Type" (selectionChange)="onRoleChange($event.value)" id="role"
            formControlName="accountType" required>
          <mat-option [disabled]="isRoleDisabled(role.roleId)" *ngFor="let role of roles"
              [value]="role?.roleId" id="accountType-{{role.id}}">{{role?.roleName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        Current role for {{userData.fullName}} is '{{activeRoleName}}'.
      </div>
    </div>
    <div class="card-row mt25">
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close type="button">Cancel</button>
        <button mat-flat-button color="primary" [disabled]="this.userForm.invalid" (click)="onSubmit()">
          Change Role
        </button>
      </mat-dialog-actions>
    </div>
  </form>
</mat-card-content>
