.v-align-middle {
    vertical-align: middle;
    margin-right: 8px;
}

.width{
    width: 400px;
    @media(max-width: 375px) {
        width: 310px;
    }
    @media only screen and (max-width: 360px) {
            width: 295px;
    }
}
.mat-style{
    @media(max-width: 767px) {
        margin: 0px 5px 0px 0px !important;
    }
}
@media all and (min-width: 667px) {
    .mobile-label {
        display: none !important;
    }
}
