.keyword-container {
  width: 100%;
}
.keyword-container.keywordScroll {
  height: 42vh;
  overflow: auto;
  overflow-x: hidden;
}
::ng-deep.search_by .mat-form-field-label-wrapper {
  top: 0.25em !important;
  display: none;
}

.width{
  width: 35%;
}