<mat-card id='edit_content'>
  <mat-card-header>
    <span class="spacer">
      <app-stepper-navigation></app-stepper-navigation>
    </span>
    <span>
      <button id="exit_user_button" mat-stroked-button color="primary"
        [routerLink]="['../']">Exit</button>
    </span>
  </mat-card-header>
  <mat-card-content>

    <org-search-filter [organizations]="organizations" [selectedOrganizations]="preSelected" [lotNames]="lotNames"
      [multiple]="true" (update)="updateOrganizations($event)" [header] ="header"></org-search-filter>
  </mat-card-content>

  <mat-card-footer>
    <span class="spacer"></span>
    <span>
      <button type="button" id="save_org" mat-raised-button color="primary" [disabled]="!selected.valid"
        (click)="saveOrganizations()">Save &
        Next</button>
    </span>
  </mat-card-footer>
</mat-card>