.radioAlignment {
  mat-radio-button {
    margin: 0 5px !important;
  }
}

.v-align-middle {
  vertical-align: middle;
  margin-right: 8px;
}

@import "~src/styles/helpers/mixins/grid";
@import "~src/styles/helpers/variables/palette";

.tabWrapper {
  margin-top: 10px;
  position: relative;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 44px;
    border-bottom: 1px solid $grey-2;

    @include media(mobile) {
      height: 45px;
    }

    li {
      position: relative;
      margin: 0 5px 0 0;
      padding: 10px 20px 1px;
      float: left;
      background-color: none;
      text-align: center;
      cursor: pointer;

      @include media(mobile) {
        cursor: pointer;
        display: inline-block;
      }

      a {
        margin-right: 3px;
        float: left;
        color: #666;
        text-align: center;
        text-decoration: none;
      }
    }

    li:focus {
      outline: none;
    }

    li.active {
      margin-top: -5px;
      margin-bottom: -1px;
      padding: 14px 19px 11px 19px;
      border-bottom: 3px solid var(--primary-color);
      background-color: none;

      @include media(mobile) {
        background-color: transparent;
      }
    }
  }
}