.dialog-container {
    width: 360px !important;
}
.mat-dialog-title {
    margin: 0px;
}

.radio-vertical {
    margin-bottom: 10px;
    .vertical-list {
        display: flex;
        flex-direction: column;
    }
}

.details_label {
    margin-bottom: 5px;
}

.status_radio {
    display: flex;
}

.scrollable-form {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}


.status_radio {
    margin-left: -11px;
}

.mat-radio-button {
    margin: 5px 12px;
} 
  
  
  
 
  
