<div class="main-tab-container">
  <div class="tabWrapper">
    <ul>
      <li class="tabHead active" routerLinkActive="active">
        <a class="tab-item" id="staffComments" attr.aria-label="tab Month">Staff comments</a>
      </li>
    </ul>
  </div>
</div>

<mat-card>
  <mat-card-header>
    <span>Staff comments</span>
    <span class="spacer"></span>
    <span>
      <button *ngIf="isAuthorizedAdd" id="edit_view_button" mat-stroked-button color="primary"
        (click)="openAddCommentModal()">Add</button>         
    </span>
    <span>
      <button id="edit_view_button" mat-stroked-button color="primary" (click)="onExitClicked()" >Exit</button>
    </span>    
  </mat-card-header>
  <div *ngIf="fStructureData.length == 0">
    <p>Person supported currently has no staff comments</p>
  </div>      

  <div class="track-tab-container" *ngIf="fStructureData.length > 0">
    <div class="f-structure-container">
      <div class="track-row" *ngFor="let entryData of fStructureData; index as i">      
        <div class="track-row-icon">
          <div class="track-icon">
            <span class='material-icons'>description</span>
          </div>
        </div>
        <mat-card class="entry-comment-content">
          <div class="left-container">
            <mat-card-header class="entry-title">{{ entryData?.createdBy }} left a comment</mat-card-header>
            <mat-card-subtitle>{{ entryData?.createdDate | date:'dd MMMM y'}}</mat-card-subtitle>
            <mat-card-content><p>{{ entryData?.notes }}</p></mat-card-content>
          </div>
          <div class="right-container" *ngIf="isAuthorizedDelete">
            <div class="entry-actions-container">
              <button mat-icon-button color="primary" title="Delete" attr.aria-label="Delete"
                (click)="openConfirmDeleteCommentModal(entryData?.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>          
        </mat-card>
      </div>

      <div class="load-more-container" *ngIf="loadMoreVisible" >
        <a href="javascript:void(0)" (click)="onClickLoadMore()">Load more</a>
      </div>
    </div>
  </div>
</mat-card>
