<div class="header">
    <div class="tabWrapper">
        <ul>
            <li class="tabHead active" routerLink="/application-setup" queryParamsHandling="merge">
                <a class="tab-item" id="profile-tab" attr.aria-label="tab Profile">Tabs</a>
            </li>
            <li class="tabHead" routerLink="/application-setup/links" queryParamsHandling="merge">
                <a class="tab-item" id="view-further-information-tab"
                    attr.aria-label="tab Further Information">Links</a>
            </li>
        </ul>
    </div>
</div>