/* You can add global styles to this file, and also import other style files */
/* 
10px = 0.625rem
12px = 0.75rem
14px = 0.875rem
16px = 1rem (base)
18px = 1.125rem
20px = 1.25rem
24px = 1.5rem
30px = 1.875rem
32px = 2rem    */
html{
    font-size: 0.875rem
}
body,.btn{
    font-size: 0.875rem
}
.bold{
    font-weight: bold;;
}
.form-control,.input-group-lg>.form-control{
    font-size: 0.75rem
}
.font-20, .card-header{
    font-size: 1.11rem
}
.font-18{
    font-size: 0.900rem
}

.box-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hide{
    display: none;
}
.form-control, .btn {
    border-radius:0;
}
.cursor{
    cursor: pointer;
}
.bg-dark{
    background-color: #6b6d6f!important;
    color: #fff;
}
input[type=checkbox] {
    width: 20px;
    height: 20px;
}
.rowsPerPage{
    width: 59px;
    padding: 0 6px;
}
.help-box{
    color: red;
    font-size: 12px;
    margin: 0;

}
.width-left {
    width: 146px;
}
.td-date{
    font-size: 10px;
    color: gray;
}
.input-group .fa-eye,.input-group .fa-eye-slash{
padding: 9px;
    border: 1px solid #ced4da;
    border-left: 0;
    background-color: #dae0e5;
}
.auth-width{
    margin: auto;
    max-width: 455px;
    width: 455px;
}


/*---MEDIA QUERY------*/

@media screen and (min-width: 1120px){ 
    .width-lg-20{
        max-width: 20% !important;
    }
}
/*--FOR IPAD-PRO--*/

@media screen and (max-width: 1024px){  
    #sidebar {
        min-width: 250px !important;
        max-width: 230px !important;
    }
}
/*--FOR MOBILE ---*/
@media screen and (max-width: 767px){
    .btn{
        margin-top: 0.355rem;
    }
    .mt-2-sm{
        margin-top: 0.355rem;
    }
    .width-sm-100{
        width: 100%;
    }
}
.link{
    cursor: pointer;
}