<div class="header"> 
    <div class="tabWrapper">
      <ul>
        <li class="tabHead" routerLink="/captr-learner/profile" queryParamsHandling="merge">
          <a class="tab-item" id="profile-tab" attr.aria-label="tab Profile">Profile</a>
        </li>
        <li *auth="[30,2]" class="tabHead"  routerLink="/captr-learner/profile/action-plan" queryParamsHandling="merge">
          <a class="tab-item" id="action-plan-tab" attr.aria-label="tab action plan">Action Plan</a>
        </li>
      </ul>
    </div>
  </div>
  <mat-card id='view_user_profile'>
    <mat-card-header>
      <div class="page-title-icon">
        <mat-icon class="iconAlignment">description</mat-icon>
        <span> Details </span>
        <span class="action-buttons">
          <button id="edit_view_button" mat-stroked-button color="primary" (click)="onExitClicked()">Exit</button>
        </span>
      </div>
    </mat-card-header>
  
    <mat-card-content class="view_user-plan_container">
      <div class="card-row">
  
        <div class="infoSection">
          <div class="card-row">
            <div class="card-column">
              <p class="info">
                <span class="details_label">Given Name</span>
                <span id="titleId">{{user?.firstName || "N/A"}}</span>
              </p>
              <p class="info" >
                <span class="details_label">Ethnicity</span>
                <span id="ethnicityId" *ngIf="user?.ethnicityName">{{user.ethnicityName || "N/A"}}</span>
                <span id="ethnicityId" *ngIf="!user?.ethnicityName">{{ "N/A"}}</span>
              </p>
               <p class="info">
              <span class="details_label">Date of Birth (DOB)</span>
              <span id="dobId">{{dob | date: 'dd/MM/yyyy' || "N/A"}}</span>
              <span id="dobId" *ngIf="!user?.dateOfBirth">{{"N/A"}}</span>
              </p>
              <p class="info">
                <span class="details_label">Learner refrence number(LRN)</span>
                <span id="email">{{user?.lrn || "N/A"}}</span>
              </p>
              <p class="info">
                <span class="details_label">Previous year LRN</span>
                <span id="lrn">{{user?.lrnPrevious || "N/A"}}</span>
              </p>
            </div>
            <div class="card-column">
              <p class="info">
                <span class="details_label">Family Name</span>
                <span id="firstNameId">{{user?.familyName|| "N/A"}}</span>
              </p>
              <p class="info">
                <span class="details_label">Sex</span>
                <span id="sexId">{{user?.gender || "N/A"}}</span>
              </p>
              <p class="info" >
                <span class="details_label">VC created date </span>
                <span id="createdDateId">{{(user?.createdDate | date:'dd/MM/yyyy') || "N/A"  }}</span>
              </p>
              <p class="info">
                <span class="details_label">Unique learner number</span>
                <span id="postCode">{{user?.uln || "N/A"}}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card id='view_user_profile'>
    <mat-card-header>
      <div class="page-title-icon">
        <mat-icon class="iconAlignment">business_center</mat-icon>
        <span> Custodial Information </span>
      </div>
    </mat-card-header>
  
    <mat-card-content class="view_user-plan_container">
      <div class="card-row">
  
        <div class="infoSection">
          <div class="card-row">
            <div class="card-column">
              <p class="info">
                <span class="details_label">Prison Refrence</span>
                <span id="titleId">{{user?.prn  || "N/A"}}</span>
              </p>
               <p class="info">
              <span class="details_label">Reception Date</span>
              <span id="recId">{{user?.receptionDate | date: 'dd/MM/yyyy' || "N/A"}}</span>
              <span id="recId" *ngIf="!user?.receptionDate">{{"N/A"}}</span>
            </p>
            </div>
            <div class="card-column">
              <p class="info">
                <span class="details_label">NOMIS Number</span>
                <span id="firstNameId">{{user?.prn || "N/A"}}</span>
              </p>
              <p class="info">
                <span class="details_label">Current Establishment</span>
                <span id="worker">{{ user?.establishmentName || "Not Allocated"}}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card id='view_user_profile'>
    <mat-card-header>
      <div class="page-title-icon">
        <mat-icon class="iconAlignment">description</mat-icon>
        <span> LDD and Health Problem</span>
      </div>
    </mat-card-header>
  
    <mat-card-content class="view_user-plan_container">
      <div class="card-row">
  
        <div class="infoSection">
          <div class="card-row">
            <div class="card-column">
              <p class="info">
                <span class="details_label">Learner Self Assessment LDD and Health Problem</span>
                <span id="selfAssessmentLddId">{{user?.lddhealthProblems || "N/A"}}</span>
              </p>
              <p class="info">
                <span class="details_label">LDD Health Problem</span>
                <span *ngIf="!user?.lddPrimary || user?.lddPrimary?.length < 1">{{"N/A"}}</span>
                <span *ngFor="let lld of user?.lddPrimary; let i=index;">
                    <span *ngIf="lld?.llldAndHealthProblem!='Not provided'">
                      <span id="llldAndHealthProblem{{i}}" >{{lld || "N/A"}}</span>
                    </span>
                </span>
              </p>
              <p class="info">
                <span class="details_label">In-Depth Assessment Date</span>
                <span id="inDepthAssessmentDateId">{{(user?.inDepthAssessmentDate | date:'dd/MM/yyyy') || "N/A"  }}</span>
              </p>
            </div>
            <div class="card-column">
              <p class="info">
                <span class="details_label">Rapid Assessment Date</span>
                <span id="rapidAssessmentDateId">{{(user?.rapidAssessmentDate | date:'dd/MM/yyyy') || "N/A"  }}</span>
              </p>
              <p class="info">
                <span class="details_label">Additional LLDD and Health Problem</span>
                <span *ngIf="!user?.lddSecondary || user?.lddSecondary?.length < 1">{{"N/A"}}</span>
                <span *ngFor="let lld of user?.lddSecondary; let i=index;">
                    <span *ngIf="lld?.llldAndHealthProblem!='Not provided'">
                      <span style="display: block;" id="lldllldAndHealthProblem{{i}}" >{{lld || "N/A"}}</span>
                    </span>
                </span>
                <span id="postCode"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

 <mat-card id='view_user_profile'>
    <mat-card-header>
      <div class="page-title-icon">
        <mat-icon class="iconAlignment">description</mat-icon>
        <span>Education Information</span>
      </div>
    </mat-card-header>
  
    <mat-card-content class="view_user-plan_container">
      <div class="card-row">
  
        <div class="infoSection">
          <div class="card-row">
            <div class="card-column">
              <p class="info">
                <span class="details_label">Prior attainment</span>
                <span id="priorAttainmentId">{{user?.priorAttainment || "N/A"}}</span>
              </p>
              <p class="info">
                <span class="details_label">GCSE Maths qualification grade</span>
                <span id="mathId">{{user?.mathsQualificationGrade || "N/A"}}</span>
              </p>
              <p class="info">
                <span class="details_label">GCSE English qualification grade</span>
                <span id="englishId">{{user?.englishQualificationGrade || "N/A"}}</span>
              </p>
              <p class="info">
                <span class="details_label">GCSE Digital Literacy qualification grade</span>
                <span id="digitalId">{{user?.digitalLiteracyQualificationGrade || "N/A"}}</span>
              </p>
              <p class="info">
                <span class="details_label">Language status</span>
                <span id="langId">{{user?.languageStatus || "N/A"}}</span>
              </p>
            </div>
            <div class="card-column">
              <p class="info">
                <span class="details_label">Planned learning hours</span>
                <span id="plannedHours">{{user?.plannedHours || "N/A"}}</span>
              </p>
              <p class="info">
                <span class="details_label">GCSE Maths assessment date</span>
                <span id="mathsAssessmentDateId">{{(user?.mathsAssessmentDate | date:'dd/MM/yyyy') || "N/A"  }}</span>
              </p>
              <p class="info">
                <span class="details_label">GCSE English assessment date</span>
                <span id="englishAssessmentDateId">{{(user?.englishAssessmentDate | date:'dd/MM/yyyy') || "N/A"  }}</span>
              </p>
              <p class="info">
                <span class="details_label">GCSE Digital Literacy assessment date</span>
                <span id="digitalLiteracyAssessmentDateId">{{(user?.digitalLiteracyAssessmentDate | date:'dd/MM/yyyy') || "N/A"  }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card id='view_user_profile'>
    <mat-card-header>
      <div class="page-title-icon">
        <mat-icon class="iconAlignment">description</mat-icon>
        <span>Neurodivergence Details </span>
      </div>
    </mat-card-header>
  
    <mat-card-content class="view_user-plan_container">
      <div class="card-row">
        <div class="infoSection">
          <div class="card-row">
            <div class="card-column">
              <p class="info">
                <span class="details_label">Neurodivergence Self-Declared</span>
                <span *ngIf="!user?.neurodiverganceSelfDeclared || user?.neurodiverganceSelfDeclared?.length < 1 || splitSelfDeclared ==null">{{"N/A"}}</span> 
              <span *ngIf="user?.neurodiverganceSelfDeclared">
              <span style="display: block;" *ngFor="let item of splitSelfDeclared; let i=index">
              {{item}}
              </span>
            </span>
              </p>
              <p class="info">
                <span class="details_label">Neurodivergence Assessed</span>
                <span *ngIf="!user?.neurodivergenceAssessed || user?.neurodivergenceAssessed?.length < 1 || splitAssessed == null">{{"N/A"}}</span> 
              <span *ngIf="splitAssessed">
              <span style="display: block;" *ngFor="let item of splitAssessed">
                {{item }}
              </span>
            </span>
              </p>
              <p class="info">
                <span class="details_label">Neurodivergence Support</span>
                <span *ngIf="!user?.neurodivergenceSupport || user?.neurodivergenceSupport?.length < 1 || splitSupport ==null">{{"N/A"}}</span> 
              <span *ngIf="user?.neurodivergenceSupport">
              <span style="display: block;" *ngFor="let item of splitSupport">
                {{item}}
              </span>
            </span>
              </p>
            </div>
            <div class="card-column">
              <p class="info">
                <span class="details_label">Self Declared Date </span>
                <span id="selfDeclaredDateId">{{(user?.selfDeclaredDate | date:'dd/MM/yyyy') || "N/A"  }}</span>
              </p>
              <p class="info">
                <span class="details_label">Assessment date</span>
                <span id="assessmentDateId">{{(user?.assessmentDate | date:'dd/MM/yyyy') || "N/A"  }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
