@import "~src/styles/helpers/mixins/grid";
@import "~src/styles/helpers/variables/palette";

.tabWrapper {
  margin-top: 10px;
  position: relative;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 44px;
    border-bottom: 1px solid $grey-2;

    @include media(mobile) {
        height: 45px;
    }
    
    li {
      position: relative;
      margin: 0 5px 0 0;
      padding: 10px 20px 1px;
      float: left;
      background-color: none;
      text-align: center;
      cursor: pointer;
      
      @include media(mobile) {
          cursor: pointer;
          display: inline-block;
      }
      a {
          margin-right: 3px;
          float: left;
          color: #666;
          text-align: center;
          text-decoration: none;
        }
    }

    li:focus {
      outline: none;
    }
    
    li.active {
      margin-top: -6px;
      // margin-bottom: -1px;
      padding: 14px 19px 11px 19px;
      border-bottom: 3px solid var(--primary-color);
      background-color: none;
      
      @include media(mobile) {
          background-color: transparent;
      }
    }
  }
}

.iconAlignment {
  font-size: 50px;
  margin-right: 40px;
  @include media(mobile) {
    font-size: 40px;
  }
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%; // 47.5%
}

.info {
  word-break: break-word;
  width: 90%;
}

.details-value {
  display: block;
}

.history-btn-container {
  width: 10%;
  display: flex;
  justify-content: flex-end;
  button {
    margin-top: 12px;
  }
}

.empty-history-btn-container {
  width: 10%;
}

.history {
  width: 100%;
}

.info-container {
  .history-date {
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  .history-date:last-of-type {
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 12px;
    border-bottom: none;
  }
}

.status {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #2e6eb8;
  font-size: 12px;
  color: white;
  border-radius: 4px;
}

.date-agreed-container {
  display: flex;
  align-items: center;
  margin-bottom: 12px;

  .date-label {
    padding-right: 10px;
    font-size: 19px;
    font-family: "helvetica";
  }
}
//demosnstars css
.half-col {
  display: flex;
}
#id-substance, #cumdate{
  width: 457px;
  margin-right: 34px;
  margin-top: 10px;
}
#cumdate{
  margin-top: 0;
}

.headingAP {
  position: relative;
  top: -12px;
  font-size: 36px;
  font-family: "helvetica_bold";
  @include media(mobile) {
    font-size: 24px;
  }
}

.two-radio-container {
  display: flex;
}
.gds-textarea {
  width: 95% !important;
}

.radio-conditional {
  margin-left: 17px;
  padding-left: 33px;
  border-left: 4px solid #b1b4b6;
}

.ten-radio-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;

  div.radio-wrapper {
    display: flex;
    width: 45px;

    label.radio-label {
      padding: 0px;
      margin-left: -20px;
      width: 40px;
      height: 40px;
      display: flex;
      font-family: "helvetica_bold";
      align-items: center;
      justify-content: center;
    }

    input[type="radio"] ~ label::before {
      border-radius: 0%;
      color: black
    }

    input[type="radio"] ~ label::after {
      border-radius: 0%;
      height: 40px;
      width: 100px;
      top: 0px;
      left: 0px;
      border: 0px;
      color: black;
    }

    input[type="radio"] ~ label {
      color: black;
    }

    .extra-radio-label {
      color: white;
      z-index: 1;
      margin-left: -40px;
      width: 38px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;
      font-weight: normal;
      font-family: "helvetica_bold";
      font-size: 19px;
    }
  }
}
//role asp css

.link-back{
  position: relative;
  top: auto;
  margin-bottom: 20px;
}
.mt30{
  margin-top: 30px;
}
.mb30 {
  margin-bottom: 30px;
}
.mr20 {
  margin-right: 20px;
}
.mt100 {
  margin-top: 100px;
}
.ml0 {
  margin-left: 0px;
}
.mr15{
  margin-right: 15px;
}
.number-of-pages{
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  color: #626a6e;
  margin-bottom: 10px;
}
.question {
  font-size: 24px;
  line-height: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: "helvetica_bold";
}
.question1 {
  font-size: 20px;
  line-height: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: "helvetica_bold";
}
.skillLabel{
  padding: 25px 25px 25px 25px;
  font-size: 28px;
  color: #fff;
  &.blue {
    background-color: #2884ee;
}
}
.two-radio-container {
  display: flex;
}

.radio-conditional {
  margin-left: 17px;
  padding-left: 33px;
  border-left: 4px solid #b1b4b6;
}

.relative{
  position: relative;
  .skill-chart{
    position:absolute;
    right: 0px;
    background-color: white;
    padding: 10px;
    width: 46%;
    span{
      font-family: "helvetica_bold";
    }
  }
}

// Form elemetn - radio buttons

.radio-wrapper {
  position: relative;
  padding: 0 0 0 50px;
  margin-bottom: 10px;

  input[type="radio"] {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: -2px;
    left: -2px;
    width: 44px;
    height: 44px;
    margin: 0;
    opacity: 0;
    &:focus + label::before {
      border-width: 4px;
      box-shadow: 0 0 0 4px #fd0;
    }
  }

  input[type="radio"] ~ label {
    padding: 7px 10px 7px 12px;
    font-weight: normal;
    font-size: 19px;
    display: inline-block;
    cursor: pointer;
    font-family: "helvetica";
    &::before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 40px;
      border: 2px solid currentColor;
      border-radius: 50%;
      background: transparent;
    }
    &::after {
      content: "";
      content: "";
      position: absolute;
      top: 10px;
      left: 10px;
      width: 0;
      height: 0;
      border: 10px solid currentColor;
      border-radius: 50%;
      opacity: 0;
      background: currentColor;
    }
  }

  input[type="radio"]:checked ~ label {
    &::after {
      zoom: 1;
      opacity: 1;
    }
  }
}
.radioContainer {
  display: flex;
  margin-bottom: 30px;
}

//gds styles
.form-label-b19 {
  font-family: "helvetica_bold";
  font-size: 24px;
  margin-bottom: 15px;
  display: block;
  line-height: 1.1;
  @media all and (max-width: 767px) {
    font-size: 18px;
  }
}

  .gds-radio-wrapper {
      position: relative;
      padding: 0 0 0 38px;
      margin-bottom: 10px;
      margin-right: 20px;
      input[type=radio] {
          cursor: pointer;
          position: absolute;
          z-index: 1;
          top: -2px;
          left: -2px;
          width: 44px;
          height: 44px;
          margin: 0;
          opacity: 0;
          &:focus + label::before {
              border-width: 4px;
              box-shadow: 0 0 0 4px #fd0;
          }
      }
      input[type=radio] ~ label {
          padding: 7px 10px 7px 12px;
          font-weight: 400;
          font-size: 19px;
          display: inline-block;
          cursor: pointer;
          font-family: 'helvetica';
          @media all and (max-width: 767px) {
              font-size: 16px;
              line-height: 1.5;
              font-weight: 400;
              font-family: Helvetica;
              padding: 8px 15px 5px;
          }
          &:before {
              content: "";
              box-sizing: border-box;
              position: absolute;
              top: 0;
              left: 0;
              width: 40px;
              height: 40px;
              border: 2px solid #000000;
              border-radius: 50%;
              background: 0 0;
          }
          &:after {
              content: "";
              content: "";
              position: absolute;
              top: 10px;
              left: 10px;
              width: 0;
              height: 0;
              border: 10px solid #000000;
              border-radius: 50%;
              opacity: 0;
              background: #000000;
          }
      }
      input[type="radio"]:checked ~ label {
          &::after {
            zoom: 1;
            opacity: 1;
          }
      }
  }

  // textarea 
  .gds-textarea {
    border: 2px solid #000;
    font-family: 'helvetica';
    font-size: 19px;
    font-weight: normal;
    color: #0b0c0c;
    line-height: 1.25;
    padding: 5px;
    background-image: none;
    width: 95% ;
    margin-bottom: 5px;
    @media all and (max-width: 767px) {
        font-size: 16px;
    }
    &:focus{
        outline: 3px solid #fd0;
        outline-offset: 0;
        -webkit-box-shadow: inset 0 0 0 2px;
        box-shadow: inset 0 0 0 2px;
    }
}
.radio-conditional {
    .gds-textarea {
        width: 97% !important;
    }
}
// Form control - checkbox
.checkbox-wrapper {
  position: relative;
  display: block;
  min-height: 40px;
  margin-bottom: 10px;
  padding-left: 40px;
  clear: left;

  input[type="checkbox"] {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: -2px;
    left: -2px;
    width: 44px;
    height: 44px;
    margin: 0;
    opacity: 0;
    &:focus + label::before {
          border-width: 4px;
          box-shadow: 0 0 0 4px #fd0;
      }
  }

  input[type="checkbox"] ~ label {
      padding: 7px 10px 7px 12px;
      font-weight: normal;
      font-size: 19px;
      display: inline-block;
      cursor: pointer;
      @media all and (max-width: 767px) {
          font-size: 16px;
          line-height: 1.5;
          font-weight: 400;
          font-family: Helvetica;
          padding: 8px 15px 5px;
      }
      &::before {
          content: "";
          box-sizing: border-box;
          position: absolute;
          top: 0;
          left: 0;
          width: 40px;
          height: 40px;
          border: 2px solid #000;
          background: transparent;
      }
      &::after {
          content: "";
          position: absolute;
          top: 11px;
          left: 9px;
          width: 18px;
          height: 7px;
          transform: rotate(-45deg);
          border: solid;
          border-width: 0 0 5px 5px;
          border-top-color: transparent;
          opacity: 0;
          background: transparent;
      }
      &.form-label-b19 {
          font-size: 19px;
          font-family: 'helvetica_bold';
          span {
              font-size: 16px;
              font-family: 'helvetica';
          }
      }
  }

  input[type="checkbox"]:checked ~ label {
    &::after {
          zoom: 1;
          opacity: 1;
      }
  }
  label{
    .vc-visually-hidden{
          position: absolute !important;
          width: 1px !important;
          height: 1px !important;
          margin: 0 !important;
          padding: 0 !important;
          overflow: hidden !important;
          clip: rect(0 0 0 0) !important;
          -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
          border: 0 !important;
          white-space: nowrap !important;
      }
  }
}
.radio-conditionals {
  margin-left: 17px !important;
  padding-left: 33px !important;
  border-left: 4px solid #b1b4b6 !important;
}
.question-container {
  margin-bottom: 40px;
}

.versionInfo {
  border-left: 5px solid #b1b4b6;
  padding: 15px 15px 15px 20px;
  margin-bottom: 30px;
  font-size: 16px;
  p {
      margin: 0;
      .versionNumber {
          font-family: 'helvetica_bold';
          text-transform: uppercase;
          border: 3px solid #00703c;
          color: #00703c;
          padding: 5px 5px 1px 5px;
          text-align: center;
      }
      .createdBy { 
          font-family: 'Helvetica';
      }
      .createdDate {
          margin: 0 15px;
          font-family: 'Helvetica';
      }
  }

  .current-version-details {
    margin-bottom: 30px;
    }

}
.page-title-icon {
  width: 100% !important;
}

#create-action-plan_button {
  float: right !important;
}

.header .tabWrapper ul {
  overflow: hidden !important;
}

.number-radio {
  .ten-radio-container div.radio-wrapper{
    width: 5px;
    label.radio-label {
      margin-left: -45px;
      &::before {
        width: 50px;
      }
      &::after {
        width: 48px;
      }
    }
  }
}
