#surveyEditorContainer.mat-card {
    padding: 0;
}

.flexContainer{
    width: 100%;
    display: flex;
    justify-content: end;
    padding-top: 16px;
}

#exit_user_button{
    margin-right: 16px;
    height: 34px;
}