th {
    min-width: 140px;
    max-width: 140px;
    text-align: center;
    line-height: 3.0;
    border-right: 1px solid #ccc;

}

td{
    min-width: 140px;
    max-width: 140px;
    line-height: 2.2;
    text-align: center;
    border-right: 0;
}

.alert{
    font-size: larger;
}