<mat-card id='case-notes'>
  <mat-card-header>
    <span class="search_container">
    <mat-form-field id="search_service_user_form" class="search_by">
      <mat-label></mat-label>
      <input id="search_category_input" (keydown.enter)="onFilter(search_category_input.value)" matInput
        placeholder="Search by" #search_category_input aria-label="Search">
      <button type="button" id="do_search_button" mat-button matSuffix mat-icon-button aria-label="Search"
        (click)="onFilter(search_category_input.value)">
        <mat-icon>search</mat-icon>
      </button>
      <button type="button" id="clear_search_button" *ngIf="search_category_input.value !==''" mat-button matSuffix
        mat-icon-button aria-label="Clear" (click)="onFilter(''); search_category_input.value=''"
        name="clear_search_button">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="search_by">
      <mat-select (selectionChange)="findIntervention($event)" [(ngModel)]="select">
        <mat-option value="all Intervention">All Intervention</mat-option>
        <mat-option *ngFor="let option of interventionList" [value]="option.id">{{option.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </span>
    <span class="spacer"></span>
    <span *ngIf="caseNoteListCount > 0">
      <button id="print_button" mat-stroked-button class="right" color="primary"
      (click)="openDialog()">Print Case Notes</button>
      <div id="form_holder" style="display: none;"></div>
    </span>
    <span>
      <button *ngIf="Authorized(56,1)" type="button" id="create_service_user_button" mat-stroked-button class="right" color="primary"
        [routerLink]="['add-case-note']" [queryParams]="{id: userId, name: name, SU: SU , title : 'Add'}">Add
      </button>
    </span>
    <span>
      <button type="button" id="exit_page" mat-stroked-button class="right" color="primary"
        (click)="onExitClicked()">Exit</button>
    </span>
  </mat-card-header>

  <mat-card-content class="local-jobs_container">
    <mat-table id="local_job_table" #table [dataSource]="dataSource" matSort matSortActive="noteTimestamp"
      matSortDirection="desc" class="isMobile">

      <ng-container matColumnDef="noteTimestamp">
        <mat-header-cell *matHeaderCellDef mat-sort-header id="posting_date_column" class="local-jobs width-20">
          Date
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="local-jobs-postingDate width-20"> <span class="mobile-label">Date:
          </span>{{element?.noteTimestamp | customMonthFormat}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="time">
        <mat-header-cell class="width-20" *matHeaderCellDef mat-sort-header id="job_title_column"> Time
        </mat-header-cell>
        <mat-cell class="width-20" *matCellDef="let element"> <span class="mobile-label">Time:
          </span>{{element?.startTime}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Worker">
        <mat-header-cell class="width-20" *matHeaderCellDef mat-sort-header id="location_column">Worker
        </mat-header-cell>
        <mat-cell class="width-20" *matCellDef="let element"> <span class="mobile-label">Worker:
          </span>{{element?.noteSenderName}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Type">
        <mat-header-cell class="width-20" *matHeaderCellDef id="location_column">Type
        </mat-header-cell>
        <mat-cell class="width-20" *matCellDef="let element"> <span class="mobile-label">Type:
          </span>{{element?.typeName}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Intervention">
        <mat-header-cell class="width-20" *matHeaderCellDef id="location_column">Intervention
        </mat-header-cell>
        <mat-cell class="width-20" *matCellDef="let element"> <span class="mobile-label">Intervention:
          </span>{{element?.interventionName}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="noteText">
        <mat-header-cell class="width-20" *matHeaderCellDef mat-sort-header id="location_column">Notes
        </mat-header-cell>
        <mat-cell class="width-20" *matCellDef="let element"> <span class="mobile-label">Notes:
          </span>{{element?.noteText | truncate:[100, '...']}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">

        <mat-header-cell class="actions-column" *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell class="actions-column" *matCellDef="let element"> <span class="mobile-label"></span>

          <button  *ngIf="Authorized(56,2)" type="button" id="view_button_{{element.id}}" mat-icon-button color="primary" title="View"
            [routerLink]="['view-case-note']" [queryParams]="{ id : userId, name: name ,caseNoteId : element.id}">
            <mat-icon>visibility</mat-icon>
          </button>

          <button  *ngIf="Authorized(56,3)" type="button" id="edit_caseNote_button_{{element.id}}"
            [queryParams]="{ id : userId, name: name, SU :SU , title : 'Update',caseNoteId : element.id }"
            mat-icon-button color="primary" title="Edit" [routerLink]="['add-case-note/']">
            <mat-icon>create</mat-icon>
          </button>

          <button  *ngIf="Authorized(56,4)" type="button" id="delete_caseNote_button_{{element.id}}" mat-icon-button
            (click)="onDeleteCaseNote(element.id)" title="Delete" attr.aria-label="Delete {{element.id}}">
            <mat-icon color="accent">delete</mat-icon>
          </button>

        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator id="pagination" [pageSize]="pageSize" (page)='onPaginateChange($event)' [showFirstLastButtons]='true'
      [hidePageSize]='true'>
    </mat-paginator>

  </mat-card-content>

</mat-card>