<mat-card id='edit_learners'>

    <mat-card-header>
        <span *ngIf="!isNew">
            <app-stepper-navigation></app-stepper-navigation>
        </span>
        <span class="spacer"></span>
        <div>
            <span class="action-buttons">
                <button id="exit_user_button" mat-stroked-button color="primary"
                    [routerLink]="['/rws-participant']">Exit</button>
            </span>
        </div>
    </mat-card-header>
    <mat-card-content>


        <form [formGroup]="learnersForm" (ngSubmit)="onSubmit()" validate autocomplete="off">

            <div class="label-hr"> <span> Participant details </span> </div>

            <div formGroupName="primaryLearnerDetails">

                <div class="card-row">
                    <div class="card-column">

                        <mat-form-field appearance="fill">
                            <mat-label>First name</mat-label>
                            <input matInput formControlName="firstName" id="firstName"
                                required>
                            <mat-hint>Maximum 100 characters are allowed</mat-hint>
                            <mat-error
                                *ngIf="learnersForm.get('primaryLearnerDetails').get('firstName').hasError('pattern')">
                                Invalid first name</mat-error>
                            <mat-error
                                *ngIf="learnersForm.get('primaryLearnerDetails').get('firstName').hasError('required')">
                                First name is required</mat-error>
                            <mat-error
                                *ngIf="learnersForm.get('primaryLearnerDetails').get('firstName').hasError('maxlength')">
                                First name should be 100 characters or less
                            </mat-error>
                        </mat-form-field>

                    </div>
                    <div class="card-column">

                        <mat-form-field appearance="fill">
                            <mat-label>Family/Surname</mat-label>
                            <input matInput formControlName="lastName" id="lastName"
                                required>
                            <mat-hint>Maximum 100 characters are allowed</mat-hint>
                            <mat-error
                                *ngIf="learnersForm.get('primaryLearnerDetails').get('lastName').hasError('required')">
                                Family/Surname is required</mat-error>
                            <mat-error
                                *ngIf="learnersForm.get('primaryLearnerDetails').get('lastName').hasError('pattern')">
                                Invalid Family/Surname Name</mat-error>
                            <mat-error
                                *ngIf="learnersForm.get('primaryLearnerDetails').get('lastName').hasError('maxlength')">
                                Family/Surname should be 100
                                characters or less
                            </mat-error>
                        </mat-form-field>

                    </div>
                </div>
                <div class="card-row">
                    <div class="card-column">
                        <mat-form-field appearance="fill">
                            <mat-label>Email address</mat-label>
                            <input matInput formControlName="emailAddress" id="emailAddress"
                             required>
                            <mat-error>
                                <mat-error
                                    *ngIf="learnersForm.get('primaryLearnerDetails').get('emailAddress').hasError('pattern')">
                                    Invalid email address
                                </mat-error>
                                <mat-error
                                    *ngIf="learnersForm.get('primaryLearnerDetails').get('emailAddress').hasError('required')">
                                    Email address is required
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="card-column">
                        <mat-form-field appearance="fill">
                            <mat-label>Phone number</mat-label>
                            <input matInput formControlName="phoneNo" id="phoneNo">
                            <mat-error
                                *ngIf="learnersForm.get('primaryLearnerDetails').get('phoneNo').hasError('pattern')">
                                Phone number is Invalid
                            </mat-error>
                            <mat-error
                                    *ngIf="learnersForm.get('primaryLearnerDetails').get('phoneNo').hasError('required')">
                                    Phone number is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="card-row">
                    <div class="card-column">
                        <mat-form-field appearance="fill">
                            <mat-label>
                                Allocated programme
                            </mat-label>
                            <mat-select
                                formControlName="allocatedProgramme">
                                <mat-option *ngFor="let item of allocatedRefData" [value]="item?.id"
                                    id="item">{{item.orgName}}</mat-option>
                                <mat-option [value]="null" id="allocatedProgramme-null"> Clear Selection </mat-option>
                            </mat-select>
                            <mat-error
                            *ngIf="learnersForm.get('primaryLearnerDetails').get('allocatedProgramme').hasError('required')">
                            Allocated programme is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="card-column">
                        <mat-form-field appearance="fill">
                            <mat-label>Membership number</mat-label>
                            <input matInput formControlName="memberShipNumber" id="memberShipNumber"
                             #input (input)="input.value=$event.target.value.toUpperCase()">
                            <mat-hint align="start">example: PT1234567</mat-hint>
                            <mat-error
                                *ngIf="learnersForm.get('primaryLearnerDetails').get('memberShipNumber').hasError('pattern')">Invalid
                                membership number
                            </mat-error>
                            <mat-error
                            *ngIf="learnersForm.get('primaryLearnerDetails').get('memberShipNumber').hasError('required')">
                            Membership number is required
                            </mat-error>
                            
                        </mat-form-field>
                    </div>
                </div>

                <div class="card-row">
                    <div class="card-column">
                        <mat-form-field appearance="fill">
                            <mat-label>Date of birth (DOB)</mat-label>
                            <input matInput [matDatepicker]="dateOfBirthPicker" [max]="maxDateOfBirth"
                                [min]="minDateOfBirth" formControlName="dateOfBirth"
                                 id="dateOfBirth" required>
                            <mat-datepicker-toggle matSuffix [for]="dateOfBirthPicker"></mat-datepicker-toggle>
                            <mat-datepicker #dateOfBirthPicker></mat-datepicker>
                            <mat-hint>Minimum age is 16</mat-hint>

                            <mat-error
                                *ngIf="learnersForm.get('primaryLearnerDetails').get('dateOfBirth').getError('matDatepickerMax')
                                        && !learnersForm.get('primaryLearnerDetails').get('dateOfBirth').getError('matDatepickerParse')
                                        && !learnersForm.get('primaryLearnerDetails').get('dateOfBirth').getError('required')">
                                Invalid date of birth.
                            </mat-error>
                            <mat-error
                                *ngIf="learnersForm.get('primaryLearnerDetails').get('dateOfBirth').getError('matDatepickerMin')
                                        && !learnersForm.get('primaryLearnerDetails').get('dateOfBirth').getError('matDatepickerParse')
                                        && !learnersForm.get('primaryLearnerDetails').get('dateOfBirth').getError('required')">
                                Invalid date of birth.
                                Participant must be less than 100 years </mat-error>
                            <mat-error
                                *ngIf="!learnersForm.get('primaryLearnerDetails').get('dateOfBirth').getError('matDatepickerMax')
                                          && !learnersForm.get('primaryLearnerDetails').get('dateOfBirth').getError('matDatepickerParse')
                                          && learnersForm.get('primaryLearnerDetails').get('dateOfBirth').getError('required')">
                                Date of birth (DOB) is
                                required
                            </mat-error>
                            <mat-error
                                *ngIf="learnersForm.get('primaryLearnerDetails').get('dateOfBirth').errors?.matDatepickerParse">Invalid
                                date
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="card-column">
                        <mat-form-field appearance="fill">
                            <mat-label>Gender</mat-label>
                            <mat-select formControlName="gender">
                                <mat-option *ngFor="let gender of refData?.genders" [value]="gender.id" id="gender"
                                    [disabled]="gender.isDisabled">{{gender.value}}</mat-option>
                            </mat-select>
                            <mat-error
                            *ngIf="learnersForm.get('primaryLearnerDetails').get('gender').hasError('required')">
                            Gender is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="card-row">
                    <div class="card-column">
                            <mat-form-field appearance="fill">
                                <mat-label>Allocated programme contact number</mat-label>
                                <input matInput formControlName="allocatedPhoneNo" id="allocatedPhoneNo">
                                <mat-error
                                    *ngIf="learnersForm.get('primaryLearnerDetails').get('allocatedPhoneNo').hasError('pattern')">
                                    Allocated programme contact number is Invalid
                                </mat-error>
                                <mat-error
                            *ngIf="learnersForm.get('primaryLearnerDetails').get('allocatedPhoneNo').hasError('required')">
                            Allocated programme contact number is required
                            </mat-error>
                            </mat-form-field>
    
                    </div>
                    <div class="card-column">
                        <mat-form-field appearance="fill">
                            <mat-label>
                                Allocated coach
                            </mat-label>
                            <mat-select formControlName="workerId" required>
                              <mat-option *ngFor="let item of userList" [value]="item?.id" id="item">{{item.userFullName}}</mat-option>
                              <mat-option [value]="null" id="isBritishNational-null"> Clear Selection </mat-option>
                            </mat-select>
                            <mat-error *ngIf="learnersForm.get('primaryLearnerDetails').get('workerId').hasError('required')">
                                Allocated coach is required</mat-error>
                          </mat-form-field>
                    </div>
    
                </div>
                <div class="card-row">
                    <div class="card-column">
                      <mat-form-field appearance="fill">
                        <mat-label>Allocated coach number</mat-label>
                        <input matInput formControlName="workerTelephoneNo" id="workerTelephoneNo">
                          <mat-error *ngIf="learnersForm.get('primaryLearnerDetails').get('workerTelephoneNo').hasError('pattern')">                
                            Coach telephone number is Invalid
                          </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
    
           
            </div>
            

            <div class="label-hr"> <span> Emergency contact </span> </div>
            <div formArrayName="emergencyContact">
              <div *ngFor=" let contact of learnersForm.get('emergencyContact')['controls'];let i=index">
                <div [formGroupName]="i">
                  <h4>{{i == 0 ? 'Primary emergency contact' : 'Secondary emergency contact'}}</h4>
                  <div class="card-row">
                    <div class="card-column">
                      <mat-form-field appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="firstName">
                        <mat-hint align="start">Maximum 100 characters are allowed</mat-hint>
      
                             <mat-error
                          *ngIf="learnersForm.controls['emergencyContact'].at(i).get('firstName').hasError('pattern')">
                          Invalid name</mat-error>
                        <mat-error
                          *ngIf="learnersForm.controls['emergencyContact'].at(i).get('firstName').hasError('maxlength')">
                          Name should be 100 characters or less
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="card-column">
                      <mat-form-field appearance="fill">
                        <mat-label>Contact number</mat-label>
                        <input matInput formControlName="contactNo" id="contactNo">
                            <mat-error
                          *ngIf="learnersForm.controls['emergencyContact'].at(i).get('contactNo').hasError('pattern')">
                          Invalid contact number</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="card-row">
                    <div class="card-column">
                      <mat-form-field appearance="fill">
                        <mat-label>Relationship to participant</mat-label>
                        <input matInput formControlName="relationshipWithUser" id="relationshipWithUser">
                        <mat-hint align="start">Maximum 100 characters are allowed</mat-hint>
                                               <mat-error
                          *ngIf="learnersForm.controls['emergencyContact'].at(i).get('relationshipWithUser').hasError('pattern')">
                          Invalid values</mat-error>
                        <mat-error
                          *ngIf="learnersForm.controls['emergencyContact'].at(i).get('relationshipWithUser').hasError('maxlength')">
                          Relationship to participant should be 100 characters or less</mat-error>
                        <mat-error
                          *ngIf="learnersForm.get('emergencyContact').at(i).get('relationshipWithUser').hasError('minlength')">
                          Relationship to participant should be greater than 1 char
                        </mat-error>
                      </mat-form-field>
      
                    </div>
                </div>
          
                </div>
              </div>
            </div>
            <br>
            <mat-card-footer>
                <span class="spacer"></span>
                <span>
                    <button type="submit" id="save_user_button" mat-flat-button color="primary"
                        [disabled]="learnersForm.invalid">Save</button>
                </span>
            </mat-card-footer>

        </form>
    </mat-card-content>
</mat-card>