<mat-card id='view-programme-delivery-setup'>
    <mat-card-header>
        <app-stepper-navigation></app-stepper-navigation>
        <span class="spacer"></span>     
        <button id="exit_user_button" mat-stroked-button color="primary"
            [routerLink]="['/programme-management/programme-delivery']">Exit</button>
    </mat-card-header>
    <mat-card-content  *ngIf="programCompletedStatus===null">
        <span class="header-center">No programme have yet been marked complete.</span>
    </mat-card-content>
    <mat-card-content  *ngIf="programCompletedStatus!=null">
        <div class="mat-card-headers">
            <div>
                <span class="header-title">Programme name: </span>
                <span class="header-content">{{ programDetails?.programName }}</span>
            </div>
             <div>
                <span class="header-title">Programme actual end </span>
                <span class="header-title">date: </span>
                <span class="header-content">{{ programDetails?.programmeActualEndDate |  date:'dd MMM yyyy' }}</span>
             </div>  
        </div>
        <div class="infoSection">
            <mat-table id="courseSetup_table" #table [dataSource]="dataSource">
                <ng-container matColumnDef="lernerName">
                    <mat-header-cell *matHeaderCellDef id="lernerName">
                        Learner Name
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"><span class="mobile-label">Learner Name:</span>
                        {{ element.lernerName }}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="isCompleted">
                    <mat-header-cell *matHeaderCellDef id="isCompleted">
                        Programme  Completed
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"><span class="mobile-label">Programme  Completed:</span>
                        {{ element?.isCompleted}}
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table> 
        </div>
    </mat-card-content>
</mat-card>