<section class="entry-panel">
  <div class="moj-timeline left-container">
    <div class="moj-timeline__item">
      <div class="data-container">
        <div class="moj-timeline__header">
          <h2 class="entry-title">Staff Comment</h2>
        </div>
        <div class="moj-timeline__description">
          <ng-container>
            <div class="subtitle-container">
              <pre class="entry-subtitle">{{entryData?.formattedSubtitle}}</pre>
              <p class="entry-subtitle">{{entryData?.keyWorkerName | titlecase}}</p>
            </div>
          </ng-container>
        </div>
        <p class="entry-comment-content">{{entryData?.description}}</p>
      </div>
    </div>
  </div>
  <div class="right-container">
    <div class="entry-actions-container">
      <button *ngIf="isAuthorized" mat-icon-button color="accent" title="Delete" attr.aria-label="Delete"
        (click)="openConfirmDeleteCommentModal()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</section>
