.entry-panel {
  display: flex;
  padding: 0px 20px 0px 20px;

  @media (max-width: 900px) {
    flex-direction: column;
    padding: 0px;
  }
}



.left-container {
  flex-grow: 1;
  @media (max-width: 900px) {
    margin-right: 0px;
  }
}

.right-container {
  // width: 111px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  background-color: #f1f1f1;

  @media (max-width: 900px) {
    margin-top: -40px;
    margin-left: 15px;
  }
}

.subtitle-container {
  margin-top: 10px;
  margin-bottom: 0px;
}

.entry-subtitle {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  display: inline-block;
}

.entry-comment-content {
  font-size: 19px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.entry-actions-container {
  visibility: visible;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px;

  @media (max-width: 900px) {
    justify-content: flex-end;
  }

  button {
    margin-top: 5px;
    margin-bottom: -6px;
  }
}
.right-container {
  margin-bottom: 20px !important;
}
