button {
    &[disabled],
    &.disabled {
        .mat-icon.mat-primary {
            color: rgba(0, 0, 0, 0.38);
        }
    }
}
::ng-deep.search_by .mat-form-field-label-wrapper {
    top: 0.25em !important;
    display: none;
}